[2013-06-27 16:50] andreak opened #7 "Writing Blobs using Hibernate doesn't work"
I have a blob mapped to a column of type OID and when persisting using Hibernate (which wraps blobs in proxies) I get this exception:

Caused by: org.hibernate.exception.GenericJDBCException: Error converting parameter 1
        at org.hibernate.exception.internal.StandardSQLExceptionConverter.convert(StandardSQLExceptionConverter.java:54)
        at org.hibernate.engine.jdbc.spi.SqlExceptionHelpe

[2013-06-27 17:01] kdubb commented on #7
At first glance it seems I just need to unwrap any objects passed into the JDBC layer. Is this something I can test by creating a simple blob column in any Hibernate project?  If you _could_ attach a minimal test project that would be most awesome.

[2013-06-27 19:51] andreak commented on #7
I've created a project here: https://github.com/andreak/hibernatetest/tree/hibernate-branch
hibernate-branch shows errors in hibernate
master uses EclipseLink and shows an error while reading a blob as well as writing a blob.

Run the tests in BlobTest separately (and in both branches) to see the errors.

Any feedback on resolving these errors makes me one step closer to switching jdbc-driver, and

[2013-07-03 06:58] kdubb commented on #7
Commits 9627c267ec19093d02357d3b7a58263114803516 and 7f7eceaa69a907ce837983e18a2106cc3b3ae7bb make the test cases you created pass.  Can you checkout the latest develop branch and see if it works for you now?

[2013-07-03 09:09] andreak commented on #7
Supercool!
I'm very exited you're looking into this, will check right now!

[2013-07-03 09:43] andreak commented on #7
It works! Superthanks!

For some reason I have to override EclipseLink's PostgreSQLPlatform with my custom, overriding the method getObjectFromResultSet like this:

[code]

It would be cool if this "just worked" without having to customize anything.

Without this customization I get this exception:

[code]

Is there a good reason why this customization is necessary?

Thanks.

[2013-07-03 12:30] kdubb commented on #7
As you have tested for yourself, a blob in PostgreSQL is nothing more than an oid linking to a separate blob entity; so blob columns are basically storing an integer. Unfortunately there is no "standard" way of knowing which oid columns are referencing blobs and which are not.  This means that when calling "getObject" it doesn't know to convert the Integer to a blob before returning it; getBlob ha

[2013-07-03 12:56] andreak commented on #7
Hm, I'm not so keen on inventing "magic-types" for solving this. Having to test for column-name='oid' and type=INTEGER is better. BTW; Isn't an OID of type BIGINT, not INTEGER?

[2013-07-03 20:15] kdubb commented on #7
The problem is when you call "getObject" you can't just convert all "oid" and "integer" columns to blobs, since those are common names and somebody might use that name/type combo for something else. Also, blob ids are of type "oid" (a separate type from int4 in postgres); we should be checking for that instead. We could try to identify a fairly unambiguous type name like "blobid" to use.  That wou

[2013-07-03 21:14] kdubb commented on #7
Given my previous comment I went ahead and added the "magic-type" method; since it really is more useful. The driver defaults to looking for a oid alias type named "loid" that name can be customized by setting the custom property "blob.type" when calling connect.

To create the oid alias type use the following SQL (remembering that you can customize the name)

###
CREATE TYPE loid;

CREATE OR REPL

[2013-07-04 08:04] andreak commented on #7
Ok, I may have misunderstood something, so just to clarify; I'm not suggesting converting all columns with _name_=OID to Blobs but with type=OID.
If I understand correctly only Blobs are of type OID in PG. Why not just test for that type in the driver and map it to Blob, with resultSet.getMetaData().getColumnTypeName(columnNumber).equals("oid") ? AFAIU this is not ambiguous and cannot mean anythin

[2013-07-04 08:25] kdubb commented on #7
Unfortunately the OID type is used for a large number of things in PG, not just blobs.  That is why I suggest using the "loid" type (which is basically a distinct OID type).

Curiously enough, since the driver can recognize any OID type or alias thereof, you can just set the property "blob.type" to "oid" in the driver connect parameters and it will work the way you are referencing.

[2013-07-04 08:40] andreak commented on #7
Ah, I see.

Specifically I'd like the call in org.eclipse.persistence.internal.databaseaccess.DatabaseAccessor.getObject():
                type = metaData.getColumnType(columnNumber);
to return type=2004 (Types.BLOB) if the column-type is oid (despite the fact that oid might mean something else, in my db it doesn't), not type=4 which is Types.INTEGER.

Are you saying it will return Types.BLOB if

[2013-07-04 08:49] andreak commented on #7
FYI; I tried setting the blob.type=oid in the URL; jdbc:postgresql://localhost:5432/hibernatetest?blob.type=oid
and then as the value in connectionProperties, neither without luck:

[code]

Are you sure you have pushed your changes? I cannot find any references to the property blob.type in the pgjdbc-ng code...

[2013-07-04 09:01] kdubb commented on #7
My apologies, I had not pushed the required commits to github.  Update and it should work with the URL parameter you show.   If the connectionProperties you show are passed to java.sql.Driver.connect then that method should work as well.

[2013-07-04 09:12] andreak commented on #7
Ha ha, it works! It's finally possible to use EclipseLink with Blobs and PG without any fuss.
Thanks a lot!

[2013-07-04 09:15] andreak commented on #7
It would be cool if the "CREATE TYPE loid"-approach (which I admit is a more robust approach than mapping _all_ oid-types to blobs) was documented someplace where it is easily found, together with the "Note; you can pass blob.type=oid to the driver for mapping all columns of type=oid to Blobs".
I'm sure you're making the life of many easier with you new driver. I will recommend it to anyone.

[2013-07-04 09:19] kdubb commented on #7
Yes I will be documenting it on the wiki pages.  One thing the driver is still lacking is good documentation.  This puts  this issue to be so I am closing it as well.  Glad you are finding it so useful!

[2013-07-04 09:19] #7 closed, assigned to nobody

[2013-08-26 08:45] andreak opened #8 "Simple setInt fails with "could not determine data type of parameter $1""
The following test fails:

[code]

Some ORMs generate queries like this:
SELECT ..... WHERE a.id = $1 AND EXISTS (SELECT $2 FROM my_entity WHERE ...)
and then issue a "ps.setInt(2, 1)"

This works fine with the old, official, driver but fails with pgjdbc-ng which makes using this driver with ORMs difficult.

Thanks.

[2013-08-26 09:00] andreak commented on #8
FYI: Changing the query to "SELECT DISTINCT ?" works...

[2013-08-26 09:07] kdubb commented on #8
Unfortunately this is how PostgreSQL itself works and the current driver works around it.  Currently you must explicitly provide the type, through a means such as casting, for unknown parameters (e.g. SELECT ?::int ).  Given this solution, this has not arose as a large issue for me.  Would this solve your problem as well?

On Aug 26, 2013, at 1:45 AM, Andreas Joseph Krogh notifications@github.com

[2013-08-26 09:34] andreak commented on #8
No, this does not solve my problem as it's EclipseLink that is creating these SQL-statements and I have no control over them. If the current, official, driver works around it, why cannot pgjdbc-ng do the same?

[2013-08-27 06:31] andreak commented on #8
Is this something you'll get around to look at or should I go bark up the EclipseLink tree and explain the issue to them? I expect this issue will bite quite a few developers trying out your new, excellent, driver and hope you'll find a similar workaround as the official driver.

The reason for me nagging is that right now I cannot deploy my app because either Blobs won't work with the official dr

[2013-08-28 01:04] kdubb commented on #8
I am looking into this.  I'll update you in a day or so to see where it stands.

[2013-08-28 07:24] andreak commented on #8
Cool!
I wish the official driver guys were as responsive as you:-)

[2013-08-28 14:47] andreak opened #9 "Support PostgreSQL 9.3's 64bit lo-api for supporting larger BLOBs (4TB)"
The current driver only support 2BG Blobs (as that was the limit until 9.3).

[2013-09-11 08:25] andreak opened #10 "Support pg-9.3 extended constraint error information"
The official driver has this now:
https://github.com/pgjdbc/pgjdbc/commit/e9ac5f8d964202ab5d43e401d74dcd76cefd112e

It would be great if NG has it too.

[2013-10-07 00:19] kdubb commented on #9
This support has been committed and will available in the next (0.0.2) release

[2013-10-07 00:19] #9 closed, assigned to nobody

[2013-10-07 00:50] kdubb commented on #10
Support has been committed and will be available in the next (0.0.2) release.

To read extended error information, catch a com.impossibl.postgres.jdbc.PGSQLException, instead of a java.sql.SQLException (or cast it as appropriate), and the information for Schema, Table, Column Datatype and Constraint can be read directly from the exception.

[2013-10-07 00:50] #10 closed, assigned to nobody

[2013-10-07 17:53] kdubb commented on #8
I think I have found finally found a workable solution! I have committed it in 7511c3789c857f8741c30fc709b04c9a91e61a8e . Can you please test this and let me know if it works for you?

[2013-10-09 22:55] valgog opened #11 "schema (namespace) support"
Hi, I have not checked it practically, but looking on the code I got an impression, that namespace resolution for types is not really done (for example cache lookups per object name).

I also have not seen any test cases, that would cover working with objects in different schemas.

(For example standard PostgreSQL JDBC driver does not support namespaces correctly as well)

[2013-10-24 09:21] jesperpedersen opened #13 "BlobTest fails due to incorrect version check"
Using current master against PostgreSQL 9.2.4 fails the BlobTest, since LargeObject64 is chosen over LargeObject.

When looking at the compatible() compare, this.major is set to 9; this.minor + this.revision are 0, hence it passes.

The method should probably be cleaned up a bit in order to verify null instances on both sides. Also if this.X takes precedence over the parameter.

[2013-10-24 09:23] jesperpedersen opened #14 "ServerErrorTest fails due to null values"
The ServerErrorTest fails with current master against PostgreSQL 9.2.4, since the fields in the SQLException are all null.

[2013-10-24 09:30] jesperpedersen opened #15 "Checkstyle setup for the project"
It would be nice to have checkstyle integrated into the project in order to have a consistent style, which would make it easier to contribute.

Especially if the TABs are replaced with SPACEs instead.

[2013-10-25 20:09] kdubb commented on #14
Fixed in b49e37ef7d94f6a065d8cdcef282f7d799ddc2a9

[2013-10-25 20:09] #14 closed, assigned to nobody

[2013-10-25 20:09] kdubb commented on #13
Fixed in b49e37ef7d94f6a065d8cdcef282f7d799ddc2a9

[2013-10-25 20:09] #13 closed, assigned to nobody

[2013-10-25 20:12] kdubb commented on #15
I have replaced tabs with 2 spaces and cleaned up end-of-line whitespace, which is the way I had though it was.

I am open to checkstyle but  as I the setup seems to be so rigorous I gave up.  Maybe in the near future I'll finish adding it.

[2013-10-26 06:10] jesperpedersen commented on #15
PR16 contains an initial patch

[2013-10-28 08:35] jesperpedersen commented on #15
PR17 finishes the initial setup

[2013-10-28 18:23] kdubb commented on #11
Can you give an example of how schemas are not supported?  As far as I can tell types are looked on by "oid" and resolved by name using the schema search path.

[2013-10-28 22:13] kdubb commented on #15
Thanks for all the work!  Would you consider this completed? Or are there other items you are implementing or would suggest?

[2013-10-29 03:30] jesperpedersen commented on #15
Lets close this for now. We can always add extra checks along the way, e.g. we would need to enforce JavaDoc on the public API at some point.

[2013-10-29 03:30] #15 closed, assigned to nobody

[2013-10-30 06:07] jesperpedersen opened #20 "Housekeeper configuration"
The housekeeper should be configured using a parameter in the connection url, such it can be enabled or disabled on a case-by-case basis.

Furthermore, it shouldn't be static, since that shares it across all deployments.

Alternative, configuration through a system property - default is disabled.

[2013-10-30 06:08] jesperpedersen opened #21 "DataSource and XADataSource support"
Add support for the DataSource and XADataSource interfaces.

[2013-10-30 06:09] jesperpedersen commented on #21
I have begone this task, will update once there is a WIP branch

[2013-10-30 07:11] brettwooldridge opened #22 "PreparedStatement.setBlob() and setBinaryStream(...) APIs should stream data"
The current implementation reads the entire stream into memory (ByteOutputStream in the case of setBinaryStream()), this will never scale for data that is tens or hundreds of megabytes or multiple-gigabytes in size.

Data should be streamed when the transaction is committed.

[2013-10-31 19:27] kdubb commented on #20
It is implemented by way of a connection level parameter "housekeeper.enabled"; it defaults to being enabled.  Housekeeper is now an interface with a real and null implementation.  The setting is tested and the proper implementation is chosen in the PGDriver and passed into the PGConnection.  This organization should allow Datasources to choose a different default or make a new housekeeping scheme

[2013-10-31 19:27] #20 closed, assigned to nobody

[2013-11-01 12:57] andreak commented on #10
Great, love it!

[2013-11-01 12:58] andreak commented on #8
Sorry for not seeing this before. Will test now!

[2013-11-01 13:01] andreak opened #25 "SQLExceptions of state=23 are not subclasses of SQLIntegrityConstraintViolationException"
Ref the javadoc on SQLIntegrityConstraintViolationException:

[code]

Thanks

[2013-11-01 16:48] andreak commented on #8
It doesn't work for a query generated by EclipseLink:

[code]

And it somehow goes into endless loop:

[code]

[2013-11-01 17:04] kdubb commented on #8
Is there any way you could send me some DDL to create the necessary bits to make this query work?  Should be a simple fix once I can test it easily.

[2013-11-02 00:46] kdubb commented on #22
Good news... setBlob has always been streamed
Better news... setBinaryStreams are now streamed as well (as of e6b1781b30d05012414ee9ddc12c1be2e90c0955)

[2013-11-02 01:57] kdubb commented on #25
This was implemented in 4932c09e83d4c20c338dc6fc45981dbbfc5e8755

[2013-11-02 01:57] #25 closed, assigned to nobody

[2013-11-03 10:43] andreak commented on #8
Strange, I created a sample EclipseLink project, without Spring, and there it works correctly.

I see the following in the PG-log though:

[code]

I don't know what technique you use for making this work but it seems the server first gets a query which results in an error, then re-executes the query?
I'll create a test with Spring-managed transactions later and update this issue.

For now I use th

[2013-11-08 20:39] croudet opened #28 "Driver does not accept database with name containing '-' character"
[code]

returns false.

The following pattern fixes this:

[code]

[2013-11-11 06:29] kdubb commented on #28
Fixed in ed668fcd74d89266f9ff52e7373cdc9ffd62b0ca

[2013-11-11 06:29] #28 closed, assigned to kdubb

[2013-11-11 12:57] jesperpedersen opened #30 "Upgrade to Netty 4"
Netty 4 is the active branch in the Netty community, so ideally the project should make use of that version.

Maybe @normanmaurer can help... :)

[2013-11-13 05:27] kdubb commented on #30
Is 4 vastly different from 3?  Now that I have finished the first pass of SSL support I could look into this but I am no Netty expert.

[2013-11-13 05:29] normanmaurer commented on #30
@kdubb well the API is completely different... So maybe the easiest would be to leave it for me ;) Anyway if you feel brave enough you could check here:
http://netty.io/wiki/new-and-noteworthy.html

[2013-11-13 05:46] kdubb commented on #30
Just after I got my head around Netty 3... I'm left in the dust! Haha  For now I'll leave it to you if you are interested.

[2013-11-13 05:52] kdubb opened #31 "Automated testing of server configurations"
We need a clever strategy for automatically testing the driver against different server versions and configurations (e.g. SSL). Maybe something already exists somewhere?

Immediately VM's come to mind. Maybe a Maven plugin or ANT task can loop through a set of target VM's and run all tests against each.

[2013-11-13 12:23] adamjgray commented on #31
[Vagrant](vagrantup.com) is my first thought for accomplishing this.  You can set up a "fleet" of VM's to run the codebase tests against that should be able to be automated.

[2013-11-13 18:49] croudet opened #32 "MacAddress codec"
I would like to add a mac address codec but I am not sure how to plug it to test it.
If you can give me some guidance.

Thanks,

Christophe

[code]

[2013-11-13 19:22] kdubb commented on #32
Add MacAddrs.class to the list of ProcProviders in Procs.java.

Originally this used the ServiceLoader system but I believe it has problems in Servlet containers. If there is a way to make ServiceLoader work in all environments we can switch it back. This would allow plugging them in without changing the driver.

Obviously MAC address should be in the driver proper.

 Also, remember the name (in y

[2013-11-13 22:06] croudet commented on #32
Thanks for the input, I managed to get it work. The name must be "macaddr_".

[code]

[2013-11-13 23:03] croudet opened #33 "in com.impossibl.postgres.system.procs.Strings BINARY_ENCODER is a Decoder"
[code]

should be

[code]

[2013-11-13 23:10] kdubb commented on #33
This just needed erasing.  It was never used.

[2013-11-13 23:10] #33 closed, assigned to nobody

[2013-11-13 23:12] kdubb commented on #32
Make a pull request and I'll include it.

[2013-11-13 23:19] kdubb commented on #8
I think the solution to this is "don't do it".  The simple fact is Postgres doesn't support it.  With this driver my vision is to expose all of Postgres's awesome features; not emulate a bunch of stuff it doesn't support.

The "workaround" seems to kill in flight transactions. Which is why yours worked in a simple test but failed in the full environment.  I didn't realize that.

It sounds like set

[2013-11-13 23:31] andreak commented on #8
I can confirm that setShouldBindLiterals(false) solves the issue. Close this ticket:-)

[2013-11-14 00:03] #8 closed, assigned to kdubb

[2013-11-14 00:47] brettwooldridge commented on #22
Thanks for the work.  I'd like to request that this issue be re-opened, though.  Unfortunately, on github, re-opening an issue requires a project administrator not just a regular user like me.

The statement "The current implementation reads the entire stream into memory..." in the original issue still stands for ResultSets...

From `PGResultSet.java`:

[code]

[2013-11-14 00:59] kdubb commented on #22
Fixed in 12cb7f8a39e7f0588737c03b7611ecb366c6da2e... let me know it works for you and I'll close this

[2013-11-14 09:36] brettwooldridge opened #34 "DriverTest.testConnect() is failing (on MacOS X)"
When I run the maven build on MacOS X (Mavericks), Java 7, I am getting this failure:

ests run: 3, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.311 sec <<< FAILURE!
testConnect(com.impossibl.postgres.jdbc.DriverTest)  Time elapsed: 0.131 sec  <<< ERROR!
java.nio.channels.UnresolvedAddressException: null
    at sun.nio.ch.Net.checkAddress(Net.java:127)
    at sun.nio.ch.SocketChannelImpl.co

[2013-11-14 09:47] kdubb commented on #34
The failing test is actually testing "failover", the ability to pass in multiple addresses and have it try them until it connects to one.  The first address should timeout and the second address should connect.

I'm running effectively the same setup. All tests are passing on my machine. What build of Java do you have?

It looks like, for this one test, your server address (besides invalidhost.not

[2013-11-14 10:18] brettwooldridge commented on #34
This is what the generated URL looks like:

jdbc:postgresql://invalidhost.not.here,localhost:5432/test

All other tests pass except for this one.  I am running Java 1.7.0_45.  The machine I am testing on is a MacBook Pro with 2.53GHz Core i5 (circa 2010), 8GB memory.

[2013-11-14 10:22] brettwooldridge opened #35 "pgjdbc-ng needs an implementation of java.sql.DataSource"
A transaction manager that I use (bitronix) requires a DataSource instead of a Driver, so I am unable to test pgjdbc-ng in our product yet.  Another product of ours uses the HikariCP connection pool, which also only supports DataSources.  java.sql.DataSource is the "preferred" way to obtain connections since Java 1.4.  According to the JavaDoc for DataSource:

"An alternative to the DriverManager

[2013-11-14 18:53] kdubb commented on #35
Follow issue #21 @jesperpedersen is currently working on it

[2013-11-14 18:53] #35 closed, assigned to nobody

[2013-11-14 19:00] kdubb commented on #34
I was on Java 7 build 21, just updated to 45.  I cannot seem to reproduce this.  Do you have an interesting network setup? (e.g. maybe no "localhost" entry in /etc/hosts)

[2013-11-14 19:07] kdubb commented on #34
Another thing... Your stack trace implies a null address but the URL you posted clearly shows two non-null addresses. Please put a breakpoint on the first line of ProtocolFactoryImpl.connect and see if address is null. If address is not null, get its toString() and report back.

[2013-11-14 19:15] kdubb commented on #32
Pulled in #36

[2013-11-14 19:15] #32 closed, assigned to nobody

[2013-11-15 01:15] brettwooldridge commented on #34
Here is what I have found debugging.  The failure occurs during the connect attempt to host "invalidhost.not.here".

Going from button to top.  At this point:

[code]

there is the line:

[code]

_remoteAddress.toString()_ shows "invalidhost.not.here:5432".  This line throws `java.nio.channels.UnresolvedAddressException` ... with the source of the exception shown here:

[code]

To me, this all loo

[2013-11-15 01:39] brettwooldridge commented on #34
For me, changing `ProtocolFactoryImpl` line 171 from:

[code]

to

[code]

solves the problem.

[2013-11-16 07:42] kdubb commented on #34
Please test the fix in c3610ceddd1b80f981a2a1fc7c00d4990405aa62

I chose to allow it to handle any Exception which, hopefully, will handle all random connection errors.

[2013-11-16 07:59] brettwooldridge commented on #34
Thanks for the fix, I'll verify it at the office on Monday.

[2013-11-18 02:50] kdubb opened #39 "SQLException conformance"
Ensure all SQLExceptions thrown are of the correct derived type and carry the correct SQLState code

[2013-11-20 00:37] brettwooldridge commented on #34
Confirmed.

[2013-11-20 00:37] #34 closed, assigned to kdubb

[2013-11-20 01:38] brettwooldridge commented on #21
Is this actively being worked?  I am willing to implement this.

[2013-11-20 01:41] jesperpedersen commented on #21
Yes, making some changes as compared to the original driver, so it takes a bit longer. Expect preview in beginning of December

[2013-11-20 09:40] andreak opened #42 "Improve performance of Blob-operations"
I experience that retrieving and storing large Blobs using this driver is quite slow, especially compared to using lo_import in psql (http://www.postgresql.org/docs/9.3/static/lo-funcs.html). Is it possible to increase the buffer or use some other server-side functions to speed up things?

[2013-11-20 10:06] kdubb commented on #42
You can control the buffer size yourself when working with blobs.  Through Blob.setBytes/getBytes you provide your own buffer.  The same goes for InputStream/OutputStream, whatever size buffers you pass to read/write get written straight to the server.  In both cases loread/lowrite are used, which I am pretty sure are the same functions used in psql (lo_import/lo_export is a special case in the li

[2013-11-20 10:45] andreak commented on #42
I'm experiencing that it takes _much_ longer to write data to a Blob than it takes uploading the same data to a web-form using POST and wonder if there is something obvious I can do to optimize.
I will test different sizes of buffers. Thanks

[2013-11-20 13:46] andreak commented on #42
For reference: Copying a 410MB file went from 76 000 ms to 51 000 ms by using a 1024_1024-size byte[] instead of default (1024_4). I'm using org.apache.commons.io.IOUtils.copyLarge to copy the stream so it hasn't got anything to do with the byte-buffer settings in PGBlob-related classes.
Still, 51s. is quite long for writing 410MB I think, but it's maybe out of the driver-writers hands to fix?

[2013-11-20 14:04] brettwooldridge commented on #42
Pardon me butting in.  I'm not fully up to speed on the pgsql-ng codebase, but it looks to me like each write() on the Blob is calling `connection.executeForFirstResultValue()` which calls `executeForFirstResult()` which calls `executeForFirstResultBatch()` which calls `BasicContext.queryBatch()`, which ultimately _prepares_ the "select lowrite($1,$2)" call, binds the parameters, and then executes

[2013-11-20 17:50] kdubb commented on #42
@brettwooldridge This is good insight and these queries can definitely be cached.  Although, he tested using a 1MB buffer which means there is only 410 prepared calls. Prepares of simple queries takes milliseconds so this shouldn't add more than a second or two at most (unless there is something very weird with these queries).

@andreak To save me from debugging a non-issue... can you try it with

[2013-11-20 21:30] andreak commented on #42
Hm, with 100MB buffer the time spent is up at 73s, going back down to 51s when setting to 1MB.

[2013-11-21 00:44] kdubb commented on #42
I did some tests on my own...

Using localhost for client and server, my psql times were very comparable with my driver times.  I then ran a "select lo_import('...')" query; which runs the import entirely inside the server (file must be accessible by the server).  I get the exact nearly the exact same times as psql and driver.

I encourage you to try this yourself and confirm it but it seems this

[2013-11-21 01:41] brettwooldridge commented on #42
As a hack, I put caching in the `PrepareCommand` class, to avoid the overhead of the additional prepare calls, and the difference was basically nil.

(Not that this invalidates the idea of a cache in `PrepareCommand` in general, some extremely complex SQL can actually take _minutes_ for a database to prepare.  But it does rule out the overhead for simple cases like "select lowrite($1,$2)")

[2013-11-21 02:30] kdubb commented on #42
In 6e71e22a6dfec94cb89b1872ce923129c238bc22, I changed LargeObject to use prepared queries.  This was facilitated by a core change that allows any code to prepare a "utility" query and use that later.

As @brettwooldridge  mentioned I don't believe this will have any real net effect on loading large objects but it was low hanging fruit so I added it.

[2013-11-21 23:37] kdubb commented on #42
So... I did more testing...

I am now positive the problem you are experiencing is with Postgres itself.  Blobs get split up and stored in separate rows of the pg_largeobject table and use a block size of 2kb (read about it here http://www.postgresql.org/docs/9.3/static/catalog-pg-largeobject.html).  This results in **230400** rows being inserted into the database for a 450MB blob; this is the iss

[2013-11-22 00:39] brettwooldridge commented on #42
Wow, surprising and somewhat disappointing.  More disappointing is that LOBLKSIZE can only be changed by recompiling PostgreSQL, which makes deploying a product with simple 'yum' dependency on impossible.  And equally disappointing is that LOBLKSIZE is not independent, but is calculated from BLCKSIZE which affects all tables in the system.  So if you want a target LOBLKSIZE of 16KB, you're going t

[2013-11-22 00:50] kdubb commented on #42
I agree somewhat but really for Blobs of this size save a URL and stick the file on the file system, S3 or someplace similar.  Better yet... get creative and use a FDW to store it in one of those places.

Either way... I am closing this for now as I think the PGBlob functions as fast as it can at the moment.

[2013-11-22 00:50] #42 closed, assigned to nobody

[2013-11-22 06:33] kdubb commented on #22
I assume no news is good news ;)

[2013-11-22 06:33] #22 closed, assigned to kdubb

[2013-11-22 07:57] brettwooldridge commented on #22
It's fine to close it for now.  In reality, I haven't been able to thoroughly test it as I am waiting the drop of the DataSource feature to test it in our application server.  If I encounter any issues, I'll reopen.

[2013-11-22 10:37] andreak commented on #42
Nice analysis, thanks. I need my Blobs to participate in transactions, and to stream both in and out (so no bytea), so storing on external files is no option. Hopefully PG will improve over time in this area.

[2013-11-27 01:47] kdubb commented on #22
With regards to setBinaryStream/getBinaryStream et al (excluding Blobs)...

I believe I may need to undo these changes because currently it means the decoder sends references to the network byte buffer which may not be manageable when we upgrade to Netty 4.

This got me really thinking about this feature in general and I have to say, I'm not sure it's needed at all.  "bytea" fields can only be 1GB

[2013-11-28 07:46] brettwooldridge commented on #30
Yeah, we're looking at a similar migration in our product.  Netty 3 -> 4 is a huge change.

[2013-11-28 07:54] brettwooldridge commented on #22
As long as streaming in/out works for Blobs, I don't see an issue with BYTEA not streaming.  At least I think not. Regarding Netty 4, Re: network byte buffer references, I don't know if it helps, but there is a way to attach arbitrary objects to a Channel or ChannelHandlerContext now ...

[2013-11-28 08:11] normanmaurer commented on #30
@brettwooldridge agree it is a change but we had to do it for performance reasons ;)

[2013-11-30 18:52] jesperpedersen commented on #21
WIP - https://github.com/jesperpedersen/pgjdbc-ng/tree/ds

The branch will be rebased, and squashed during development. However, testing can begin.

[2013-12-02 00:39] kdubb commented on #21
This is great!!  With this we are feature complete with JDBC 4.1 (unless I am missing something from the spec).

Any thoughts on how long until we can merge with develop? I have a couple things I want to start and not sure if I should wait or not.

[2013-12-02 01:59] brettwooldridge opened #44 "Incorrect reporting of un-leaked result-set"
During testing of the XA DataSource, after an unclean shutdown, upon startup I encounter this error.  I don't think it is related to the XA DataSource in general.  This error was no encountered with the old "official" pgjdbc driver.

Dec 02, 2013 1:56:10 AM com.impossibl.postgres.jdbc.ThreadedHousekeeper$HousekeeperReference cleanup
WARNING: cleaning up leaked result-set
java.lang.Exception
    at

[2013-12-02 02:03] kdubb commented on #44
FYI, this is not an exception per-se but a warning about the leaked ResultSet.  This just means the result set wasn't closed properly.  The exception part is just an easy way to provide the stack trace for the allocation of the ResultSet that was leaked.

[2013-12-02 02:10] brettwooldridge opened #45 "Infinite wait closing connection when postgres server has been terminated"
When I shutdown my postgres server, and then try to close my application, the driver hangs trying to close connections.

Thread [Thread-2](Suspended)
    owns: ProtocolImpl  (id=122)
    owns: Object  (id=123)
    owns: ResourceLoader  (id=124)
    owns: BitronixTransactionManager  (id=125)
    waiting for: CloseCommandImpl$1  (id=126)
    Object.wait(long) line: not available [native method]

[2013-12-02 02:21] brettwooldridge opened #46 "Infinite wait during XA transaction manager recovery"
This may (or may not) be related to the XA DataSource work on jesperpederson's ds branch...

Following an unclean shutdown of my application (I had to kill it), my XA Transaction Manager (Bitronix) tries to rollback transactions that are uncommitted in its logs ... this is causing an infinite wait during startup.  I am pretty sure that Bitronix is "correct" in its behavior, both because I have wor

[2013-12-02 03:12] brettwooldridge commented on #44
OK, I did find the code in question:

[code]

Clearly, there is a path where `generatedKeys` might not be closed ... if `generatedKeys` is not `null` but does not have `next()`.  However, I think the leak warning is a little bit "aggressive" in that the JavaDoc for `ResultSet` states:

_A ResultSet object is automatically closed when the Statement object that generated it is closed, re-executed, o

[2013-12-02 06:38] sehrope commented on #31
Vagrant is an excellent choice for this. Earlier this year I wrote a new SSL socket factory for the legacy Postgres JDBC driver and created a testing VM for it. The VM was then expanded a bit more to allow for testing the legacy SSL functionality of the JDBC driver as well.

Here's how it works: The first time the VM starts up it installs 5 versions of Postgres (8.4 through 9.3), copies over a num

[2013-12-02 06:45] kdubb opened #47 "Translation of warning and error messages"
Need to start by just putting a translation system into place.  Translations can come later.

[2013-12-02 06:47] kdubb commented on #31
I had a look at your code previously while implementing SSL.  I am interested in pulling in your SSL socket factory as well.  Unfortunately I had to use a different system since we connect through netty.

[2013-12-02 07:21] sehrope commented on #31
Cool. The socket factory piece would be different given that Netty is non-blocking though I think the core of it (the TrustManager) will remain unchanged. I don't think it'll be much to port it over and will take a peek this week.

As far as testing goes I think it'd be nice to have a green field approach. The SSL testing code in the legacy JDBC driver is kind of ugly as it seems it was based upon

[2013-12-02 13:20] jesperpedersen commented on #21
Give me this week to finish up. Otherwise we can merge on Friday and finish up on develop. I think we are close.

Just push ahead, I'll rebase this branch with develop :)

[2013-12-02 17:38] kdubb commented on #30
@normanmaurer, issues #45 and #46 seem to be related to Netty reporting writes as "succeeded" even when the connection itself has been abandoned.   I have searched around and the suggested solution for Netty 3 is a "heartbeat" through IdleStateAwareHandler.  Obviously I cannot change the server protocol and I also cannot start sending heartbeat's randomly since if it was just a long running query

[2013-12-02 17:51] jesperpedersen commented on #30
@kdubb at least we should bump the minimum requirement to 3.8.0 for now, as there seems to have been many fixes from 3.6.3 to that release

[2013-12-02 17:53] kdubb commented on #30
@jesperpedersen Good idea, I shall try that now

[2013-12-02 18:46] normanmaurer commented on #30
@kdubb honestly I would have to look into the code to say anything about #45 and #46. What a succeed write means is that we was able to call java.nio.SocketChannel.write(...) without and exception and the buffer was written completely. That's it, nothing more

@jesperpedersen @kdubb @brettwooldridge I will try to assign some time for next week to move the code base over to Netty 4. So stay tuned..

[2013-12-02 19:51] kdubb commented on #44
In 7c6180dceb0c1a1e638ef22d4222eebdf64a4227 I cleaned up the stack traces and now report them without mentioning an exception.  This should clarify that these are just warnings.

Still investigating how a closed statement can report a leaked result set.  In my testing your excerpt from the bitronix code is cleaned up correctly.

[2013-12-02 20:07] kdubb commented on #21
FYI, Netty has a Base64 class already.  Instead of adding our own.

Guess I could have commented the commit instead

[2013-12-02 20:34] adamjgray commented on #21
What is the minimum java version for this project?  Is DatatypeConverter not sufficient for the base64 encoding and decoding?

[2013-12-02 20:37] kdubb commented on #21
Good point.  We are squarely in Java 7 land... no plans on going backwards.

[2013-12-02 20:50] adamjgray commented on #21
Also, back in January a coworker and I were in a ... bind with glassfish and had to overhaul the xa data source implementation from the original driver including a stab at implementing interleaving.  Our commits can be found in our fork of pgjdbc [here ](https://github.com/polarislabs/pgjdbc/tree/POLARIS_XA).  We ran against this version of the driver in glassfish for several months before we swit

[2013-12-02 20:54] jesperpedersen commented on #21
@adamjgray I'll look at that - it was a quick port of the existing code. And "JBoss" doesn't ignore interleaving - trust me ;) Once the current PR is merged, just submit a PR with your work, and we can take it from there

[2013-12-02 20:57] adamjgray commented on #21
It does if you tell it to 8 ).  I just meant that our currently implementation of interleaving is slower than not doing it at all.  But, it's always possible that we'd just need some performance tuning.  Once this PR is merged in, I'll start to take a look at what sort of combinations can be done.  Might be a good Christmas project.

[2013-12-02 20:57] kdubb commented on #21
@adamjgray  I was under the impression Bryan and your's work had been accepted and mainlined.

Hopefully, we will be more responsive to PR's and accepting of new work ;)

[2013-12-02 20:59] jesperpedersen commented on #21
@adamjgray You don't have to tell me - I wrote it ;) Looking forward to your contributions !

[2013-12-02 21:08] jesperpedersen commented on #21
@kdubb Using another Base64 implementation is a separate concern that getting this PR merged. The main issue is that we have to be sure that the encoded string is on one line for all Xids. So, punting to later PR

[2013-12-02 21:13] kdubb commented on #31
Yes.  One of the things I am trying to figure out out to do is parameterize all of our unit tests so they can be run (by a normal "mvn clean install") against a VM with multiple versions installed.  Currently we assume a version of 9.2+ but obviously this grows as new server versions are released.

So, spinning up a Vagrant with multiple servers installed (and each version with/without SSL) is one

[2013-12-02 22:20] sehrope commented on #31
The preferred approach for repeatedly running tests is to use parameterized tests. Basically you add an annotation (@org.junit.runners.Parameterized) that specifies the list of parameters to use and JUnit will construct your test classes using them.

The socket factory patch I wrote uses it. It returns a list of the servers created in the testing VM. The test class itself only deals with a single

[2013-12-03 00:12] brettwooldridge commented on #21
Just wanted to report that so far my testing of the XADataSource has gone fairly well.  Initially I was seeing some issues, but I was running on a pre-release of Bitronix 3.0.  After upgrading (to a newer pre-release) those issues seemed to have been resolved.  There were a few issues, reported as bugs here, that seemingly will be resolved by the move to Netty 4.  I will continue testing with vari

[2013-12-03 01:03] kdubb commented on #30
FYI, I finally discovered my problem (which seems unrelated to Netty itself) and that's that I wasn't dispatching exception from the channel handler.

To top it off, during my testing, I was killing the postmaster process and not the actual backend process servicing the connection... so I wasn't actually killing the correct process at all; this is quite a relief as I couldn't figure out at all how

[2013-12-03 01:09] kdubb commented on #46
After 65f29228aa52d34f9a4dbad4edce12fb396b9aa4 this should report an SQLException

[2013-12-03 01:10] kdubb commented on #45
After 65f29228aa52d34f9a4dbad4edce12fb396b9aa4 this should report an SQLException

[2013-12-03 01:12] brettwooldridge commented on #30
Excellent!

[2013-12-03 01:16] kdubb commented on #30
@brettwooldridge If you could get back to the version of bitronix that was revealing these bugs and verify they are at least throwing exceptions, that would be awesome.

[2013-12-03 03:30] kdubb commented on #31
Agreed. I am using the @Parameterized  annotation in a number of tests already (actually my converted SSLTest uses it as well).

What I am not clear on is how to "double" parameterize every test in a suite.  Can we put @Parameterized on a TestSuite and choose our server targets that way?  or is does it require a different method.

[2013-12-03 15:56] jesperpedersen commented on #21
PR49

[2013-12-03 16:28] jesperpedersen commented on #21
Merged

[2013-12-03 16:28] #21 closed, assigned to jesperpedersen

[2013-12-06 08:15] brettwooldridge opened #52 "[Almost] All test failing?"
I have a fresh clone on two machines (both Macs) with Postgres 9.3.0.0 and both are failing a significant number of tests.  Previously all tests passed, hence the fresh clones.  I haven't updated in several weeks, but when I did (just now)...

When the build failed on the first machine, I cloned clean from git on a second machine, but the errors are the same.

This is representative of most of the

[2013-12-06 08:35] brettwooldridge commented on #52
Weird thing is, if I connect to the postgres database using SquirrelSQL (and the pgjdbc-ng) driver, and run some of the failing SQL manually, it succeeds.

[2013-12-06 17:37] kdubb commented on #52
I was quite certain I had tested the PR that did this before merging... but I guess I did not.  Don't know how that happened.  Either way, it's fixed.

[2013-12-06 17:37] #52 closed, assigned to nobody

[2013-12-10 20:24] kdubb commented on #44
I believe in f0a18301b687824465fd99210684b63d3df4c8bf @jesperpedersen fixed the leak related to generated keys

[2013-12-10 23:02] andreak opened #56 "Make LargeObject API public"
I'd like to implement a TransactionalBlobInputStream which takes a BlobInputStream as input and ensures there's an active transaction before calling read() etc., reconnecting and seek()-ing if necessary.

Thinking about something like this:

[code]

How about making more stuff public/protected so one may override stuff and extend it?

Thanks

[2013-12-11 18:02] kdubb commented on #56
Yes the LargeObject API will be moved into the .api. package soon

[2013-12-11 18:38] andreak commented on #56
Nice!
Does that mean the OID used will be available from the BlobInputStream and that one will be able to creaate new LargeObject instances with a specified OID and java.sql.Connection as arguments?

Thanks.

[2013-12-11 21:35] #44 closed, assigned to kdubb

[2013-12-11 21:35] #45 closed, assigned to kdubb

[2013-12-11 21:35] #46 closed, assigned to kdubb

[2014-01-09 08:00] andreak commented on #56
Any progress on making the LargeObject API public?
I need this for making a custom InputStream dealing with automatically re-fetching a java.sql.Blob from DB if the connection is closed

[2014-01-20 01:14] brettwooldridge opened #58 "Implement driver-side prepared statement cache"
Every major database vendor JDBC driver provides a prepared statement cache...except the classic PostgreSQL driver.  For example:

[MySQL](http://dev.mysql.com/doc/connector-j/en/connector-j-reference-configuration-properties.html)'s DataSource.  **Defaults to caching 25 statements.**

[code]

[Oracle](http://docs.oracle.com/cd/B10500_01/java.920/a96654/stmtcach.htm) has both _implicit_ and _expli

[2014-01-20 06:05] brettwooldridge opened #59 "PreparedStatement performance issue"
While I was running some tests on the performance of PreparedStatements, I ran across a rather severe performance issue.

Comparing to the current PostgreSQL driver...

[code]

With the current PostgreSQL driver this loop takes _198ms_ on my machine.  Using the pgjdbc-ng driver, the same loop takes _9872ms_.  Note this is with an _empty_ statement.

When I run the query (specific to my env):

[cod

[2014-01-20 06:16] brettwooldridge commented on #59
When I run pgjdbc-ng under jProfile using sampling, I get this performance profile...

![screen shot 2014-01-20 at 3 13 24 pm](https://f.cloud.github.com/assets/1538661/1952040/16940a86-819a-11e3-9173-74fe436bf20e.png)

This indicates that the created `Cleanup` task is responsible for the majority of the overhead, followed closely by the regular expressions used in the `SQLText.parse()` code.

[2014-01-20 06:46] kdubb commented on #59
This stems first and foremost from a principal difference between the 'classic' driver and 'ng'.  In 'ng' a prepared statement is just that, prepared on the server.  In 'classic' this doesn't happen.  Prepare it once and execute multiple times would be the proper way to do it in 'ng'.

The regex time is something to look at as running a regex (no matter how complicated) against an empty string sho

[2014-01-20 06:48] kdubb commented on #58
So that I am clear on understanding, please clarify how the statements would be cached.  I imagine you are talking about caching statements based on the SQL text itself?

[2014-01-20 06:53] brettwooldridge commented on #59
Given that the `Cleanup` was showing up high, I tried disabling the housekeeper completely... this is the profile now:

![screen shot 2014-01-20 at 3 45 51 pm](https://f.cloud.github.com/assets/1538661/1952164/ce029a44-819e-11e3-8ce5-6735a68ba911.png)

The expensive part of `Cleanup` is creating the `Exception` here:

[code]

Turns out this is only used if `logLeaks` is `true`.  I made a local cha

[2014-01-20 07:16] brettwooldridge commented on #59
Just by not capturing the stack trace (turning off the housekeeper), and with the trivial change to `getNextStatementName()` (see pull request), the original test is down from _11463ms_ to _7868ms_.

[2014-01-20 07:57] brettwooldridge commented on #58
Yes, I would envision caching the PGPreparedStatement instances based on the raw SQL text.  A "close" in this case would return the statement to the cache (an LRU cache).  If the connection is closed all statements in the LRU cache would be closed.  If adding a statement to the LRU pushes a statement out of the cache (capacity exceeded), the evicted statement would be closed.

I experimented local

[2014-01-20 08:25] brettwooldridge commented on #59
"Prepare it once and execute multiple times would be the proper way to do it in 'ng'."

Just to add a little color to that statement.  While I understand that ideally that is the most efficient way to use a prepared statement, the reality is that ORM frameworks often prepare the same statement many thousands of times, assuming that the driver will "do the right thing".  Hibernate is one framework

[2014-01-21 13:53] jesperpedersen commented on #58
I agree that it would be nice to have a prepared statement cache in the driver itself.

However, I think we should look at optimizing the existing logic first, starting with the SQLText patch @brettwooldridge  has already. Then see what not using Java serialization could give. I think it is important to keep the code maintainable, so adding complexity for a small performance improvement needs to b

[2014-01-21 13:54] jesperpedersen commented on #59
I would be ok with having the default value of 'housekeeper' be false.

[2014-01-23 06:08] brettwooldridge opened #63 "Context unused in code?"
I found myself in `SQLTextEscapes.java` and the `Node processEscape(EscapeNode escape, Context context)` method...

In this method `context` is used in three places:

[code]

However, looking into `processDateEscape()` et al, none of them use the `Context` that is passed in.  It seems like it was passed in because `Context` has these methods:

[code]

However, they are not used.  Is this an oversi

[2014-01-23 06:11] kdubb commented on #63
Context is really the connection and, well, you never know when you are going to need the connection!  So at some point I was probably using it and then maybe removed its usage.  Although I agree passing in useless parameters is not good practice, it's probably easier to leave it in than pull it out and then need it again some day.

[2014-01-23 06:48] brettwooldridge commented on #63
Should we be using the formatters in `processDateEscape()` etc?

[2014-01-23 06:53] kdubb commented on #63
It might be coming back to me as to why these are here... as it turns out Postgres always accepts ISO formatted dates.  So when sending text dates to the server I tend to just ISO format them (default of java.sql.Date) as it is just simpler.

[2014-01-23 06:55] brettwooldridge commented on #63
I understand.

[2014-01-23 06:55] #63 closed, assigned to nobody

[2014-01-24 14:23] brettwooldridge commented on #59
I have some thoughts/questions jelling around the housekeeper.  This issue is largely resolved by the prepared statement cache, but I'd like to leave it open a bit longer...

[2014-01-28 14:30] andreak opened #65 "java.lang.StackOverflowError if SQL contains C-style comments"
I use 0.0.3-SNAPSHOT 5d0f7e99672c37af48ef54925fb57bc7763682fa

The C-style comment in the query below which makes it error out:

[code]

java.lang.StackOverflowError
        at java.util.regex.Pattern$GroupHead.match(Pattern.java:4554)
        at java.util.regex.Pattern$Loop.match(Pattern.java:4683)
        at java.util.regex.Pattern$GroupTail.match(Pattern.java:4615)
        at java.util.regex.Pa

[2014-01-28 20:49] brettwooldridge commented on #65
I was wondering if the regex-based parsing was fragile or not.  Time will tell just how fragile.

[2014-01-28 22:01] kdubb commented on #65
It is most likely very fragile.  I have began in implementation based on jflex/antlr but the trick is only understanding enough to parse and find actual escape sequences without trying to understand all of Postgres's syntax.  It ends up being not so easy.

[2014-01-28 23:33] brettwooldridge commented on #65
Just a thought, but you might actually find it easier to write-out the state machine by hand and hand-code the parser rather than to build a partial grammar.

[2014-01-29 09:39] hlinnaka opened #66 "Copyright statements"
The codebase contains a bunch of code copied from the original pgjdbc driver, but the LICENSE file has been changed to say "Copyright (c) 2013, impossibl.com", instead of PostgreSQL Global Development Group. The BSD-style license allows forking and pretty much everything, but the one thing it does require is to keep the original copyright statement intact.

[2014-01-29 09:48] kdubb commented on #66
The "bunch of code" is only the unit tests. Dave brought this to my attention a few days ago and it is being corrected.

Just to be clear... again, the only copied code is the unit tests.  At the time I copied them I announced publicly on the list that I was doing so and kept the original PGDG license with them.  When the current license headers were added, it was done using an automated script wh

[2014-01-29 10:17] hlinnaka commented on #66
On 01/29/2014 11:48 AM, Kevin Wooten wrote:

At least the XA code is also copied. I don't know what else if anything,
but that's the part I'm most familiar with.

Sure, I didn't think it was anything nefarious :-).
- Heikki

[2014-01-30 07:58] kdubb commented on #66
I'm not sure which code you are referring to exactly.  The only code I didn't initiate was the Datasource/XADatasource implementations.

@jesperpedersen can you add an PGDG copyrights to any code that deserves it that you sourced from the original project?  I am handling the unit test files.

[2014-01-30 20:24] jesperpedersen commented on #66
@hlinnaka Sorry about that, Heikki
@kdubb PR 67

[2014-01-30 21:41] davecramer commented on #66
Probably should say 2004-2014 as I will be updating the copyright soon

Guess there is no way to just say 2004-current year ?

Dave Cramer

On Thu, Jan 30, 2014 at 3:24 PM, Jesper Pedersen
notifications@github.comwrote:

[2014-02-08 13:46] andreak opened #68 "Fails to encode BigDecimal(0) with java.lang.ArrayIndexOutOfBoundsException:"
If one has a BigDecimal(0) this loop in Numerics.encodeFromString():210 will never end:

[code]

resulting in ArrayIndexOutOfBoundsException: 1 on next iteration

This test shows the problem:

[code]

[code]

[2014-02-21 05:21] kdubb commented on #66
I believe all grafted code has been updated

[2014-02-21 05:21] #66 closed, assigned to nobody

[2014-02-21 05:53] kdubb commented on #65
@andreak  I added this SQL to the SQLTextTests and I cannot get it to fail as you did.  Can you make try it in that way as well?

[2014-02-21 06:18] kdubb commented on #68
Thanks for the unit test.  Very helpful.  Fixed in 1195d36a0b8b40c0326205e103194e64eda72b58

[2014-02-21 06:18] #68 closed, assigned to nobody

[2014-02-21 15:12] hlinnaka commented on #66
Thanks. I hate to be a pedant, but I believe that's still not quite right. The license blurp in the files has this:
- \* Neither the name of impossibl.com nor the names of its contributors may
  - be used to endorse or promote products derived from this software
  - without specific prior written permission.

The original license blurp in the pgjdbc driver says "PostgreSQL Global Development Group

[2014-02-22 03:56] kdubb commented on #66
I followed @jesperpedersen lead and used just the copyright

If that's wrong, I can fix... but I have to disagree with your assertion about the licenses.  Most, if not all, of the files brought from the original project are significantly reworked and were done so by an actual company; as in a legally defined entity.

Your assertion that just by writing the driver we become part of PGDG has to be c

[2014-02-23 17:36] #30 closed, assigned to nobody

[2014-02-24 07:32] kdubb commented on #58
Thanks to @brettwooldridge we now have both a parsed sql cache and a prepared statement cache.  I'm closing this for now.

[2014-02-24 07:32] #58 closed, assigned to nobody

[2014-02-25 15:57] hlinnaka commented on #66
PGDG is a fuzzy concept. It's used to refer to everyone who has contributed, to avoid listing every single contributor individually. See also the main project's Developer FAQ: https://wiki.postgresql.org/wiki/Developer_FAQ#Do_I_need_to_sign_a_copyright_assignment.3F.

Note that the license text says "name of impossibl.com nor the names of its contributors", and "IN NO EVENT SHALL THE COPYRIGHT OWN

[2014-03-10 01:41] brettwooldridge commented on #59
I consider this issue closed with the merge from @kdubb.

[2014-03-10 01:41] #59 closed, assigned to nobody

[2014-03-10 19:50] valgog commented on #11
The problem is, that I simply cannot find any reference to schema or namespace inside the cache code (Registry.java)

Also all the `registry.loadType(String)` calls will not really return the correct OIDs when the `search_path` are changed. I also cannot find any code, that will distinguish between types that are have the same names and are located in the different schemas (namespaces).

To summar

[2014-03-14 22:28] rdifalco opened #70 "Cannot seem to execute TRUNCATE statements"
Between unit tests I blow away my database data using TRUNCATE statements. These statements fail with this driver.

Try this:

[code]

[2014-03-14 22:46] rdifalco opened #71 "Problems with JPA and "bytea" columns"
Under JPA 2.0 one should be able to do this:

[code]

If you use this driver you will get an exception like this:

Caused by: java.lang.ClassCastException: [B cannot be cast to java.io.InputStream
    at com.impossibl.postgres.system.procs.Bytes$BinEncoder.length(Bytes.java:169)
    at com.impossibl.postgres.protocol.v30.ProtocolImpl.lengthOfParams(ProtocolImpl.java:723)
    at com.impossibl.postg

[2014-03-17 15:35] depsypher commented on #71
I'm in the same boat. Would love to switch to pgjdbc-ng once this is resolved!

[2014-03-17 15:39] davecramer commented on #71
Does the postgresql driver support this ?

Dave Cramer

On Mon, Mar 17, 2014 at 11:35 AM, Ray Vanderborght <notifications@github.com

[2014-03-17 16:00] bvarner commented on #71
Yes, it does. I've used that extensively with JPA2 and Hibernate.

On Mon, Mar 17, 2014 at 11:39 AM, Dave Cramer notifications@github.comwrote:

[2014-03-17 16:02] kdubb commented on #71
FYI, I've been on vacation for the last 10 days.  Will get to this today as it appears to be an easy fix.

[2014-03-18 18:09] kdubb commented on #71
Can you provide me a complete sample maven project I can use to test this?  It would be very helpful

[2014-03-18 18:15] rdifalco commented on #71
I'm under deadlines right now so it might take me a few days. But really
you can just take ANY JPA/Hibernate sample project and add an Entity that
has a byte[] field that maps to a bytea column in Postgres. Then persist
it.

On Tue, Mar 18, 2014 at 11:09 AM, Kevin Wooten notifications@github.comwrote:

[2014-03-18 19:56] kdubb commented on #71
@rdifalco  I did that... it seems to work just fine.  Hibernate 4.3.4 & pgjdbc-ng 0.3

[2014-03-18 20:00] rdifalco commented on #71
Hmmm...and with JPA annotations (not Hibernate). So for example just like
this?

@Entity
public class Credential {

[code]

...

I can try it again but there is nothing fancy in my implementation and for
me (using hibernate 4x JPA entity manager) this results in the driver
trying to cast the byte[] column to an InputStream.

On Tue, Mar 18, 2014 at 12:56 PM, Kevin Wooten notifications@github.comwr

[2014-03-18 20:17] kdubb commented on #71
[code]

[2014-03-18 20:18] kdubb commented on #71
[code]

[2014-03-18 20:46] rdifalco commented on #71
I figured it out! Enable batch statements by adding this to your
persistence.xml:

[code]

On Tue, Mar 18, 2014 at 1:17 PM, Kevin Wooten notifications@github.comwrote:

[2014-03-18 21:33] kdubb commented on #71
Fixed in ba2def20943cc2a5cb2d720077476ccb7d5bb62b

[2014-03-18 21:43] kdubb commented on #70
Fixed in 953b7f9a4f5c53242b5fcc03ec62a6545cbfc044

[2014-03-18 21:43] #70 closed, assigned to nobody

[2014-03-18 21:43] kdubb commented on #71
Let me know if this works for you

[2014-03-18 21:53] kdubb commented on #11
Types are almost always reference by OID.  So Registry.java shouldn't need to reference schema or namespace.

When looking up types by name the driving current takes into account the `search_path` because it uses regular SQL queries to load them.

So...
1) `SET search_path TO ...` is handled by the backend and, from what I can see, is therefore supported
2) To find something in another schema you

[2014-03-26 15:41] ghost opened #72 "SSL Connection with untrusted certificate"
Hi,

I would like to know how to turn on the ssl connection. I tried:

[code]

and

[code]

and

[code]

and

[code]

There is some text that it should work with standard jdbc driver so I tried even:

[code]

I think this is an issue or lack of documentation :))

Kryszczyn

[2014-03-26 18:51] kdubb commented on #72
Can you show me what the final URL you are passing to DriverManagerConnectionFactory is?

[2014-03-29 07:45] ghost commented on #72
Hi,

Final URL looks like this:

[code]

or

[code]

Krystian

[2014-04-15 12:59] andreak opened #76 "Exception trying to map array of ROW-type"
Using version 0.3

This query:

[code]

gives the following output in pgsql-console:

[code]

But trying to retrieve the value from JDBC results in this exception:

[code]

Any hints on how to retrieve the value from such a result (array of bigint,varchar pairs)? Can I use a custom type for this, in that case are there any examples mapping custom-types I can look at?

Thanks.

[2014-04-20 21:32] neilmcguigan opened #77 "API docs 404"
http://impossibl.github.io/pgjdbc-ng/apidocs/0.3/index.html gives me a 404 error.

Thanks

[2014-04-23 07:07] ghost commented on #72
Hi,

Do my URLs are invalid?

Krystian

[2014-04-27 16:25] rocketraman opened #78 "Question: Async API?"
I apologize for asking a question here, but I couldn't find any mailing list or other place to do so.

I came across pgjdbc-ng referenced from HikariCP, and it looks great. I see that your interface to the server is Netty-based.

Given that, is there any plans for / interest in a non-JDBC async API that would allow users to better leverage the async nature of the underlying driver?

[2014-04-28 04:56] brettwooldridge commented on #78
I also think this is an interesting idea, though I would prefer to see an asynchronous JDBC API driven through the standards process for OpenJDK.  There are a number of asynchronous driver attempts out there, but each employes its own API.  Rather than adding more confusion to the mix, it would be better if everyone could agree on a specification.  Otherwise your code is locked into not only a sin

[2014-04-28 15:26] rocketraman commented on #78
Agreed. But a successful standards process is often based on existing real-world experience and experimentation. I don't think  having another async API -- especially if it is marked clearly as experimental and subject to change -- would add too much confusion.

[2014-04-29 08:33] brettwooldridge opened #79 "Question: Development Stalled"
Hi Kevin,

It seems that issues and pull requests are piling up as of late.  An engineer at my company also found issues with the XA support that we'd like to contribute fixes for.   You are somewhat familiar with my work through some earlier contributions.  If you wouldn't mind adding me as project contributor, I'll be happy to make what headway I can reviewing and integrating pull requests and f

[2014-04-29 16:18] kdubb commented on #79
Agreed!  I've been swamped the last couple months and could use the help.

[2014-04-29 16:18] #79 closed, assigned to nobody

[2014-04-29 16:23] #71 closed, assigned to kdubb

[2014-04-29 16:29] kdubb commented on #76
So the console is returning it as an array of strings; which doesn't help you much unless you want to parse them (this is the problem with the mainstream driver).

The way to do this would be to make a struct in your Postgres schema (e.g. BigIntVarChar) and then cast the row to that type:

[code]

Now you have Postgres returning an array of BigIntVarChars.  Now you can map a custom type to it usin

[2014-04-29 16:33] kdubb commented on #79
@brettwooldridge @jesperpedersen

Note that you both have been given read/write access.  The decision was easy based on your past contributions and demonstrated knowledge.

That being said.  Please ensure any large technological changes are well discussed between us before being committed ;)

[2014-04-29 16:35] jesperpedersen commented on #79
@kdubb Thanks, and will do !

[2014-04-30 04:15] brettwooldridge commented on #65
@andreak Can you re-test using the latest code from the `develop` branch and report whether you are still receiving this error?

[2014-04-30 09:41] andreak commented on #65
I'm still getting the error using the latest from develop

This SQL causes it, and prevents the query from reaching the server:

[code]

The stack-trace is:

[code]

Issuing the same in psql results in:

[code]

[2014-05-01 04:25] brettwooldridge opened #81 "Test failures in develop branch"
Anybody else seeing these?

[code]

[2014-05-01 04:41] kdubb commented on #81
Recently change timezones?

[2014-05-01 07:18] gsmet commented on #81
I have the same problem and another one but it's probably because I'm running the tests against a 9.1 server:

[code]

This line is causing the issue:

[code]

[2014-05-01 07:20] kdubb commented on #81
Yes those "LIKE pattern" failures are because of the 9.1 server.  I committed the changes to allow it to work against 9.1 but dropped off at those last two interesting bugs.  Consequently if somebody can fix those two issues the driver will test 100% against 9.1.

[2014-05-01 07:25] brettwooldridge commented on #81
Ok.  Just so you know, I'm running against a 9.3.1.0 (18) server.  Yes, I might have changed timezones.  What is the fix in that case?  Edit the PostgreSQL config?

[2014-05-01 07:34] gsmet commented on #81
Brett: the failures you have are due to timezone issues. That said, I don't know if it's just something to fix in the tests or a real problem in timezone implementation of the driver.

Kevin: I'll see what I can do for the 9.1 failure. There's something weird going on as I can't reproduce the issue from the PostgreSQL command line. I'll dig further this week or next week.

[2014-05-07 09:24] gsmet commented on #65
@andreak Could you provided a self contained test case we could include the pgjdbc-ng test?

It would be easier to track the bug with that.

Thanks.

[2014-05-07 09:26] gsmet opened #85 "Question: the road to 0.4"
Hi,

Could we discuss the plan to release 0.4? A couple of important bugs have been fixed and it would be nice to release something.

My 2 cents: I would like to have this fixed before the release:
- commit https://github.com/gmokki/pgjdbc-ng/commit/c5d2c32aa1a9baee2e1ffc7c21c9d2e59398c3b9 and https://github.com/gmokki/pgjdbc-ng/commit/56f4729287dcbdec6513eb648067243695324d7f from the PR https://g

[2014-05-07 09:54] andreak commented on #65
På onsdag 07. mai 2014 kl. 11:24:46, skrev Guillaume Smet <
notifications@github.com mailto:notifications@github.com>: @andreak
https://github.com/andreak Could you provided a self contained test case we
could include the pgjdbc-ng test?

It would be easier to track the bug with that.

Thanks.

 Yes, I will do that.   -- Andreas Jospeh Krogh CTO / Partner - Visena AS
Mobile: +47 909 56 963 andreas

[2014-05-07 13:14] kdubb commented on #81
Our test cases for timezones are lifted from the original project.  I am not sure if they suffer some of the same fragility as this... but I think I remember something being mentioned about it.  That being said, if they don't, it is most likely due to our implementation

[2014-05-07 13:21] kdubb commented on #85
- #73 Go for it, don't see a problem
- #84 Don't see a problem
- #65 Is currently not reproducible but should be an easy fix once a test case is committed
- #81 We need to compare with mainline driver to see if the problem exists there as well because the test cases were adapted from there

Updating Guava classes is doable bit tricky.  Also, so little of them is used that I am not sure it's worth

[2014-05-07 13:54] davecramer commented on #81
Ya, there are some failures around DST which are common.

Dave Cramer

On 7 May 2014 09:14, Kevin Wooten notifications@github.com wrote:

[2014-05-23 19:25] electrum opened #86 "License under the Apache License"
This project looks very interesting. Would you consider licensing it under Apache License, Version 2.0 (ASL2)? https://www.apache.org/licenses/LICENSE-2.0

We have a basic JDBC driver in Presto (https://github.com/facebook/presto) and would be interested in collaborating here, but Presto is licensed under ASL2.

[2014-05-26 16:30] andreak commented on #76
Thanks, I'll try. Do you have an example showing how to use/create such a custom-type in JAVA (the PG-part I'm ok with).

[2014-05-28 01:58] slorion opened #87 "Connection string parse exception"
With the following connection string:

[code]

I get:

[code]

Context: I am trying to use this driver with pgbouncer with pool_mode=statement

[2014-05-28 23:19] slorion commented on #87
Thank you for working on a fix right away! In the meantime, I am using AbstractDataSource.setPreparedStatementCacheSize, but, unless mistaken, it does not seem to have the effect I was hoping for, namely what is described here: http://engineering.clever-cloud.com/java/2013/05/27/pgjdbc-now-pgbouncer-compliant.html. If I am using the wrong setting, would you mind telling me the right one, if one ex

[2014-05-28 23:45] brettwooldridge commented on #87
You are correct, the prepared statement cache size setting will not have the effect you are seeking. We'll need to investigate the semantics of the changes that were made to the Postgresql JDBC driver.

[2014-05-28 23:50] slorion commented on #87
Ok, thanks again. The app is still in dev, so I can use pool_mode=session for now.

[2014-05-31 12:03] niwinz commented on #86
BSD license is fully compatible with Apache License 2.0 as far as I known.

[2014-06-19 17:48] croudet opened #89 "NullPointerException with PreparedStatement.addBatch() and non strandard types."
With non standard types (e.g hstore, inet, long array), I got a NullPointerException when using batched prepared statement.

[code]

[code]

It works fine with PreparedStatement.executeUpdate().

Modifying com.impossibl.postgres.jdbc.PGPreparedStatement.coerceParameters() test seems to fix the issue, but I am not sure it is the proper fix.

[code]

[2014-06-20 21:54] neilmcguigan commented on #77
http://impossibl.github.io/pgjdbc-ng/apidocs/0.0.1/ still up

[2014-07-01 20:09] slorion commented on #87
Hello Brett,

Any news regarding support for preparedStatementCacheSize=0 ? That missing feature basically prevents this library from being used with pgBouncer, because being required to use pool_mode=session defeats one of the main advantage of using pgBouncer. If it is something non trivial to implement, I could give a hand.

[2014-07-03 08:56] andreak opened #90 "Driver throws NumberFormatException when used with 9.4 beta1"
Get this exception:
java.lang.NumberFormatException: For input string: "4beta1"

But the exception is masked in IOException:
ProtocolFactoryImpl:288
      io = new IOException(e.getCause());

The real NFE-stack-trace is:

[code]

But the Exception in the logs is:

[code]

[2014-07-03 09:03] gsmet commented on #90
Hi Andreas,

This is a known limitation.

I have to extract this commit (in fact, this code has changed but it's just a one liner to fix):
https://github.com/gmokki/pgjdbc-ng/commit/c5d2c32aa1a9baee2e1ffc7c21c9d2e59398c3b9

I have a couple of things to do so I'll see about extracting this one from the original pull request and submit another one.

[2014-07-03 09:06] andreak commented on #90
Thanks!

[2014-07-03 09:13] andreak commented on #90
BTW; The real error was kind of hard to spot as the NFE is masked and the real NFE.message never gets out in the log.

Maybe changin
ProtocolFactoryImpl.translateConnectionException

so that
      io = new IOException(e.getCause());

becomes:
      io = new IOException(e);

?

Then the NFE won't get masked. As it stands e.getCause() returns null so the NFE never propagates.

[2014-07-03 09:20] gsmet commented on #90
IIRC, there's something to fix that in the original PR and it should be
merged to.

See my post here: https://github.com/impossibl/pgjdbc-ng/issues/85

On Thu, Jul 3, 2014 at 11:13 AM, Andreas Joseph Krogh <
notifications@github.com> wrote:

[2014-07-03 09:35] andreak commented on #90
Right, it's there.
What's holding up merging of #73?

[2014-07-03 09:39] gsmet commented on #90
Nothing. There's just some work to merge it due to the recent changes.

I'll prepare a clean PR for Kevin or Brett to merge it directly. Hopefully
in a few hours.

On Thu, Jul 3, 2014 at 11:35 AM, Andreas Joseph Krogh <
notifications@github.com> wrote:

[2014-07-03 15:51] gsmet commented on #85
Sorry for not having followed up. Very busy at work then vacation.

Here is the current status:
- I've merged the changes Mikko made in #73 in #91 . I think you or Brett can commit #91 without any issue.
- #84 : it would be nice if either you or Brett could commit it.
- I haven't updated the Guava classes. I totally agree with you on this point.

Once these 2 PR are merged, I think it could be a g

[2014-07-03 15:52] gsmet commented on #90
Done: https://github.com/impossibl/pgjdbc-ng/pull/91

[2014-07-03 16:48] kdubb commented on #85
I agree with all you've said here.

I will commit #91 & #84 ASAP.  I will look into #89, although I believe it is a bit of a complicated issue and may be better off being put in the next release.

Once these are settled I'll move to 0.4 release.  It is long overdue & 0.4-SNAPSHOT had been working very well for quite a while.  I believe I'll have this done before Monday.

[2014-07-03 16:49] #90 closed, assigned to nobody

[2014-07-03 17:29] gsmet commented on #85
Nice. Thanks!

[2014-07-10 06:58] gsmet commented on #85
Hi Kevin!

Any news about the release? We're waiting for an official release before putting a few apps into production. Thanks!

[2014-08-14 20:03] vanecanhete opened #92 "CallableStatement: calling "schema.function()" throws java.sql.SQLException: Invalid escape syntax (0)"
I have this function in postgres.

[code]

I want to call it from Java like this:

[code]

I'm getting this exception:
 *************\* Prueba Package Function ************\*
Exception in thread "main" java.sql.SQLException: Invalid escape syntax (0)
    at com.impossibl.postgres.jdbc.SQLTextEscapes.checkSize(SQLTextEscapes.java:300)
    at com.impossibl.postgres.jdbc.SQLTextEscapes.checkSize(SQLT

[2014-08-14 22:36] vanecanhete commented on #11
I have that problem but calling functions... I didn't read this before so I create a new issue... [https://github.com/impossibl/pgjdbc-ng/issues/92]

[2014-08-15 09:08] valgog commented on #92
I suppose, that you can try to set the `search_path to pruebas, public;` in the connection before calling that function without specified the schema. I have not looked into the code though to understand if it is a problem with parsing of the call JDBC syntax or a more general problem.

Alternatively try to call using `select * from pruebas.prueba();`. This will also show if it is the problem with

[2014-08-15 09:10] valgog commented on #92
Oh, just noticed that exception text :) Most probably this is a parsing issue, so just try the select syntax first.

[2014-08-15 09:24] gsmet commented on #92
Hi,

The problem is in SQLTextEscapes.processCallEscape(EscapeNode escape).

The code is the following:
  private static Node processCallEscape(EscapeNode escape) throws
SQLException {

[code]

getNode(escape, 1, UnquotedIdentifierPiece.class), space(), getNode(escape,
2, ParenGroupNode.class));
  }

The checkSize call checks that there at least 2 nodes and at most 3. But in
the case of a call wit

[2014-08-15 09:25] gsmet commented on #92
Note: we also have to fix processCallEscape to take this case into account
and generate a schema qualified path in the generated query.

On Fri, Aug 15, 2014 at 11:23 AM, Guillaume Smet guillaume.smet@gmail.com
wrote:

[2014-08-17 04:36] kdubb commented on #85
0.4 has finally been released... You'll notice I didn't specify which Monday :grin:

[2014-08-17 04:36] #85 closed, assigned to nobody

[2014-08-18 02:55] kdubb commented on #92
Do we know if this syntax is part of JDBC?

[2014-08-18 06:56] gsmet commented on #85
Thanks Kevin!

[2014-08-18 06:58] gsmet commented on #92
Hard to say. The javadoc says <procedure name>. I haven't found any other information.

I think we should support schema qualified name one way or the other.

[2014-08-18 09:02] valgog commented on #92
The questions is, why you want to use this strange syntax other then for compatibility with other databases and their JDBC drivers, that do not have a concept of postgres namespaces?

[2014-08-18 13:50] kdubb commented on #92
@valgog You have expressed my point exactly.  JDBC escape is for compatibility.  PostgreSQL namespaces are inherently incompatible.

@vanecan If you wish to preserve compatibility and use namespaces maybe @valgog 's suggestion of using the search_path is the correct one.  It means you can use namespaces, as well as the JDBC escape syntax, on Postgres then when you move to another database you coul

[2014-08-18 15:16] vanecanhete commented on #92
Ok, thank you for the answers. I'll use the search path.

[2014-08-20 18:00] volgar1x opened #94 "Query logging"
Hi,
You did a great job on pgjdbc-ng, but is there any query logging feature available ? I didn't find any information anywhere.

[2014-08-20 19:06] kdubb commented on #94
Are you asking for an option to log all SQL text executed on the server?

[2014-08-20 19:17] volgar1x commented on #94
That's effectively what I need

[2014-09-01 22:50] vanecanhete opened #95 "Order of parameters into a function - CallableStatement"
Hello, I'm having the following experiences calling a function...
This function has all the "IN" parameters first... and the call from java works ok..

[code]

[code]

My result: ... ... ... ... ... Llamada exitosa...

But, in the next example my call from java is not working... The only change is the order of the parameters...

[code]

This is how I call..

[code]

I get an exception:
com.impossi

[2014-09-16 11:01] hakkikt opened #96 "Using setString to set a MAC address causes IOException: invalid length"
Using setString (`stmt.setString(3, "00:50:56:00:00:09");`) to set a MAC throws an IOException. From the stack trace it looks like it's been converted to bytes first.
The setBytes method (`stmt.setBytes(3, new byte[] {0,0x50,0x56,0,0,0x09});`) works as expected.

[code]

[2014-09-28 00:54] smallynr opened #97 "[bug] call function without Parentheses by CallableStatement"
Hi:
  I try  the following code:
   @Test
  public void testCallFunctionWithoutParentheses() throws Exception {
    con = TestUtil.openDB();

[code]

  }
 I get an  IndexOutOfBoundsException.

Patch in SqlTextEscapes:
private static Node processCallAssignEscape(EscapeNode escape) throws SQLException {

[code]

  }

[2014-09-30 21:18] andreak commented on #76
For completeness I'll write the class I use and the JDBC-mapping (it's Scala, but should be readable):

[code]

Mapping:

[code]

Closing the issue as it's not a flaw or bug in this driver.

Thanks for the help!

[2014-09-30 21:18] #76 closed, assigned to nobody

[2014-09-30 21:21] kdubb commented on #76
Just an FYI for completeness...

the pgjdbc-ng-udt tool will generate these classes for you.  This is a small class and probably not worth the trouble but for larger projects with numerous, and probably changing, UDTs the tool should help a bit.

Of course... it only generates in java ;)

[2014-10-01 08:33] andreak commented on #76
Jep:-)

Is there a way to register custom types in connection-pools, if you know what I mean? So I can register the type-mapping _one_ place and make use of it in the whole application, without having to pass the typeMap to rs.getObject every time?

[2014-10-01 23:18] apotapov opened #98 "Postgis+Hibernate support"
I was planning to use pgjdbc-ng when I moved from BoneCP to HikariCP. (recommended by HikariCP) However, I got the following exception when I was trying to retrieve data with postgis fields using Hibernate.

Relevant hibernate properties:
hibernate.dialect=org.hibernate.spatial.dialect.postgis.PostgisDialect

Exception:

[code]

This works fine when using default Postgres JDBC data source: org.pos

[2014-10-01 23:21] apotapov commented on #98
Postgis field in my database:

[code]

Value of the particular coords field the application was trying to extract: 0101000020E6100000D8FB43E9C1C858C03EA1E8CB1C6E3340

[2014-10-01 23:57] brettwooldridge commented on #98
Can you attach a schema fragment from the table in question?

[2014-10-02 01:24] apotapov commented on #98
Sure

[code]

[2014-10-02 03:31] brettwooldridge commented on #98
@kdubb After digging into this a little, I realized I know little to nothing about how pgsql-ng maps unknown types like PGgeometry (from org.postgis), etc.

I did find the Hibernate Spatial tutorial [here](https://bitbucket.org/py5gol/hibernate-spatial-tutorial).  All you need to do is:
1. Clone it
2. Edit the pom.xml to add pgjdbc-ng
3. Edit src/main/resources/hibernate.cfg.xml to use jdbc:pgsql

[2014-10-09 09:45] itd-sk opened #99 "IOException when parsing command ALTER DEFAULT PRIVILEGES..."
Caused by: java.sql.SQLException: Error on command ' ALTER DEFAULT PRIVILEGES IN SCHEMA xy GRANT SELECT ON TABLES TO username '
    ...
Caused by: java.sql.SQLException: java.io.IOException: error parsing command tag
    at com.impossibl.postgres.jdbc.PGConnectionImpl.execute(PGConnectionImpl.java:452)
    at com.impossibl.postgres.jdbc.PGStatement.executeStatement(PGStatement.java:372)
    at com

[2014-10-22 08:33] gsmet opened #100 "Slow and repeated PgAttribute query"
Hi,

We have put into production our first app using pgjdbc-ng and we started to have in our logs slow queries like:
Oct 21 04:41:23 <host> postgres[28860]: [2-1] LOG:  duration: 57.894 ms  execute <unnamed>:  select    attrelid as "relationId", attname as "name", atttypid as "typeId", atttypmod as "typeModifier", attlen as "length",    attnum as "number", not attnotnull as "nullable", pg_catalog.

[2014-10-22 08:35] kdubb commented on #100
These are the type loading queries.  They are what enable the use of binary mode.  They are expected but they should be extremely fast.

[2014-10-22 08:38] kdubb commented on #100
Also, these queries should only be happening 1 time, on connect.

[2014-10-22 08:44] gsmet commented on #100
OK, they are not that fast but the connect part makes sense and that's why I see them appearing randomly during the day: it's probably when a new connection is needed for the pool.

Thanks for your feedback.

[2014-10-22 08:44] #100 closed, assigned to nobody

[2014-10-22 08:45] kdubb commented on #100
Out of curiosity, do you have a large number of custom types defined?

[2014-10-22 09:57] gsmet commented on #100
No, not at all. It's a standard PostgreSQL without any extension.

The plan of the query is the following:

[code]

The query returns 4800+ rows.

[2014-10-23 02:50] brettwooldridge commented on #96
What is the column type?

[2014-10-23 02:59] brettwooldridge commented on #92
Sounds like this issue has been resolved with an acceptable solution.

[2014-10-23 02:59] #92 closed, assigned to nobody

[2014-10-23 03:27] brettwooldridge commented on #81
I am no longer seeing this issue, so I am going to close it.

[2014-10-23 03:27] #81 closed, assigned to nobody

[2014-10-24 04:43] #99 closed, assigned to nobody

[2014-10-24 04:43] #97 closed, assigned to nobody

[2014-10-24 07:37] brettwooldridge opened #106 "PostgreSQL 9.4 Beta 3 timezone test failure"
I'm not sure if this is a PostgreSQL 9.4 bug, or a pgjdbc-ng bug:

[code]

[2014-10-24 07:39] kdubb commented on #106
Almost assuredly a unit test problem.  The same problem exists with the mainstream driver; which these unit tests were adopted from.

[2014-10-24 07:59] brettwooldridge commented on #106
What should we do about it?  The code is:

[code]

We're asserting that `rs.getTimestamp(1).getTime()` should be `-1577929192000`.  However, my epoch calculator shows that to be `Dec 31 1919 22:20:08 GMT` and `Jan 01 1920 01:20:08 EEST` (Helsinki).  PostgreSQL 9.4 is returning `-1577929189000`, which my epoch calculator shows as `Dec 31 1919 22:20:11 GMT` and `Jan 01 1920 01:20:11 EEST` (which als

[2014-10-24 08:01] kdubb commented on #106
Honestly I haven't really looked into it much.  It only seems to surface on certain days of the year.

[2014-10-24 08:36] gsmet commented on #106
See http://www.postgresql.org/message-id/11276.1413991497@sss.pgh.pa.us .

[2014-10-24 08:49] brettwooldridge commented on #106
Good find, thanks.  I'll look at their commit.

[2014-10-25 09:16] gsmet commented on #106
Commit is here: https://github.com/pgjdbc/pgjdbc/commit/4874f9a693a3bb1c2ddcbfcbc916b5ce0ce1b5f6

(I can prepare a PR but I think it's going to be longer to merge than applying the change yourself)

[2014-10-26 23:39] hakkikt commented on #96
The could is the Postgres macaddr type.

[2014-10-27 00:23] #106 closed, assigned to nobody

[2014-10-27 00:24] #95 closed, assigned to nobody

[2014-10-27 04:56] brettwooldridge commented on #89
I will take a look at this after the pull request for issue #96 is integrated.  The above fix may be acceptable, but we may be able to do better in terms of type validation when `setObject()` has been used.

[2014-10-27 06:22] brettwooldridge opened #109 "Clean-up string coercion in SQLTypeUtils"
See discussion in pull request #108.  Now that the `Type` is supplied to `coerceToString()` we should be able to simplify/unify the conversion from many cases to possibly just 1.

[2014-10-27 06:23] #96 closed, assigned to nobody

[2014-10-27 06:25] #86 closed, assigned to nobody

[2014-10-27 06:30] brettwooldridge commented on #65
@andreak we would like to fix this issue, do you think you can provide a test case?

[2014-10-27 07:33] brettwooldridge commented on #98
@kdubb I'm looking at this one a little more.  I'm still way over my head in terms of what the implementation is doing, so I have a few questions:

It's seems that no type information is found for a PostGIS "geometry" type.  Looking at the code, I'm following the `Registry` initialization.  It seems that:
- `loadModifierParser()` is called with `modInId=113201` and `modOutId=113202`
- `lookupProcN

[2014-10-27 07:52] kdubb commented on #98
Yes. Without looking I'm assuming we'll need a TextEncoder and BinaryEncoder for the geometry type as well.

The way I did this for the rest of the types is to simply adapt the code from the server itself. In this case the functions are probably in src/backend/utils/adt/geo_ops.c

I'll look into this right now and report back some more.

[2014-10-27 08:46] kdubb commented on #98
OK. So I looked into this a bit more.  After the realization that we are discussing the postgis code (which is a separate project) I identified the methods we need to implement and their location.

Basically to implement this type we need to make a Codec.Encoder and Codec.Decoder for text (usually called TextEncoder, TextDecoder) and binary (usually called BinaryEncoder, BinaryDecoder).  To follow

[2014-10-27 09:37] brettwooldridge commented on #98
Should be care at all about a dependency on the org.postgis packages/classes?  Seems rather unavoidable if we have to produce objects as outputs in some cases (eg `ResultSet.getObject()`) .

[2014-10-27 09:50] kdubb commented on #98
If the maven artifact (I found org.postgis:postgis-stubs) is up to date I don't see why we wouldn't just add it.  If it's not... maybe just copy/paste the most recent java code from the project.

[2014-10-27 10:12] brettwooldridge commented on #98
I guess a meant a runtime dependency.  Users will not be able to use pgjdbc-ng without the postgis jar present.  I'm not sure how PostgreSQL deals with this, possibly shading the classes?

[2014-10-27 14:31] andreak commented on #65
I have a test-case, with the above mentioned query. I'm unable to attach a file to this issue but here it is inline:

[code]

[2014-10-27 15:04] brettwooldridge commented on #65
Thanks, we'll take a look.

[2014-10-27 17:44] kdubb commented on #98
I hadn't thought about this. Yes, we must shade or copy them in manually to avoid this.

[2014-10-28 00:59] brettwooldridge commented on #65
@andreak thank you, I could reproduce the issue.  @kdubb while the SQL above is trivial, the state machine created by our regex-based parsing is extremely complex.  It is getting into an infinite loop on the above SQL and eventually blowing out with a stack overflow.

I thinking that while fixing this issue it is time to switch to a real parser.  I have done some searching, and while I was origina

[2014-10-28 01:09] brettwooldridge commented on #98
I've been thinking about it more, and I think that shading and/or copying will not work.  If the user has postgis classes in their classloader, and that classloader is not the same as ours, then postgis objects passed into and out of pgjdbc-ng will not be seen as being of the same "class" and will fail at runtime.

I think the right approach is to move the loading of SimpleProcProvider instances t

[2014-10-28 01:12] kdubb commented on #65
I cannot agree more (about the replacing it).  I do have a philosophical issue with parsing "SQL" though.  Postgres's flavor of SQL is dramatically different from that of standard SQL.  So no matter what parser we use I am afraid of it not being able to understand the full grammar.  Then we have to consider upkeep.

I think we need to attack this from the point of view of our real goal... which is

[2014-10-28 01:24] kdubb commented on #98
Procs.PROVIDERS was originally loaded using ServiceLoader.   I had an issue when I loaded the driver in a container (e.g. Tomcat).   The services file is actually still in the META-INF folder.

This coincides with using a "compile" time dependency as well; since ServiceLoader fails gracefully when it cannot load a particular implementation of a service interface.

I think reverting back to this me

[2014-10-28 03:04] brettwooldridge commented on #65
I probably spoke too soon.  Having looked at the FoundationDB parser, and trying make it parse the SQL -- just by wedging it into `SQLText.parse()` -- it failed in a myriad of ways due to PostgreSQL's unique syntax (arrays, etc.).  Probably a full-parse is 1) difficult, and 2) unnecessary.

A simple hand-rolled state-machine parse that covers the cases handled by the regex should be very simple.

[2014-10-30 09:39] andreak opened #111 "Errors from triggers are hard to catch"
Hi.

I noticed that errors raised from triggers propagate as `PGSQLSimpleException`, and don't hold any info about table or trigger-name causing the exception.

Is it possible to enhance the error-handling to provide details about what caused the exception raised by a trigger-violation?

[2014-10-30 12:19] brettwooldridge commented on #65
This is fixed now.

[2014-10-30 12:19] #65 closed, assigned to nobody

[2014-10-30 20:31] andreak commented on #65
Very nice!

[2014-10-31 16:03] InfoSec812 opened #113 "Notification listener not getting async events from other sessions"
I am in the process of writing a Camel component which uses pgjdbc-ng to produce/consume async events from PostgreSQL... The code can be found at:

https://github.com/InfoSec812/pgevent

The problem that I am having is that when I use Camel to both send and receive the events using the same connection, everything works fine and I see the notification listener consume the event.. When I just fire u

[2014-11-01 22:09] valgog commented on #65
https://github.com/zalando/pg_sql_parser this is a draft but pure SQL should be working already... another question is of cause, if one wants to add ANTLR library to a JDBC driver :)

[2014-11-04 13:00] gsmet commented on #111
Hi @andreak ,

Could you provide a test case with a trigger which generates an error?

Once we have this test case, it will be easier to see if something can be done to improve this.

Thanks!

[2014-11-04 14:25] andreak commented on #111
When time permits, yes:-)
Do you know if any information about trigger-name, src-table etc. is provided at the protocol-level?

[2014-11-04 14:50] gsmet commented on #111
I remembered having seen posts from Pavel on the -hackers list a while ago about this sort of things.

Pavel included something in libpq for 9.3: http://www.postgresql.org/docs/9.3/static/libpq-exec.html#LIBPQ-PQRESULTERRORFIELD .

Looks like they have been included in the protocol too:
http://www.postgresql.org/docs/9.3/static/protocol-error-fields.html

But it was initially for constraints: I'm

[2014-11-08 11:32] andreak commented on #111
Here is a basic test:

[code]

[2014-11-08 18:22] kdubb commented on #111
I just checked this and it's not able to be done without a server change.  Postgres is only delivering extended error information (schema, table, etc) on check constraint failures.

[2014-11-08 18:49] kdubb commented on #113
I confess to not having looked through your code, but I am pretty sure I know the solution ;)

The fix for this is a simple one... make a strong reference to the PGNotificationListener.  The driver keeps weak references to listeners.   I ran into the same issue while I was writing a test rig for this issue.

[2014-11-08 19:59] kdubb commented on #113
I looked into your code.  The error isn't with weak/strong references or anything in pgjdbc-ng... it's with your code.

Your FORMAT1 regex (and I suspect all of them suffer the same issue) uses non-greedy name matching. Thus the name "testchannel" is matched as "t".  Executing "NOTIFY t" results in successful execution of your code.

Change your non-greedy section to greedy (e.g. \w+? >> \w+ ) and

[2014-11-08 19:59] #113 closed, assigned to nobody

[2014-11-08 20:01] kdubb commented on #111
I am closing we can revisit if the server ever adds support for this.

[2014-11-08 20:01] #111 closed, assigned to nobody

[2014-11-09 10:50] andreak commented on #111
Tom Lane made me take a closer look at how RAISE works, so it looks like we have all we need to provide nice errors in JDBC based on trigger-violations.
If I redefine the trigger-function to this:

[code]

Then `schema`, `table`, `sqlstate` and `column` are all nicely populated in the PGSQLSimpleException's details.

[2014-11-09 10:54] kdubb commented on #111
Nice!!

Just FYI,  If you wanted to use the more specific PGSQLIntegrityConstraintViolationException just use an ERRCODE starting with '23'.

P.S.  We need to start looking at documenting this stuff, probably on the Wiki.

[2014-11-09 12:17] andreak commented on #111
Yes. I didn't update my text in the comment above but setting the ERRCOE to 23502 makes the driver use PGSQLIntegrityConstraintViolationException and not PGSQLSimpleException, which is perfect.

I'm not sure this belongs in this driver's docs as it's certainly a feature of PG and how RAISE works. Having it documented somewhere in the driver's docs would however have helped me use RAISE correctly i

[2014-11-11 17:31] kdubb commented on #98
@brettwooldridge I committed changes to the Procs.  It's now an instance that uses the Driver's class loader to build a list of ProcProviders using the Service mechanism.  This appears to have fixed all issues I encountered previously with using this mechanism in a container (aka multi-classloader) environment.

This paves the way for _easy_ support for postgis and other extensions.  Now we can ma

[2014-11-11 17:37] kdubb commented on #94
Question.  Are you interested in seeing ALL the SQL submitted to the server, or just the SQL as a result of API usage.  In other words, the driver sometimes needs to execute SQL that you didn't explicitly ask for.  Do you care to filter that out? Just trying to figure out the best place to plug it in.

I guess we should have 2 options one for client generated SQL only and one for client & driver g

[2014-11-11 18:54] #89 closed, assigned to nobody

[2014-11-11 18:55] kdubb commented on #89
This proved to be the correct fix.

[2014-11-12 19:16] gsmet opened #117 "Issues with the prepared statement cache"
Hi,

I just got hit by the prepared statement cache: at least if you're using PostgreSQL 9.1, the driver forces PostgreSQL to generate a suboptimal plan by preparing the statement without any parameter values.

Some background about PostgreSQL and prepared statements:

Release note item of PostgreSQL 9.1:
~~
Protocol-level unnamed prepared statements are re-planned for each set of BIND values (Tom

[2014-11-13 01:05] brettwooldridge commented on #117
Prepared statements are usually considered a "big win" in terms of performance.  So, it seems like we need to figure out how to do it "right" with respect to 9.1/9.2, in a backward compatible way.  From reading that, it sounds like prepared statements should not be named, otherwise PostgreSQL will not generate unique plans based on bound variables.

At the same time, if unique plans are generated

[2014-11-13 08:29] kdubb commented on #117
I'm taking another look into passing the parameters to the prepare command.  It was designed to be that way from the start but I ran into issues with expected type casting; the server does none in the binary protocol.  Currently sending the parameters breaks 9 unit tests. Some in trivial others in non-trivial ways. I fear that there is a deeper issue as well that isn't being caught by test coverag

[2014-11-13 12:35] brettwooldridge commented on #117
I'm not trying to boast, truly, but I am driving a lot of traffic here from the HikariCP project, which itself is exploding in popularity.  So we might expect many more people trying and testing the pgjdbc-ng driver in the coming months.  On the good news front, I've had several reports of users happily using pgjdbc-ng in production, nascent as it is, with no issues.

[2014-11-13 17:21] gsmet commented on #117
@kdubb I don't think it's the way to go: if you cache the plan with a set of parameters, it might be wrong for another set of parameters. A nice example of this type of query: look for the restaurants in NY with a radius of 5 km then look for the restaurants in a small city with a radius of 5 km. In one case, you'll have thousands of answers, in the other one only a few. Add a couple of joins and

[2014-11-13 18:41] gsmet commented on #117
Status as of now:
- we tried to set it up with a dataSource property but we couldn't get it to work (we use HikariCP);

-> pull request sent to HikariCP: https://github.com/brettwooldridge/HikariCP/pull/190
- we then tried with a URL parameter but it does not work due to #87 (Brett, I commented your fix, it does not work property - at least with Java 7)

-> pull request sent: https://github.com/im

[2014-11-14 07:23] gsmet commented on #117
Looks like the problem can also happen with recent versions of PostgreSQL if after a couple of executions a generic plan is bogusly considered better than the custom plans.

See http://markmail.org/thread/w6pqsexlzbsmlpmj .

So I really think we should get rid of the cache in the default case. It can really lead to bogus behaviors.

[2014-11-15 20:02] cowwoc opened #120 "Improve documentation"
1. http://impossibl.github.io/pgjdbc-ng/ links to http://impossibl.github.io/pgjdbc-ng/apidocs/0.3/index.html which is a broken link.
2. https://github.com/impossibl/pgjdbc-ng should provide more information about the properties. For example, there is no way of knowing what the "housekeeper" property does.
3. https://github.com/impossibl/pgjdbc-ng should list the fully-qualified Driver class along

[2014-11-15 21:27] cowwoc opened #121 "PGDriver should invoke DriverManager.registerDriver() on class load"
JDBC drivers are required invoke DriverManager.registerDriver() at class load, but PGDriver only does this from its constructor. This is problematic for two reasons:
1. It violates the specification laid out by https://docs.oracle.com/javase/6/docs/api/java/sql/DriverManager.html
2. One specific example of how this breaks real-life code is QueryDSL's Maven plugin. The plugin invokes `Class.forName

[2014-11-15 21:31] kdubb commented on #121
Already completed in commit 3850f96ed0a631892e7500629489870273f20c58

[2014-11-15 21:31] #121 closed, assigned to nobody

[2014-11-15 22:04] cowwoc commented on #121
@kdubb Perfect. When is the next release to Maven Central?

[2014-11-15 23:02] davecramer opened #122 "RowId not guaranteed to not change"
https://github.com/impossibl/pgjdbc-ng/blob/57e5a8a57e87126d10b64db1110c359ed07c8dc6/src/main/java/com/impossibl/postgres/jdbc/PGDatabaseMetaData.java#L1714

Outside a transaction a row can be moved out from under you if it is vacuumed

[2014-11-15 23:08] kdubb commented on #122
I'm not sure this is linking to the right line.  Are you referring to getBestRowIdentifier?  This links to a comment in getVersionColumns (which talks about ctid being guaranteed to change).

[2014-11-15 23:11] davecramer commented on #122
You are correct, I read it wrong. Although I would disagree, ctid may or
may not change depending on HOT.

Dave Cramer

On 15 November 2014 18:08, Kevin Wooten notifications@github.com wrote:

[2014-11-15 23:21] kdubb commented on #122
Although most of this code has been heavily edited to fit this drivers type system and format I can attest to it beginning it's life as a conglomeration of files in the mainstream driver...

Considering I have no idea who KJ is I searched in the mainstream driver....
https://github.com/pgjdbc/pgjdbc/blob/master/org/postgresql/jdbc2/AbstractJdbc2DatabaseMetaData.java#L3264

It's the same comment an

[2014-11-15 23:45] davecramer commented on #122
KJ is Kris Jurka.

No, CTID is as close as it gets.
I think the comment is wrong in both places.

It probably should read guaranteed not to change as xmin, xmax, cmin, cmax
certainly change.

Dave Cramer

On 15 November 2014 18:21, Kevin Wooten notifications@github.com wrote:

[2014-11-15 23:47] kdubb commented on #122
Just to be clear... you mean it is guaranteed to change correct?  That's what this is looking for "something" that will change no matter what.

[2014-11-16 00:09] davecramer commented on #122
Well actually it may not change on an update if it is a HOT update, but it
will be unique

Dave Cramer

On 15 November 2014 18:47, Kevin Wooten notifications@github.com wrote:

[2014-11-16 19:58] kdubb commented on #117
@gsmet The cache key takes into account the parameter types.  I am definitely not an expert, or even a beginner, on the topic of query planning but you are saying that `WHERE dist=5 AND city='ny'` and  `WHERE dist=5 AND city='smalltown'` can create two different query plans.  This I would consider interesting to the almost magical level.  If that is indeed the case then we could hash the parameter

[2014-11-16 22:59] brettwooldridge commented on #117
Similar to @kdubb, the question I have is what happens in the case:

[code]

... or a query with tens of replacement parameters that is executed tens or hundreds of times with differing values?  It seems by far the exception than the rule that it is more efficient to compile a unique plan for each set of values.

[2014-11-17 00:37] brettwooldridge commented on #117
After reading the markmail thread, this comment from Tom Lane (God among men):

[code]

Here we are the "client-side library", and we indeed "have even less clue
than the backend as to whether a generic plan is more appropriate than
a custom plan."

Other than, as @kdubb suggesting, allowing a user to explicitly exclude a query from the cache I am not sure there is much we can do.  Except, possibl

[2014-11-17 01:40] cowwoc opened #123 "PGDatabaseMetadata.getPrimaryKeys() returns the primary keys for all the tables in the schema"
`PGDatabaseMetadata.getPrimaryKeys()` seems to be implemented incorrectly. See https://github.com/querydsl/querydsl/issues/1043#issuecomment-63212876 for more details.

[2014-11-17 02:32] #123 closed, assigned to nobody

[2014-11-17 06:47] cowwoc opened #124 "RFE: Implement getSchema(), setSchema()"

[2014-11-17 20:12] gsmet commented on #117
@kdubb PostgreSQL keeps statistics to be able to choose the best plan for the query.

For instance, if you have an index on your conditions and the statistics tell that you are returning very few rows, the planner will use an index scan on the index. If the statistics tell that you are returning a lot of rows, it will use a seq scan.

@brettwooldridge personnally, I use unnamed statements when I d

[2014-11-17 20:17] cowwoc opened #125 "java.lang.AssertionError at com.impossibl.postgres.jdbc.ThreadedHousekeeper.acquire()"
I am getting the following assert failure in my unit tests using https://github.com/impossibl/pgjdbc-ng/commit/5978d763a8677b891f70e55f9140069dc94ce5be:

[code]

I don't have concrete repro steps yet.

[2014-11-17 20:28] cowwoc commented on #125
I think I know what is going on...
1. Thread 1 hits `if (instanceRefs.compareAndSet(0, 1))`, flipping the value from 0 to 1 and entering the first code block.
2. Thread 2 hits `if (instanceRefs.compareAndSet(0, 1))`, and enters the second code block.
3. Thread 2 executes `assert instance != null;` before Thread 1 has reached `instance = new ThreadedHousekeeper();`

In short: you need to lock over

[2014-11-17 20:45] kdubb commented on #125
This is a perfect example of premature optimization.  This is called in 1 place, while creating a connection, it should just be a snync'ed method.   It was idiotic to do anything else.

[2014-11-17 20:52] cowwoc commented on #125
@kdubb It happens ;)

I suggest configuring your unit tests to run in parallel. This will make them run faster, as well as catching these kinds of bugs.

[2014-11-17 21:14] cowwoc opened #126 "Throw SQLTransientException, SQLRecoverableException, SQLNonTransientException"
The driver should throw these specialized sub-classes when possible. See https://github.com/pgjdbc/pgjdbc/issues/214#issuecomment-63276395 for more information.

[2014-11-17 21:22] kdubb commented on #125
Running unit tests in parallel will not work without some serious updates to the unit tests.  They create/drop schema a shared database.

[2014-11-17 21:28] cowwoc commented on #125
@kdubb Here is what worked for me:

[code]

I've got one SQL script for populating the database. That script contains place-holders. Example:

[code]

Then, I have Flyway replace `$(CREATE.TABLE)` with either `CREATE TABLE` or `CREATE UNLOGGED TABLE` depending on whether I am running unit tests or the main codebase.

Each unit test runs against a different schema. You can play around with this and

[2014-11-19 10:59] #125 closed, assigned to nobody

[2014-12-04 23:46] geraldodev commented on #117
@brettwooldridge

with prepared statements 'where field like ?' takes the worst scenario and does not use index for 'JOHN%'

[2014-12-05 02:26] brettwooldridge commented on #117
@gsmet The aforementioned bugs should be fixed (pull request?).  There should certainly be an option to disable the cache, in which case pgjdbc-ng should probably use unnamed prepared statements.  I also like @kdubb's idea that even when the cache is enabled, a mechanism to exclude statements (force unnamed) would cover most cases where suboptimal plans would be reused due to naming.

@geraldodev

[2014-12-05 09:42] geraldodev commented on #117
@brettwooldridge That was true for <= 9.1.

From 9.2 that's not true anymore:
http://blog.endpoint.com/2014/04/custom-plans-prepared-statements-in.html

This fact makes me think that one using 9.1 might not want prepared statements at all with like statements

[2014-12-05 10:47] brettwooldridge commented on #117
@geraldodev I agree.  I'm glad to see PostgreSQL has improved in this respect.

[2015-01-04 17:05] Redeeman commented on #117
@gsmet

Sorry but what do you mean here? are you issuing PREPARE "yourself" for the queries you feel should be stored serverside, and then EXECUTEing them "youself" too? And what do you mean with "unnamed prepared statements" ? I do not know the postgres protocol, but im guessing this is internal to how the protocol works, but what is your suggestion then? to disable turning preparedstatements int

[2015-01-05 15:36] kdubb commented on #117
@Redeeman This is very much related to the Postgres backend protocol itself.  The driver issues a protocol level prepare (basically equivalent to a PREPARE statement) whenever you use a PreparedStatement.  Unnamed prepared statements are an internal mechanism that is used to execute a statement with parameters without "keeping it around" like a general prepare does.  There is only ever 1 unnamed p

[2015-01-05 17:44] slorion commented on #117
Sorry to hijack this thread, but since you are discussing the prepared statement cache, would you mind considering making it possible to disable it altogether via the connection string parameter `?prepareThreshold=0` ? This would allow pgjdbc-ng to work with PgBouncer in transaction pooling mode as explained here: http://engineering.clever-cloud.com/java/2013/05/27/pgjdbc-now-pgbouncer-compliant.h

[2015-01-10 18:07] #87 closed, assigned to nobody

[2015-01-10 18:11] kdubb commented on #87
If you are not already the preparedStatementCacheSize=0 request should be formalized into an enhancement for disabling the cache

[2015-01-10 18:18] slorion commented on #87
Sure, will do that right away. I also mentioned it here: https://github.com/impossibl/pgjdbc-ng/issues/117#issuecomment-68745336

[2015-01-10 18:25] slorion opened #127 "Allow disabling prepared statement cache with prepareThreshold=0"
Please consider making it possible to disable the prepared statement cache via the connection string parameter `?prepareThreshold=0`. This would allow pgjdbc-ng to work with PgBouncer in transaction pooling mode as explained here: http://engineering.clever-cloud.com/java/2013/05/27/pgjdbc-now-pgbouncer-compliant.html. Some more background: http://www.depesz.com/2012/12/02/what-is-the-point-of-boun

[2015-01-11 14:06] Redeeman opened #128 ""LOCK TABLE t IN EXCLUSIVE MODE" broken"
when attempting to lock, i get this an exception, I have tested with official pg driver and it works.

[code]

autocommit mode set to false

details:
                    PGConnectionPoolDataSource dataSource = new PGConnectionPoolDataSource();
                    dataSource.setDatabaseName( props.getProperty( "db.main.name" ) );
                    dataSource.setServerName( props.getProperty( "db.

[2015-01-14 22:41] eklipse2k8 opened #129 "WARNING: cleaning up leaked connection"
I am getting a leaked connection warning overtime Hikari tries to clean up idle connections.

[code]

[2015-01-21 19:35] frkline commented on #129
Had the same issue. Disabling the pgjdbc-ng housekeeper did the trick for me as per
https://groups.google.com/forum/#!msg/hikari-cp/zqgCOjzyd_k/hF9s5spz9GMJ

[2015-01-27 02:46] andreak opened #130 "How about a 0.5 release?"
The fixes in the parser to avoid SOE warrants it for me:-)

[2015-01-27 03:56] kdubb commented on #129
@brettwooldridge Are you under the belief that this is due to a bug in our Housekeeper?

[2015-01-27 03:57] kdubb commented on #130
It seems it's about time. I'd love to nail down a regular schedule for point releases but we are so busy with an impending launch it's been very hard.

[2015-01-27 04:37] brettwooldridge commented on #129
@kdubb I'm not sure this is a bug in the pgjdbc-ng driver.  Obviously a connection pool tends to keep connections open for quite some time, so it could just be that the concept of "leak detection" at the driver level is inherently incompatible with use within a pool.  If that is the case, disabling the housekeeper seems like an appropriate solution.

One thing that does trouble me a bit is that th

[2015-01-27 04:45] kdubb commented on #129
Ok. I think I can clear up the discrepancy here.  The log message should be amended to read "Cleaning up leaked connection (stack trace of allocation follows)". The stack trace is the point of allocation not the point of "leaking".

Also, the housekeeper runs purely off of Java references.  It's warning you that all of an object's references have fell completely out of scope and is now being clean

[2015-01-27 04:58] brettwooldridge commented on #129
If that is the case, it would seem to point to an issue with the pool.  I will add some additional debug log messages in HikariCP, but it would also be extremely useful if pgjdbc-ng can include the Connection.toString() of the leaked Connection in it's log message.  In that way, hopefully matches can be made between the HikariCP logs and the pgjdbc-ng logs.

If it is _not_ an issue on the HikariCP

[2015-01-27 06:00] brettwooldridge commented on #129
@kdubb looking that the ThreadedHousekeeper, I see that the [remove()](https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/jdbc/ThreadedHousekeeper.java#L249) method removes the tracked connection from the `cleanupReferences` hash set, but the phantom reference is still going to be [dequeued](https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com

[2015-01-27 06:34] kdubb commented on #129
@brettwooldridge When working properly, for `close` to be called there must be a hard reference to the connection and inside the call to `close` the `HousekeeperReference` is removed from `cleanupReferences`.  Once the `HousekeeperReference` loses all of its references, the JVM can no longer enqueue it; notice that nowhere in the code itself does any `HousekeeperReference` get added to the queue a

[2015-01-27 15:05] brettwooldridge commented on #129
@eklipse2k8 I have been doing some testing with HikariCP 2.3.1 + pgjdbc-ng (0.5-SNAPSHOT) and I have been unable to reproduce this exception.  Could you try with the latest versions of both libraries and let me know if you still see this issue?

[2015-01-27 18:49] eklipse2k8 commented on #129
@brettwooldridge sure, let me give it a try. The exception doesn't happen consistently, so it might be hard to reproduce in a short window.

[2015-02-05 22:22] Redeeman opened #131 "broken inserting of interval from string"
It appears inserting intervals like this:
try( PreparedStatement ps = conn.prepareStatement( "INSERT INTO urls_loads (url_id, loadtime) VALUES(?, ?::interval)" ) ) {
    ps.setInt( 1, utm.id );
    long touse = diff/1000;
    ps.setString( 2, "'" + touse + " microseconds'" );
    ps.executeUpdate();
}

loadtime column is of type interval, and printing out touse using system.out.println gives somet

[2015-02-10 10:43] anandnalya opened #132 "UDTs in batch insert"
Hi,

I'm trying to batch insert data using this version 0.4 of this driver. I'm able to insert records one at a time but when doing batch insert using the JDBC batch api, I'm getting the following exception:

Following is the code snippet I'm using:

[code]

Am I doing something wrong here? On debugging a bit, I found that when not using the batch API, excuteUpdate method call PGPreparedStatement#

[2015-02-19 17:33] ousema2003 opened #133 "Create Connection Pool"
I need create connection pool with max connection ...

which class can i use fo this :
com.impossibl.postgres.jdbc.PGDataSource
or
com.impossibl.postgres.jdbc.PGConnectionPoolDataSource

and how to set the max connection property

....

knowing that i tried the both but i can't found method to set the pool size .

[2015-02-26 08:07] brettwooldridge commented on #133
The PGConnectionPoolDataSource is meant to be used by an application container, not by a consumer directly.  It is not itself a connection pool.  You need a separate connection pool like HikariCP or Tomcat DBCP.

[2015-02-26 08:07] #133 closed, assigned to nobody

[2015-02-26 11:30] ousema2003 commented on #133
could you please send me an example how to combine : pgjdbc-ng with hikariCP

[2015-02-26 11:31] ousema2003 commented on #133
also i need locate hikaryCP jar file ..

[2015-02-26 13:42] brettwooldridge commented on #133
See documentation on the [HikariCP](https://github.com/brettwooldridge/HikariCP) project page.

[2015-02-26 15:22] ousema2003 commented on #133
i get a look at HikariCP link / doc but canno't locate any java library or jar file ...

could you please help me ...

[2015-02-26 19:55] andreak commented on #130
Ping......

[2015-02-27 15:06] trygvis commented on #130
+1

Is there anything I can help with to get a release out the door?

[2015-02-27 15:12] The-Alchemist opened #134 "broken link to "Latest Javadoc" on homepage"
Looks like {{apidocs/0.3}} needs to be published on the gh-pages branch.

[2015-03-07 17:39] ksmigrod opened #135 "Intervals are locale dependant (and fail unit tests)."
I work on workstation with Polish locale

[code]

There is a peculiarity in decimal format. Polish locale specifies comma (,) as decimal separator, and dot (.) as thousands separator.

Two unit tests fail with the following errors:

CodecTest

[code]

IntervalTest

[code]

As far as I understand the code, the problem is in com.impossibl.postgres.api.data.Interval class, which uses Double.parseDoub

[2015-03-16 07:25] ringerc opened #136 "COPY support"
(I'm documenting features present in http://github.com/pgjdbc/pgjdc and not in jdbc-ng as part of possible work on enhancing -ng to be a full replacement):

PgJDBC offers a CopyManager API for streaming `COPY ... TO STDOUT` and `COPY ... TO STDIN`. This greatly facilitates bulk-import and bulk-export.

[2015-03-16 07:28] kdubb commented on #136
I looked into this when I was implementing the driver originally.  The reason I dropped it from my list of requirements was because I was having trouble coming up with a use case in the actual driver.

I use this feature constantly in psql.  Just never needed it from the Java environment.

Edit...
Upon reflecting after posting this I realized it might sound like I was questioning its usefulness an

[2015-03-16 10:21] yazun commented on #136
We use this feature (in PgJDBC) all the time it in a distributed environment (>400 cores) to ingest and export the data and lack of this feature is a stopper for us to even try this driver. Otherwise we are based on openjpa for big part of the standard processing.

[2015-03-18 16:28] Tostino commented on #130
Also interested in this.

[2015-03-23 17:15] vanecanhete opened #138 "Could not initialize class com.impossibl.postgres.system.procs.Procs - pgjdbc-ng-0.4"
# I configured the jdbc as a jboss module:

[code]

As I did with the 0.3 version.
The jboss load the module without problems...
# But when I try to get a connection from my application I get the next error:

14:12:01,761 INFO  [py.com.personal.is.provisioning.postgres.rest.provisionamiento.ProvisionamientoController](http-/127.0.0.1:8080-1) Creando GeneralRequest
14:12:01,761 INFO  [py.com.person

[2015-03-23 17:30] jesperpedersen commented on #138
I'll take a look at this - thanks for the report

[2015-03-23 17:45] jesperpedersen commented on #138
Try https://github.com/impossibl/pgjdbc-ng/commit/7dad1111f7f5e2734ac4277c384824fc0cf9e1fe - latest develop

[2015-03-23 20:26] vanecanhete opened #140 "Connection is not released - Lock owned during cleanup - Using Java Callables"
## pgjdbc-ng 0.3
## Using Threads.

I'm using threads because i need to call 3 store procedures at the same time. I cannot wait to do it sequentially.
I'm using threads because i need to call 3 store procedures at the same time. I cannot wait the process and do it sequentially because it will cost to much time.
## How I got my connection?

The param jndi is parametrized and is correct.

[code]

Th

[2015-03-23 20:29] jesperpedersen commented on #140
Post this in the WildFly user forum - or contact your EAP support channel

[2015-03-23 20:34] #140 closed, assigned to nobody

[2015-03-23 20:35] kdubb commented on #140
This seems to imply that your PR fixed #138. No?

[2015-03-23 20:37] jesperpedersen commented on #140
No, this is different - "Lock during cleanup" is a validation step inside WildFly / EAP. But Red Hat support can help

[2015-03-23 20:38] kdubb commented on #140
Yes but they couldn't get a connection before. Here a connection seems to have been made correctly.

[2015-03-23 20:40] jesperpedersen commented on #140
There is a race condition somewhere in the app code, which may relate to a transaction boundary.

And 'develop' branch is needed for sure; I'll post more info once I'm done ;)

[2015-03-23 20:47] vanecanhete commented on #140
This problem encouraged me to  update mi jdbc version to 0.4 but I had the error #138.
Then I went back to pgjdbc-ng 0.3 version... where I had and still have this issue..

The connection is correctly obtained if i don't use the threads. But somehow this warning is impeding the connection to be used for another thread.. Even minutes after the first call is over...

[2015-03-23 22:27] vanecanhete commented on #140
I get this exceptions too:
18:23:30,243 WARNING [com.impossibl.postgres.jdbc.ThreadedHousekeeper](PG-JDBC Housekeeper) cleaning up leaked connection
  at org.jboss.jca.adapters.jdbc.local.LocalManagedConnectionFactory.getLocalManagedConnection(LocalManagedConnectionFactory.java:296)
  at org.jboss.jca.adapters.jdbc.local.LocalManagedConnectionFactory.createManagedConnection(LocalManagedConnectionF

[2015-03-24 15:39] vanecanhete commented on #138
I still having the problem using that commit @jesperpedersen. Any other idea? :(
Caused by: javax.resource.ResourceException: Could not create connection
    at org.jboss.jca.adapters.jdbc.local.LocalManagedConnectionFactory.getLocalManagedConnection(LocalManagedConnectionFactory.java:282) [ironjacamar-jdbc-1.0.17.Final-redhat-1.jar:1.0.17.Final-redhat-1]
    at org.jboss.jca.adapters.jdbc.local.L

[2015-03-25 14:40] jesperpedersen commented on #138
@vanecan Try with a newer version of EAP, or WildFly. EAP 6.1.0 is quite old

[2015-04-03 13:06] kofemann opened #146 "idle in transaction"
I have tried to use pgjdbc-ng driver as it aims to be better than the original JDBC driver from postgres.

I can see in did 5-10% performance increase with  pgjdbc-ng  - it really re-uses prepared statements, which is clear visible in postgres log: only bind and execute, no parse.

Nevertheless,  application get stack after couple of minutes. In the postgres I can see a query which is has a state

[2015-04-06 18:19] jesperpedersen commented on #146
Do you have a stack traces of the stuck threads ?
Do you have a test case that replicates this issue ?
Does the issue happen if PrepareStatement cache is disabled ?

[2015-04-06 22:11] csdillard opened #148 "setAutoCommit(true) + setNetworkTimeout(n) causes hang on PostgreSQL shutdown"
When network timeout is set to a positive value and auto commit is `false`, the network timeout never seems to get triggered.

A simple test case goes like this:  Make a new `PGDataSource`.  Set its timeout with `setNetworkTimeout(1000)` (for example).  Get a `Connection` from it and call its `setAutoCommit(false)`.  Then loop forever, doing `SELECT 1`, `commit()`, then sleep.  While it's looping,

[2015-04-07 08:27] kofemann commented on #146
Here is the stacktrace:

03 Apr 2015 10:04:31 (System) [] Thread: OncRpcSvc Worker(20) [AD-](5) TIMED_WAITING
03 Apr 2015 10:04:31 (System) []     java.lang.Object.wait(Native Method)
03 Apr 2015 10:04:31 (System) []     com.impossibl.postgres.protocol.v30.CommandImpl.waitFor(CommandImpl.java:119)
03 Apr 2015 10:04:31 (System) []     com.impossibl.postgres.protocol.v30.QueryCommandImpl.execute(Que

[2015-04-07 14:42] jesperpedersen commented on #146
I have merged support for findbugs, so maybe

[code]

can help you track it down, and develop a test case for it

[2015-04-07 15:19] jesperpedersen commented on #148
I have added a test case: https://github.com/impossibl/pgjdbc-ng/commit/9a7341a2ee8f6cc1b07fd7b2347fdfbae74c7eee that you can modify

[2015-04-07 17:52] csdillard commented on #148
Thanks for adding that test case.  Unfortunately (for me), I can't make it break!

So far I can only get bad behavior when PostgreSQL is shut down entirely.  I don't know what this means yet, but I'm going to at least re-title this issue to reflect the difference.  (And I'm going to keep trying to make it break with a simple test case.)

Also: for the record, I'm testing against PostgreSQL 9.3.6 i

[2015-04-09 12:45] jesperpedersen commented on #148
Did the latest changes solve all your scenarios ?

[2015-04-09 15:57] csdillard commented on #148
Yes, that fixed it!  Thanks!

[2015-04-09 15:57] #148 closed, assigned to nobody

[2015-04-16 07:35] s17t commented on #130
+1

[2015-04-16 07:39] kdubb commented on #130
Many apologies to all!

Our new company has been working up to releasing our new product and I have had no time to participate with pgjdbc-ng.

Fortunately the other participants have been making great enhancements!

@jesperpedersen or @brettwooldridge, if one or both of you gentlemen work to tag something as 0.5 I'm sure I can manage to download it, run the tests and bounce it to maven central.

[2015-04-16 12:18] jesperpedersen commented on #130
@kdubb I can do it once I have my last work branch merged - hopefully this week or next.

In the mean time people should test our current 'develop' branch, and report any issues found

[2015-04-16 17:47] kdubb commented on #130
Yes this is true about just testing 'develop'.

Our projects internally use maven for pgjdbc-ng.  Maybe that's the pain point in general for most.  I know I always sigh when I have to install stuff locally (or into our company wide maven repo) rather than just pull from central.

That being said...

[code]

Isn't that bad either

[2015-04-17 00:49] Redeeman opened #159 "hang on batch writable CTE upsert-ish"
Hello.

Attempting to do a batch operation with following query:
WITH
toensure (name, comment) AS (
    VALUES ( 'tedst', 'hesdfst' )
),
existing AS (
    SELECT id FROM datasource WHERE name IN(SELECT name FROM toensure)
),
inserted AS (
    INSERT INTO datasource (name, comment) SELECT \* FROM toensure WHERE NOT EXISTS(SELECT 1 FROM existing) RETURNING id
)
SELECT id FROM existing
UNION ALL
SELE

[2015-04-17 00:59] kdubb commented on #159
addBatch doesn't do much but add values to a list. So it makes sense that you don't see anything until executeBatch is executed.

[2015-04-17 01:07] Redeeman commented on #159
perhaps i expressed myself unclear, executeBatch() hangs, and never actually finishes, while the postgres process sits at "idle in transaction"

edit: ah, yeah, i get you now :) you are right

[2015-04-17 12:00] jesperpedersen commented on #159
Could you provide a thread dump of the hang ?

Similar issue reported in #146 but we need more information to get further, or a test case that reproduces the issue in our test suite

[2015-04-17 16:49] Redeeman commented on #159
im now a little bit in doubt as to whether it actually hangs or not.

I have around 30ms roundtrip to the actual database server, and since my dataset is around 50k batches, if it does a roundtrip for each, it could explain why it would appear to "hang".

will my query actually be transmitting the data in "one go" to the server, or will it issue one roundtrip/query pr batch? because if that indeed

[2015-04-17 17:02] kdubb commented on #159
Yes for "roundtrip".  The addBatch/executeBatch conceptually does 1 bind + N executes with parameters.

In practice Java has no limitations on the types of arguments each member of the batch can have. Which means that we essentially have to "bind only when necessary". If you use the same exact types for parameters in each member of the batch, you'll get 1 bind + N executes.  This should provide a

[2015-04-17 17:05] Redeeman commented on #159
all types were the same, all batches were in loop with exact types and such, and i did the add/executeBatch on the preparedstatement with the query.

But this would explain the results, i guess it was not hanging after all then :) Sorry to waste your time.

Wouldnt it be possible to send all the batches in 1 go though?

[2015-04-17 18:24] kdubb commented on #159
@Redeeman That's not really how Postgres works.  Without changes to the server sending a giant bunch of binary batches won't work.

The original driver uses a different method.  It concatenates query text along with their parameters and send the batch.  So in your case you'd be sending 50k queries as one SQL statement + 50k batches of parameters.

Neither of these is an ideal solution. In the end

[2015-04-17 20:43] kdubb commented on #159
@Redeeman To clarify about COPY.  You could COPY all your parameters to a temp table and execute a single query pretty easily and it would be way faster than either option the drivers can do currently.

@jesperpedersen @brettwooldridge Guys any thoughts on making our batch update work this way behind the scenes?

[2015-04-17 23:14] Redeeman commented on #159
Thanks, though i opted for a more "crazy" solution.

the query remains almost the same, but instead of having fixed assigned values in the "toensure" CTE, i unnest several arrays that in total forms the complete rowset to put in :)

i expect it uses lots more ram, but I can live with that :)

[2015-04-23 17:21] dpratt commented on #130
I've been doing the same - I forked to our local Stash instance, did a slight patch to the POM so it'd publish to our Artifactory server, and I have our CI build and deploy whenever there's an update.

[2015-04-27 23:22] mistahmikey opened #161 "Issue using 0.5-devel with JBoss Developer Studio (JBS) with JPA/Data Explorer"
I am able to create a "connection" using your driver, but for some reason, upon connecting to the database, it will not pull down the Postgres catalog, so JBS cannot do any build-time JPA annotation validation.  When I use the driver from Postgres to make the connection, a "Catalog" folder appears under the connection folder, and it contains all the schemas, etc., and the JPA features in JBS are h

[2015-04-29 17:48] jesperpedersen commented on #161
We need to know which JDBC methods are being called, and what SQL that is sent to the database to get closer to knowing what this is about.

You can do a similar test with the official driver, and then compare. That could give an idea.

Thanks

[2015-04-29 17:49] jesperpedersen commented on #134
Version 0.5 has been released

[2015-04-29 17:49] #134 closed, assigned to nobody

[2015-04-29 17:49] jesperpedersen commented on #130
Released

[2015-04-29 17:49] #130 closed, assigned to nobody

[2015-04-29 17:49] jesperpedersen commented on #127
Supported in version 0.5

[2015-04-29 17:49] #127 closed, assigned to nobody

[2015-04-29 17:50] jesperpedersen commented on #120
Version 0.5 has been released, and web site has been updated

[2015-04-29 17:50] #120 closed, assigned to nobody

[2015-04-29 17:51] jesperpedersen commented on #77
Version 0.5 has been released

[2015-04-29 17:51] #77 closed, assigned to nobody

[2015-04-29 18:27] jesperpedersen commented on #138
Sample configuration for WildFly has been added here: https://github.com/impossibl/pgjdbc-ng/wiki/WildFly

[2015-04-29 18:27] #138 closed, assigned to nobody

[2015-04-29 18:47] andreak commented on #130
Any idea when this will be available on Maven-central?

[2015-04-29 18:48] kdubb commented on #130
A few hours.  I am building & uploading now.

[2015-04-29 18:49] andreak commented on #130
Sweet, thanks!

[2015-04-29 20:20] mistahmikey commented on #161
Afraid I am not exactly sure how to capture the information you are requesting.  How do I see what SQL JBS is using to interact with the database?  Is there some sort of "spy"  monitor in postgres I can run?

[2015-04-29 20:33] mistahmikey opened #162 "Using the async features of the driver"
I finally was able to get this working a bit, but for some reason, after receiving a few notifications, your event loop stops receiving them altogether.

In Postgresql, I have set up a trigger on a table to call pg_notify whenever rows are inserted into the table.  That appears to be working fine, and as I said, I do see the driver respond to some of the notifications.

I am registering with the d

[2015-04-29 20:45] jesperpedersen commented on #162
If you are inside a transaction you will get the access to the same physical connection as the EM. Then you can use https://github.com/ironjacamar/ironjacamar/blob/1.2/adapters/src/main/java/org/jboss/jca/adapters/jdbc/WrappedConnection.java#L1571

You can enable "spy" on the datasource, and see the SQL performed. Or use another framework like p6spy. Currently there is no SQL level logging in the

[2015-04-29 20:53] kdubb commented on #162
Is this a connection pool? It sounds like it would be.  If that's the case each connection would need to invoke LISTEN.  This might explain why you get a few then none.

[2015-04-29 20:57] jesperpedersen commented on #162
Yup, http://www.ironjacamar.org/doc/schema/datasources_1_3.xsd

A hack could be to use a non-JTA datasource (jta="false"), then keep the connection open and do LISTEN (it is returned to the pool upon close()), and feed the data into a connection that is used in a JTA context (jta="true").

[2015-04-29 21:00] kdubb commented on #162
That was going to be my next suggestion; a dedicated LISTEN connection sourced from the same datasource.

[2015-04-29 21:01] jesperpedersen commented on #162
Different datasource definition pointing to the same database, yes

[2015-04-29 21:04] jesperpedersen commented on #161
Likely same setup as #162, so see my "spy" suggestion there

[2015-04-30 00:38] mistahmikey commented on #162
Can you elaborate a bit more on how to enable "spy" on the datasource?  I am a bit of a neophyte in the webapp arena.

Here is how I am getting the connection.  I have a SessionScope bean into which I inject an EntityManager that is produced by an ApplicationScope bean.

When I first request the JSF page I wish to display, the Session bean gets created by Wildfly. In the Session bean, I have a @Po

[2015-04-30 08:17] kdubb commented on #130
After a bit of arguing with maven release plugin... 0.5 has been deployed to central.

[2015-04-30 08:30] andreak commented on #130
På torsdag 30. april 2015 kl. 10:17:39, skrev Kevin Wooten <
notifications@github.com mailto:notifications@github.com>: After a bit of
arguing with maven release plugin... 0.5 has been deployed to central.

 Coolio!   -- Andreas Joseph Krogh CTO / Partner - Visena AS Mobile: +47 909
56 963 andreas@visena.com mailto:andreas@visena.com www.visena.com
https://www.visena.com  https://www.visena.com  

[2015-05-04 05:21] vasily-kartashov opened #163 "Support for JSONB type"
Do you think you could add support for JSONB type on par with JSON?

[2015-05-04 13:16] jesperpedersen commented on #163
Definitely, we should have support for JSONB.

The integration should be something that maps nicely into the javax.json API.

Feel free to submit a patch for it.

[2015-05-04 20:00] davecramer commented on #163
I think the challenge here is that the internal representation of JSONB is
very unique to postgres.

Dave Cramer

On 4 May 2015 at 09:16, Jesper Pedersen notifications@github.com wrote:

[2015-05-04 20:05] jesperpedersen commented on #163
I didn't say it was going to be easy :)

Fallback would be to use the functions internally to get it into a more agreeable shape...

[2015-05-05 03:46] kdubb commented on #163
http://git.postgresql.org/gitweb/?p=postgresql.git;a=blob_plain;f=src/backend/utils/adt/jsonb.c;hb=REL9_4_STABLE

I use the PG C source as a guide when implementing binary types.  This code seems to indicate JSONB is just a string with a version number.  This seems insane since that's what JSON is.  I can't see how I'm wrong since pg_type confirms these are the linked functions. Anybody know diffe

[2015-05-05 11:06] davecramer commented on #163
The source seems to suggest that there is no binary send and receive. Which
makes sense if the internal representation is not anybody's standard

Dave Cramer

On 4 May 2015 at 23:46, Kevin Wooten notifications@github.com wrote:

[2015-05-12 10:56] mistahmikey commented on #162
FYI, I did create a JDBC-level connection to the database to guarantee a single, permanent connection to the database would exist during my session for use with your notification scheme.  The behaviour, unfortunately, is the same.

At that point, I decided to drop back and use the Postgresql 9.4 JDBC driver and use their polled implementation.  This required a slight modification of my code (I bas

[2015-05-13 22:01] Namphibian commented on #163
Hi

We just started moving a legacy application to PostgreSQL and the developer is a bit bleeding edge so he went and implemented and upgraded all JSON types to JSONB datatypes all over the place. Initially I thought the official JDBC driver would handle these datatypes transparently. After realizing that the driver is not that up to date I went and started implementing my own Custom types for Hib

[2015-05-13 23:42] davecramer commented on #163
Pretty sure there is no binary type being output for JSONB as it is
internal to the server.

Dave Cramer

On 13 May 2015 at 18:01, Neil notifications@github.com wrote:

[2015-05-15 13:29] jesperpedersen commented on #162
@mistahmikey A failing test case would be great

[2015-05-22 08:19] tomdearman commented on #129
Did anyone get to the bottom of this issue.  We are seeing the above connection leak message and prepared statement leak message.  We are using hibernate and it is pretty clear that hibernate does call the statement close method so I can't see how the statement is leaked. We are seeing this pretty regularly so could run a version with extra debug is it would help resolve the issue.

[2015-05-25 03:13] andreak opened #166 "NegativeArraySizeException"
Using 0.5 driver with PG-9.3.5

When creating a PreparedStatement with LOTS of placeholders I get NegativeArraySizeException:

[code]

paramCount in ProtocolImpl.receiveParameterDescriptions:

[code]

returns -10198

This makes PGPreparedStatement.parseIfNeeded throw ClassCastException on line 217 here:

[code]

[2015-05-26 12:47] jesperpedersen commented on #129
@tomdearman Are you seeing this with 0.6 ? And what other frameworks are you using w/ version info

[2015-05-26 12:50] jesperpedersen commented on #166
@andreak Could you retry with 0.6 ?

[2015-05-26 13:10] jesperpedersen commented on #166
Ignore --- more coffee...

[2015-05-26 13:21] tomdearman commented on #129
We are running pgjdbc-ng 0.5 (there dont seem to have been any commits for 0.6 other than version), hikari 2.3.2 and:
        <version.spring>4.1.5.RELEASE</version.spring>
        <version.spring.boot>1.2.3.RELEASE</version.spring.boot>
        <version.hibernate>4.3.8.Final</version.hibernate>
        <version.infinispan>6.0.2.Final</version.infinispan>
and a lot of other frameworks that are not

[2015-05-26 13:22] jesperpedersen commented on #129
Yeah, ignore my 0.6 comment - I was looking at my tree :)

[2015-05-29 18:21] jesperpedersen commented on #166
@andreak Do you have a test case for this ? Or the JDBC / SQL leading to this ?

[2015-05-30 09:13] mgaido91 opened #168 "SSL connection problem"
Hello,

I'm facing big problem while trying to connect to a DB using SSL and your library...
I've tried many connection strings, but none works.
Do you know what can I do? In fact, I'm getting this exception:

`java.sql.SQLException: Connection Error: java.lang.IllegalStateException
 at com.impossibl.postgres.jdbc.ConnectionUtil.createConnection(ConnectionUtil.java:189)
 at com.impossibl.postgres.

[2015-05-30 23:04] harbulot commented on #168
I can also reproduce the problem when getting a connection with SSL mode `Require` fails:

[code]

This produces this exception (most of the time):

[code]

This is caused by the call to [`syncUninterruptibly`](https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/protocol/v30/ProtocolFactoryImpl.java#L132):

[code]

This is almost certainly due to a race conditi

[2015-05-31 13:15] harbulot opened #169 "Support for connections using Unix Domain Sockets"
I'd like to suggest adding support for connecting to a server via a unix domain socket. This is possible thanks to the recent addition of `DomainSocketChannel` to Netty.
I've managed to change the current `pgjdbc-ng` codebase to get it to work, as shown in this branch: https://github.com/harbulot/pgjdbc-ng/tree/unixsocket_poc
This is just a proof of concept, so traditional TCP connections won't wo

[2015-05-31 13:17] harbulot commented on #168
I should add that I haven't been able to reproduce the problem when the client is running on a Linux machine, but I'm able to reproduce it regularly from a Windows machine. Both were running the latest Oracle Java 8 release.

[2015-05-31 15:25] mgaido91 commented on #168
I'm running the client from an Android emulator, thus it seems that only linux machines are supported...

[2015-05-31 16:31] kdubb commented on #168
@normanmaurer  is @harbulot issue/solution a Netty problem or are we initializing it incorrectly?

[2015-06-01 12:11] andreak commented on #166
Sure:

[code]

results in

[code]

[2015-06-04 17:54] jesperpedersen commented on #169
Thanks for working on this !

Yes, ProtocolShared should be a singleton for each transport type, and I welcome a Unix Domain Socket option. I used a hack for my OIO tree - https://github.com/jesperpedersen/pgjdbc-ng/commit/782b6b3f789adfc878da8bd00783d5e307e4d8c4

I think it would be enough to expose a property - like unixsocketdir - maybe just 'uds' for the Properties map, and 'UnixDomainSocket'

[2015-06-04 18:03] jesperpedersen commented on #168
@harbulot Did you report this to the Netty project ?

[2015-06-04 18:11] normanmaurer commented on #168
Let me check if there is a bug in netty

[2015-06-04 18:58] normanmaurer commented on #168
@jesperpedersen @harbulot @kdubb it is a netty bug... Let me fix it there

[2015-06-04 19:02] jesperpedersen commented on #168
@normanmaurer Thanks !

[2015-06-06 08:46] frode-carlsen commented on #98
What's the current status on pgjdbc-ng postgis support?
Happy to help out if need be.

[2015-06-08 07:18] normanmaurer commented on #168
Fixed https://github.com/netty/netty/pull/3868. Will be part of netty 4.0.29.Final

[2015-06-08 11:43] jesperpedersen commented on #98
@frode-carlsen I don't think anybody is working on that, so feel free to give it a shoot

[2015-06-08 17:20] frode-carlsen commented on #98
I'll give it a shot.

From your previous last comment , I've set it up as a separate maven artifact with a dependency on bot pgjdbc-ng and org.postgis.  I take it the idea was to implement SimpleProcProviders and add them using the service loader mechanism in the jar?

btw:  think I found a couple of issues with the test set:
1. following tests are sensitive to the EOL setting on the OS:
com.impos

[2015-06-08 17:37] jesperpedersen commented on #98
@frode-carlsen Ok, better submit a PR for the test suite failures on your machine first then. Yes, a service mechanism must be used for this, as the "core" JDBC driver shouldn't require Postgist. Feel free to submit a PR with your initial work in order to get feedback on the approach. You can always add commits, and squash in the end :)

[2015-06-09 19:09] erikburgess opened #175 "Hang when loading attributes in BasicContext"
Creating a connection is hanging when loading the attributes in BasicContext. The request is not timing out even though the network timeout is set on the PGDataSource. Running in a debugger and setting the network timeout in the CommandImpl causes the below exception when a timeout occurrs.

[code]

[2015-06-09 19:12] jesperpedersen commented on #175
pgjdbc-ng version ?
PostgreSQL version ?
Access with psql works ?

[2015-06-09 19:16] erikburgess commented on #175
Forgot to include that

pgjdbc-ng version is 0.5
PostgreSQL version 9.4.2
Yes access with psql works.

Also seeing the same issue in pgjdbc-ng 0.3 I updated the version while debugging.

[2015-06-09 19:19] jesperpedersen commented on #175
-complete.jar or linked Netty (and version if so) ?
And connection configuration...

[2015-06-09 19:23] kdubb commented on #175
I would venture to guess that the JVM is configured to use a different network interface than what psql is using.   It's quite clearly saying "network timeout" and, well, we know the driver connects extremely reliably; as I've never seen or heard of an issue "connecting".

[2015-06-09 19:25] erikburgess commented on #175
I am going to say the complete jar it is downloaded form maven.org

The connection configuration is
    this.dataSource = new PGDataSource();
    this.dataSource.setHost("localhost");
    this.dataSource.setPort(5432);
    this.dataSource.setDatabase("dev");
    this.dataSource.setUser("test");
    this.dataSource.setPassword("test");

Also I was not having any issues yesterday the only thing that

[2015-06-09 19:27] kdubb commented on #175
@erikburgess This has to be a network configuration issue.  OS X (which I use as well) likes to fire up all kinds of IPv6 interfaces.  If you updated to 10.11 beta I know they are driving IPv6 hard.

I happen to be at WWDC at this moment lol

[2015-06-09 19:32] erikburgess commented on #175
@kdubb Yes changing the host to the loopback address fixes the connection issue.

Although there still seems to be a problem with the timeout since the connection hangs when the issue is seen and only times out if I set the network timeout from the debugger.

[2015-06-09 19:38] kdubb commented on #175
@erikburgess I would venture to guess PG is listening on 127.0.0.1 (e.g. IPv4) only.  OS X is starting to default to IPv6 so your localhost is mapping to whatever that loopback address is.  You could also change PG/s config to listen on both IPv6 & IPv4 and see if that also fixes the problem.

As for the the "hang", default timeouts are like 90 or 120 seconds (who knows why).  So you may just not

[2015-06-09 20:15] erikburgess commented on #175
@kdubb The debugger is showing the network timeout set to 9223372036854775807

[2015-06-09 20:19] jesperpedersen commented on #175
@erikburgess The timeout is set here - https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/jdbc/PGConnectionImpl.java#L187 so you will have to debug from there

[2015-06-09 20:21] kdubb commented on #175
Our default is 0.  The goal of that was to kick in the system default.  Somehow your timeout is getting set to forever.  Would be nice to know how that's happening.

[2015-06-10 21:15] frode-carlsen commented on #98
@jesperpedersen I've set up a basic provider for postgis geometry datatypes and codec tests here:
https://github.com/frode-carlsen/pgjdbc-ng-postgis

Care to take a look and see if the structure agrees with you?  There are some datatypes that aren't done (bbox, etc.), but initial geometry codec is there.  It relies on a PR I just submitted with a couple of tiny tweaks to pgjdbc-ng.

It would be ni

[2015-06-11 04:53] brettwooldridge commented on #98
@frode-carlsen @jesperpedersen I don't see any reason why postgis support should not be a "part of" pgjdbc-ng, just as it is with the official PostgreSQL driver.  The only requirement that the official driver imposes is that the user needs the postgis-jdbc JAR file.  If the implementation is reflection-based then there is only a compile-time dependency, but no runtime-dependency is imposed on non-

[2015-06-11 06:29] frode-carlsen commented on #98
@brettwooldridge do you mean to include it as part of the core jar, with reflection based check to load the codec?  I'm happy to do that.
Today it's a service provider that loads the types, in this case it would need to add support to check to see if the type should be added (using a factory approach), or swallow the exception generated if class initialization exception.

[2015-06-11 08:41] brettwooldridge commented on #98
@frode-carlsen Your `com.impossibl.postgres.system.procs.ProcProvider` file would be added to the pgjdbc-ng `src/main/resources/META-INF/services` directory, but renamed to something like `com.impossibl.postgres.postgis.ProcProvider`.

Maybe @jesperpedersen can jump in here with his thoughts on runtime dependency, but looking at the implementation of `Geometrys`, as far as I can tell, no runtime d

[2015-06-11 09:20] frode-carlsen commented on #98
@brettwooldridge can do.  Unfortunately the latest postgis-jdbc versions (2.1.7) isn't available in the maven repo.  I think it'd be a good thing to compile against a recent version (although they seem largely compatible), but the only way I know to get around that would be to add the latest jar as a system scope dependency for compilation and tests.  The user will still need to set it up at runti

[2015-06-11 16:59] jesperpedersen commented on #98
@frode-carlsen If PostGis requires org.postgresql classes that needs to sorted first in the PostGis project. I see the lack of a Maven deployment as a blocker too. The rest of #178 is minor stuff that can be quickly resolved

[2015-06-12 11:50] miere commented on #132
I'm using the 0.5 version and I'm facing the same problem as described by @anandnalya.
I've posted the bellow code that simulates the error I'm facing.

[code]

[code]

[2015-06-12 12:23] jesperpedersen commented on #132
The NPE is clearly wrong, but could you debug it a bit more ? The code should at least throw a SQLException

[2015-06-12 19:11] miere commented on #132
@jesperpedersen thank you so much for your fast answer... But I kinda "solved" the problem.
Taking a closer look to the main methods of `PreparedStatement` I've noted that my ConnectionPool were prematurely closing my connection. Changing from C3P0 to Hikari solved the problem.

Once NPE isn't a meaningful enough, maybe pgjdbc-ng could throw a message that explicitly notify the developer that the

[2015-06-15 04:18] brentavery opened #179 "ALTER TEXT SEARCH CONFIGURATION results in parsing error"
Attempting to run the following sql -

[code]

results in an IOException

[code]

[2015-06-15 12:25] jesperpedersen commented on #132
Indeed, a missing `checkClosed` - fixed in https://github.com/impossibl/pgjdbc-ng/commit/ddb653e0034d112e6199f93de5dd4c35600c05ec

Thanks for the report !

[2015-06-15 12:25] #132 closed, assigned to nobody

[2015-06-16 15:27] mkurz commented on #78
+1

[2015-06-22 20:34] colinlieberman opened #183 "sql parsing error"
Hi there. With the 0.5 version of the driver, I get the following error using liquibase:

$ liquibase --url=jdbc:pgsql://localhost/mydb --changeLogFile=Changelog.xml --driver=com.impossibl.postgres.jdbc.PGDriver update
SEVERE 6/22/15 1:16 PM: liquibase: Changelog.xml: {redacted}: Change Set {redacted} failed.  Error: java.sql.SQLException: Error parsing SQL at position 896

[... lqb stack trace ..

[2015-06-26 12:02] jesperpedersen commented on #183
Is the pastebin the entire query sent ? I don't see 'sql' anywhere in it at least...

See if you can expand the SQLTextTests file with the expression that is failing, if it is passing with psql

[2015-06-26 13:29] colinlieberman commented on #183
Sorry for any confusion. Where I put " ( ... sql ...)" in the stack trace, that was a contraction of the full stack trace to separate the SQL in the lqb migration file from the trace itself. I was trying to make it easier to read.

Expanded the whole shebang looks like this, where the only change is the redaction of employer-specific stuff:

[code]

[2015-06-29 07:45] romastar opened #184 "UDTs mapping"
I have a question about UDTs mapping.

Is it possible to get support for searching mapped database objects to Java classes (Composite types, Domains etc) including namespaces? For example when I have few schemas in my database and I have possibility to add my UDTs with the same name in different namespaces I can't map this objects in my java code by String key. As result I can't find my mapped cla

[2015-06-29 08:30] jdebouil opened #185 "IndexOutOfBoundException is thrown when retrieving column names"
Using version 0.5, following exception is thrown :
java.lang.IndexOutOfBoundsException: Index: 45, Size: 45
    at java.util.ArrayList.rangeCheck(ArrayList.java:635) ~[na:1.7.0_51]
    at java.util.ArrayList.get(ArrayList.java:411) ~[na:1.7.0_51]
    at com.impossibl.postgres.types.CompositeType.getAttribute(CompositeType.java:87) ~[pgjdbc-ng-0.5.jar:na]
    at com.impossibl.postgres.jdbc.PGResult

[2015-06-29 12:12] jesperpedersen commented on #183
Should be fixed now. Thanks for the report

[2015-06-29 12:12] #183 closed, assigned to nobody

[2015-07-02 13:50] jesperpedersen opened #187 "Netty 4.0.29 regression"
Placeholder until I can figure out what is going on with these regressions going from Netty 4.0.28.

Entire test suite is failing with

[code]

Then report to upstream #netty (@trustin and @normanmaurer)

We need Netty 4.0.29+ due to https://github.com/netty/netty/commit/74c0f4ce1482cacc52e2a804db5358bab01e92cd

[2015-07-02 13:59] jesperpedersen commented on #184
Maybe try and expand `StructTest` with your use-cases that we can discuss from

[2015-07-02 14:01] jesperpedersen commented on #185
Do you have the SQL that triggered this ? And the Java code ? Does the query work using `psql` ?

The exception should of course be a SQLException instead at least...

[2015-07-03 14:38] guylabs opened #188 "Add support for CITEXT type"
Hi,

I wanted to try this driver but unfortunately the `CITEXT` type is not supported. This is the exception I get when querying the database with a `CITEXT` type field:

[code]

It would be nice when you could support the `CITEXT` type. It's nice that you took the opportunity to implement a new updated driver which supports the new features.

Thanks and regards,

Guy

[2015-07-03 16:48] jdebouil commented on #185
The exception is thrown when retrieving column names from metadata. No sql request is used.

[2015-07-06 18:36] jesperpedersen commented on #185
Yeah, I know. But, there were a SQL statement executed in order to get a ResultSet.

I have added a size violation check to `develop`, so go from there

[2015-07-06 18:39] jesperpedersen commented on #188
Thanks for the report.

This brings up an interesting discussion about what we should do about data types that we don't have a `Proc` implementation for. An option could be to add an option to do a `String` fallback. Question is what the default value should be for that though. There are pros/cons for both `false`/`true`.

That said, I would be ok with including `Proc` implementations for all data

[2015-07-06 18:41] kdubb commented on #188
citext should be supported?  It was just an alias on "Strings"

[2015-07-06 18:44] jesperpedersen commented on #188
I think you are thinking of `cstring` -- https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/system/procs/Strings.java#L54

`CITEXT` is an extension type.

[2015-07-06 18:46] kdubb commented on #188
No I was misremembering.  We tried using citext in the Impossibl server project (a now defunct project that gave rise to this driver).  I immediately went and added it to Strings.java and it had issues (I cannot remember what).  We also removed it from the server so I skipped it and went on my merry way.

[2015-07-06 18:47] kdubb commented on #188
Adding it back to Strings.java and seeing if there are still problems is step 1.  I cannot figure why it wouldn't "just work".

[2015-07-06 18:50] jesperpedersen commented on #188
Well, it is sort of related to the `jsonb` discussion too -- yes, they are `String`'s, but they should have a `java.sql.Types.OTHER` id in the end. But, we can take that discussion later

[2015-07-06 18:51] kdubb commented on #188
Case insensitive text should have Types.OTHER?  That seems incorrect.  jsonb I agree.

[2015-07-06 18:52] jesperpedersen commented on #188
No, not `CITEXT`, but `json` f.ex. in Strings.java

[2015-07-06 18:58] kdubb commented on #188
Yes that's why XML is it's own type, specifically to give it it's own type in PG and JDBC. JSON obviously needs the same.

[2015-07-09 15:37] jdebouil commented on #185
The SQL statement is :
select \* from  _tableName_ where 1=0

[2015-07-10 05:35] romastar commented on #184
Hi Jesper.
I has created test for my case. How I can add it or send it to you?
Thank you for help.

[2015-07-10 15:05] jesperpedersen commented on #184
@romastar Please, send your changes as a pull request

[2015-07-15 04:41] guylabs commented on #188
Hi,

are there any news on this issue or plans if you will support it? I could also help with the issue if you want to.

Thanks and regards,

Guy

[2015-07-15 12:05] jesperpedersen commented on #188
@guylabs Feel free to work on this - start by modifying Strings.java to include it, and see what happens

[2015-07-23 05:18] frkline opened #191 "Selector.select() returned prematurely 512 times in a row; rebuilding selector"
Saw this error message pop up once in our server-side logs over the last week:

[code]

Using 0.5 with https://github.com/brettwooldridge/HikariCP

[2015-07-23 05:21] kdubb commented on #191
What version are you using?

[2015-07-23 05:23] kdubb commented on #191
It's listed as "not a bug" in netty project. Are you using the versions of Linux/Java referenced here https://github.com/netty/netty/issues/2616 ?

[2015-07-23 05:37] frkline commented on #191
We're using 0.5 via Maven Central.

Kernel:

[code]

Java:

[code]

[2015-08-05 05:49] brcolow commented on #187
Any update on this? I am in the precarious situation of needing the fix in Netty. I tried added the 4.0.30.Final dependency to my pom before I declare the dependency on pgjdbc-ng, but to no avail.

[2015-08-05 15:14] jesperpedersen commented on #187
@brcolow I havn't had time to look at it yet - yes, 4.0.30.Final is effected too.

We would need java.util.logging.Level.ALL messages for ConnectionTest#testDoubleClose (should be enough) for a run with 4.0.28.Final and then a run with 4.0.29.Final to compare.

If you have time feel free to work on it :)

[2015-08-05 20:36] andreak opened #192 "Version-conflict when including driver in war-file"
Hi all.

When trying to wrap a war-file with the pgjdbc-ng-0.5-complete.jar in WEB-INF/lib I get this at runtime when Tomcat starts:

[code]

I suspect this is due to the fact that we use Akka and it requires Netty-3.8.x

To avoid this I place pgjdbc-ng-0.5-complete.jar in $TOMCAT_HOME/lib which works correctly.

Is there any reason Netty (and other deps of this project) cannot be shaded to avoid

[2015-09-02 21:50] markworden opened #194 "Deadlock issue with 0.5"
I ran into a deadlock issue with a thread periodically performing an action and executing a check to see if the connection was valid.  Another thread happen to have been handling a change notification and then attempting to find a specific row in the DB.

Notification Thread:

"PG-JDBC EventLoop (5)" #22 daemon prio=5 os_prio=0 tid=0x00007f412783d800 nid=0x472e in Object.wait() [0x00007f4151423000

[2015-09-02 22:06] adriens opened #195 "Functions retrieval feature"
Hi, does your driver support JDBC functions retrieval (native jdbc driver does not for now).

Thank you in advance for your help.

Kind Regards,

Adrien

[2015-09-02 22:07] davecramer commented on #195
What do you mean by functions retrieval ?

Dave Cramer

On 2 September 2015 at 18:06, SALES notifications@github.com wrote:

[2015-09-03 08:22] adriens commented on #195
In fact, when i use schemacrawler on postgres... when it's performing queries on  connection, on functions i get the following log :

`ao¹t 30, 2015 5:49:19 PM schemacrawler.crawl.RoutineRetriever retrieveFunctions
AVERTISSEMENT: JDBC driver does not support retrieving functions
java.sql.SQLFeatureNotSupportedException: La fonction org.postgresql.jdbc4.Jdbc4
DatabaseMetaData.getFunction(String, St

[2015-09-03 18:26] markworden commented on #194
I would like to reject my described issue above.  I probably should not have been making a DB query in the notification callback PG-JDBC EventLoop thread.  If there is concurrence to that, feel free to close.

[2015-09-03 18:29] kdubb commented on #194
@markworden I haven't had a chance to look into the deadlock you presented. Certainly the notification system presents interesting problems like this and I would like to investigate ways to make it more bulletproof.  I'll leave it open until somebody can look into it in depth.

[2015-09-03 18:32] kdubb commented on #195
@adriens That log is from the official Postgres JDBC driver, not ours.  That being said, neither driver supports "DatabaseMetaData.getFunctions". The reason is that Postgres doesn't have an actual implementation of SQL "functions".  It does have procedures and "getProcedures" is implemented in both drivers.

[2015-09-03 18:37] davecramer commented on #195
@adriens I just pushed a change into the official driver to support them,
but as Kevin points out it is just the same as getProcedures

Snapshots can be found on maven

Dave Cramer

On 3 September 2015 at 14:32, Kevin Wooten notifications@github.com wrote:

[2015-09-08 15:57] vornet opened #196 "Asynchronous Notifications not working on Ubuntu?"
I'm seeing a strange behavior where notifications are working in my Windows environment.  However, when I upload the exact same jar to the Ubuntu box and run it with the same Java runtime (1.8.0_60), I don't see any notification at all.

Just wondering if there's any known Asynchronous Notifications issue in Linux?

[2015-09-09 04:34] springCat opened #197 "about jsonb[]"
when i use the type jsonb[] , call the method getArray() in PGArray, the type of element in array would be the String ,but it is not the correct data,.it seems the type of element in Array is Object and it call the toString(),so the result would like this: [[Ljava.lang.Object;@3ad2e17,[Ljava.lang.Object;@8c3619e]

[2015-09-09 14:14] vornet commented on #196
This example code only gets notification under Windows, not Ubuntu.

[code]

[code]

[2015-09-15 15:48] abhishekparwal opened #198 "issue with pgjdbc-ng"
@brettwooldridge
@kdubb
@jesperpedersen

I am using pgjdc-ng with hikari cp. my project is in java 1.8 and is using functions like lambda.

I am trying to use this library and getting this error. Is this related to https://github.com/impossibl/pgjdbc-ng/pull/165 ? And if no, can you kindly point me to the issue.

Stacktrace:

java.io.IOException: invalid utility query
    at com.impossibl.postgres

[2015-09-15 15:52] kdubb commented on #198
Seems like an issue with a non supported version of Postgres.  What server version are you using?

[2015-09-15 16:15] abhishekparwal commented on #198
SELECT version();

##                                                       version

 EnterpriseDB 9.2.1.3 on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 4.1.2 20080704 (Red Hat 4.1.2-52), 64-bit

queryTxt was  -@refresh-type when this code was called.

[2015-09-15 16:23] kdubb commented on #198
It looks like you have some sort of circularly defined UDT.  @refresh-type is a utility query (aka internally used prepared query) and it's undefined because it's trying to be used while the driver is trying to load types.

[2015-09-15 17:14] abhishekparwal commented on #198
It  works  when  I replace it  with  official postgres driver jar.  And  I
am not defining any udt.  I am using hibernate  version 5.
On Sep 15, 2015 9:54 PM, "Kevin Wooten" notifications@github.com wrote:

[2015-09-15 17:16] kdubb commented on #198
Yes the official drive doesn't attempt to download all types like we do.  I'm assuming the issue has to do with a UDT defined by EnterpriseDB rather than yourself.  I've never tested the driver on EnterpriseDB myself.

[2015-09-15 19:16] abhishekparwal commented on #198
is there any workaround? Or I have to switch to official driver? Any plans to fix it?

[2015-09-15 19:26] kdubb commented on #198
Without some debugging I'm not able to offer a workaround or a patch.  I need to get into a EnterpriseDB instance and see what the issue is. Unfortunately my currently available time is very limited.

[2015-09-16 15:04] jesperpedersen commented on #198
EnterpriseDB has a lot of extra types, so you need to verify their pg_type catalog definitions. However, they have their own JDBC driver, so I suggest you use that one.

However, feel free reopen if you have a patch for this.

[2015-09-16 15:04] #198 closed, assigned to nobody

[2015-09-19 00:07] geraldodev opened #199 "The same java.sql.Timestamp value works for inserting but not for updating."
[code]

Output:
java.sql.Timestamp #inst "2015-09-19T00:01:25.787000000-00:00"
inserted!

The update statement generates java.sql.Timestamp cannot be cast to com.impossibl.postgres.datetime.instants.Instant.

I wonder why because the insert worked with the same value.

Partial trace:

[code]

Regards,

Geraldo

[2015-09-22 18:58] jesperpedersen commented on #187
A dump from PrepareCommandImpl using 4.0.31.Final, which also has the regression:

[code]

@normanmaurer Any hints to further debug this would be great -- the dump is from here:  https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/protocol/v30/PrepareCommandImpl.java#L156

[2015-09-22 19:18] jesperpedersen commented on #187
A hacked 4.0.28 gives

[code]

So, it is clear that the message has definitely changed

[2015-09-22 19:50] jesperpedersen commented on #187
4.0.28:

[code]

4.0.29:

[code]

Maybe https://github.com/netty/netty/commit/979fdfd3d3e641fd8e003db19ae976d8e6e8adbe and interaction in
https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/protocol/v30/ProtocolImpl.java#L742
https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/protocol/v30/ProtocolImpl.java#L752

[2015-09-22 19:52] normanmaurer commented on #187
@jesperpedersen use the UnpooledByteBufAllocator (which is the default btw) and see if it makes a difference.

[2015-09-22 19:58] jesperpedersen commented on #187
@normanmaurer You nailed it ! Using  io.netty.buffer.PooledByteBufAllocator led to the error

[2015-09-22 19:59] kdubb commented on #187
So to make it work with Pooled (just to understand the error) it seems we need to reset the writer index before re-using a ByteBuf from the pool?

[2015-09-22 20:00] normanmaurer commented on #187
@jesperpedersen so you say as soon as you use `PooledByteBufAllocator` you see this error ?

[2015-09-22 20:01] jesperpedersen commented on #187
@normanmaurer correct

[2015-09-22 20:03] normanmaurer commented on #187
@jesperpedersen and this happens since version 4.0.29 and also with latest stable one (4.0.31.Final) right ? Just to understand it better and be able to find the root cause easier.

[2015-09-22 20:04] jesperpedersen commented on #187
@normanmaurer Yup - regression is between 4.0.28 and 4.0.29 - maybe https://github.com/netty/netty/commit/979fdfd3d3e641fd8e003db19ae976d8e6e8adbe ?

[2015-09-22 20:06] kdubb commented on #187
@jesperpedersen  I think you're onto something

[2015-09-22 20:07] jesperpedersen commented on #187
@kdubb I consider this issue the only possible blocker for the 0.6 release

[2015-09-22 20:17] normanmaurer commented on #187
@jesperpedersen I don't think this can be the problem. I will see if I can find out whats going on tomorrow

[2015-09-24 06:32] normanmaurer commented on #187
@jesperpedersen I think I have an idea... stay tuned.

[2015-09-25 15:46] normanmaurer commented on #187
@jesperpedersen can you please check https://github.com/netty/netty/pull/4278. This fixes it for me

[2015-09-25 16:17] jesperpedersen commented on #187
@normanmaurer Works, thanks !

[2015-09-25 16:38] kdubb commented on #187
@normanmaurer Nice Job! Thanks!

[2015-09-25 17:36] jesperpedersen commented on #199
Could you add a test case to src/test/java/com/impossibl/postgres/jdbc/TimestampTest.java ?

[2015-09-29 11:25] davecramer opened #200 "getDate, getTime, getTimestamp using a label and a calendar ignore the calendar"
https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/jdbc/PGResultSet.java#L1063

[2015-09-29 11:59] #200 closed, assigned to nobody

[2015-09-29 19:58] zandrei commented on #98
What is the status of PostGis support in pgjdbc-ng? I am trying to use it in a project with postgresql 9.3 version, pgjdbc-ng 0.5 version but I am getting the following error for geometry type:

[code]

[2015-09-29 20:08] jesperpedersen commented on #98
@zandrei It was blocked on a hard dependency on the official driver. Maybe @frode-carlsen has an update on the matter

[2015-09-30 11:52] jesperpedersen commented on #187
Netty 4.0.32.Final has been integrated

[2015-09-30 11:52] #187 closed, assigned to nobody

[2015-09-30 11:52] normanmaurer commented on #187
@jesperpedersen haha... you are even faster then I'm able to announce ;) But almost there. Thanks again!

[2015-09-30 11:52] jesperpedersen opened #203 "pgjdbc-ng 0.6"
Release version 0.6 of the driver

[2015-10-01 00:15] brcolow commented on #187
~~Awesome! Really great work - thanks so much. Would it be possible to get a new release with this commit? Thanks much.~~

Edit: I see #203 has already been created - sorry about that =)

[2015-10-05 07:50] frode-carlsen commented on #98
I've abandoned trying any further to port the postgis library to make it work with pgjdbc-ng, for the reasons I've outlined above. Either an ugly hack is added to support it, or the official driver somehow changes it's datatype extension mechanism (avoiding the PGObject inheritance).

In any case, I believe a better solution here would be to add support for the Java Topology Suite (JTS) data types

[2015-10-05 16:31] jesperpedersen commented on #98
Thanks for the update Frode

[2015-10-08 14:54] abhishekparwal opened #204 "issue with pgjdbc-ng"
@brettwooldridge
@kdubb
@jesperpedersen

I am using pgjdc-ng with hikari cp. I am using postgres:

select version();
##                                                   version

 PostgreSQL 9.3.9 on x86_64-unknown-linux-gnu, compiled by gcc (Ubuntu 4.8.4-2ubuntu1~14.04) 4.8.4, 64-bit
(1 row)

I am getting this error.

Caused by: com.zaxxer.hikari.pool.PoolInitializationException: Exception during

[2015-10-08 14:55] jesperpedersen commented on #204
Make sure that you are using Netty 4.0.32+

[2015-10-08 19:16] abhishekparwal commented on #204
thanks. it solved the issue.

[2015-10-08 19:17] #204 closed, assigned to nobody

[2015-10-09 00:28] vlsi opened #205 "Prepare-bind-execute-fetch is somewhat slow"
I had a chance to benchmark pgjdbc-ng and it turns out it is two times slower than regular pgjdbc when processing resultset with 5 columns and 1, 50, 100 rows.

The details are here: https://github.com/pgjdbc/pgjdbc/pull/387

I applied the following changes to pgjdbc benchmark module to run it against pgjdbc-ng:

[code]

[2015-10-09 01:09] vlsi opened #206 "Wrong results when using getTime/getTimestamp"
I've ran `TimezoneTest` from pgjdbc and there are lots of failures.
Test code is here: https://github.com/pgjdbc/pgjdbc/pull/387/files#diff-3c7c6e6379cec503322d6c309d14b3bdR8

Failures (8 of 16 test failed):

1)
getTimestamp fails when it consumes `time with time zone`:

[code]

2) getTime fails in lots of cases: it both produces wrong time and wrong date (the date should always be 1970-01-01).

T

[2015-10-09 01:43] kdubb commented on #205
Executing the "Prepare" once in advance turns the tables. During my last round of tests in we beat the pgjdbc project in that case.  Anybody who cares about performance would be preparing in advance.  If you benchmark any other way we will always lose because the binary transfer requires an explicit prepare in the backend protocol.

[2015-10-09 01:45] kdubb commented on #205
Also complex types in pgjdbc are considerably slower given that it requires text processing of all the results.

[2015-10-09 01:47] vlsi commented on #205
Lots of applications are written in "prepare-execute-close" way, so it is a pity -ng misses that.

That is true, however I'm testing simple types here.

[2015-10-09 02:15] vlsi commented on #205
It does not.
Executing "prepare" once does help pgjdbc-ng a bit, however it is still slower.
So, there might be room for -ng improvement.

pgjdbc-ng prepare once:

[code]

pgjdbc prepare each exec:

[code]

pgjdbc prepare once:

[code]

[2015-10-09 19:57] kdubb commented on #205
I stand completely corrected.  This is very much worth looking into since at one time we had the speed advantage.

Clearly, apart from the required "prepare" on every call (which should be somewhat of a constant time difference), we are doing "less work" as we deserialize basically nothing given that we're transmitting all binary.

Basically, I'd imagine us being beaten by a constant time differen

[2015-10-09 20:01] vlsi commented on #205
Why is that?

For instance, for `int` data type pgjdbc is using binary transfer as well in both directions.
Well, pgjdbc's "decoding" is not very good as it always decodes to `byte[]`, however it is not clear why pgjdbc has to be slower.

[2015-10-09 20:05] vlsi commented on #205
By the way, for 1000 rows:

pgjdbc-ng, prepare once

[code]

pgjdbc, prepare once

[code]

[2015-10-09 20:07] kdubb commented on #205
Due to the way the back end protocol works it can only use binary in certain cases.  For example, anytime a query is sent without a prepare (e.g. Statement.executeQuery) it is required to use the text format.  That's why this driver requires a bind (even in the ad-hoc case) and always has to suffer that overhead.

As for the results you just posted... Yes, again, this should be looked into because

[2015-10-09 20:26] vlsi commented on #205
I do not get you.

If a query is repeated, pgjdbc does a server-prepare and binary transfer.
Which overhead else do you have in mind?

[2015-10-09 20:59] kdubb commented on #205
Unless something has drastically changed, or you enable binary only (which basically breaks most stuff), No it does not. Only this driver does a backend prepare & execute. pgjdbc-ng did begin life as a rewrite of pgjdbc's core.

Like I've said the mainstream actually gets some speed out of this arrangement as it can skip a prepare in many cases.  Even Connection.prepareStatement doesn't always pro

[2015-10-09 21:05] vlsi commented on #205
pgdbc does use backend prepare (protocol level) even across `PreparedStatement.close` calls.

More info here: http://stackoverflow.com/questions/32297503/whats-the-life-span-of-a-postgresql-server-side-prepared-statement/32300222#32300222

That is true. pgjdbc defaults to "use server-prepare after 5 executions".

By the way, it would be good if you could proofread pgjdbc-ng part of stackoverflow p

[2015-10-09 21:17] brcolow commented on #203
What is blocking this?

[2015-10-09 21:26] kdubb commented on #203
Nothing but my time. I will get it done this weekend.

[2015-10-10 06:43] brcolow commented on #203
Not a problem, thanks so much for your hard work.

[2015-10-15 13:20] nikwan opened #207 "postgre function IN OUT parameters ordering not working properly"
IN OUT parameters not working properly if having OUT c timestamp without time zone type giving exception.
IN OUT ordering after executing method from java not working properly see below example

[code]

  java.sql.SQLException: Coercion from 'java.lang.Long' to 'java.sql.Timestamp' is not supported (0)
    at com.impossibl.postgres.jdbc.SQLTypeUtils.createCoercionException(SQLTypeUtils.java:1187)

[2015-10-15 13:38] jesperpedersen commented on #207
Would you be interested in submitting a test case for src/test/java/com/impossibl/postgres/jdbc/TimestampTest.java ?

The required updates to SQLTypeUtils.java should be easy too.

[2015-10-16 06:03] nikwan commented on #207
Thanks for reply.
I tested on my local environment.
Below is the postgres9.4 db function

[code]

below is the main function to test.
Ordering of IN OUT parameters are not working as expected.
Please remove comment from the below function test call to test first parameter which raise you exception.

[code]

[2015-10-20 18:23] kdubb commented on #203
Released and sync'd to maven central

[2015-10-20 18:23] #203 closed, assigned to kdubb

[2015-10-20 18:52] jesperpedersen commented on #203
Thanks Kevin !

Web site updated

[2015-10-25 19:49] brcolow opened #210 "Exception with new ssl data sources options"
Hello,

I am using the latest commit 441b1204db to test the ssl data sources options. With the following line:

[code]

where config is:

[code]

from HikariCP. I get the exception:

[code]

It would appear as though it wants the property without the dots, and in camel-case

However, replacing with:

`config.addDataSourceProperty("ssl.cert.file", "/server.crt");`

Seems to result in the identical

[2015-10-26 11:50] jesperpedersen commented on #210
Hi, The data source properties doesn't have '.'s in them. See README.md

[2015-10-26 11:50] #210 closed, assigned to nobody

[2015-10-26 19:20] brcolow commented on #210
Darn, the second line was supposed to be config.addDataSourceProperty("sslCertFile", "/server.crt");

[2015-10-26 19:21] jesperpedersen commented on #210
Likely SSLCertificateFile

[2015-10-26 19:21] brcolow commented on #210
Ah, indeed, I missed that in the readme. thank you.

[2015-10-26 19:26] kdubb commented on #210
Seems like we should normalize these.  The SSL parameters are currently the only ones that have dots in the public config parameters.

[2015-10-26 19:27] brcolow commented on #210
Yes, it was a bit confusing...(not to defend my lack of RTFM) =)

[2015-10-26 19:28] jesperpedersen commented on #210
Are you thinking sslCertificateFile ? I think shorter names for the connection URL plus properties map is ok.

But there is a point in having it similar. Data source configurations tends to be verbose in their properties though.

[2015-10-26 19:30] jesperpedersen commented on #210
Also, note that currently it is 'SSL' - not 'Ssl' in the method names. Written as 'SSLBlah' for app servers, not 'sslBlah'

[2015-10-26 19:56] brcolow commented on #210
Just figured I'd report that everything with the new SSL + datasources stuff seems to be working for me :)

[2015-11-02 16:03] andreak opened #211 "Strange NullPointerException in QueryListener.rowData(QueryCommandImpl.java:75)"
Hi all.

Using driver=0.5 (PostgreSQL 9.4.4), I got this today:

[code]

The strange thing is that restarting the app 2-3 times made the error go away, with no traces in PG-logs.

Any idea what may have caused this?

Thanks.

[2015-11-02 20:45] jesperpedersen commented on #211
Could you try pgjdbc-ng 0.6 with Netty 4.0.32+ to see if the problem is still there ?

If so, we would need to look at the query sent, and see why that causes the NPE.

Thanks.

[2015-11-02 21:17] andreak commented on #211
This is unfortunately not so easy as I've only seen this problem once (today) and it only manifested itself 2-3 times in production, where we don't log queries. After restarting the app (a webapp in Tomcat using the tomcat-jdbc pool) 2-3 times it went away.

I'm not familiar with the code-path, do you see any reason why the code in question (QueryCommandImpl.java:75, resultBatch or resultBatch.fie

[2015-12-07 05:47] abhishekparwal opened #212 "URL_PATTERN doesn't take _ in the hostname"
I had a hostname abc_xyz.corp.company.com and it is failing in _ in hostname.
Matcher urlMatcher = URL_PATTERN.matcher(url); of com.impossibl.postgres.jdbc.ConnectionUtil class.

Please fix it.

[2015-12-09 03:42] dstipp commented on #212
Your hostnames are not valid.

Per RFC952:

This was amended in RFC1123:

More info from random IBM documentation:

[2015-12-09 04:00] dstipp opened #215 "Failing unit test? testRaiseNotice(com.impossibl.postgres.jdbc.CallableStatementTest)"
Is anyone else seeing this failure?

[code]

I appear to get it on JDK 7 & 8 on PostgreSQL 9.1, 9.2, 9.3, 9.4 and wanted to check if this was isolated to my setup or if others see this as well.  (Found in the Travis CI builds running 'mvn -e test' against 441b120)

[2015-12-09 04:07] dstipp opened #216 "Failing unit test? testKillConnection(com.impossibl.postgres.jdbc.ConnectionTest)"
Is anyone else seeing this failure?

[code]

I appear to get it on JDK 7 & 8 on PostgreSQL 9.1 only (passes on 9.2, 9.3, 9.4) and wanted to check if this was isolated to my setup or if others see this as well. (Found in the Travis CI builds running 'mvn -e test' against 441b120)

[2015-12-09 04:08] dstipp opened #217 "Failing unit test? testEscaping(com.impossibl.postgres.jdbc.DatabaseMetaDataTest)"
Is anyone else seeing this failure?

[code]

I appear to get it on JDK 7 & 8 on PostgreSQL 9.1 only (passes on 9.2, 9.3, 9.4) and wanted to check if this was isolated to my setup or if others see this as well. (Found in the Travis CI builds running 'mvn -e test' against 441b120)

[2015-12-09 06:00] kdubb commented on #217
This has always failed on 9.1 but since we  (certainly I) stopped testing on 9.1 a while ago it was forgotten.  This is something that needs to be fixed for 9.1

Kudos for the travis test against server versions.  Love it.

[2015-12-09 06:00] kdubb commented on #216
I don't remember this from my 9.1 days but if it's failing on travis I assume it's a valid bug.

[2015-12-09 06:01] kdubb commented on #215
This might be travis related.  Locally this doesn't fail; for myself at least.

[2015-12-09 06:09] kdubb commented on #212
So as far as I remember...
Hostnames = Underscores NOT allowed
Domain Names = Underscores allowed

Is the hostname part of a URL an underscore or hostname... Not sure.  Google search just seemed to confuse me.

[2015-12-10 14:16] abhishekparwal opened #218 "enum type not getting written from pgjdbc-ng"
I have state column which is of type enum (CREATE TYPE account_holder_state AS ENUM ('ACTIVE', 'SUSPEND', 'DEACTIVATE') ) .

When I try to do a insert it is allowed , but on updates gives a exception. Basically it is expecting state column of type account_holder_state but it is being set as text. Shouldn't the enum be allowed as text in pgjdbc-ng driver?

[code]

com.impossibl.postgres.jdbc.PGSQLS

[2015-12-10 15:18] PatrickHuetter commented on #191
Same problem here with linux kernel 4.2 and 3.16 and java 7.

[2015-12-10 15:23] kdubb commented on #218
Can you provide a sample program that demonstrates the issue? I think I understand the issue but samples always speed things along.

[2015-12-10 16:15] abhishekparwal commented on #218
Even i have to write it out the native code , as I am using jpa-hibernate which is generating this sql. Let me know if you want jpa code.

[2015-12-21 04:18] dstipp commented on #215
Hm.  I got sidetracked from things here, hopefully can take a look again.  First step was getting the same set of test results from when I ran locally (local IDE, remote DB) vs running in travis...

[2015-12-21 04:20] dstipp commented on #216
Hm.  I wonder if it might be a PostgreSQL configuration difference on travis between the different versions?  I get something similar running with a local IDE but remote DB.  Will look at configuration differences and see if that nets anything.

[2015-12-21 04:24] kdubb commented on #216
Yes, It appears to be a setup difference as the command succeeds on travis for 9.2+. My solution was to skip the test on 9.1 for now.  Not optimal I know but it was all I could muster.

[2015-12-21 04:25] kdubb commented on #215
This was fixed via a little postgres session config magic. I checked it in earlier.

[2015-12-21 04:25] #215 closed, assigned to nobody

[2015-12-24 12:13] abhishekparwal commented on #218
@kdubb  any updates?

[2015-12-24 12:13] #212 closed, assigned to nobody

[2015-12-24 12:16] kdubb commented on #218
I need to look into this more in depth but as a workaround you should be able to use `state = ?:: account_holder_state` with no issues

[2015-12-29 19:40] vlsi opened #220 "error parsing command tag: DEALLOCATE ([DEALLOCATE, ALL])"
The following test fails with error parsing command tag exception:

[code]

[code]

[2015-12-29 19:42] kdubb commented on #220
We need a better solution for this. Currently we parse every command tag and we are missing quite a few (although they do not seemed to be used much).

[2015-12-29 19:56] kdubb commented on #220
Fixed in 53b6240aaf3049d5e2a8306e15f4b961bebb596c

This specific tag is handled and now unknown tags are warnings.

[2015-12-29 19:56] #220 closed, assigned to nobody

[2015-12-29 20:00] vlsi opened #222 "Move checkstyle verification to a dedicated travis job"
Currently checkstyle is executed for each and every job, thus it disables running tests even if a single checkstyle violation was found.
Having checkstyle for each and every job makes the build longer and utilizes excessive Travis resources.

See https://github.com/impossibl/pgjdbc-ng/pull/221, https://travis-ci.org/impossibl/pgjdbc-ng/builds/99316327

[2015-12-29 20:04] kdubb commented on #222
I'm no travis pro... thus I'll need to research how to actually do this.

[2015-12-29 20:09] vlsi commented on #222
Neither am I.

There are two workable solutions:
1) Enumerate test matrix manually. Even though it looks ugly, it allows you to have completely unrelated steps.
Look here: https://github.com/pgjdbc/pgjdbc/blob/master/.travis.yml#L38-L43
It produces this job: https://travis-ci.org/pgjdbc/pgjdbc/builds/99278679. Note how `checkstyle` step is red, while all the other are green.

2) Put `if-else bash`

[2015-12-29 20:12] kdubb commented on #222
Does that enumerated matrix also mean we can use the "faster container format"? Looks like pgjdbc uses that while ours is using the old method with sudo required.

[2015-12-29 20:13] kdubb commented on #222
@vlsi I think I'll probably be stealing your travis.yml or at least parts of it :+1: You clearly know more about this than myself.

[2015-12-29 20:18] vlsi commented on #222
@kdubb , be careful. There's https://github.com/pgjdbc/pgjdbc/issues/461 on "moving away from container format".

I'm not sure what is the best way to go, but "faster container format" is too tight for proper JDBC driver testing.

[2015-12-29 20:50] kdubb commented on #222
Thanks, that's good info to know.

[2016-01-12 12:21] juersimon opened #224 "GRANT group TO role not working"
The commande
GRANT "Groupe-role" TO "Login-role"

throws the following exception:

java.sql.SQLException: java.io.IOException: error parsing command tag: GRANT ([GRANT, ROLE])
    at com.impossibl.postgres.jdbc.PGConnectionImpl.execute(PGConnectionImpl.java:462)
    at com.impossibl.postgres.jdbc.PGStatement.executeStatement(PGStatement.java:375)
    at com.impossibl.postgres.jdbc.PGSimpleStatemen

[2016-01-12 15:40] kdubb commented on #224
Try the 0.7-SNAPSHOT (either use sonatype snapshot repo or build current develop branch). This should, at most, emit a warning about unknown command tag. But I believe it should be handled correctly.

[2016-01-12 16:47] juersimon commented on #224
0.7-SNAPSHOT works perfect.

Thank you.

[2016-01-15 13:36] jesperpedersen opened #226 "Travis setup needs max_prepared_transactions"
In order for the XA test cases to pass the Travis setup needs to have `max_prepared_transactions` set to a non-zero value

@kdubb Ideas ?

[2016-01-15 13:37] jesperpedersen commented on #226
Blocking #225

[2016-01-15 16:31] jesperpedersen commented on #224
Reopen until we have GRANT covered in ProtocolImpl.receiveCommandComplete().

@juersimon Could you submit a pull request with a GrantTest that duplicates this issue, and change ^ to cover for it ? Thanks in advance !

[2016-01-15 20:22] kdubb commented on #226
First guess would be to add this to travis.yml

[code]

[2016-01-15 20:25] kdubb commented on #226
Should probably put those commands in a single script and reference from travis.yml instead

[2016-01-15 20:29] kdubb commented on #226
Apologies for the many replies but I was doing this a bit off the top of my head... those commands can clearly be added to `.travis/travis-install-dependencies` which is where all the current postgres setup is happening.

[2016-01-18 13:29] jesperpedersen commented on #226
It is likely better to just use org.junit.Assume.assumeTrue(). Otherwise everybody would have to enable max_prepared_transactions.

So, I went that route.

[2016-01-18 13:29] #226 closed, assigned to nobody

[2016-01-26 21:24] vlsi opened #228 "Is "travis-install-dependencies" license clear?"
The comment in https://github.com/impossibl/pgjdbc-ng/blob/develop/.travis/travis-install-dependencies#L3 leads to https://github.com/ckan/ckan/blob/master/bin/travis-install-dependencies which is AGPL. Is it compatible with BSD-like license of pgjdbc-ng?

I just came across the comment.

[2016-01-26 22:40] kdubb commented on #228
The question is, what is the license of that file.  Is it really under AGPL? Only the authors can tell us. It may be and as such I guess we'll have to rewrite the same file; although it would probably look essentially identical.

Good catch, I didn't think to check up on this while committing.

[2016-01-27 02:21] jirutka commented on #163
If there’s no binary type for JSONB, could be `jsonb` type added in the same way as old `json` type or CITEXT (#190)?

[2016-01-29 20:28] kdubb commented on #228
@vitorbaptista It appears you are the original author of the file referenced above. I accepted a commit using a modified version of that file without realizing it as such.  Since it has no license/copyright header should we assume it's an AGPL file (and thus incompatible with our BSD style license)?

[2016-01-29 20:42] vitorbaptista commented on #228
@kdubb If it were up to me, I'd be happy to license that to you under BSD, MIT, or whatever you prefer. Unfortunately, as that code was done for the [Open Knowledge](http://okfn.org), I can't. I'm not sure when you took that file from CKAN, so I might not be the only author then.

That being the case, that file is AGPL. You can either try and get an authorization from Open Knowledge itself, or rew

[2016-01-29 20:45] jesperpedersen commented on #228
I think a rewrite is better. We don't need 8.4 - 9.0 f.ex.

@vlsi has made some improvements to the pgjdbc setup for XA, which could be included if he wants to release those

[2016-01-29 20:49] vlsi commented on #228
Those are on guard of pgjdbc's code: https://github.com/pgjdbc/pgjdbc/commit/8c9898af9d6ab21f2a727cc2f673519d2c4352c7

Feel free to borrow that, however it is MIT-based, thus remember to keep the reference to the original author: https://github.com/pgjdbc/pgjdbc/commit/8c9898af9d6ab21f2a727cc2f673519d2c4352c7#diff-2ab7c8e6097b7237cf098448475bd6efR2

PS. It would be nice to implement SSL & domain s

[2016-01-29 22:18] vlsi opened #230 "Out of memory while running pgjdbc test suite"
It looks like pgjdbc-ng does not release memory on connection.close or something like that.

pgjdbc's test suite with -Xmx512m fails with OOM.

See https://github.com/pgjdbc/pgjdbc/pull/501 (the idea is to use `mvn -P pgjdbc-ng` to use pgjdbc-ng driver for pgjdbc test suite)

<img width="847" alt="dominator_tree" src="https://cloud.githubusercontent.com/assets/213894/12689637/36b4bdfa-c6ef-11e5-9a

[2016-01-31 12:52] gitSquirel opened #231 "NullPointerException when decoder an array in array"
pgjdbc-ng: 0.6, postgresql: 9.5

I have a query like this:
select  a.x, array(select row(b.*)::b from b
              where b.pid = a.id) bs from a
              where a.id = {id};
which a is a table, b is a view like this:
SELECT x.a,  x.b,
    ARRAY( SELECT ROW(y.a, y.config)::y FROM y WHERE y.a = x.a ) AS ys
   FROM x;

I have another query that has an array select in array, but it works.

Here

[2016-01-31 12:57] gitSquirel commented on #231
By the way, exception throw when execute preparedStatement.executeQuery()

[2016-02-01 15:56] kdubb commented on #231
Can you provide a piece of JDBC test code that exhibits the error?  Apologies if it seems trivial to do ourselves but code that can be copied & pasted goes a long way to reducing our time to fix.

Bonus points for a adding a unit test that fails :+1:

[2016-02-02 18:51] jesperpedersen commented on #230
Thanks for your report !

[2016-02-02 19:14] kdubb commented on #230
Unless things have changed, the pgjdbc test suite relies upon the fact that the connection's `finalize` closes the connection; which in turn closes all the statements, result sets, etc.

Many, if not most, of the "ng" unit tests were taken directly from pgjbdc with the only major changes being that I tried to ensure that all the Connection, Statement & ResultSet objects were explicitly closed. The

[2016-02-09 09:54] mlusetti opened #232 "ratpack.io Serivce, Hikari, NotifcationListene and connection hanging"
I use ratpack.io with Hikari connection pool and pgjdbc-ng.

During application bootstrap I'm using the NotificationListener facility to get postgresql notification, and It seems to work correctly, If I keep a strong reference in to the NotificationListener it works reliably.

The problem is that I would like to get another connection from Hikari (ratpack configured) connection pool to do some que

[2016-02-09 10:31] mlusetti commented on #232
BTW In this configuration I after a period of time (a couple of minutes or little more) of inactivity I start to loose notifications.
I restart the app and everything is fine again.

Does this rings any bells ?

[2016-02-09 16:50] kdubb commented on #232
Your detailed description may have solved this for everybody :+1:

The Connection class uses weak references in it's map to hold notifications listeners.  The funny thing is... I can only attribute the reasoning to my many years of Cocoa/Objectice-C experience with spotting and fixing retain cycles; clearly this isn't an issue in Java and my "fix" for this non-issue may actually be creating an iss

[2016-02-09 17:02] kdubb commented on #232
Try #233 and see if this fixes your issues

[2016-02-09 17:03] kdubb commented on #162
@mistahmikey Not sure if you're still on this but if you are maybe you could check #233 and see if it helps.

[2016-02-11 07:26] mlusetti commented on #232
Glad to be useful, someway.
BTW I'm going to try this in the next days, hopefully, now we've gone preprod and cannot make any kind of disruptive changes. We've fallen back to plain jdbc driver.
Thank you for your attention.

[2016-02-25 20:04] brodock commented on #169
any progress?

[2016-02-27 11:57] geraldodev opened #249 "All PGSQLIntegrityConstraintViolationException information derived from Notice is null"
Hi,

I'm getting null for every information derived from notice.

It would be nice if we could have column, table and so on in a structured way on constraint violation exception.

Postgres 9.5.1
Java 1.8.0_74
Our beloved 0.6

Regards,

Geraldo Lopes de Souza

[2016-03-15 13:19] davsclaus opened #250 "Update OSGi to manifest version 2"
The latest 0.6 release of this driver has OSGi metadata using the very old style

[code]

The rest of the world is using 2.0, I wonder if you can upgrade so its

[code]

The headers in the manifest are

[code]

[2016-03-15 13:20] davsclaus commented on #250
Also you may want to have version ranges on the import packages of netty, eg `[4,5)` if you require netty 4.x

[2016-03-15 13:20] jesperpedersen commented on #250
Please, provide a pull request for this

[2016-03-15 13:21] jesperpedersen commented on #250
4.1 has additional methods as compared to 4.0, so pgjdbc-ng isn't certified with 4.1 yet

[2016-03-15 13:42] davsclaus commented on #250
Okay, you could consider using the maven-bundle plugin that generates all the osgi manifest for you out of the box. Then you dont need to remember to add those imports/exports etc.

We use that in the Apache Camel projects for all our camel components

[2016-03-16 09:58] davsclaus commented on #250
Okay a PR was created. I can install this bundle now nicely in OSGi containers such as Apache Karaf

[code]

And listing all the manifest headers shows

[code]

Which makes the osgi imports correct, as before some imports was missing for javax and org.xml stuff.

[2016-03-16 18:53] #250 closed, assigned to nobody

[2016-05-10 14:42] abhishekparwal opened #252 "getting npe while executing prepared statement"
[code]

which points to

`if (!allowBatchSelects() && resultBatch.command.equals("SELECT")) {
`
using 0.6 version of pgjdbc-ng driver

getting npe while executing prepared statement

[code]

[2016-05-12 20:34] seaneagan opened #253 "npe when setting date to null"
When attempting to set a date to null:

[code]

I get the following stack trace:

[code]

`Instants.fromDate` is being passed a null that it is not expecting.

I am on version `0.7-SNAPSHOT`.

[2016-05-12 20:53] kdubb commented on #253
This is easily fixed and I'll look to fix it ASAP.  Until then `setNull(0, Types.DATE)` should be a workaround.

[2016-05-12 21:49] seaneagan commented on #253
Thanks for the quick response, and awesome project!

Yes I am using that workaround, of course the bad thing about it is it requires an if / else if you don't know whether the value is null or not.

Also I am seeing the same issue with `ps.setTimestamp(1, null)` / `Instants.fromTimestamp`.

[2016-05-15 20:54] nikolauskrismer commented on #169
Is there any progress or some new information about this issue?
According to http://www.cybertec.at/2016/05/postgresql-performance-advise-unix-sockets-vs-localhost/ this could really boost the overall performance when using java and postgresql

[2016-05-15 20:57] kdubb commented on #169
@nikolauskrismer The article you cited forgets to mention a very low percentage of PostgreSQL users are running a server on the same host as the application.  It's generally just not how things are done for a multitude of reasons.

In short... this is not a priority.

[2016-05-15 20:59] kdubb commented on #169
@nikolauskrismer  As always... PRs are welcome.  Maybe you can build on @harbulot's works and submit a ready PR.

[2016-05-20 16:24] mishako opened #254 "SQLText throws ParseException for \''"
I'm tying to execute this SQL query:

[code]

I can do it in `psql`:

[code]

But not in pgjdbc-ng:

[code]

It throws:

[code]

The root cause is `ParseException` in `com.impossibl.postgres.jdbc.SQLText`:

[code]

It throws:

[code]

The problem is that the code in `SQLText` always considers backslash being an escape character:

[code]

Since Postgres 9.1 (released 5 years ago) backslash is not a

[2016-05-21 16:08] kdubb commented on #254
JDBC SQL is not PostgreSQL.  JBDBC requires `escape syntax` processing; not to be confused with string escaping.  SQLText's main aim is to process a JDBC SQL string into the proper PostgreSQL.

In addition to handling escape syntax SQL also handles understanding enough of the SQL to detect special conditions like multiple statements in a string, etc.

With fairly simple SQL it means that much of t

[2016-05-21 20:14] mishako commented on #254
@kdubb Thank you for explanation! So `SQLText` doesn't have to fully and correctly understand SQL as long as it can detect important cases and doesn't break. I will edit the issue.

[2016-05-30 19:39] pertl opened #255 "driver can not handle pseudo types (e.g. 'record') as part of function return value (this makes handling multi-result return values painful)"
I call a stored pl/pgsql function via

[code]

the function basically looks like this

[code]

executing the test code yields the following exception:

[code]

in the debuggger the line causing the exception looks like this:

[code]

variable "type" is of type=com.impossibl.postgres.types.PsuedoType which obviously is no composite type.

could you fix that pseudo types work. imho it's far too gene

[2016-05-31 12:03] jesperpedersen commented on #255
Could you provide a patch for this ?

[2016-05-31 14:42] pertl commented on #255
I wish I could :-)

unfortunately I don't understand enough about pseudo types and the DataRow result type to do it.

[2016-06-15 04:44] rjohnsondev commented on #252
I'm running into this pretty frequently myself, seems pretty random and no idea how to reliably replicate at this point.

[2016-06-15 17:54] kdubb commented on #252
Clearly code that reproduces it would be grand.  I'd settle for a stack trace.

[2016-06-15 22:20] rjohnsondev commented on #252
Yeah, will continue to dig; I was getting it pretty consistently during a 2-hour import process, and managed to confirm that it's the `command` which is null. The last import worked to completion however and I don't have a full stack trace on hand; the line pasted by abhishekparwal was the only line in the driver itself however. I'm now running the latest code from develop, and have added a couple

[2016-06-16 01:34] rjohnsondev commented on #252
Okay, managed to trigger one after a couple of hours. Here is a full stack trace; this was caught by the addition of:

[code]

in `PGPreparedStatement.java:377`.

Apologies for the clojure noise:

[code]

[2016-06-16 11:14] rjohnsondev commented on #252
Okay, so this is where I'm up to; this seems to trigger the npe... very occasionally:

[code]

Adding this into `protocol/v30/BindExecCommandImpl.java:308` `public List<ResultBatch> getResultBatches() {`:

[code]

Hasn't really revealed anything much more to my eyes:

[code]

[2016-06-16 11:37] gitSquirel commented on #231
Well, here is the tables:

[code]

[code]

[code]

[code]

and a view:

[code]

Then, I have two SQLData class, btw, I use scala:

[code]

[code]

Last, here is the fetch function:

[code]

And the map is defined as:

[code]

Here is the exceptions:

[code]