[2016-06-16 12:41] rjohnsondev commented on #252
attached is a rather massive log file with driver logging set to FINEST and the error being thrown.
[errs.txt.gz](https://github.com/impossibl/pgjdbc-ng/files/318424/errs.txt.gz)
[out.txt](https://github.com/impossibl/pgjdbc-ng/files/318423/out.txt)

[2016-06-16 13:42] rjohnsondev commented on #252
here is another example, I've added the listener instances to the log output in the hope something anomalous would reveal itself
[errs.txt.gz](https://github.com/impossibl/pgjdbc-ng/files/318506/errs.txt.gz)
[out.txt](https://github.com/impossibl/pgjdbc-ng/files/318507/out.txt)

[2016-06-19 11:12] rjohnsondev commented on #252
While I'm not really familiar with the postgres protocol nor pgjdbc's internals, from what I can see in the logs it seems that the server is sending a NO-DATA immediately prior to the COMPLETE for the INSERTs.

As the NO-DATA marks the [listener as completed](https://github.com/impossibl/pgjdbc-ng/blob/develop/src/main/java/com/impossibl/postgres/protocol/v30/BindExecCommandImpl.java#L95) if the o

[2016-06-26 07:28] pertl commented on #255
as the docs state most languages only use 'void' and 'record' as pseudo return types. so probably just supporting these two types would already be beneficial (https://www.postgresql.org/docs/9.5/static/datatype-pseudo.html#DATATYPE-PSEUDOTYPES-TABLE).

[2016-07-02 13:59] hacheni opened #257 "bind message has 32 result formats but query has 4 columns"
Hi,

For some reasons and depending of the database use, we often have the following message :

bind message has 32 result formats but query has 4 columns

When analysing the database query log, we found that the request query done by the driver does not correspond to the database response. In another meaning, it seems like there is shift between queries sent to the database and the driver analysi

[2016-07-09 23:45] #188 closed, assigned to nobody

[2016-07-09 23:48] #254 closed, assigned to nobody

[2016-07-10 00:24] kdubb commented on #257
Can you provided the SQL, stack trace, etc.  Even better would be a test case that exhibits the issue.

[2016-07-10 00:35] kdubb commented on #249
Using 9.5.3, Java 1.8 and the current head of development this seems to be working for me...
![screen shot 2016-07-09 at 5 32 58 pm](https://cloud.githubusercontent.com/assets/787655/16711015/5fabbc78-45fb-11e6-89e2-bb5478b7aa4a.png)

We actually rely on this information for generating error messages.  What exactly is not working for you?

[2016-07-10 00:36] kdubb commented on #232
#233 is merged.  Feel free to reopen if it didn't fix your issue.

[2016-07-10 00:36] #232 closed, assigned to nobody

[2016-07-10 00:56] kdubb commented on #163
Added in 8e82727a42b97ed3fb9ea9ac2cd21a2d2d14b679

[2016-07-10 00:56] #163 closed, assigned to nobody

[2016-07-10 00:56] #162 closed, assigned to nobody

[2016-07-10 01:07] kdubb commented on #128
Verified fixed by #259

[2016-07-10 01:07] #128 closed, assigned to nobody

[2016-07-10 01:24] kdubb commented on #197
Fixed in 8e82727a42b97ed3fb9ea9ac2cd21a2d2d14b679

[2016-07-10 01:24] #197 closed, assigned to nobody

[2016-07-10 01:25] kdubb commented on #196
This is fairly old but #233 should fix issues with notification listeners.

[2016-07-10 01:25] #196 closed, assigned to nobody

[2016-07-10 01:39] kdubb commented on #224
Test added in #260

[2016-07-10 01:39] #224 closed, assigned to nobody

[2016-07-10 01:57] kdubb commented on #175
Closing since this behavior hasn't been exhibited anywhere else.  Feel free to reopen with more information.

[2016-07-10 01:57] #175 closed, assigned to nobody

[2016-07-10 03:21] #253 closed, assigned to nobody

[2016-07-10 03:32] kdubb commented on #199
The following test works fine.  So either I'm misunderstanding the problem, it's been fixed or you've not provided enough information...

[code]

[2016-07-10 03:32] #199 closed, assigned to nobody

[2016-07-10 04:17] kdubb commented on #191
Closing as this appears to be Netty & specific Linux kernel versions related

[2016-07-10 04:17] #191 closed, assigned to nobody

[2016-07-10 05:05] kdubb commented on #166
Fixed in #263 although there is a limit of 65535 bound parameters. A proper SQLException is now reported.

[2016-07-10 05:05] #166 closed, assigned to nobody

[2016-07-10 05:06] #39 closed, assigned to nobody

[2016-07-10 17:03] kdubb commented on #255
Fixed in #264

[2016-07-10 17:03] #255 closed, assigned to nobody

[2016-07-10 19:07] kdubb commented on #135
Fixed in #265... Although an outstanding task is to add alternate locales to our CI testing

[2016-07-10 19:07] #135 closed, assigned to nobody

[2016-07-11 21:44] kdubb commented on #122
Closing as I believe this is as _correct_ as possible for Postgres. Tidying up.

[2016-07-11 21:44] #122 closed, assigned to nobody

[2016-07-11 21:53] kdubb commented on #217
Fixed by #256

[2016-07-11 21:53] #217 closed, assigned to nobody

[2016-07-13 05:15] kdubb commented on #218
I added a unit test in PR #269.  It appears to work properly.  Can you check this with the head revision?

[2016-07-13 05:43] kdubb commented on #185
Given the limited details, and that this cannot be reproduced with the current head revision, closing.  If you can reproduce still reproduce it please re-open and add more details.

FYI... It's also covered in the unit test `ResultSetMetaDataTest`.

[2016-07-13 05:43] #185 closed, assigned to nobody

[2016-07-13 06:01] kdubb commented on #179
Fixed in current head revision

[2016-07-13 06:01] #179 closed, assigned to nobody

[2016-07-13 06:03] kdubb commented on #168
Fixed by upgrade to Netty

[2016-07-13 06:03] #168 closed, assigned to nobody

[2016-07-13 06:29] kdubb commented on #252
@rjohnsondev You sir rock! With all the details provided I was able to verify this.

Your fix is actually correct. A `NoData` message from the server is sent in response to the `Describe` command. Since in the `BindExecCommandImpl` the`Describe` command is always a prefix to `Bind`/`Execute` it means the `NoData` message shouldn't ever complete the command series.

[2016-07-13 07:44] #252 closed, assigned to nobody

[2016-07-13 08:06] kdubb commented on #31
Travis satisfies this

[2016-07-13 08:06] #31 closed, assigned to nobody

[2016-07-13 08:31] kdubb commented on #184
Fixed in #268

[2016-07-13 08:31] #184 closed, assigned to nobody

[2016-07-13 17:59] aergul opened #271 "IllformedLocaleException getting a connection"
We get the following exception with current snapshot of develop branch (a snapshot as of July 10, 2016 does work fine):

[code]

java.util.IllformedLocaleException: java.util.IllformedLocaleException: Invalid subtag: C [at index 0]

Postgres 9.3 running on AWS RDS with pg_settings:
"name";"setting"
"lc_numeric";"C"
"lc_time";"C"

[2016-07-14 09:07] kdubb commented on #271
Completely forgot about "C" and "POSIX" locales.

[2016-07-14 09:13] kdubb commented on #129
I believe I've finally caught the cause of these seemingly random warnings; they were actually valid.  Details in the PR that fixes them #273

[2016-07-14 09:27] kdubb commented on #175
@erikburgess The current head revision has changes I believe would probably solve this issue you were having. Specific PR #272.  The key here is type loading/refreshing during result parsing.  If you can it would be great to have you verify this fix.

[2016-07-14 09:42] kdubb commented on #146
I believe this issue was fixed a quite a while ago.  Please feel free to retry with current head revision and re-open the issue if you still have trouble.

[2016-07-14 09:42] #146 closed, assigned to nobody

[2016-07-14 09:52] kdubb commented on #271
Should be fixed in #275

[2016-07-15 04:37] aergul commented on #271
#275 worked great for us, thanks!

[2016-07-15 04:37] #271 closed, assigned to nobody

[2016-07-18 12:51] jesperpedersen opened #276 "ByteBuf leak"
Seeing below w/ 1e495a9e572e51c3051ba9acd0ee5370a9a990a8

[code]

[2016-07-20 19:46] kdubb commented on #276
This is my biggest concern with the change to delayed parsing, manual reference counting netty buffers.

Interesting that I've not seen this in unit tests.  It looks like an easy fix though.

[2016-07-20 19:58] jesperpedersen commented on #276
Got on a run

[code]

[2016-07-23 15:50] erikburgess commented on #175
@kdubb

I am not seeing the issue with the same pgjbdc version on OS X El Capitan. Additionally the issue was seen when the datasource host was set to localhost when it was explicitly set it to  the ipv4 loopback there was no issue. Also if I recall correctly there was an OS X update after which the issue was not reproducible.

`this.dataSource.setHost("localhost");`

`this.dataSource.setHost("127

[2016-08-22 22:13] gallenc opened #279 "Please move TimestampUtils.java from test to main for JSON parsing"
enhancement request:
I found that the Postgreslql JSON function row_to_json(ROW) renders JSON timestamps in the Postgresql time stamp format which is complex to process in java.

However the little class TimestampUtils.java in the  pgjdbc-ng  test jar is very useful for converting between the somewhat variable Postgresql time stamp format and a more usable time formats in Java.
Could TimestampUtil

[2016-08-27 11:55] andreak opened #280 "0.7 release now that we have jsonb support?"

[2016-08-27 18:49] kdubb commented on #280
🎱  says... Coming soon?!

The current code has some issues with ByteBuf memory leaks that I've yet to completely kick. Once I get time to debug those... 0.7 will be released

[2016-08-27 22:48] kdubb commented on #276
@jesperpedersen Please try with latest. I've made several fixes to buffer leaks. I'm not seeing anything from unit tests (which have advanced leak checking enabled) or in our application testing.

[2016-08-28 11:49] andreak commented on #280
Nice!

[2016-08-28 16:00] kdubb commented on #280
You can help by trying latest and seeing if you see any warnings about ByteBuf leaks!

[2016-08-28 16:33] andreak commented on #280
Trying it out now.

[2016-08-28 16:41] andreak commented on #280
Anything I can do to trigger any potential warnings about the leaks?

[2016-08-29 12:39] jesperpedersen commented on #276
Got these with db9e2ab5b977446ed16c0d71eee0212f17bb8c02

[code]

[code]

They don't occur on all `mvn clean package` runs.

[2016-08-29 12:45] jesperpedersen commented on #279
Could you submit a pull request for this ?

Put the class in the com.impossibl.postgres.utils package.

[2016-08-29 15:05] kdubb commented on #276
I think it's most interesting that you are seeing them "more" than I am.  I wonder how they can be made to report leaks reliably.

The first leak, now fixed, brings up an interesting case.  Unclosed `InputStream`s will now report leaked `ByteBuf`.  This is follows the spec but I fear we're at the same place as we were with the `close` methods; something that is spec compliant but many people/frame

[2016-08-29 15:12] kdubb commented on #276
Also, can you tell me which test set produced the warnings?

I just ran `mvn clean test` in a loop and noticed that a test in `LeakTest` produced the warnings... interestingly it _should_ produce the warnings regularly I think.

[2016-08-29 15:32] jesperpedersen commented on #276
Seeing it in `com.impossibl.postgres.jdbc.CallableStatementTest`

[2016-08-29 17:03] jesperpedersen commented on #276
I added some additional close() and upgraded Netty, but still seeing

[code]

[2016-09-02 13:35] jesperpedersen commented on #276
I got w/ 497ad68e3c083f45a59ae5af8e058b560eac670e

[code]

but that ResultSet is closed in DatabaseMetaDataTest.java:1005

[2016-09-06 09:34] oscerd commented on #280
Any news about a new release? Thanks guys.

[2016-09-06 19:37] kdubb commented on #280
@oscerd I'm still tracking down leaks. We use the SNAPSHOT on a daily basis and see very few of them but they're still there.  I definitely want to clean those up before a release.

[2016-09-07 07:34] oscerd commented on #280
Thanks :-)

[2016-09-11 14:21] geraldodev commented on #249
Sorry for the delayed response,

It was a null constraint domain error.

{:column nil, :constraint nil, :table nil, :sql-state "23502", :error-code 0, :cause nil}

I got similar result of yours when I've changed it to not null.

{:column nil, :constraint "usuario_email_idx", :table "usuario", :sql-state "23505", :error-code 0, :cause nil}

Regards,

geraldodev

[2016-09-11 14:21] #249 closed, assigned to nobody

[2016-09-22 22:59] obraliar opened #283 "Problem with generated keys"
I try to get an auto generated key from a field which contains uppercase characters:

[code]

I wrote a small test case (https://github.com/obraliar/pgjdbc-ng-test/blob/master/src/test/java/KeyGeneratorTest.java#L42), which shows following result [on travis](https://travis-ci.org/obraliar/pgjdbc-ng-test/builds/162052139#L276):

[code]

This statement is fully working with the  `org.postgresql:post

[2016-09-22 23:56] obraliar opened #284 "Deadlock when executing a SQL query within a PGNotificationListener"
I'm trying to execute an SQL `SELECT` query after receiving a notification with `PGNotificationListener` using the same connection where the listener has been registered. The program neither executes the query nor it's terminating. A minimal example is provided at https://github.com/obraliar/pgjdbc-ng-test/blob/master/src/test/java/ConnectionCastTest.java#L23.

[Travis](https://travis-ci.org/obral

[2016-09-23 00:28] kdubb commented on #284
Reusing the same connection inside the listener callback's thread will not work. The connection is still executing the notification code from the server and will result in a deadlock; as you are seeing.

My recommendation is to start a task via the service to do whatever it is you need. This will all the callback thread to complete and you'll be able to reuse the connection at that point.

[2016-10-09 06:48] brcolow opened #285 "BasicContext.loadLocale doesn't handle Windows locale names."
I have PostgreSQL 9.6 installed on my Windows 10 machine. The default locales listed in `postgres.conf` are as follows:

[code]

Furthermore it is not possible to change them to `en_US` on Windows, as this results in errors when starting Postgres:

[code]

Indeed the [Locale docs](https://www.postgresql.org/docs/9.6/static/locale.html) state (emphasis mine):

When attempting to connect to this pos

[2016-10-10 00:12] kdubb commented on #285
Good catch! Grateful for the research & explanation.  Your solution sounds acceptable and would love a PR.

[2016-10-10 20:46] brcolow commented on #285
@kdubb PR opened: https://github.com/impossibl/pgjdbc-ng/pull/287

[2016-10-25 06:07] yrashk opened #288 "PGPreparedStatement#setArray conflicts with Arrays.BinEncoder"
`Arrays.BinEncoder` seems to expect an actual Java array, however if one uses `PreparedStatement#setArray(n, Array)` Array is what gets down to `Arrays.BinEncoder` and it fails with `IllegalArgumentException` on `java.lang.reflect.Array#getLength`.

If, instead, `PreparedStatement#setArray(n,Array#getArray())` is used, everything works just fine.

Am I misunderstanding something or is this a bug?

[2016-10-25 12:35] ludmiloff commented on #276
Any update on this?
Is it safe to use the driver in production?

[2016-11-10 17:06] jesperpedersen commented on #276
I'm looking at this atm

[2016-11-10 18:45] jesperpedersen commented on #276
I have fixed some test case issues, and created

https://github.com/jesperpedersen/pgjdbc-ng/tree/bytebuf

which shows stack traces for DatabaseMetadataTest and ConnectionTest.

The more eyes the better...

[2016-11-14 20:31] jszczepankiewicz opened #290 "Is java.util.UUID supported in batch updates?"
I have an impression that there is some bug when using java.util.UUID in insert using batches. When I use separately like below (Kotlin):
[code]
everything looks fine (entity.id is of type UUID where column id is declared on Postgresql level also as UUID). But trying to do similar in batch like:
[code]
results in:

Is this known issue?

[2016-11-14 20:47] jszczepankiewicz commented on #290
Small update. I found test:
https://github.com/impossibl/pgjdbc-ng/blob/fcfe2e8774eb8942c3cdfe3bba06fdca7842f300/src/test/java/com/impossibl/postgres/jdbc/UUIDTest.java
but looks it is not testing batch updates. Nonetheless changing to:
`insert.setObject(i++, (entity["id"] as UUID),Types.OTHER)`
in batch and issue still persist.

[2016-11-14 21:55] jszczepankiewicz opened #291 "Tests failing when running on 'lc_numeric', 'lc_time' equal to "Polish_Poland.1250""
Hi, I'm trying to run locally tests. I have Windows 10 running on Polish / Poland locale. Query:
`SELECT name, setting FROM pg_settings WHERE name IN ('lc_numeric', 'lc_time')`
returns:
"lc_numeric";"Polish_Poland.1250"
"lc_time";"Polish_Poland.1250"

tests are failing with:
[code]

Will try to find solution but as I'm newby in this code maybe somebody may give me some high level instruction how t

[2016-11-14 22:08] jszczepankiewicz commented on #291
I solved the problem running tests by modification:

[code]

changing to:

[code]

now some tests related to currency are failing but most of them are passing:

[code]

[2016-11-15 13:00] jesperpedersen commented on #291
Should be fixed by #287

[2016-11-15 13:00] #291 closed, assigned to nobody

[2016-11-15 13:01] jesperpedersen commented on #290
Please, provide a new test for UUIDTest that executes this scenario, and the necessary code changes to get it passing.

Thanks in advance !

[2016-11-15 13:05] jesperpedersen commented on #288
Please, provide a test for ArrayTest that verifies this scenario, and the necessary code changes to get it passing.

Thanks in advance !

[2016-11-15 20:54] jszczepankiewicz commented on #290
I'm sorry my mistake :(. Everything is fine with pgjdbc-ng in this aspect it was just mistake in my test cases. Althrough I found some real bug which I will try to fix soon as seems to be easy fix (related to how Long is handled in pgjdbc-ng.

[2016-11-15 20:54] #290 closed, assigned to nobody

[2016-11-16 12:42] jesperpedersen commented on #285
Fixed by #287

[2016-11-16 12:42] #285 closed, assigned to nobody

[2016-11-16 13:53] jesperpedersen commented on #276
I have updated my 'bytebuf' branch to disallow public fields in order to get closer to an API where the DataRow usage is tracked. I'm tempted to push this as a separate change before diving deeper into the getResults() usage.

Thoughts @kdubb ?

[2016-11-24 07:46] andreak commented on #211
I've debugged this and it seems to be caused by an OOME.
Closing issue.

[2016-11-24 07:46] #211 closed, assigned to nobody

[2016-12-14 10:38] #284 closed, assigned to nobody

[2016-12-14 22:42] kdubb commented on #280
@jesperpedersen My `mvn clean package` has been run quite a few times now with no sign of ByteBuf leaks.  Are you seeing the same or do we still have leaks to track down?

I'd like to release a 0.7 if the leaks are cleaned up.

[2016-12-15 08:53] jesperpedersen commented on #280
@kdubb Still seeing the leaks - should I merge https://github.com/jesperpedersen/pgjdbc-ng/tree/bytebuf to get closer to a ByteBuf usage API ?

[2017-01-06 19:48] kdubb commented on #129
Reopening since we are encountering this, essentially, all the time.  Just starting our server, running some tests (opens database connection(s)), then letting the server sit idle causes this issue.  It seems to be when the pool (in this case, HikariCP) releases the connection after an idle timeout.

@brettwooldridge Any thoughts on what we can do to help track this down?  I'm building a PR of cha

[2017-01-09 02:05] kdubb commented on #129
Adding collected log here for safekeeping.

<details>
<summary>Clean up logging (expand it)</summary>

[code]

</details>

[2017-01-09 03:46] brettwooldridge commented on #129
@kdubb HikariCP has much more detailed debug logging now compared to when this bug was opened, including logs indicating when a connection was created and added to the pool, as well as a log when a connection is closed.  Enabling debug logging for com.zaxxer.hikari should shed some new light on what is happening, especially if as you say this is easily reproducible in your environment just running

[2017-01-09 04:32] kdubb commented on #129
@brettwooldridge Good to know.  Right now, after perusing the log posted above, I'm thinking it's a false positive from the `ThreadedHousekeeper`.  The log shows that all of the connections that were reported as leaked were previously explicitly closed.

 I'm _hoping_ its due to the lack of calling `PhantomReference.clear`. According to the docs:

Since these docs aren't all that clear, my current

[2017-01-10 05:56] kdubb commented on #129
Commit 159cefe86ea047169ece022f38bf518032cf8dae clears the `PhantomReference`s after usage.  I'm not exactly sure why this fixes the false positives but 30 hours and counting without one; fingers crossed.

Also, this may fix the seemingly random Housekeeper warnings that popup while running tests; previously I thought these were due to actual leaks but maybe not.

[2017-01-12 01:02] kdubb commented on #129
After days of testing with multiple servers under different conditions we have no recorded false positives; it appears it may be fixed.  Closing until evidence proves otherwise.

[2017-01-12 01:02] #129 closed, assigned to nobody

[2017-01-13 14:40] jesperpedersen commented on #276
Latest master (de5de69d85419d692cbbaf79daa1394baea67b00)

[code]

and

[code]

[2017-01-15 05:48] kdubb commented on #276
PR #292 used Netty's new(ish) `PARANOID` level for leak tracking as well as changes to allow easier location of leaks.

All the leaks listed in this issue have now been confirmed, found & fixed; as well as a few others.

@jesperpedersen Would love a sanity check with the new HEAD.  Should have not leak warnings (and coupled with #294 no Housekeeper warnings either)

[2017-01-16 17:34] jesperpedersen commented on #276
@kdubb Great work ! Fixed an issue, and only seeing traces from
[code]
now

[2017-01-16 17:37] jesperpedersen opened #297 "pgjdbc-ng 0.7"
Release items:
* ~~Align SSL configuration for connection level vs. DataSource~~
* ~~Remove work branches from repository~~
* ~~Create artifacts with Java 7~~
* ~~Deprecate Java 7 in release notes~~
* ~~Make PostgreSQL 9.1 best effort support (release notes)~~

Required fixes:
* ~~ByteBuf leak (#276)~~
* ~~https://github.com/netty/netty/issues/6246~~ (sort of, as we downgraded to Netty 4.1.4)

[2017-01-16 17:38] jesperpedersen commented on #280
Watch #297

[2017-01-16 17:38] #280 closed, assigned to nobody

[2017-01-16 20:11] jesperpedersen commented on #195
Providing an alias for getFunctions() -> getProcedures(), and getFunctionColumns() -> getProcedures() is a bad idea, since the ResultSet will contain different columns, and use different constants (which aren't binary compatible).

Throwing the SQLException is a valid "return" type for both functions, so tools needs to account for that.

As such, I'm closing this feature request, since PostgreSQL

[2017-01-16 20:11] #195 closed, assigned to nobody

[2017-01-17 09:45] oscerd commented on #297
Is there any estimated date for 0.7 release?

[2017-01-17 19:44] jesperpedersen commented on #276
We will leave above as is

[2017-01-17 19:44] #276 closed, assigned to nobody

[2017-01-18 10:30] abishai opened #300 "pgjdbc-ng 0.6 Array in batch issue"
[code]
[code]

[code]
Looks like I can't execute batch if it has arrays. ```stmt.execute()``` works.

[2017-01-20 05:00] kdubb opened #302 "Switch off of oss-parent pom"
Maven central has a newer, better setup for releases to central that don't require the parent pom to be `sos-parent`; which is now "unsupported".

Instructions are provided via [Sonatype Maven Details](http://central.sonatype.org/pages/apache-maven.html#deprecated-oss-parent)

[2017-01-20 13:56] jesperpedersen commented on #297
http://impossibl.github.io/pgjdbc-ng/releases/2017/01/20/0.7.html

[2017-01-20 13:56] #297 closed, assigned to nobody

[2017-01-26 02:08] andreak opened #303 "publish 0.7 to maven-central"
$subject

[2017-01-26 02:23] kdubb commented on #303
I am quite confused... I definitely did this. Trying to figure out where if/where it failed.

[2017-01-26 07:57] andreak commented on #303
It's on sonatype but not maven central:
http://central.maven.org/maven2/com/impossibl/pgjdbc-ng/pgjdbc-ng/

[2017-01-26 09:04] gsmet commented on #303
Hi,

Apparently Sonatype has issues with the synchronization from OSS to
Central. There is a (long) delay. It's been 6 days we published some
artifacts for Hibernate and they are still not there.

--
Guillaume

On Thu, Jan 26, 2017 at 8:57 AM, Andreas Joseph Krogh <
notifications@github.com> wrote:

[2017-01-26 11:26] andreak commented on #303
Allrightythen

[2017-01-30 08:24] gjdev commented on #303
I have no problem getting artifacts synced to maven central. According to their issue tracker there was indeed a sync issue a week ago, but that talked about hours delay, not days, and has since been resolved. So maybe there's something else going on? Can I suggest to open an issue at https://issues.sonatype.org/projects/OSSRH ? They are usually pretty fast with responding to issues.

[2017-01-31 07:23] oscerd commented on #303
The situation is always the same. No 0.7 in maven central.

[2017-02-01 10:40] oscerd commented on #303
any news?

[2017-02-01 18:21] kdubb commented on #303
I have limited time this week but I am looking into it

[2017-02-07 08:14] kdubb commented on #303
@oscerd @andreak I have repeated the release process through oss.sonatype.org. Hopefully it distributes to central correctly this time.

[2017-02-07 08:36] oscerd commented on #303
thanks!

[2017-02-07 09:53] andreak commented on #303
Jepp, it's there now.
Thanks.

[2017-02-07 09:53] #303 closed, assigned to nobody

[2017-02-07 15:38] kdubb opened #305 "Release 0.7.1"
- [x] Move to Netty 4.1.8  ( @jesperpedersen )
- [x] OSGI fix from #304

[2017-02-07 23:19] kdubb commented on #305
Released! Should appear in central soon.

@oscerd

[2017-02-07 23:19] #305 closed, assigned to nobody

[2017-03-02 19:20] sesuncedu opened #309 "OSGI package version numbers over / under optimistic"
The OSGI package version numbers in releases of pgjdbc to date have been  over and under optimistic, which I think means the glass is full, but it's only a half.

Some packages have not had visible API changes since the first release with bundle headers (0.3), but most have had at least one non-backwards compatible change.

Versions 0.7 was the first release with non 0 version numbers - all 0.7.0.

[2017-03-03 05:57] nikwan opened #312 "Websphere8.5 Postgres driver pgjdbc-ng-0.7-complete.jar Datasource not working with hibernate integration"
Websphere8.5 datasource not working facing exception:

Database version: 9.1
Driver version: pgjdbc-ng-0.7-complete.jar
Hibernate Version: 3.1

At Websphere console **Test connection** get succeeded. But if it access through the hibernate with JNDI call datasource name **jdbc/test_master** it gives below exception

**[3/3/17 11:04:34:722 IST] 00000080 InternalGener I   DSRA8203I: Database product

[2017-03-05 06:59] asm0dey opened #314 "Please, describe in wiki or on the main page syntax of failover connection"
subj

[2017-03-06 00:54] sesuncedu opened #315 "DataSource configuration issues:"
1.  The name of the standard datasource property for storing "name of a particular database on a server" is "databaseName"; pgjdbc-ng uses "database".
2. The name of the standard datasource property for storing the "database server name" is "serverName"; pgjdbc-ng uses "host".
3. The name of the standard datasource property for storing the "port number where a server is listening for requests" is

[2017-03-06 01:01] sesuncedu opened #316 "Driver Version Number is still 0.1.0 (last changed 3/18/2013)"

[2017-03-06 01:08] sesuncedu opened #317 "Driver name could be made available as a constant in PGDriver (like Version)"

[2017-03-06 20:41] sesuncedu opened #318 "PGNotificationListener extends NotificationListener instead of vice versa"
The API class ```com.impossibl.postgres.api.jdbc.PGNotificationListener``` is defined as:
[code]
Where ```com.impossibl.postgres.system.NotificationListener```  is defined as

[code]

This requires  ```NotificationListener``` to be exported as part of the public API.
The declaration of ```NotificationListener::notification``` could be moved to PGNotificationListener, and NotificationListener could

[2017-03-06 23:10] sesuncedu opened #319 "com.impossibl.postgres.api.data.Record uses com.impossibl.postgres.types.Type"
Type is deeply  tied in to many low-level implementation classes, such as  ```PgType.Row``` and ```PgAttribute.Row``` .

If ..api.data.* is part of the public api, then it might be better to add an Interface for the methods that are intended to be part of the public api, and have Type  implement that interface.

[2017-03-07 01:20] sesuncedu opened #320 "shaded jar with embedded netty files has OSGI imports for netty"
This causes unsatisfied wiring requirements unless netty bundles are deployed.

[2017-03-08 18:11] jorsol opened #321 "Rename the project and packages"
The current name and package of the project is not "cool", the package is long "com.impossibl.postgres" and it's not pretty, and since the project still not hit a 1.0 there is a chance to change that...

And it looks that the domain is not used, so what about a rename of project and packages from "com.impossibl.postgres" to "io.pgjdbc"?

[2017-03-09 14:51] kdubb commented on #321
This has been in the works for quite some time; including a move to the official pgjdbc projecy. Although, it's not super high on our list of things to do.

[2017-04-02 00:02] jknack opened #323 "Allow to configure datasource by URL string"
Basic usage:
[code]

and complex urls:

[code]

[2017-04-23 01:36] kentfredric opened #324 "Support for implicit USERNAME?"
The official postgres JDBC works as-is without needing to specify a specific username, and it manages to assume the username of the logged in user by default.

This is rather useful, especially on travis, as it means you don't have to plumb configuration up if you don't need to.

For example, the following hikari-cp config map works as-is without any username/password data.
[code]

However, the fo

[2017-05-02 14:14] manuwit opened #325 "NullPointerException when we get Locale Specification"
On a windows postgre database with a Local as "French_France.1252", the following code cannot work:

Class BasicContext line 290:
      if (Locales.getJavaCompatibleLocale(localeSpec.split("\\.")[0]) != null) {
        localeSpec = Locales.getJavaCompatibleLocale(localeSpec);
      }
The localeSpec is null and throws an exception in the next call:
      String[] localeIds = localeSpec.split("_|\\.

[2017-05-07 14:21] uweschaefer opened #326 "Unable to express ? Operator"
Am i right assuming, there is no way to get WHERE a ? 'b' through to the database with a PreparedStatement?

I understand the JDBC Spec prevents us from using ?.

I tried to work around with
* ??
* {postgres '?'}
* {postgres containskey}

but i am out of ideas.

[2017-05-09 07:22] tiagosmx opened #327 "Null Pointer Exception when trying to open a connection"
I'm getting a Null Pointer exception when trying to open a connection like this using pgjdbc-ng 0.7 version (No exception is thrown when I use pgjdbc-ng 0.6):
[code]
Error in 0.7 version:
![0 7](https://cloud.githubusercontent.com/assets/4307437/25839672/0811032a-346f-11e7-9b7b-9214f4441109.PNG)
Everything fine in 0.6 version:
![0 6](https://cloud.githubusercontent.com/assets/4307437/25839671/080f

[2017-05-10 17:52] guai opened #328 "BasicContext#loadLocale error"
I think this lines:
[code]
should be changed to this:
[code]
cause `Locales.getJavaCompatibleLocale` awaits something like `Russian_Russia` and not `Russian_Russia.1251`

[2017-05-10 17:59] guai commented on #328
version 0.7.1

[2017-05-10 18:20] guai opened #329 "getBlob error"
[code]
with this simple example having table `CREATE TABLE test (id serial primary KEY, val bytea);` with just one row with `id = 1` and some data in `val` gives me:
[code]
version `group: 'com.impossibl.pgjdbc-ng', name: 'pgjdbc-ng', version: '0.7.1'`

[2017-05-27 21:35] diegofalcao opened #330 "Notification Listener is not propagating exceptions when we register a listener with one connection and send a notify with a different connection."
When the Notification Handler receives the notification, any exception that occurs inside the notification() method is 'lost' because the exception is not being propagated. Below I wrote a simple code to show the bug. The NullPointerException in the example is 'lost' and the program continues as if everything is OK.

[code]

[2017-06-18 09:13] guai commented on #326
I once hit similar issue with db2
try fill this jdbc-parameter with '?' char
though this is not what one would do on regular basis

[2017-07-18 15:15] ricpdx commented on #328
I can see that this fix is in the source code here on github -- but it is not in the 0.7.1 artifacts on maven central and jcentral for some reason.

[2017-08-10 17:12] archenroot commented on #169
Any update here, very interested in this option?

There is another project to run PostgreSQL embedded:
https://github.com/yandex-qatools/postgresql-embedded

I am interested in doing some hpc benchmarking with PosgreSQL in RAMdrive with timescaleDB against Chronicle-Map for time series data and definitely I would like use this cool feature to prevent any TCP standing in my way :-)

[2017-08-22 05:14] jgeraerts commented on #327
Bumped into it as well. It was fixed in #307 but not released yet. You can clone the repository and create a build yourself.

[2017-08-31 02:41] yurique opened #332 "failure with netty-4.1.5.Final in classpath"
When there's a non `4.1.8.Final` (`4.1.5.Final` in my case) version of netty on the classpath I'm getting this:

[code]
Is this a  binary compatibility issue with `netty` or can this be fixed in `pgjdbc-ng`?

[2017-08-31 03:15] He-Pin commented on #332
how about upgrade to newer netty version?

[2017-08-31 03:18] yurique commented on #332
@hepin1989, you mean upgrading `pgjdbc-ng` to newer netty? That would work for me :)

But it looks like `pgjdbc-ng` is compiled against 4.1.8 and newer versions have something binary different, so it won't work.

[2017-09-02 12:51] archenroot opened #333 "SpringBoot and Quartz Scheduler: Coercion from 'com.impossibl.postgres.system.procs.Bytes$BinDecoder$1' to 'java.sql.Blob' is not supported (com.impossibl.postgres.system.procs.Bytes$BinDecoder$1@79957f11)"
I tried to migrate some basic SpringBoot and Quartz Scheduler to work with this driver and having following result:
`Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'schedulerFactoryBean' defined in class path resource [com/opencodez/configuration/ConfigureQuartz.class]: Invocation of init method failed; nested exception is org.quartz.JobPersistenc

[2017-09-02 15:33] archenroot commented on #333
Similar/same error here: #329

Well I encountered this error while migrating the solution from MySQL to PostgreSQL backend, now I changed original to:
[code]

in quartz.properties, so changing STD to PostgreSQL delegate class, and the error is fixed...

I have now other error related to missing hibernate dialect, but that could be related to SpringBoot misconfig itself. Really interesting error...

[2017-09-02 15:44] archenroot commented on #333
Just to finish my elaboration with MySQL to PostgreSQL of Quartz Scheduler running on SpringBoot project, I finally had to add hibernate.dialect into XML Spring config:
[code]

And All works now...

[2017-09-04 15:56] AhmedMourad0 commented on #327
Any idea when it's being fixed? have same problem with version 0.7.1 here...

[2017-09-04 16:56] tiagosmx commented on #327
@AhmedMouradDev so, I have managed to fix this by using maven on my project and importing the pgjdbc-ng library through maven.
I guess that those .jars provided on the website have dependency issues, that's why they throw null pointer exceptions.
My recommendation is using the lastest version provided in maven repository (that's what I'm using nowdays)
https://mvnrepository.com/artifact/com.imposs

[2017-09-05 00:22] AhmedMourad0 commented on #327
@tiagosmx That's what i've been using, was using this Gradle dependency and got the error:

`compile group: 'com.impossibl.pgjdbc-ng', name: 'pgjdbc-ng', version: '0.7.1'`

However by using version 0.6 the error disappears but it's very annoying using an outdated version!

[2017-09-12 17:00] ricamn commented on #328
Still not fixed.

[2017-09-12 17:00] ricamn commented on #328
Not fixed yet.

[2017-09-19 21:11] andreak opened #336 "Version 0.7.1 fails with pg10rc1"
Caused by: java.lang.IllegalArgumentException: revision cannot have value when minor does not
        at com.impossibl.postgres.system.Version.<init>(Version.java:80)
        at com.impossibl.postgres.system.Version.get(Version.java:66)
        at com.impossibl.postgres.system.Version.parse(Version.java:50)

select version();
┌───────────────────────────────────────────────────────────────────────

[2017-09-19 21:56] andreak commented on #336
Maybe having this as Version.VERSION_SPLIT_PATTERN:
```  private static final Pattern VERSION_SPLIT_PATTERN = Pattern.compile("((?:\\D+)?\\D+)");```

[2017-10-04 18:17] rocketraman commented on #78
Looks like the upstream work on this has begun: https://twitter.com/brunoborges/status/915302682939711488

![image](https://user-images.githubusercontent.com/53049/31192296-e33df3e0-a90e-11e7-8dc6-8f543aee207f.png)

Awesome!

[2017-10-04 18:20] kdubb commented on #78
@rocketraman Great news... the driver is essentially an async engine mapped to sync JDBC. This could be a fun area to explore and hopefully with minimal development effort.

[2017-10-22 10:42] yurique commented on #332
It turned out that another lib (async-http-client) included a copy of `io.netty.channel.DefaultChannelId` class in its jar (which was not binary compatible with netty on the classpath). It was rather tricky to spot.

[2017-10-22 10:42] #332 closed, assigned to nobody

[2017-11-11 09:48] 543802360 commented on #271
hello,we have got the same problem.when i connect the local postgresql ,pgjdbc-ng works fine,but when connect to the remote pgsql,we encounter the problem as follws：
Exception in thread "main" java.util.IllformedLocaleException: Invalid subtag: Chinese (Simplified) [at index 0]
	at java.util.Locale$Builder.setLanguageTag(Locale.java:2311)
	at com.impossibl.postgres.system.BasicContext.loadLocale(B

[2017-11-11 09:48] 543802360 commented on #271
please help,thank u

[2017-11-29 10:23] andreak opened #337 "io.netty.util.internal.OutOfDirectMemoryError"
Using 0.7.1 with Pg-10 (also happened with Pg-9.6)

After some time I get this Exception:

[code]

Any ideas how to debug this?

[2017-11-29 17:41] kdubb commented on #337
Am I wrong or does it look like you're just "out of memory"?  Or are you wondering why it's trying to allocation 16mb?

[2017-11-29 19:01] andreak commented on #337
The VM has 4GB physical memory + 4GB swap.

At the time of the exception the system had allocated 2.9GB swap, and the JVM was operating with -Xmx2g. The JVM had allocated 1.3 GB heap (according to munin).

So what's happening is that jetty is trying to allocate 16MB when it already has used 2097152000 (2000MB) and max is 2112618496 (2014.75MB)?

I don't really know why jetty thinks it has used 2gb

[2017-12-03 18:06] atmaxinger commented on #328
Is there an ETA when this will be available in Maven?

[2017-12-06 09:10] andreak commented on #337
I got it again just now and according to VisualVM I have plenty free heap-space.

Size: 2,886,291,456 B

Used: 1,597,561,648 B

Max: 3,221,225,472 B
![image](https://user-images.githubusercontent.com/321577/33653474-8740ca6e-da6d-11e7-87c2-d6dc0c340c15.png)

[code]

[2018-01-17 03:51] sayseakleng commented on #327
@AhmedMouradDev , they haven't released the fix yet :(
We're waiting for the release :)

[2018-01-17 08:27] tiagosmx commented on #327
@AhmedMouradDev @sayseakleng you sure you did not add the library manually instead of by maven/gradle?
I managed to get it working after adding pgjdbc-ng library through maven.

[2018-02-04 08:49] archenroot commented on #169
Few moments happened and I will be looking into this in more detail as I require this for one of my low-latency and high throughput project. Not saying it will happen during next 1-2 months, but I put it on my task list.

[2018-02-09 15:05] npryce opened #338 "PGDataSource.getConnection could return a PGConnection, but doesn't"
At the moment, if you get a connection from a PGDataSource you cannot add notification listeners without casting to PGConnection.  This would be avoided if the getConnection methods returned PGConnection.

[2018-02-09 20:05] jesperpedersen commented on #338
PGDataSource.getConnection is the official contract from javax.sql.DataSource, so I don't see how you can get around that.

We could add another method to get PGConnection, but then you have to cast DataSource to PGDataSource.

Our DataSource instance could be "proxied" by different connection pools, incl our Connection instance, so there is no easy way to account for this scenario.

Doing the cas

[2018-02-09 20:05] #338 closed, assigned to nobody

[2018-02-09 20:06] npryce commented on #338
It shouldn’t be a problem because Java has covariant return types

[2018-02-09 20:48] kdubb commented on #338
@npryce After looking at the code. A covariant return of `PGConnectionImpl` is possible here to make life easier.  Not sure how much easier since you're almost always using a connection pool which will be returning a basic `Connection`.

[2018-02-09 21:06] npryce commented on #338
Thanks.

It’s useful in code that receives notifications, because it maintains a single long-lived connection, and needs to register a listener with methods that exist on PGConnection

[2018-02-10 03:57] brettwooldridge commented on #338
Do not do this.  The official API is to call the unwrap() method on the Connection, passing PGConnection.class as the parameter.

[2018-02-10 04:48] kdubb commented on #338
Good call. Right API for the job.

[2018-02-13 19:39] d3bt3ch opened #339 "What if the connection is lost ?"
I am registering a listener with the database server for notifications. What if there is a network failure or the database server is rebooted ?

[2018-04-17 12:22] vaIgarashi commented on #339
bump

[2018-04-20 13:30] vaIgarashi commented on #314
bump

[2018-05-02 15:34] derroman commented on #328
We definitely need this asap, please!

[2018-05-24 23:36] juanfrasco opened #340 "NullPointerException when we get Locale Specification for Spanish_Spain.1252 locale"
This is exactly the same issue  pointed by manuwit (#325) but for the spanish locale,
(using pgjdbc-ng-0.7.1-complete.jar)

On a windows postgres database with a Local as "Spanish_Spain.1252", the following code cannot work:

Class BasicContext line 290:
if (Locales.getJavaCompatibleLocale(localeSpec.split("\.")[0]) != null) {
localeSpec = Locales.getJavaCompatibleLocale(localeSpec);
}
The localeS

[2018-05-26 22:09] turbanoff opened #341 "Strange NullPointerException in PGConnection.finalize"
Just caught NPE in PGConnection.close
![default](https://user-images.githubusercontent.com/741251/40580614-7d03ebda-614a-11e8-9e4a-c5acaa4fc7c2.png)

	  at org.postgresql.jdbc.PgConnection.close(PgConnection.java:659)
	  at org.postgresql.jdbc.PgConnection.finalize(PgConnection.java:881)
	  at java.lang.System$2.invokeFinalize(System.java:2125)
	  at java.lang.ref.Finalizer.runFinalizer(Finalizer.

[2018-05-28 16:55] #341 closed, assigned to nobody

[2018-07-16 19:20] stodge commented on #339
I am also interested in knowing this.

[2018-07-16 19:23] davecramer commented on #339
The connection drops and you do not get notified.

[2018-07-18 19:25] stodge opened #342 "PGConnection cannot be resolved to a type after upgrading to 0.7.1"
I changed my pom.xml to upgrade from 0.7 to 0.7.1 from https://mvnrepository.com/artifact/com.impossibl.pgjdbc-ng/pgjdbc-ng/0.7.1:

[code]

I'm getting many compile errors:

[code]

I browsed the source code and I can't see why I'm getting these errors from the updated library. Any suggestions for a relatively mild Java developer?

Thanks

[2018-08-07 21:21] Rom1kz commented on #100
i have the same problem
is there a way to disable these requests ?

[2018-08-28 09:08] Manuri opened #343 "When retrieving OUT params consider the index relative to the sum of all IN and OUT params"
At [1] there is the following method.

[code]
In this method, it is verified that the parameter index is smaller than the count of **all OUT params**. But when registering OUT parameters we register them considering their index relative to all IN/OUT params.
eg: Say there are 4 params IN, IN, OUT and  INOUT. They will be registered with indices 1,2,3 and 4 respectively. When retrieving the values

[2018-09-01 16:24] relio opened #344 "How to map composite nested types into Java classes"
Hi all!
I'm playing with composite nested types and I'm trying to map them into Java classes but I have some questions about how to do this in the right way.

These are the step I made:

1. I have created two linked table (SUBJECTS and ADDRESSES), two types and a function to read data from tables:

[code]
Finally I have filled the tables with some fake data (complete SQL script available here, ins

[2018-09-07 11:38] dineshudayakumar commented on #194
I am seeing similar issue.

I have one periodic scheduler which uses connection.isValid(1) to check whether the connection is valid every 5 seconds. And that thread is hung indefinitely. Here is the stack traces from the thread dump

Periodic scheduler thread name - pool-15-thread-1 which is in waitfor() indefinitely and holding the monitor for PGConnectionImpl@0x0000000093EE4350 and PG-JDBC Event

[2018-09-15 08:16] chobostar commented on #100
These queries stucks in lock queue during some ALTER TABLE with CONTRAINTS and VACUUM FULL of pg_catalog tables.

[2018-10-15 06:09] balnagendra opened #345 "NullPointerException while connecting to Postges database"
Hi,
I was trying your pgjdbc-ng. Here is the code:
import java.sql.SQLException;
import java.sql.Statement;

import com.impossibl.postgres.api.jdbc.PGConnection;
import com.impossibl.postgres.jdbc.PGDataSource;

public class PGListenNotify
{
PGConnection connection;

public PGListenNotify()
{
String DBHost = System.getenv("DBHost");
String DBName = System.getenv("DBName");
String DBUserName = Syst

[2018-10-15 15:04] andreak commented on #336
This now applies to 11rc1 as well.

[2018-10-18 14:31] dineshudayakumar opened #346 "PgConnection.isValid(timeout) is not using the timeout sent in the argument"
PgConnection.isValid(1) is not using the timeout sent in the argument.

This was my scenario
One periodic scheduler checks whether the PgConnection is valid or not using the PgConnection.isValid(1) to make sure the connection is not closed because of cases like restart of postgres
And there was a notification listener attached to the PgConnection to listen for events.
The periodic scheduler thread

[2018-10-22 10:55] ManuelB commented on #345
Hi,
this is similair to #340. We have the same issue with Germany_German.1252 Here is our workaround:

[code]

Then in your code you have to call:
[code]

Hope that helps

/Manuel

[2018-10-25 06:14] amyodov opened #347 "pgjdbc-ng seems incompatible with Flyway 5.x"
I recently tried to upgrade my project (successfully using pgjdbc-ng 0.7.1 and Flyway 4.2.0) to Flyway 5.2.0, and it failed to launch, got stuck at the Flyway migration start.

Even though Flyway doesn’t support pgjdbc-ng officially (what is a separate problem that would worth to be fixed), it worked rather well before: you just create a `PGDataSource` instance:

[code]

... and then use it:

[cod

[2018-10-30 14:37] stodge opened #348 "Update Netty dependency to newer version?"
The version of Netty that you are using is fairly old. Would it be possible to update to a newer version?

Thanks

[2018-10-30 15:07] stodge commented on #348
There's been no repository activity for a year; I assume this project has been abandoned? Any alternatives or stable forks?

[2018-10-30 15:17] davecramer commented on #348
Well there is this https://github.com/pgjdbc/pgjdbc

Dave Cramer

On Tue, 30 Oct 2018 at 11:09, Mike Stoddart <notifications@github.com>
wrote:

[2018-12-10 19:44] kdubb commented on #348
Being updated in #349

[2018-12-10 19:44] #348 closed, assigned to nobody

[2018-12-10 19:45] kdubb commented on #347
Fixed in #349

[2018-12-10 19:45] #347 closed, assigned to nobody

[2018-12-10 20:09] kdubb commented on #346
Fixed in #349

[2018-12-10 20:09] #346 closed, assigned to nobody

[2018-12-10 20:13] kdubb commented on #330
Notifications are delivered on IO threads. Exceptions on non "main" threads only kill that thread, they don't dump the entire program.  This is exactly how I would expect it to work.

[2018-12-11 01:39] kdubb commented on #325
Fixed in #349

[2018-12-11 01:39] #325 closed, assigned to nobody

[2018-12-11 01:40] kdubb commented on #340
Fixed in #349

[2018-12-11 01:40] #340 closed, assigned to nobody

[2018-12-11 01:41] kdubb commented on #345
Fixed in #349

@ManuelB @balnagendra  Please try the rework branch and report back

[2018-12-11 01:41] #345 closed, assigned to nobody

[2018-12-11 01:43] kdubb commented on #342
First, apologies for the lack of response.  This seems to be a dependency management issue unrelated to the driver iteself as the `PGConnection` interface is, and will remain, available.

[2018-12-11 01:43] #342 closed, assigned to nobody

[2018-12-11 02:48] kdubb commented on #329
Fixed in #349

[2018-12-11 02:48] #329 closed, assigned to nobody

[2018-12-11 02:48] kdubb commented on #333
Fixed in #329

[2018-12-11 02:48] #333 closed, assigned to nobody

[2018-12-11 02:49] #330 closed, assigned to nobody

[2018-12-11 02:50] kdubb commented on #328
Fixed in #349 (and possibly earlier)

[2018-12-11 02:50] #328 closed, assigned to nobody

[2018-12-11 02:53] kdubb commented on #319
`Record` is gone. JDBC `Struct` should be expected/used.

[2018-12-11 02:53] #319 closed, assigned to nobody

[2018-12-11 03:02] kdubb commented on #300
Fixed in #349

[2018-12-11 03:02] #300 closed, assigned to nobody

[2018-12-11 03:03] kdubb commented on #228
File was removed

[2018-12-11 03:03] #228 closed, assigned to nobody

[2018-12-11 03:06] kdubb commented on #109
Coercion and its demons have been vanquished in #349

[2018-12-11 03:06] #109 closed, assigned to brettwooldridge

[2018-12-11 03:54] #288 closed, assigned to nobody

[2018-12-11 03:55] kdubb commented on #231
Fixed in #349

[2018-12-11 03:55] #231 closed, assigned to kdubb

[2018-12-11 04:24] kdubb commented on #316
Fixed in #349 to autoload version number from build information.

[2018-12-11 04:24] #316 closed, assigned to nobody

[2018-12-11 04:28] kdubb commented on #216
Moving with the times... 9.1 support is dead for us.

[2018-12-11 04:28] #216 closed, assigned to nobody

[2018-12-11 08:04] ManuelB commented on #345
@kdubb thanks for the fix unfortunately I currently don't have time to verify it.

[2018-12-11 22:58] kdubb commented on #206
Fixed in #349... tested with current (as of the time of this comment) Time, Date & Timestamp tests from both pgjdbc & pgjdbc-ng.

[2018-12-11 22:58] #206 closed, assigned to nobody

[2018-12-11 23:14] kdubb commented on #343
@Manuri Can you provide a test case for this? I'm hopeful it's fixed in #349  but I'd like to add a test and the description is fairly complex.

[2018-12-19 23:00] kdubb opened #351 "Investigate removing the use of lambdas"
With Java 8 as the minimum lambda's have been used. @jesperpedersen suggested this might be "bad".

If lambda's are to be disallowed, should we be removing anonymous class instances, which seem to carry the same weight (if not at least the same features) as lambdas.

[2018-12-19 23:16] kdubb opened #352 "Repair/Replace/Remove Netty"
During #349 I investigate the performance difference between the mainline and this driver. There is a real difference (to say the least) when testing on localhost. It is reduced significantly when testing across a link (even a very fast low latency link). It's worth investigating other options.

One of the key requirements is that it remain asynchronous, as we move forward we will need that functi

[2018-12-19 23:17] kdubb commented on #352
@normanmaurer I know you're a busy man but was wondering if you might weigh in here. I can elaborate on the performance issues we see (raised in #349) if need be.

[2018-12-20 01:27] kdubb opened #353 "Implement JDBC 4.2 extended types"
JDBC supports "extended" type information via `SQLType`. With this users can specify exact `Postgres` types that aren't natively supported (e.g. `Money`, `Interval`, `UUID`, etc.).

Implemented correctly this could help reduce the need for server side description information when using these types. It could also help remove/reduce the type registry we maintain.

[2018-12-20 08:06] jesperpedersen commented on #352
There is http://xnio.jboss.org/ too

[2018-12-21 18:56] kdubb commented on #352
@jesperpedersen I **hacked** together a simple `Socket` based implementation that uses a reader thread per connection and checked it into a branch here 60778131164a877de148af0059f0620f6da4b5ec.  This hack alone gets makes `ng` _only_ around 15% slower than `og` when using localhost and about 7% when going across a link.

Of particular interest. I tried a "slick" implementation first. I used a `Soc

[2019-01-02 23:52] kdubb commented on #353
Implemented #355

[2019-01-02 23:52] #353 closed, assigned to nobody

[2019-01-03 03:34] kdubb commented on #324
Fixed #355. Uses Java's `user.name` system property.

[2019-01-03 03:34] #324 closed, assigned to nobody

[2019-01-03 19:20] kdubb commented on #339
As of #356, `PGNotificationListener` has a `closed` method to notify listeners when the connection is closed; you can now make a new connection or handle it some other way.

[2019-01-03 19:20] #339 closed, assigned to nobody

[2019-01-03 19:21] kdubb commented on #318
`NotificationListener` has been removed in #356

[2019-01-03 19:21] #318 closed, assigned to nobody

[2019-01-03 19:30] kdubb commented on #205
Closing as it no longer applies.  Performance is currently tied to NIO which is being investigated in #352

[2019-01-03 19:30] #205 closed, assigned to nobody

[2019-01-03 19:46] kdubb commented on #194
Querying in notification listeners should work as long as you're managing the connections correctly (one per thread); it's now in the test suite via #356

[2019-01-03 19:46] #194 closed, assigned to nobody

[2019-01-03 19:47] kdubb commented on #192
The `-complete` versions of the driver included shaded Netty.

[2019-01-03 19:47] #192 closed, assigned to nobody

[2019-01-04 04:04] kdubb commented on #169
@archenroot @harbulot This is being implemented in #357. Comments and testing are welcome.

[2019-01-04 04:05] kdubb commented on #169
@jesperpedersen ServerConnectionShared was turned into a singleton per type of event loop group. This means multiple sets of threads just based on different connection methods which feels less than ideal.

[2019-01-04 04:14] kdubb commented on #94
Implemented in #350.  Enable via `sql.trace=true` connection property or `pgjdbc.sql.trace=true` system property.

[2019-01-04 04:14] #94 closed, assigned to nobody

[2019-01-04 04:15] kdubb commented on #11
Schema's are fully supported as of #354.

[2019-01-04 04:15] #11 closed, assigned to nobody

[2019-01-04 04:21] #159 closed, assigned to nobody

[2019-01-04 04:22] #218 closed, assigned to nobody

[2019-01-04 20:49] kdubb commented on #78
@rocketraman Quite a bit of work has been done to ready the core to host an implementation of ADBA (what its currently being called). I'm closing this as a new specific issue is forthcoming to implement ADBA.

[2019-01-04 20:49] #78 closed, assigned to nobody

[2019-01-04 20:55] kdubb commented on #317
Fixed in #358

[2019-01-04 20:55] #317 closed, assigned to nobody

[2019-01-05 04:01] kdubb commented on #336
Fixed in e2cc1633c889cf0cb254488a3c53bb58dc3bc07e

[2019-01-05 04:01] #336 closed, assigned to nobody

[2019-01-07 07:53] kdubb commented on #315
Fixed in #360

[2019-01-07 07:53] #315 closed, assigned to nobody

[2019-01-07 07:54] kdubb commented on #323
Fixed in #360

[2019-01-07 07:54] #323 closed, assigned to nobody

[2019-01-07 08:08] #72 closed, assigned to nobody

[2019-01-07 08:14] kdubb commented on #327
Closing this as the issue appears to be fixed but lacked a specific release. It will for sure be included in the next release (0.8). Which should be out soon.

[2019-01-07 08:14] #327 closed, assigned to nobody

[2019-01-07 08:57] kdubb commented on #117
This is a quite old issue and I believe it's no longer relevant in the current driver. There are two caches with regard to prepared statements at this point, a description cache (described statement with no parameter types) which is used to work out what parameter types are required, then a prepared statement cache that includes SQL text and parameter types; which directly solves the originating p

[2019-01-07 08:57] #117 closed, assigned to nobody

[2019-01-07 09:13] kdubb commented on #169
PR was merged.

[2019-01-07 09:13] #169 closed, assigned to nobody

[2019-01-07 20:14] kdubb commented on #312
According to the stack trace this was due to client info not being implemented (even though database meta-data said it did).  Fixed in #360

[2019-01-07 20:14] #312 closed, assigned to nobody

[2019-01-07 20:27] kdubb commented on #343
This method & referenced check no longer exist as shown. I believe it's fixed and now covered in our normal `CallabaleTest` tests; if you have different results feel free comment and we can re-open.

[2019-01-07 20:27] #343 closed, assigned to nobody

[2019-01-07 22:04] kdubb commented on #207
Fixed in f8f656d369a2b69ed97702def6475c487ea2bcb9. Added a version of this function to a test in `CallableStatementTest`

[2019-01-07 22:04] #207 closed, assigned to nobody

[2019-01-07 22:07] kdubb commented on #279
TimestampUtils is no longer in our main code base (It's not used by the driver but it is used by the tests).  All the parsing is done via instances of Java8 date/time parsers. Not going to fix.

[2019-01-07 22:07] #279 closed, assigned to nobody

[2019-01-07 22:38] kdubb commented on #257
Closing due to age and no new information. Feel free to comment with more data and we can re-open.

[2019-01-07 22:38] #257 closed, assigned to nobody

[2019-01-07 22:40] kdubb commented on #283
Looks like the fork is gone any chance we can get that test back? Apologies, I know this is an __old__ issue.

[2019-01-09 15:43] kdubb commented on #283
Reproduced, fixed & test case added in c23acc639163b6e16d90f49fce5441e6c1b4561c

[2019-01-09 15:43] #283 closed, assigned to nobody

[2019-01-10 11:01] kdubb commented on #302
Fixed #362

[2019-01-10 11:01] #302 closed, assigned to nobody

[2019-01-10 11:01] kdubb commented on #314
Fixed in #362

[2019-01-10 11:01] #314 closed, assigned to nobody

[2019-01-24 02:08] kdubb commented on #344
The new UDT generator (in `udt-gen` module). Handles these cases and the tests currently provide and example.

[2019-01-24 02:08] #344 closed, assigned to nobody

[2019-01-24 02:13] kdubb commented on #161
I believe this to be working on the latest head of `develop`; although `strict-mode` might need to be disabled.

[2019-01-24 02:13] #161 closed, assigned to nobody

[2019-01-31 03:58] kdubb opened #372 "OSGI Bundling"
In [https://github.com/impossibl/pgjdbc-ng/releases/tag/v0.8](v0.8) OSGI packaging was removed due to issues #309, #320 and PR #310

We need to determine the most maintainable method of managing OSGI packaging and add it to the new Gradle build.

[2019-01-31 03:58] kdubb commented on #320
Replaced with #372

[2019-01-31 03:58] #320 closed, assigned to nobody

[2019-01-31 03:59] kdubb commented on #309
Replaced with #372

[2019-01-31 03:59] #309 closed, assigned to nobody

[2019-02-01 02:55] kdubb opened #373 "0.9 - Packaging & Performance"
### Packaging
Moving to a new independent project (including Java package) as well as fixing module & OSGI packaging.

### Performance
Reduce NIO performance penalty, use new asynchronous features where possible (e.g. batch execution) and fix any issues identified through memory & cpu profiling.

[2019-02-01 03:35] kdubb opened #374 "Source code not highlighted in documentation"
Coderay needs to be enabled when building asciidocs.

[2019-02-01 03:38] kdubb opened #375 "UDT Generator has no uber jar"
The UDT generator needs an uber jar for easy execution via command line.

The documentation references an uber jar but none exists.

[2019-02-01 19:57] kdubb opened #376 "Transfer wiki to documentation"
All the information in the wiki that is not project related should be moved into the documentation to be versioned and released as normal.

[2019-02-01 19:58] kdubb commented on #376
I've deleted most of the wiki information, as it is already covered in the documentation.

@jesperpedersen Are the WildFly wiki pages still relevant and up-to-date? If I'll transfer them to docs and delete the pages.

[2019-02-01 20:02] jesperpedersen commented on #376
Yeah, they should be - apart from the version number of the driver

[2019-02-01 20:06] brettwooldridge commented on #376
@kdubb @jesperpedersen It was my impression that the github wiki is essentially a separate git repository, and can be versioned independently of the driver.  For example, the git repo for my github's project wiki is at ``git@github.com:brettwooldridge/HikariCP.wiki.git``.  And I manage it separately as a repository.

[2019-02-01 20:12] jesperpedersen commented on #376
Frankly, I think keeping it in the documentation is best. Otherwise there are 2 places where people has to contribute to.

[2019-02-01 20:14] kdubb commented on #376
@brettwooldridge Agreed but now that we have automatically built documentation I want to consolidate all that information into a single place. The `gh-pages` push is versioned to the release therefore documentation will be available historically for each release. The wiki would need extra care to keep in sync.

[2019-02-02 06:53] kdubb commented on #375
Added über packaging in 6909f64561ea811423c7c9d84b4892353e04efa9

[2019-02-02 06:53] #375 closed, assigned to nobody

[2019-02-02 06:54] kdubb commented on #374
Fixed in 4071d225822a9a8f138a074068c285ab32fc204d

[2019-02-02 06:54] #374 closed, assigned to nobody

[2019-02-02 09:32] kdubb commented on #222
Done and more in 0f2608253305c1f3bf628dc33492bb82a8eb3eb2

[2019-02-02 09:32] #222 closed, assigned to nobody

[2019-02-03 13:34] kdubb opened #380 "Fix intermittent failures in NotificationTest"
The tests in `NotificationTest` fail intermittently on travis, apparently due to a race condition in the test harness.

[2019-02-03 20:06] #376 closed, assigned to kdubb

[2019-02-03 23:52] #380 closed, assigned to kdubb

[2019-02-04 01:29] kdubb commented on #136
COPY support will land in 0.9... Anybody wishing to weigh in on the design should see #382

[2019-02-05 08:49] ak-coram opened #385 "VERSION_PATTERN doesn't match version in Ubuntu"
Hi,

`VERSION_PATTERN` in `com.impossibl.postgres.system.Version` currently
doesn't match the database version shipped with Ubuntu 16.04:

[code]

This means that the driver currently can't be used on this
platform. I'm guessing this has to do with the recent change of adding
support for tags in the version string. Could the regular expression
be made more lenient regarding what it accepts as a ta

[2019-02-05 18:05] #385 closed, assigned to nobody

[2019-02-05 19:45] kdubb commented on #385
This fix is available in `0.9-SNAPSHOT` & `0.8.2-SNAPSHOT`

[2019-02-05 19:52] ak-coram commented on #385
Thank you @kdubb! The fix looks good to me.

[2019-02-06 09:30] balnagendra commented on #345
Dear @kdubb
Build pgjdbc-ng is giving error:
[code]
I am building on Windows10.

[2019-02-06 13:02] balnagendra commented on #345
@kdubb
Thanks for your help. I was able to solve it. I am a novice in building with Gradle. That is why this confusion took place. I switched to CentOS and the problem was solved.
I got listener notification in Postgres.

Thanks
balnagendra

[2019-02-09 20:19] Framstag opened #387 "Cannot parse Version of current docker image?"
I have setup a minimal test application in Kotlin to work against a postgres database using the official docker image from here: https://hub.docker.com/_/postgres

Testcode:
[code]

The PosgreSQL Instance was started using:
[code]

Kotlin code uses your driver as dependency:
[code]

Besides a number of exceptions because I'm missing native netty support libraries I get:
[code]
Seems you like to ve

[2019-02-09 20:23] kdubb commented on #387
Duplicate of #385?  Try `0.8.2-SNAPSHOT`

[2019-02-10 08:33] Framstag commented on #387
I tested with 0.8.2 (releases just a few hours ago :-)) and it seems to work now. Thanks for the fast response.

[2019-02-10 08:33] #387 closed, assigned to nobody

[2019-02-10 10:52] mlillywhite opened #388 "setApplicationName fails with setClientInfo, application.name=REASON_UNKNOWN_PROPERTY"
I use setApplicationName in 0.7.0, but in the latest release (0.8.2) this seems to cause a SQLClientInfoException with the application.name=REASON_UNKNOWN_PROPERTY property.

[2019-02-10 10:54] mlillywhite commented on #388
On further investigation this appears to be caused by me calling getClientInfo() and then later calling setClientInfo().

[2019-02-13 17:12] kdubb commented on #388
`setClientInfo` was changed to accept the JDBC defined values, and leaves out a number of alternatives.

Use the JDBC defined `ApplicationName` instead.

[2019-03-06 19:27] tlf30 opened #389 "ByteBuf.release() was not called before it's garbage-collected."
Hello,
I am running into a issue that appears to be netty.io related.
I'm currently running pgjdbc-ng v0.8.2.
[code]
I would really appreciate some help on this.

Thank you,
Trevor

[2019-03-06 19:45] kdubb commented on #389
This is Netty's leak detection... the "Created at:" stack trace shows it's from an array you created, the array itself must be `free`'d and it doesn't appear to be happening.

Essentially, call `java.sql.Array#free` when you're done using the array as detailed in the [javadoc](https://docs.oracle.com/javase/8/docs/api/java/sql/Array.html#free-)

[2019-03-06 21:17] tlf30 commented on #389
Oh, you are absolutely correct, I totally forgot my free(). My bad.

Thank you for the help.

[2019-03-06 21:17] #389 closed, assigned to nobody

[2019-03-19 21:00] robertfw opened #390 "Javadoc search links are broken"
The links provided by the search window input in the Javadoc are broken. There is a stray `/undefined/` path element that, once removed, results in the correct link.

E.g.
One of the links provided when searching "isValid":
http://impossibl.github.io/pgjdbc-ng/docs/current/javadoc/undefined/com/impossibl/jdbc/spy/ConnectionRelay.html#isValid(int) - result: 404

Removing /undefined/, so the link is

[2019-03-25 18:59] lospejos opened #391 "java.lang.IndexOutOfBoundsException : Invalid array range: 1 to 1 on start"
java.lang.IndexOutOfBoundsException : Invalid array range: 1 to 1 on start

I have `java.lang.IndexOutOfBoundsException : Invalid array range: 1 to 1` exception when starting test java application which uses `pgjdbc-ng` driver version 0.8.2

Some details:
I'm on Windows 10 with locale set to Russian.
I use PostgreSQL server version 11.2 x64 unpacked from zip binaries (crossover mode).
Also I use J

[2019-03-26 13:42] lospejos commented on #391
Moreover, I found this:
https://dba.stackexchange.com/a/172838/141428

In short, on Windows 8+, PostgtreSQL database locale is set as "en-US" but not "en_US".

[2019-04-02 19:55] kdubb commented on #390
@robertfw I'm a little loath to admit I'm not sure where you're encountering these links... where is the "search window input"?

[2019-04-02 19:57] kdubb commented on #391
I'm pretty sure Windows will be the death of me.  I'll have to look into how to fix this properly.  I did _some_ tests on Window to get to the current code but clearly it's not enough.

[2019-04-02 20:01] kdubb commented on #388
@mlillywhite Closing, feel free to re-open if an issue is discovered

[2019-04-02 20:01] #388 closed, assigned to nobody

[2019-04-04 03:07] kdubb commented on #390
@robertfw Found it! Didn't even know that existed 🤷‍♂️

[2019-04-05 17:51] kdubb opened #392 "Random SSL failures on Ubuntu JDK11 and dockerized server"
When running on Ubuntu with ~OpenJDK~JDK 11 and running the server in docker (as the unit tests run on Travis), `SSLTest` and `SSLDatasourceTest` encounter intermittent failures.

I've attempted to recreate it everywhere and the only time it happens is on the scenario above; including testing with Ubuntu in a vm itself (as Travis runs).

[2019-04-05 18:07] kdubb commented on #392
Both OpenJDK and OracleJDK experience the issue

[2019-04-05 19:44] #390 closed, assigned to nobody

[2019-04-11 07:59] gaohzwork opened #396 "can not support postgresql 8.3.X?"
Hi，I use pgjdbc-ng with postgresql8.3.23,but it cause a not support version error.

[2019-04-12 00:20] kdubb commented on #396
@gaohzwork 9.2 is the minimum version supported by the driver. There are a differences in prior versions that we chose early on not to handle.

[2019-04-12 00:20] #396 closed, assigned to nobody

[2019-04-12 14:14] sergej-reiser opened #397 "getJavaCompatibleLocale should use Locale.ENGLISH when mapping PostgreSQL Locales"
Similar issue to #287

Trying to use pgjdbc-ng we are experiencing an issue on german windows machines and PostgreSQL-9.6.

Consider the following example:
[code]
When trying to connect to the postgres instance running with default locales (German_Germany.1252) the following exception occurs:
[code]

Upon further investigation we found that [Locales.getJavaCompatibleLocale()](https://github.com/im

[2019-04-17 19:19] tlf30 opened #399 "int4 Unknown/Unsupported type"
OK, So I am probably just making a really dumb mistake here, but I have spent all morning on this.
First, I am running JDK11 and 0.9 SNAPSHOT as other parts of this project use the copy feature.

I have three custom types, that are nested inside of each other. I am using SQLData mappings to help with organization.  I have a lot of background info to share, so here it all is...

These are the types

[2019-04-17 19:24] kdubb commented on #399
If you put this into a small test project demonstrating the the issue I can help you track it down.

[2019-04-17 19:25] tlf30 commented on #399
KK, will do. Thank you!

[2019-04-17 19:27] kdubb commented on #399
Also, just a thought, have you tried running the [udt generator](http://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#udt-generator) to see if it produces working code for those types?

[2019-04-17 19:27] tlf30 commented on #399
I have not, I will give that a go.

[2019-04-17 19:49] tlf30 commented on #399
I have not tested the udt generator yet, but here is a test project showing the same error:
https://github.com/tlf30/pgjdbc-ng-test1

[2019-04-17 20:31] kdubb commented on #399
@tlf30

Two problems...

First, you're mapping for `Stat` and `Range` appear incorrect.

Stat.java
[code]

When reading in, you assign to `ranges`. Later you write out and `detailsArray0`, which will always be `null` for items read in from the database.

**Second**, and more importantly it seems `writeArray` cannot handle null array values. I'll create some tests and a PR to fix this soon but I'll

[2019-04-17 20:37] tlf30 commented on #399
Using the same test case, I generated those mappers using the udt gen, it fails to even read the table.
[code]

I will push my updates to the test that contain both sets of mappers.

EDIT: OK, the test case now runs both my UDT mappings, and the generated ones.

[2019-04-17 20:45] tlf30 commented on #399
Also, I thought I would point out, the documentation on how to use the udt gen does not work.
When I tried running the jar file, it gave me the error that there was no manifest. And for running it in to code, the documentation has the wrong arguments for the constructor and call of the generate function.

[2019-04-17 20:53] kdubb commented on #399
Apologies I'm a little confused here.

Fixing the null problem made your custom classes work?

Noted (and a PR for the docs would be helpful 😉).  It seems you got it generating and those classes work too?

[2019-04-17 21:01] tlf30 commented on #399
Ah, sorry for the confusion.
No, my mappers are not fixed. The error above is the error the generated mappers produce. The test project will now run both my mappers and the generated ones, and display the errors from both.
This is my current output of the test project:
[code]
EDIT: The null pointer shown in my mappers in this error log is thrown from a debugging statement that shows that for some

[2019-04-17 21:07] kdubb commented on #399
With null checks your mapping classes work. I've attached a version with them. It's definitely _not_ how they mapping classes should be implemented but it shows if you don't pass null to `writeArray` you're fine.

[pgjdbc-ng-test1-master.zip](https://github.com/impossibl/pgjdbc-ng/files/3091546/pgjdbc-ng-test1-master.zip)

[2019-04-17 21:10] kdubb opened #400 "UDT Generator documentation is incorrect"
As pointed out in #399, the docs are incorrect.

Also, the first example code snippet in the UDT section is missing.

[2019-04-17 21:11] tlf30 commented on #399
I did not realize that anything was set to null. I will take some time to look at this, I just ran it and it worked. But what was null? None of the data in the database was null.

[2019-04-17 21:12] kdubb commented on #399
You must have missed my first reply after receiving the example code... look at my third response.

[2019-04-17 21:15] kdubb opened #401 "SQLOutput.writeXXX can fail with null values"
When writing null values of complex types `PGSQLOutput` can throw an error. Instead this should just be treated as a `JDBCType.NULL`

[2019-04-17 21:24] tlf30 commented on #399
Ah I did miss that, sorry!
In this case, that works, but when I create the array:
`detailsArray0 = con.createArrayOf("RANGE", ranges);`

That should populate the array from the `Integer[] ranges` values, which were populated by:~~
`ranges = stream.readObject(Range[].class);`
during the read. Then `setupArrays` was called before the write.  So I am not clear on why my implementation did not work.

[2019-04-17 21:30] kdubb commented on #399
With your current example `test1` succeeds for me while `testGen` fails.

[2019-04-17 21:34] tlf30 commented on #399
Yes, I am tracking this down, I think I see what is going on. I have re-pushed the test.
Why does changing the `detailsArray0 = stream.readArray();` in the read to `constructors = stream.readObject(Integer[].class);` break it on the write if it is no longer the same object?
The write object no longer has read being run on it correct?

[2019-04-17 21:38] tlf30 commented on #399
With the currently posted test, I am back to the original error:
[code]
The object being written to the database it no longer the object that was read.
My understanding is that `detailsArray0` should not be null because it is set in `setupArrays()` which is called before it is written out to the database. Is my understanding correct?

[2019-04-17 21:44] tlf30 commented on #399
OK, I understand the problem, for some reason the `Range` object get written, and then read back into a different `Range` object before being written to the database. This new range object does not have the array allocated on it.
Why is it being read into a new object in order to be written?

EDIT: An easy way to see this is comment out the section that reads from the DB, then put a println in the

[2019-04-17 22:45] kdubb commented on #399
`createArrayOf` doesn't use the object you provide it. It immediately serializes them into buffers; this is for a number of reasons. When it needs those objects as "objects" it de-serializes them from the buffers it created. It uses `readSQL` and `writeSQL` to do this.  The objects you see it reading are __different__ instances than the one you passed it.

The problem with your mapping classes is

[2019-04-17 23:14] kdubb commented on #399
A couple of small fixes, PR'd in #402 & #403, were required to get the UDT generator working with your types.  Applying those you'll have properly implemented, and most importantly, _working_ SQLData types!

[2019-04-18 00:58] tlf30 commented on #399
@kdubb thank you for the help, I really appreciate it.

[2019-04-18 00:58] #399 closed, assigned to nobody

[2019-04-19 13:34] #401 closed, assigned to nobody

[2019-04-19 14:08] #136 closed, assigned to nobody

[2019-04-19 19:44] tlf30 commented on #399
@kdubb again, thank you for the help on this. Using the generated UDTs with the new changes you pushed, I still get an error. The generator produces this line: `stream.writeObject(stats, null);` to write the `Stat[]` array, but this produces a Unsupported SQLType error:
[code]
Again, this is using the newly generated UDTs with your changes to the UDT generator, and the new changes to the driver. I

[2019-04-19 20:04] kdubb commented on #399
Does changing that to `stream.writeObject(stats, JDBCType.ARRAY)` fix it?

[2019-04-19 20:07] tlf30 commented on #399
EDIT: I made a typo, hold on

[2019-04-19 20:08] tlf30 commented on #399
Yes, that does fix it!

[2019-04-19 20:32] kdubb commented on #399
#404 will fix this

[2019-04-20 01:39] #400 closed, assigned to nobody

[2019-04-20 03:39] tlf30 opened #406 "readObject return null instead of NullPointerException"
I think that it would be better for `readObject` to return a null value when the object in the database is null instead of a `NullPointerException` when using a `SQLData` UDT.

This would fix UDTs generated from the UDT generator from crashing when reading a UDT that contains a UDT that is null.

[2019-04-22 15:51] kdubb commented on #406
@tlf30 Can you provide more information? Stack trace?

[2019-04-22 16:36] tlf30 commented on #406
@kdubb yes, here is the stack trace (I have censored some of the classpath)
[code]
The field that throws the npe on read is a UDT inside the Chara UDT, and in the database has a null value.

[2019-04-22 17:03] tlf30 commented on #406
This is a test project showing the NPE: https://github.com/tlf30/pgjdbc-ng-test2
This is the NPE from the test project:
[code]

[2019-04-22 21:50] kdubb commented on #406
Please try PR #408.  I've added a UDT handling test that is very similar to your example, with an array of UDTs; it tests for nulls in the array and null values in the UDT.

[2019-04-22 21:54] tlf30 commented on #406
Thanks, I'll do that in a couple hours when I get back to my desk.

[2019-04-22 23:47] tlf30 commented on #406
@kdubb is it not possible to build on windows? I attempted to build the branch and got this error:
[code]

Perhaps I am doing something wrong, I do not use gradle very often.

[2019-04-22 23:53] kdubb commented on #406
I have no idea, building and testing on Windows is currently not maintained. I'm pretty sure it will but may require tweaks.

FYI, the error you are experiencing is with a file permissions check done in `testing.gradle.kts` that looks for the correct posix permissions;  I would imagine that's the only platform dependent item currently in the build.

[2019-04-22 23:54] tlf30 commented on #406
Ah OK. I am moving over to a Linux box.

[2019-04-24 22:45] kdubb commented on #406
@tlf30 Update? I'm ready to merge #408 but I'd like to ensure it completely fixes your issues.

[2019-04-24 23:32] tlf30 commented on #406
@kdubb I have had issues building on linux. For some reason the artifact will not deploy to my local maven repo.

[2019-04-25 14:10] ajohnson-stripe opened #410 "Unable to connect over domain socket due to exists() check failing"
I was trying to use pgjdbc-ng 0.8.2 for connecting over a Unix domain socket recently, but I found that it always fell back to connecting directly to the database host because the `socketFile.exists()` check in `ConnectionUtil` (https://github.com/impossibl/pgjdbc-ng/blob/develop/driver/src/main/java/com/impossibl/postgres/jdbc/ConnectionUtil.java#L195) was always failing.

I built a custom versio

[2019-04-26 06:05] M3ssman opened #411 "Notification Listener freezese"
Hello out there,

actually, I'm running into trouble implementing the `PGNotificationListener`Interface.
When the Servlet starts-up. the Notification-Listener works fine, but after some time (about 15 minutes or more), the Listener is not doing anything at all. I tried also to implement re-start Logic inside `PGNotificationListener#closed`, but this Event gets never fired.

Are there any known Iss

[2019-04-26 09:47] M3ssman commented on #411
The official Postgres-Docs (please see above) do close the `Statement`-Object after attaching to a Channel, where the example Snippet at pgjdbc-ng-Docs doesn't. Is this just missing in the later one or it is not necessary? Currently, I'm not closing the Statement after executing `LISTEN <mychannel>`. Can this result in more and more open DB-Connections that finally halt the system?

[2019-04-27 02:07] kdubb commented on #410
Could very well be, I am quite sure it worked during development but I'm now realizing no automated tests currently exist.

[2019-04-27 12:41] ajohnson-stripe commented on #410
Alright, I'll take a look at adding a test case for this and send in a pr.

[2019-04-27 17:45] kdubb commented on #410
That would be great!

Note: The Gradle testing is done via Docker and you'll need to bind pg's socket directory into the host in the `postgres-services.yaml` compose file.

[2019-05-06 16:04] tlf30 commented on #406
@kdubb sorry for the late delay. I was able to test the snapshot last night. The previous errors are gone. Nulls seem to be working correctly. I noticed a different issue that has to do with the types, but I do not have time right now to look into it. Once I figure out what is going on, I will build a test case and open an issue for it.

Thank you for all the hard work, I really appreciate it!

[2019-05-06 16:04] #406 closed, assigned to nobody

[2019-05-06 21:59] kdubb commented on #411
Apologies for the delayed response... Can you run this with protocol tracing enabled, maybe directed to a file, to see if it's that the listener is not getting called or if PostgreSQL is not sending notifications?

[2019-05-06 22:01] kdubb commented on #411
Also, I'm happy to help but a small project that reproduces the issue would go a long way to getting this worked out.

[2019-05-07 06:06] M3ssman commented on #411
I switched Job Position, so I can't access one of those Windows-Server-Machines right away.

Since on an Ubuntu-Machine the Process runs without Issues (unfortunately, it was decided to deploy App on a Windows-Machine ... ) , I assume that there are some Basic Issues regarding the OS or the Netty Libs, but nothing to blame pgjdbc-ng for.

How do I enable protocol tracing?

Libraries used:
* pgjdbc

[2019-05-14 15:27] mlaffargue commented on #397
Same problem here with :
[code]

[2019-05-15 19:02] andreasboos commented on #397
+1.
Same problem here too: My java locale is "português" and postgres DB is "Portuguese".

Can you try to use default SO locale when this issue happen and just warning in console?

I resolve here, for while, just putting the default SO locale over a try/catch into BasicContext class.

[2019-05-19 00:02] ccleve opened #412 "Why?"
It's not clear from the website or the docs what distinguishes pgjdbc-ng from the default Postgres driver. It would be great to see a paragraph or two that explains the motivation for the project, what the old driver doesn't do, what the new one will do, and some kind of comparison chart between the two.

Also, it would be nice to see the state of the project. In a couple of places the docs say "P

[2019-05-25 17:47] ghost commented on #129
in spring application:

Allocation occurred @
  at ru.anp.AnpApplication.pgConnect(AnpApplication.java:98)
  at ru.anp.AnpApplication.run(AnpApplication.java:59)
  at org.springframework.boot.SpringApplication.callRunner(SpringApplication.java:813)
  at org.springframework.boot.SpringApplication.callRunners(SpringApplication.java:797)
  at org.springframework.boot.SpringApplication.run(SpringAppli

[2019-05-28 16:31] mickaeltr opened #413 "Documentation request: how to use PGJDBC-NG with Spring Boot"
Hello,

It would be nice to have documentation about using PGJDBC-NG with Spring Boot.

Thanks!

[2019-06-09 03:04] tlf30 opened #414 "PGSQLSimpleException: wrong data type: 2249, expected 143374"
Hello @kdubb
Sorry for the very large delay in getting back to trouble shooting the UDTs. I was working on a job up in the arctic circle (not much internet up there 😛 ).

Using my test2 test case (https://github.com/tlf30/pgjdbc-ng-test2), I am running into this issue:

[code]

This is utilizing the UDT Generator.

Any help would be very appreciated.

Thank you,
Trevor Flynn

[2019-06-09 23:02] tlf30 commented on #414
After some investigation, still not sure what is broken, but type `143374` is the `L` type in the database script.
Some digging, the generator is producing in Chara.java:
[code]

But this works:
[code]

Except in this case the `e` var here is null and I get this error:
[code]
Which indicates that it thinks it got a `TEXT` type instead of NULL?

[2019-06-11 12:28] lyguan opened #415 "LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information. Recent access records"
Hi,  I found a exception here.  I planed to update an array which item of array is a customized type,
and this array has 300 hundreds items.  When I ran the code, it throw
io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:331)
	io.netty.buffer.AbstractByteBufAllocator.directBuffer(AbstractByteBufAllocator.java:185)
	io.netty.buffer.AbstractByteBufAllocator.directBu

[2019-06-11 23:07] tlf30 commented on #415
Did you close all resources before garbage collection tried to destroy the objects?

[2019-06-12 05:58] lyguan commented on #415
@tlf30 Thanks for your help. I have found the solution here.  https://github.com/impossibl/pgjdbc-ng/issues/389,  you met the same error before.

[2019-06-12 11:04] rnikander opened #416 "Can't even connect: IllformedLocaleException: Invalid subtag: C"
I compiled and installed PostgreSQL 12 beta from source using the default instructions. I can't connect. The exception is below, along with data that it appears to be choking on.

    SELECT name, setting FROM pg_settings WHERE name IN ('lc_numeric', 'lc_time')
    mydb-> ;
        name    | setting
    ------------+---------
     lc_numeric | C.UTF-8
     lc_time    | C.UTF-8

    Exception in th

[2019-06-13 18:28] robertfw opened #417 "intermittent StackoverflowError on system startup"
We are seeing a StackoverFlow error occasionally when starting up a c3pO connection pool. I've been trying to suss out more information but haven't been able to come up with anything repeatable. Any thoughts?

We are giving c3pO a connection-uri of `jdbc:pgsql://our-host/our-db?user=our-user&password=our-password&application_name=our-application.label`. I've tried leaving out the `application_name

[2019-06-13 20:53] rsimonton opened #418 "With JDBI3 - org.jdbi.v3.core.ConnectionException: java.sql.SQLException: Unwrap error"
I'm getting an "Unwrap Exception" trying to use the driver in concert with JDBI.  I've posted the details over at StackOverflow, hopefully it's ok if I just link to it instead of rehashing the post, thanks.

https://stackoverflow.com/questions/56588224/sqlexception-unwrap-error-with-jdbi-and-pgjdbc-ng-postres-driver

[2019-06-13 20:53] kdubb commented on #417
Can you trace the SQL and see what is between queried?

[2019-06-13 21:03] kdubb commented on #418
I believe the answer is to stop using `PostgresPlugin`.  Read my StackOverflow answer for the details.

[2019-06-13 21:04] #415 closed, assigned to nobody

[2019-06-13 21:12] kdubb commented on #412
From the user guide:

**Why?** - Because the native driver doesn't support JDBC's API for composite types (e.g. SQLInput/SQLOutput, Struct, etc), and although it supports notifications they are problematic due the their synchronous nature. Identifying and handling extended types through JDBC is not supported either.  Those are some of the major differences.

**State?** - The driver _**is**_ JDBC 4

[2019-06-13 21:15] kdubb commented on #417
Also, can you provide more of the stack trace.  You said it repeats but it would be helpful for me to see at least on cycle of repetition.

[2019-06-13 21:23] #412 closed, assigned to nobody

[2019-06-13 21:54] robertfw commented on #417
There are two cycles shown there - starting from `com.impossibl.postgres.system.procs.AutoConvertingTextDecoder.convertOutput(BaseDecoders.java:247)`

This is happening before any queries, after we initialize the C3P0 connection pool.

We've seen another intermittent error on startup that caused a `java.lang.IllegalStateException: type has no supported parameter format: timestamp(1114)` exception

[2019-06-13 21:56] robertfw commented on #417
If it is of use, the stacktrace for the timestamp related error is:

[code]
I haven't been able to reproduce locally - this was seen after our application was forced to restart - so unfortunately can't get my hands on a full stacktrace with the elided frames

[2019-06-13 22:04] kdubb commented on #417
Ahh I see it... I don't know how I missed the repetition in the stack trace. I'll try and research it in-depth soon.

FYI, per the [docs](http://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#_jdbc_settings) you can disable the shared registry and see if that resolves the startup issue.

[2019-06-13 22:06] kdubb commented on #417
Also, enabling tracing of the SQL will report any startup queries that are executing; at least one is always run during connection establishment.

[2019-06-13 23:05] robertfw commented on #417
Here is a log dump with sql tracing enabled. Our app in this configuration spins up with 3 db workers, hence some of the repetition

[code]

[2019-06-13 23:17] robertfw commented on #417
Disabling registry sharing has not had any impact

[2019-06-13 23:23] kdubb commented on #417
If you can or already have a local build you can add the following trap to try and gather some information on what is happening.  The test suite passes with this enabled so if it fires it should be helpful.

In Strings.java:127, change this
[code]
to add this
[code]

[2019-06-14 02:59] lyguan opened #419 "Null Pointer exception when write a customized type in an array"
Hi, I define a composite type in postgresql, and mapping a java object which implements SQLData
`public class ReportDataPointSQLData implements SQLData {
@override
public void readSQL(SQLInput stream, String typeName) throws SQLException {

    this.obj.setDataPointId(stream.readString());
    this.obj.setValue(stream.readBigDecimal());
    this.obj.setCalcMark(stream.readInt());
}

@Override
publ

[2019-06-14 20:11] robertfw commented on #417
Unfortunately no change - still crashes with the same exception

[2019-06-14 20:43] kdubb commented on #417
Running the following test, which should produce a similar SQL trace, doesn't reproduce the issue in my environments. Can you attempt to reproduce it with the test (or similar)?

[code]

[2019-06-17 20:49] robertfw commented on #417
I haven't been able to reproduce - I will keep running with the instrumented code (and add some further instrumentation as I get further examples) and update when I have more information.

[2019-06-18 02:48] tlf30 commented on #419
There are currently some issues with using UDTs, @kdubb has been very responsive on getting them fixed. I also currently have a lb UDT issue open. I recommend using the UDTGenerator for creating the object wrappers.

[2019-06-18 07:47] lyguan commented on #419
@tlf30 Hi, Thanks for your reply. How to use "UDT Generator for creating the object wrappers"? Is that means let the java object implements interface "SQLData"?

[2019-07-01 12:45] andreak opened #420 "Unable to create initial connections of pool: java.text.ParseException: Unparseable number: "-1""
I'm getting the following Exception with version 0.8.2, jdk-11

The jdbc-URL is: jdbc:pgsql://localhost:5433/andreak

It seems this query is run in the backend:
[code]

[code]

Any hints on what's causing this?

[2019-07-06 16:23] tlf30 commented on #414
@kdubb have you had a chance to take a look into this? I am working from home for the next two weeks and would like to get this resolved on my end before I go back.

Thanks for the help,
Trevor Flynn

[2019-07-21 16:45] amyodov opened #421 "com.impossibl.postgres.system.Version.parse wrongly assumes some specific version format and fails with fat-jar builds"
When launching, the `PGDriver` reads the package implementation version: (https://github.com/impossibl/pgjdbc-ng/blob/develop/driver/src/main/java/com/impossibl/postgres/jdbc/PGDriver.java#L78):

[code]

According to the `Package#getImplementationVersion` specification, the version string “*does not have any particular syntax specified or expected by the Java runtime*”. Nevertheless, the `Version.

[2019-07-26 09:15] futpib opened #422 "Url parameters not decoded"
It is impossible to use a password with `&` in it with this driver.

The regexp below does not allow for `<user>:<password>@` syntax (even though documentation does advertise it https://impossibl.github.io/pgjdbc-ng/docs/0.8.2/user-guide/#connection-urls)

https://github.com/impossibl/pgjdbc-ng/blob/239d492d1b244974b7c6356f5fee329839087989/driver/src/main/java/com/impossibl/postgres/jdbc/Connectio

[2019-07-29 05:47] lihaoyi-databricks opened #423 "RETURNING * suffix improperly appended when preparing statements with return columns"
Full repro:

[code]

Seems that the `RETURNING id` syntax that's part of the main query conflicts with the `RETURNING *` suffix that's appended during the `describeIfNeeded` call. Any idea how this can be avoided? Or if there is some way to work around?

[2019-07-29 05:58] lihaoyi-databricks commented on #423
Seems that any sort of `set*` method on a `prepareStatement` with `RETURNING` in it fails

[2019-07-30 05:21] deusaquilus commented on #423
Hey @lihaoyi-databricks. Could you please re-open this based on our conversation? As we have discovered, the `org.postgresql` JDBC driver has had this issue fixed since 9.4.1210.

[2019-07-30 05:28] kdubb commented on #423
@deusaquilus Why is the `RETURNING id` being appended manually? According to JDBC the statement should handle it returning those columns, including generating the `RETURNING` clause, and that is exactly what it is doing.

[2019-08-02 16:13] deusaquilus commented on #423
@kdubb This is because a user might want to do something like:
[code]
or
[code]
or even something like
[code]
all of which are supported by postgres.

So you have to check if the user has already added a `RETURNING` clause themselves
(incidentally, in [Quill](https://github.com/getquill/quill) we support all of these constructs :-)).

[2019-08-02 16:19] kdubb commented on #423
@deusaquilus Determining if _user input_ contains one of the myriad of syntaxes for returning clauses is going to be a nightmare.

Wouldn't an easier method be to just execute the statement as a query.  Then these problems vanish.  I believe we essentially do this a number of times in our client code for different reasons.

[2019-08-08 01:09] perezd opened #424 "Driver unable to connect to CockroachDB"
Looks like something isn't compatible, either cockroachdb or this library.

Following this tutorial:
https://www.cockroachlabs.com/docs/v19.1/build-a-java-app-with-cockroachdb.html#insecure

DataSource snip (`PGDataSource`):
[code]

Stack trace:
[code]

[2019-08-08 20:42] rafiss commented on #424
Thank you for testing with CockroachDB! This is occurring because pgjdbc-ng is assuming that `BackendKeyData` will always be provided. ([Postgres docs](https://www.postgresql.org/docs/9.6/protocol-flow.html))

Here's the offending method in `ServerConnectionFactory.java`. The NPE occurs when casting a null `Integer` to an `int`.

[code]

CRDB does not currently support `BackendKeyData`. We took a

[2019-08-08 20:52] kdubb commented on #424
If I remember correctly, `BackendKeyData` is only used for canceling long running requests.  If we use zero's this should probably be detected in `CancelRequestTask` and skip the actual cancelation request with the appropriate logging.

[2019-08-08 21:00] rafiss commented on #424
Yeah, it is just for cancelling requests. (CockroachDB has a non-pg-compatible [cancel query statement](https://www.cockroachlabs.com/docs/stable/cancel-query.html).)

I'm happy to add the check-and-logs, though without a check, I believe all that will happen is the cancel query would be rejected.

[2019-08-12 17:46] andreak commented on #420
Ping!
(sorry for being the squeaky wheel, but I really whish I'd be able to use newer driver-versions)
IDEA is also reporting such error when trying to connect using its DataSource-config.
Am I the only one not being able to connect to PG using 0.8.2 driver?
I've tried with v11 and 12beta3, neither work...

Any feedback appreciated:-)

[2019-08-12 18:45] kdubb commented on #420
PostgreSQL 9.4-11 are covered by current testing on jdk8-11.  So it unless I'm mistaken it must be something unique to your installation.

First glance from the stack trace would say your system catalog is different than "usual". Although I can't explain why `NumberFormat` cannot parse `-1`.

[2019-08-16 09:22] ltruppe commented on #397
Same problem here with
`java.util.IllformedLocaleException: Ill-formed region: Austria [at index 0]`

[2019-08-27 23:40] robertfw commented on #417
I was having another look at this, and added some further logging code.

In strings.java (referred to above) the code currently looks like this:
[code]
When the issue occurs locally (still no reliable way to trigger - it'll just happen sometimes upon starting up the application), I get the following output:
[code]
The log line for `Converting bool(16) to class java.lang.Boolean` is repeated ~1000

[2019-08-27 23:54] kdubb commented on #417
FYI, you logged `Converting %s to %s` when in reality both of those are what it is converting a `String` to (or at least it should be).  I only say that because it took me a second to figure out why we were converting a boolean in String.java.

That being said, it now perplexes me even more.  Essentially, it's trying to convert a `String` to a `Boolean`.  According the log, `type` is `bool(16)` (a

[2019-08-27 23:57] kdubb commented on #417
I guess the next thing would be to log the result of `type.getTextCodec()` and `type.getTextCodec().getDecoder()`.

**Thank you** for continuing to investigate. I am hoping we can get this figured out soon.

[2019-08-29 21:18] robertfw commented on #417
I now have the following code running locally, let me know if I should adjust it. Will post results as soon as I get a crash.

[code]

[2019-08-30 23:05] robertfw commented on #417
Ok! Finally got a crash. It never wants to do it after adding some more logging.

[code]
(repeated many, many times)

[2019-09-10 18:43] ccleve opened #427 "Getting a ServiceLoader error"
I posted this on StackOverflow a while ago and didn't get an answer:

https://stackoverflow.com/questions/57632541/pgjdbc-ng-throws-mysterious-serviceloader-error

The problem went away on its own after a while, but now it's back. Closing and reopening Eclipse no longer solves it.

I'm using version 0.8.2.

A full clean / rebuild does not fix it. Is there some dependency which is missing?

[2019-09-10 20:22] ccleve commented on #417
I get this same stack overflow exception after I get the error in #427. It appears to show up after multiple failed attempts to get a connection.

[2019-09-11 19:54] gwenn opened #428 "User-defined type using domain"
I try to use a UDT with a domain type:
[code]
SELECT/read is fine but not INSERT/write.

And If I try to reproduce the error by patching StructTest:
[code]
INSERT/write seem fine but not SELECT/read.
Thanks.

[2019-09-11 22:06] kdubb commented on #417
@robertfw

Assimilating the log information your situation has a `bool(16)` type being mapped to the `Unknowns.TextDecoder` decoder.  `bool(16)` is the system provided boolean type. This is _**wrong**_. Booleans should be mapped to the appropriate `Bools.TextDecoder` and initially this was quite perplexing.

Then @ccleve enters the picture...

The `Registry` and `SharedRegistry` match `Type`s to t

[2019-09-11 22:09] kdubb commented on #427
@ccleve It appears this is the exact same issue, located earlier on, as #417.  Are you good with closing this and putting your details over there or do you think these are different problems?

[2019-09-11 22:26] #424 closed, assigned to nobody

[2019-09-11 22:29] kdubb commented on #424
@rafiss @perezd GitHub auto closed this during merge of #424.. Is it correct that it is currently fixed?

[2019-09-11 22:32] ccleve commented on #427
It does look like it's the same issue. Closing...

[2019-09-11 22:32] #427 closed, assigned to nobody

[2019-09-11 22:33] ccleve commented on #417
Copying from #427

I posted this on StackOverflow a while ago and didn't get an answer: https://stackoverflow.com/questions/57632541/pgjdbc-ng-throws-mysterious-serviceloader-error

[2019-09-11 22:42] ccleve commented on #417
@kdubb My environment: I'm using Jersey and Jetty to build a JAX-RS application. I don't think there is anything unusual in the classloaders. I'm setting up servlets, but unlike some app servers I'm not setting up J2EE webapps, which use their own classloaders and dependencies.

This happens in Eclipse. Maybe there is something odd in the Eclipse environment.

I'm using the Hikari connection poole

[2019-09-11 23:27] kdubb commented on #417
Jetty is a servlet container and does manipulate class loading like the rest of them (https://www.eclipse.org/jetty/documentation/current/jetty-classloading.html). This should be a starting point for trying to replicate the issue.

[2019-09-11 23:29] kdubb commented on #417
Apparently Jetty is also OSGi, and the manifest for it were removed from the driver in a recent release because they were incorrect. Maybe that is part of the issue.

[2019-09-11 23:32] kdubb commented on #417
@ccleve  Are you providing the driver JAR in your WAR file or in some system wide library folder?

[2019-09-12 01:24] ccleve commented on #417
I'm not doing any of the things in that link to the Jetty docs. No webapps, no webapp classloading, no .war files. It's just low-level embedded Jetty.

I can do a couple of things here. I can trap the exception, get the current classloader, and dump it and all of its parents. We'll be able to see, as of the moment the problem occurs, the chain of classloaders.

I can also try to get the problem to

[2019-09-12 01:32] kdubb commented on #417
Ah ok. Embedded Jetty should have a simple class loading structure.

Dumping the classloader tree might help another thing to try would be seeing if your application code can use `ServiceLoader` to load `ProcProvider` instances; specifically it should enumerate all of the classes in the driver's [META-INF/services/com.impossibl.postgres.system.procs.ProcProvider](https://github.com/impossibl/pgjdb

[2019-09-12 20:24] rafiss commented on #424
Yes, this issue is resolved with that change. I confirmed that my local repro case works now.

[2019-09-12 23:57] robertfw commented on #417
@kdubb We're using Clojure, and have seen the issue both in the development environment that is run using leinengen, and in our staging environment which uses a built jar. I'm not overly familiar with how Clojure interacts from a class loading perspective (and don't come from a Java background), but we are not doing anything on top of the stock Clojure behaviour.

[2019-09-13 00:52] kdubb commented on #417
@robertfw @ccleve I've created #429 which loads all the `ProcProvider` services immediately (previously Java was returning a lazy loader) and checks that a minimum # of services were found. That minimum is set to the # provided by the driver's own services definition.

This ensures that on startup the driver can find _at least_ the `ProcProvider`s needed to run properly. If it cannot, or an error

[2019-09-13 02:38] ccleve commented on #417
I've already added a bit of startup code that traps the error when it happens, and dumps classloader and Proc info. I didn't exercise the system much today so I haven't seen the error again. Will work on it tomorrow.

Just as an aside, I stopped using ServiceLoader some years ago. It's flaky. There's no reason to use it unless you're dealing with implementations of your interfaces provided by thir

[2019-09-13 03:03] kdubb commented on #417
ServiceLoader is used because you can extend the driver to support custom PostgreSQL types (i.e. types added via pg extensions) without requiring the driver to support them natively.

Moving forward we'll need to stick to `ServiceLoader` and either fix or remove the feature. After all ServiceLoad works with Java 9+ modules and any homegrown solution will also have to work in that environment as we

[2019-09-13 18:13] robertfw commented on #417
@kdubb I just tried building but am getting the following error:

[code]

My installed java is:
[code]

Previously I was building version 0.8.2

[2019-09-13 18:35] kdubb commented on #417
@robertfw Not sure.. It passed CI which builds with 8, 9, 10 & 11.

[2019-09-17 13:11] paol opened #430 "PGNotificationListener duplicate calls to close()"
When using the notification listeners feature, the closed() callback gets called simultaneosly in 2 different threads when the underlying connection is closed. For some reason this only happens on the second and subsequent connections, not the first connection.

A minimal sample to repro the bug:
[code]

This prints the following (notice the double call to close on the second and following iterati

[2019-09-25 19:49] andreak commented on #420
The following simple program produces the error:
[code]
I compile with:
[code]
And run with:
[code]
Gives the exception:
[code]

I've stepped thru this in debugger and it seems ```BasicContext.integerFormatter```, when initialized in ```init()```, returns an instance with ```negativePrefix="−"``` ('−'8722, not '-'45), so when ```loadTypes()``` is called it barfs because it cannot recognize "-1" be

[2019-09-25 19:56] andreak commented on #420
It's strange that this works with the same JVM/env with version 0.7.1 of the driver

[2019-09-25 20:09] andreak commented on #420
In ```BasicContext.init```(line 305); If I change from ```NumberFormat.getIntegerInstance()``` to ```NumberFormat.getIntegerInstance(Locale.US)``` then negativePrefix="-"(45), but when calling ```NumberFormat.getIntegerInstance(Locale.getDefault())``` then it returns negativePrefix="−"(8722)

I'm sure this must bite others using non-English locales?

[2019-09-25 21:30] kdubb commented on #420
Seems clear it must be a problem... I'm also thinking that `-` (45) is probably the dominant negation character in a lot of locales and therefore passes unnoticed.

[2019-09-25 21:36] kdubb commented on #420
https://github.com/impossibl/pgjdbc-ng/blob/632d1268f26b9582eaa49bede28a8eba991e3a0d/driver/src/main/java/com/impossibl/postgres/system/BasicContext.java#L358
The `integerFormatter` is replaced with one loaded from the server's locale. Which is what the driver needs to match in the long run.  Is that also setting it to `nb_NO`?

[2019-09-25 21:37] kdubb commented on #420
Actually, I don't believe it's ever getting to the line I referenced... `loadLocale` is called after `loadTypes`.

[2019-09-25 21:48] andreak commented on #420
From what I can see it seems like PG doesn't return String-representations of numbers locale-compatible with how Java's ```NumberFormat.getIntegerInstance()``` parses them and always uses '-'(45) as negativePrefix. Maybe revert to use Integer.valueOf (like 0.7.1, right?) instead of integerFormatter?

Anyway, isn't it a bit strange to initialize ```integerFormatter``` in ```BasicContext.init``` _th

[2019-09-25 21:54] kdubb commented on #420
The idea was to initialize it to "something sensible" prior to getting an authoritative response from Postgres.  Ideally Postgres's startup packet would report lc_numeric and the like so we wouldn't have to query it for that information.  I'm gonna look into it and see if that's the case or not.

[2019-09-25 21:58] andreak commented on #420
(Sorry, didn't see you replies before I reloaded the page as Github didn't push them...)

The locale-query: ```SELECT name, setting FROM pg_settings WHERE name IN ('lc_numeric', 'lc_time');``` returns:
[code]
So even the locales match, it doesn't help....

[2019-09-25 21:59] andreak commented on #420
... but you're correct that ```loadLocale``` is never called because it dies in ```loadTypes```

[2019-09-25 22:06] andreak commented on #420
...so I'm guessing that even if PG _is_ reporting the value of ```lc_numeric``` in some way the output will _still_ be wrong (not match what ```NumberFormat.getIntegerInstance()``` expects), because it doesn't respect the "negativePrefix"-part obviously. It will still (is still) sending '-'(45) and not '−'(8722), meaning ```NumberFormat.getIntegerInstance()``` will never be able to parse PG's nega

[2019-09-25 22:17] kdubb commented on #420
https://www.postgresql.org/docs/current/runtime-config-client.html#GUC-LC-NUMERIC

I'm a bit confused at the moment.  It seems lc_numeric and the like have nothing to do with SQL output but I'm not sure what it all means in totality.  The docs give the example `to_char`, does that mean that unless I am calling an `lc_numeric` "enabled" function on the server, all output are 'C' locale?

[2019-09-25 22:24] andreak commented on #420
Yes - I guess. All I've seen until now confirms this - that no output is default "lc_numeric aware" unless you use explicit formatting-functions.

[2019-09-25 22:29] andreak commented on #420
Even in ```to_char``` it seems negative-prefix isn't respected/used:
[code]
all with '-'(45)

[2019-09-25 22:30] kdubb commented on #420
Yeah... it seems to completely ignore it without `to_char` and `to_number`.

[code]

[2019-09-25 22:32] kdubb commented on #420
Haha we're on the same page here.  So it's clear I need to always use 'C' when parsing server output.

Now, when parsing text from the application, should that assume C as well? Or should that use the JVM locale?

[2019-09-25 22:35] andreak commented on #420
I'm really not sure... When will this become an issue, when data is sent as String and not Integer? I've never had any issues with this with previous PG-drivers so "do what they do", maybe:-)

[2019-09-25 22:44] andreak commented on #420
But, even ```to_char``` and ```to_number``` both seem to completely ignore '−'(8722) as negative prefix for lc_numeric='nb_NO.UTF-8'

[2019-09-25 23:01] andreak commented on #420
See Tom Lane's answer here: https://www.postgresql.org/message-id/29374.1569452008%40sss.pgh.pa.us

[2019-09-25 23:07] kdubb commented on #420
Good to have a (somewhat) definitive answer.

Unfortunately, postgres has text and binary formats for wire transmission and JDBC has text conversions rules.  This isn't an issue when using binary but when using text it's seeming that it must all be done in 'C'.  So when somebody calls 'PreparedStatement.setString()' for a 'float4' column (a required JDBC conversion) the mismatched locales come int

[2019-09-26 01:05] kdubb commented on #420
Unhelpfully it seems to follow some locales...
[code]

[2019-09-26 07:15] andreak commented on #420
Yea... Tom specifically confirmed only for LC_NUMERIC.

[2019-09-26 08:10] davecramer commented on #420
Money is probably the worst example as it should have remained deprecated
and tossed in the bin a long time ago.

If you store 100 USD in there and then change the locale to somewhere in
Europe the output will be formatted as Euros, but the value remains the
same.

My .02 CAD :)

Dave

On Thu, 26 Sep 2019 at 03:15, Andreas Joseph Krogh <notifications@github.com>
wrote:

[2019-09-26 08:14] andreak commented on #420
Ha ha! That's a great "feature":-)

[2019-09-26 15:17] kdubb commented on #420
@davecramer Yeah it seemed really odd that it's not only adjust numeric formatting but adding the currency specifier.

Does mainline driver concern itself with 'JVM' -> 'C' locale translation when handling JDBC coercion from `setString` to numeric values for text protocol? Or does it just require all JDBC API input to be in 'C' locale as well?

[2019-09-26 15:27] davecramer commented on #420
On Thu, 26 Sep 2019 at 11:17, Kevin Wooten <notifications@github.com> wrote:

Ya Money is FUBAR

No we don't take locale into account, but should, Need more tuits

 Dave Cramer

[2019-09-26 15:32] kdubb commented on #420
@andreak I'll be posting a PR soon. I think we're ahead of the game because all of the text encoders/decoders are respecting a locale... it's just the wrong locale in a lot of instances when parsing server output. We need client formatters, representing the JVM locale, and server formatters locked to the 'C' locale and that should be all that's needed. Also, travis configurations running in a few

[2019-09-26 15:34] andreak commented on #420
Keep on rocking!

[2019-09-27 02:29] kdubb commented on #420
@andreak #431 Should do the trick.  It respects Java's locale when parsing input from JDBC but uses C/POSIX compatible parsing for all data going to or coming from PostgreSQL. Give it a shot and let me know!

[2019-09-27 02:34] kdubb commented on #397
@sergej-reiser @mlaffargue @andreasboos @ltruppe Apologies all for this issue lingering for so long. This truly slipped passed me.

#431 _should_ fix this.  I have limited windows access and your help testing the fixes would be much appreciated!

[2019-09-27 02:36] kdubb commented on #391
@lospejos  #431 Tackles a lot of locale issues and I believe should cover this issue as well.  Would you be able to test in your same environment to validate the fixes?

[2019-09-27 03:10] kdubb commented on #416
Fixed in #431

[2019-09-27 03:10] #416 closed, assigned to nobody

[2019-09-27 04:16] #418 closed, assigned to nobody

[2019-09-27 05:26] andreak commented on #420
Seems to work, but I'm getting an unexpected Exception in code that worked with 0.7.1, related to UDT. I'll report that in another issue.

[2019-09-27 05:36] andreak opened #432 "ClassCastException with UDT"
This code worked with 0.7.1:
(It's Scala-code but you'll get the idea)
[code]
Then registered in a typemap:
[code]
and used like this:
[code]
With 0.9-SNAPSHOT I get this (package name of ```BigIntVarcharJdbcData``` stripped):
[code]
The returned type of that call is now:
![image](https://user-images.githubusercontent.com/321577/65744713-78392400-e0f9-11e9-80a9-44dd1bfd2bae.png)

Any hints?

[2019-09-27 05:37] andreak commented on #420
Reported new issue here #432

[2019-09-27 05:46] andreak commented on #432
Changing the call to
[code]
works.
But shouldn't getObject passing a typeMap also work, as before?

[2019-09-27 05:48] kdubb commented on #432
I think this is because 0.8 and above are _more_ JDBC compliant.  Previously when using `getObject` with arrays you'd get back an "array" with a specific element type... maybe. Now `getObject` returns the JDBC `java.sql.Array` as is mandated by JDBC.

Use something like this...
[code]

[2019-09-27 05:53] andreak commented on #432
Aha, so I first have to cast the return-value of getObject to java.sql.Array, then call getArray(), then free().
What about just passing the array-type directly, instead of the typemap, like my second post here?
Do I still have to free?

[2019-09-27 05:57] kdubb commented on #432
The method you are demonstrated is essentially a `pgjdbc-ng` extension to JDBC. It's useful but has its limitations. For example, as you have discovered, you can't pass a type map and therefore all array items must be the same. When using this method there is no need to call `free` (nor is there a mechanism for you to do so).

While I don't foresee it being removed anytime soon, it is worth noting

[2019-09-27 06:02] andreak commented on #432
I'd say ```rs.getObject("parent_activity_array", classOf[Array[BigIntVarcharJdbcData]])``` is _much_ cleaner, especially when you don't have to free() it. I'm _very_ tempted to just-do-it...

[2019-09-27 06:03] andreak commented on #432
Anyway, I'll close this as it's a non-issue.
Thanks for the support:-)

[2019-09-27 06:03] #432 closed, assigned to nobody

[2019-09-27 06:11] andreak commented on #432
Just curious; if free() is not called on an returend java.sql.Array (using pgjdbc-ng), will the resources get freed on TX-commit, or ResultSet.close? What are the consequences of not free()'ing?

[2019-09-27 15:35] kdubb commented on #423
@deusaquilus I am confused about what is in need of fixing.  I have some changes that recognize a `RETURNING` statement and then skip adding one but I can't make a test that seems to need it.

### Original Issue
@lihaoyi-databricks offered this as the original issue...
[code]
That can simply be fixed by _not_ adding your own `RETURNING` clause, such as:
[code]
This is as the JDBC spec. appears to

[2019-09-27 17:57] kdubb commented on #422
#433 Fixes this by allowing authority based `user:pass` and decoding escapes in parameter names/values.  In either method percent escaping should be used for special characters.

[2019-09-27 17:58] kdubb commented on #417
Any progress on this? Hoping to figure this out and roll it into a new release.

[2019-09-27 18:50] ccleve commented on #417
@kdubb No progress at my end. Oddly, I haven't seen the error again. Not once. I do have the code running that will do an environment dump once it happens.

[2019-09-27 21:16] #422 closed, assigned to nobody

[2019-09-27 23:27] kdubb commented on #421
This is fixed in #434 by generating a dedicated `pgjdbc-ng.properties`. Assuming your fat-jar pulls in all of the resources in `META-INF` (which it better be doing or else it won't work anyway).

[2019-09-28 00:17] kdubb commented on #326
This is an old issue that should have been closed a while ago... escaping `?` using `??` has been supported since b41dac82b1f4b7fc7ae2f2315d49eaf1c0459d69. If that's not working for you feel free to reopen.

[2019-09-28 00:17] #326 closed, assigned to nobody

[2019-09-28 00:24] #421 closed, assigned to nobody

[2019-09-28 02:17] kdubb commented on #414
I've finally had a chance to look at this... it was _another_ UDT generation issue.

#435 Uses generates specific types to fix the issue and it is working using your test project!

[2019-09-28 02:17] #414 closed, assigned to nobody

[2019-09-28 02:39] tlf30 commented on #414
You are awesome, thank you!
I will test it out in the morning, I really appreciate your time working on this!

[2019-09-28 03:16] kdubb commented on #428
The problem is you are using an `SQLData` Java class for a domain server type. Your domain type is constraining a `text` type, so you should be using `String` because PostgreSQL's `text`  maps to Java `String`.

[2019-09-28 03:17] kdubb commented on #428
Domain types are transparent when sending data to or receiving it from PostgreSQL.

[2019-09-28 03:54] kdubb commented on #419
@lyguan I believe this error is due to an issue. that @tlf30 and I worked through a while ago. Try your code with the driver built from HEAD of `develop`; or wait until the next release.

[2019-09-28 03:54] #419 closed, assigned to nobody

[2019-09-28 06:25] kdubb commented on #410
I've been looking into this issue and I realized that there shouldn't be any `unix:` in your domain address path.  Do you know where is that coming from?

The format for unix sockets in the URL is here: http://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#connection-unix. I assume you are getting it somewhat similar to that otherwise it wouldn't parse.

[2019-09-28 07:46] #391 closed, assigned to nobody

[2019-09-28 07:46] #397 closed, assigned to nobody

[2019-09-28 07:47] #420 closed, assigned to nobody

[2019-09-28 09:38] andreak commented on #337
After we've moved lots of java.sql.Blobs out of the database I haven't seen this in over a year, so I'm closing it.

[2019-09-28 09:38] #337 closed, assigned to nobody

[2019-09-28 11:10] ajohnson-stripe commented on #410
I haven't had a chance to look at this in a while, but I'm not totally sure where that was coming from. I was following the format per that link.

[2019-09-28 16:35] tlf30 commented on #414
That fix worked great, thank you!

[2019-09-28 17:41] kdubb opened #437 "Add support for PostgreSQL 12"
Checklist of requirements for v12 support
- [x] Remove use of `WITH OIDS` in tests   (#436)
- [x] Add 12 to supported versions in Gradle build files   (#436)
- [x] Add 12 to travis build matrix   (#436)

[2019-09-28 17:59] kdubb commented on #410
I've done quite a bit of testing and I can say for sure that the `exists()` check isn't the cause of connection failures; and your info actually points to an incorrect socket path as well.

As far as your path with a `unix:` prefix, it's a bit perplexing but I did discover that the driver & datasource, when generating a "vanity" URL from parameters, append `unix:` to the socket addresses.  These U

[2019-09-28 21:58] kdubb commented on #131
This is a bug in that the `String` to interval conversion is not correct.

To be correct this also requires implementing ISO interval parsing/formatting along with the Postgres parsing/formatting

[2019-09-29 00:13] kdubb commented on #430
Fixed in #440

[2019-09-29 00:13] #430 closed, assigned to nobody

[2019-09-29 03:51] kdubb commented on #131
Fixed in #441, note that clients must be passing string intervals in ISO 8601 format; unless they are relying on server parsing.

[2019-09-29 03:51] #131 closed, assigned to nobody

[2019-09-29 06:07] #437 closed, assigned to nobody

[2019-09-29 16:54] kdubb commented on #428
Here is an _example_ implementation of the types you presented...
[code]

[2019-09-29 16:54] #428 closed, assigned to nobody

[2019-09-29 17:04] kdubb commented on #352
@jesperpedersen @davecramer  After the lengthy investigation & discussion in #349... wondering if you guys have seen this https://openjdk.java.net/jeps/353?

If `java.net.Socket` is soon to be built on NIO then any performance difference between the two must be vanishing.. and that might not be immediately be in good direction because for all I've seen and read NIO is slower.

[2019-09-29 17:05] kdubb commented on #352
FYI JEP353 is implemented in JDK13

[2019-09-29 18:09] vlsi commented on #352
`java.net.Socket` + `ssl` buffers data, and it seems there's no sensible way to check if the connection holds some data or not (e.g. `server notifications`). That is really painful for copy / replication processing over SSL.

[2019-09-29 18:21] kdubb commented on #352
Sounds like that might be a +1 for Netty.

It's SSL uses Java's SSL handler (or a native OpenSSL/BoringSSL if available & chosen) but is layered in the Netty message stack (you just plug it in for SSL, leave it out for plain). All the normal message notifications are fired when data is received; you can even hook into notifications "below" SSL in the stack (while the packet is still encrypted).

I

[2019-09-29 18:26] vlsi commented on #352
pgjdbc has recently switched to "ssl by default" for security reasons, and the default buffering in SSL implementation in Java did bite us a couple of times :-/

[2019-09-30 05:18] andreak opened #442 "blob.type=oid setting gone?"
In 0.7.1 version I had to set the parameter `blob.type=oid` in order for Blobs to work correctly agsinst PG's LO (OID).
I'm now getting this in the logs (0.8.3-SNAPSHOT pre-release)
[code]

Is this setting not needed anymore to have "OID-blobs" work correctly?

[2019-09-30 05:21] andreak opened #443 "LEAK: ByteBuf.release() was not called before it's garbage-collected."
I'm getting the following in my application with 0.8.3-SNAPSHOT pre-release, which I didn't with the 0.7.1 version.

[code]

This happens at the same place in the application but only once (the first time).
Should I be concerned with this?

[2019-09-30 12:38] kdubb commented on #443
This is due to leaked JDBC resources. For example, `ResultSet` or `Connection` not `close`d or an `Array` not `free` d.

If it wasn't there in 07.1 and you are using arrays (i.e. `java.sql.Array`) that is the first place to look.

If nothing is obvious, you can amp up Netty's leak detection by setting it's level vis system property...

    -Dio.netty.leakDetection.level=advanced

`advanced` will l

[2019-09-30 12:49] kdubb commented on #442
Yes! 🎉

0.8 delayed any type conversion until requested by JDBC, therefore any `oid` column can be requested as a `Blob` by simply calling `ResultSet.getBlob`.

[2019-09-30 12:49] #442 closed, assigned to nobody

[2019-09-30 13:01] andreak commented on #442
Good!

[2019-09-30 13:15] andreak commented on #443
I've encapsulated all my getArray calls to one place where free() _is_ called, I'll need to investigate further.
Closing issue.

[2019-09-30 13:15] #443 closed, assigned to nobody

[2019-10-01 18:53] kdubb commented on #352
I've opened issue in netty/netty#9627 to explore any solutions/help the Netty team might be able to offer.

[2019-10-02 01:21] #124 closed, assigned to nobody

[2019-10-03 16:03] t0t07 commented on #413
Just curious, is there a way to use pgjdbc-ng with spring boot?

[2019-10-03 16:12] kdubb commented on #413
The driver is JDBC compliant so I imagine you need to just change the maven/gradle dependency and use the correct URL (see [here](http://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#connection-urls))

[2019-10-03 16:23] t0t07 commented on #413
@kdubb is there an example app that demos the use of pgjdbc-ng

[2019-10-03 16:26] kdubb commented on #413
Not the I know of. I tried generating a spring boot application and added JDBC & PostgreSQL support... it doesn't have any code using the driver though.

If you find a real example using JDBC & Postgres we can work from there.  That'll help me update the docs to include a spring boot section as well.

[2019-10-03 16:35] mickaeltr commented on #413
I tried and failed configuring my Spring Boot application with PGJDBC-NG. It was 5 months and I forgot about what went wrong but I'll give it another try and let you know about it…

[2019-10-03 16:38] kdubb commented on #413
@mickaeltr That'd be great. If I have something using the mainline driver I can switch it and work through any issues, then update docs.

[2019-10-03 16:42] t0t07 commented on #413
@kdubb

A good example of spring boot + jdbc: https://github.com/spring-guides/gs-relational-data-access/tree/master/complete
A good example of spring boot + jpa: https://github.com/spring-guides/gs-accessing-data-jpa/tree/master/complete

I am especially interested in using spring boot + jpa + leverage pgjdbc-ng s.t. my app is able to listen to changes in postgresql and receive Asynchronous Notif

[2019-10-03 17:13] kdubb commented on #413
@YikSanChan  Those use H2 database with some Spring Boot magic to autowire that db.  I tinkered for 5 minutes but don't know how to replace the H2 magic.  Get me something using the mainline pgdjbc driver.

[2019-10-03 17:14] t0t07 commented on #413
@kdubb my bad. will give you an example using postgresql soon.

[2019-10-04 03:17] t0t07 commented on #413
@kdubb https://github.com/YikSanChan/gs-accessing-data-jpa/tree/master/complete Here we go: spring boot + jpa + postgres. Thanks for your help.

[2019-10-04 03:41] kdubb commented on #413
@YikSanChan I created a PR for to your repository that switches to this driver.

`./mvnw spring-boot:run` completes successfuly.

[2019-10-04 03:57] t0t07 commented on #413
@kdubb Thx! I am especially interested in using spring boot + jpa + leverage pgjdbc-ng s.t. my app is able to listen to changes in postgresql and receive Asynchronous Notifications. Have you tried that before?

[2019-10-04 03:59] kdubb commented on #413
http://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#extensions-notifications

[2019-10-04 05:35] t0t07 commented on #413
@kdubb Will look into that and let you know if I have questions. Thx

[2019-10-04 06:00] bartkaptur opened #445 "getConnection in SQLData implementations"
Hi,
I'm trying to translate a piece of code from an Oracle JDBC to PGJDBC-ng. Long story short: in Oracle, I was able to do this:

(...)
	public void writeSQL(SQLOutput stream) throws SQLException {
		OracleSQLOutput oracleStream = (OracleSQLOutput) stream;
		Connection currentConnection = oracleStream.getSTRUCT().getJavaSqlConnection();
(...)

I think it would be possible to add something similar

[2019-10-04 06:07] kdubb commented on #445
No, that won't always work.  `Context` has a number of implementations/subclasses and get wrapped/unwrapped to alter some characteristics.

It seems you are trying to get the connection from an `SQLData` implementation... if I know the reason for that maybe there's a "more" JDBC way to solve it.

[2019-10-04 06:07] kdubb commented on #445
I guess I should have read the title of the issue as well as the description 😂

[2019-10-04 07:01] bartkaptur commented on #445
Thank you for a quick answer.
The reason: I have a structure, that I'm trying to pass to Postgres, that is basically an array (let's call it level 1) of objects with arrays (level 2) of their own.
I use connection.createArrayOf at both levels, and therefore I need an access to the connection.
The code is of a service kind, and therefore I can't put the connection (taken from a pool) in a global st

[2019-10-04 20:02] kdubb commented on #413
@mickaeltr Can you look at @YikSanChan's repository and my PR against it to see if that solves your problems with Spring Boot? (they are very simple).

If that is the case I think I have enough to add a spring boot section to the docs, if not we can work through those too.

[2019-10-05 10:03] mickaeltr commented on #413
I'll give it a try in a couple of days. My project might be interesting because we have [liquibase](http://www.liquibase.org/), native queries, [testcontainers](https://www.testcontainers.org)…

[2019-10-07 13:40] mickaeltr commented on #413
So, I managed to set up PGJBC-NG on my project, with a few more changes though.

1. It seems like the default schema is not properly set with this driver, so I had to specify it:
[code]

2. I was unable to use the type `TIMESTAMP WITH TIME ZONE` and had to replace it with `TIMESTAMP`

3. I had to override the existing [PostgreSQLContainer](https://github.com/testcontainers/testcontainers-java/blob

[2019-10-07 13:47] davecramer commented on #413
How are 1 and 2 bugs ? Can you explain ?

[2019-10-07 13:56] mickaeltr commented on #413
When I read that [_"PGJDBC-NG aims to be a fully compliant JDBC driver for PostgreSQL"_](https://www.testcontainers.org/), I expect to be able to switch to this driver without that kind of changes.

The TIMESTAMP (WITH TIMEZONE) thing seems particularly embarrassing in my opinion, since it cannot be fixed with configuration properties. The error is:
[code]

[2019-10-07 15:48] kdubb commented on #413
**A1)** The default "SCHEMA" in PostgreSQL is "not a thing"... it has something called `search_path`, a list of schemas to search (like a unix shell's `PATH` variable).  It defaults to `"$user", public`.  So I'm not quite sure how it is not being set correctly because it defaults to reading the public schema.

What error do you get without that line?

**A2)** `TIMESTAMP WITH TIME ZONE` is fully su

[2019-10-07 18:10] robertfw commented on #417
@kdubb I wasn't able to get the build working, and haven't had a chance to circle back to digging into what is going wrong. I'll try to spend some time again this week working out what is going wrong.

[2019-10-07 18:21] davecramer commented on #413
as to "fully compliant JDBC driver" that means that it is compliant with JDBC which sadly allows for quite a bit of latitude as the spec is not particularly well written.

[2019-10-07 18:40] kdubb commented on #413
@mickaeltr It seems I responded having completely missed your error regarding timestamps... need my coffee before responding next time.

That's an error raised by Hibernate.  With the provided information this **_appears_** to point out a mismatch in your JDBC schema and the Database's SQL schema.

This driver is "binary first" and sometimes it requires more exact matching of JDBC types to their S

[2019-10-07 18:50] davecramer commented on #413
@kdubb my recollection is that we have no real way to support both timestamp and timestamptz in hibernate so we choose one. This may help https://stackoverflow.com/questions/13357487/how-to-map-postgresql-timestamp-with-time-zone-in-a-jpa-2-entity

[2019-10-07 20:39] kdubb commented on #417
@robertfw I've gone ahead and merged #429 as it doesn't have any penalty and will help identify classloading issues more easily.  It will be available in the next `0.9-SNAPSHOT` when the CD task finishes.

[2019-10-08 09:41] mickaeltr commented on #413
**A1)** If I don't specify a default schema, my application fails to start with `org.hibernate.tool.schema.spi.SchemaManagementException: Schema-validation: missing table [my_table]`. Setting `spring.jpa.properties.hibernate.default_schema=public` and `spring.liquibase.default-schema=public` fixes it.

**A2)** My application was using TIMESTAMP WITH TIMEZONE for Instant objects, which [I understan

[2019-10-08 14:13] kdubb commented on #413
FYI, `Instant` ***is not supported*** by JDBC at all.  The types to use are `OffsetDateTime` for `TIMESTAMP_WITH_TIMEZONE` and `LocalDateTime` for `TIMESTAMP`.

If Hibernate supports `Instant` they seem to have fallen into the same trap as JDBC did originally (prior to JDBC 4.2) in that they are "auto-converting" based on the current JVM timezone; JDBC realized this was wrong and stopped doing thi

[2019-10-08 17:12] kdubb commented on #413
@mickaeltr @davecramer As demonstrated [here](https://github.com/kdubb/gs-accessing-data-jpa) using Java 8's time/date classes Hibernate naturally supports `TIMESTAMP_WITH_TIMEZONE` as long as your field is an `OffsetDateTime`; no configuration necessary.

[2019-10-08 17:20] kdubb commented on #413
@YikSanChan I simplified the changes to the `application.properties` even further (the PR against your repository is updated).

Essentially we just need to set the following properties:
[code]

The second property is actually required for either of the PostgreSQL drivers due to the server's handling of lobs.

[2019-10-08 18:00] kdubb commented on #413
@mickaeltr Do you have a small project you can publish that demonstrates the issue related to the schema.  The basic project [here](/kdubb/gs-accessing-data-jpa) doesn't have any issues with the schema so I'm assuming this is a problem created by adding liquibase.

[2019-10-09 09:46] mickaeltr commented on #413
@kdubb There you go: https://github.com/mickaeltr/gs-accessing-data-jpa/commit/91573e880b3c20d970eab0e1b85d46dc5af2374b

You will see the reproduction of the 2 issues mentioned above (search for the TODO in the commit):
- the TIMESTAMP (WITH TIMEZONE) thing
- the default schema not being found

As a side note, thanks for the heads up regarding the different date objects. I am really confused about

[2019-10-09 16:48] andreak opened #446 "0.8.3-all not self-contained"
Hi.

I thought the point of the 0.8.3-all artifact was to avoid dependencies on netty, but I see that netty _is_ dragged in transitively.
Without the netty-jars on the class-path any Exception from the DB results in `java.lang.NoClassDefFoundError: io/netty/util/internal/OutOfDirectMemoryError`

So, is there something wrong with the shading or am I misunderstanding something?

[2019-10-10 00:48] kdubb commented on #446
#### Publishing
Apparently it has been publishing incorrectly for a long time (maybe forever). Adding a classifier like `all` means the jar is still published under the same pom; meaning regardless of it containing all the classes it still lists them as dependencies. This shouldn't affect anybody downloading the jar file and using it on the class path.

I've switched to it publishing `pgjdbc-ng-al

[2019-10-10 01:02] kdubb commented on #446
I _believe_ I've verified the uber jar variant works using the published `0.9-SNAPSHOT` and the small test shown below.  It'd be great if you could verify it with whatever scenario you experienced the original error.

The test class (the `INVALID SQL` query is to ensure exceptions are reported)...
[code]

executed using...
[code]

[2019-10-10 02:24] kdubb opened #447 "CallableStatement cannot be used as a PreparedStatement"
Liquibase uses a `CallableStatement` but never assigns any parameter modes and calls `executeQuery`; thus treating it exactly like a `PreparedStatement`.   This is demonstrated in the test case presented in #413 but surely any use of Liquibase will encounter this issue.

The driver treats it as a `CallableStatement` regardless and throws away any result sets returned by the query. It should detect

[2019-10-10 04:04] kdubb commented on #413
@mickaeltr Your changes were very helpful! Thank you!

First, I was able to determine that Liquibase has a peculiar, but not necessarily incorrect, mannerism in that it uses a `CallableStatement` like a `PreparedStatement` which wasn't accounted for in our implementation of `CallableStatement`.  I opened #447 and have a fix available in #449.

Second, Hibernate requires an implementation of `getSc

[2019-10-10 04:10] kdubb commented on #413
Clearly I now have enough information to produce the required documentation for using the driver with Spring Boot.

Please open _new_ issues for anything you encounter or would like changed.  While I like the outcome of all the discussion and work in the thread it veered off topic a couple times already and its getting the original issue confused.

Thank you all for the discussion and help!

[2019-10-10 04:26] #447 closed, assigned to nobody

[2019-10-10 17:54] robertfw commented on #417
@kdubb could you point me to where the snapshot is available? I had a poke around but couldn't spot it, assuming it is ready (by CD task I'm guessing you are referring to the travis build tests?)

[2019-10-10 17:59] kdubb commented on #417
Maven Central Snapshots

https://oss.sonatype.org/content/repositories/snapshots/com/impossibl/pgjdbc-ng

[2019-10-10 18:00] robertfw commented on #417
perfect, thanks! I was looking around on maven central but couldn't spot it - still don't have much exposure to java ecosystem

[2019-10-17 09:16] jamesasefa opened #451 "Allow support for `postgresql` in JDBC url"
Currently PGJDBC-NG only supports JDBC url's with the following format:

`jdbc:pgsql:<rest_of_url>`

From what I can see, other implementations of JDBC (PGJDBC, Testcontainers, Flyway) resolve the url format as:

`jdbc:postgresql:<rest_of_url>`

Trying the above in pgjdbc-ng throws `java.sql.SQLException: Unsupported database URL`. Our current workaround is to do a string replace before passing th

[2019-10-17 15:43] kdubb commented on #451
@jamesasefa While I understand the request, it's probably not something we'll be doing.  We're trying to follow the JDBC specification, which requires a unique scheme for each driver.  Also, some users are including both drivers in the same application. Supporting the same both schemes would run afoul of these requirements & usages.

In the end the small change from 'postgresql' to 'pgsql' is fair

[2019-10-17 15:45] kdubb commented on #451
FYI, I'm open to reasons why I'm wrong (e.g. that cause a lot more headache than we experience) and could be persuaded to add this support behind a system setting if it is absolutely needed.

[2019-10-17 15:48] kdubb commented on #451
Another note: Our URL format and the format of the mainline driver, while very similar, are not exactly the same. A different scheme does denote with format you should be using quite helpfully.

[2019-10-17 15:49] vlsi commented on #451
Even though it might sound crazy, it might be a reasonable (opt-in) feature that is enabled with `-D...`

[2019-10-17 15:51] kdubb commented on #451
@vlsi Yes that and then a URL parser 100% compatible with mainline. I think the only "real" thing we support in the URL beyond the mainline is unix socket connections.

[2019-10-21 21:11] robertfw commented on #417
Bit of a non-update - I've been running the linked build since you posted it, I've yet to see the issue.

[2019-10-25 15:03] bartkaptur opened #452 "wildfly + pgjdbc-ng"
Hi. I've tried to deploy a datasource to wildfly 17.0.1 by putting an xml file in /standalone/deployments.
The user guide says this should work:

`<connection-url>jdbc:pgsql://my.server.com:5432/my_database</connection-url>`

It didn't - it tried to connect to localhost, as if this data never got to the pgjdbc driver. I changed it to:

`<connection-property name="databaseUrl">jdbc:pgsql://my.serve

[2019-10-27 11:28] aleks-oracle opened #453 "Postgres stored procedures via CallableStatement"
Hello.

Since Postrges JBDC driver cannot work with stored procedures (only functions) via CallableStatement, I tried pgjdbc-ng one.

During the execution of the following code I get the exception:

`

     CallableStatement cs = con.prepareCall("{CALL get_organization(?,?,?,?,?::jsonb,?)}")) {
      cs.setObject(1, id, Types.BIGINT);
      cs.setObject(2, kbm, Types.VARCHAR);
      cs.setBigDecim

[2019-10-29 02:06] kwesterfeld opened #454 "SQLException/ConversionException thrown with select datacl from pg_database"
If there are database permissions on a database that are granted to a role having the WITH GRANT OPTION, this is not parsable by the pgjdbc-ng driver (although it seems the 0.5 version worked).

The issue is that the acl item looks like this, and the regex in ACLItem.java does not allow for an asterisk:

[code]

NB: the "moo" database has the grant option where asterisk appears in the acl.

Stack

[2019-10-29 12:28] kwesterfeld opened #455 "Support databaseName URL using URL encoding"
v0.8.3 of the driver supports percent-encoding (URL encoding) for parameters, username and password, but not database name.  Thus, creating a database with foo&bar or foo?bar or foo/bar is not possible, because the regex parser in ConnectionUtil becomes confused and cannot parse the database name.

It would be far better to support url encoding for the database name as well.

[2019-10-29 12:32] kwesterfeld opened #456 "Support unixsocket as a data source property"
Currently, the only way to specify the use of domain sockets for connecting to a database is through the JDBC URL mechanism using unixsocket=<socket>.   Because of this, the constraints of URL parsing are forced upon the configuration, and we end up with issues such as #455 where we have to encode the connection string but have limits on what we can place there.

Since we are using programmatic se

[2019-10-29 14:05] kwesterfeld commented on #417
I ran into this same issue.  The way I solved this was to ensure that a "first connect" is made on the data source so that initialization paths are taken.  There seems to be a race when using a connection pool (I used HikariCP) and having multiple threads open connections simultaneously when the initialization path hasn't been completed.   Serializing first access solves this.  Obviously initializ

[2019-10-30 10:27] andreak opened #457 "Unhandled message: Z @ com.impossibl.postgres.protocol.v30.PrepareRequest$Handler"
I got this in the logs today, no idea why...

[code]

[2019-10-31 20:58] robertfw commented on #417
@kwesterfeld To clarify your fix - do you mean you are triggering a connection in a "regular" non-pooled context, prior to starting your connection pool?

[2019-10-31 21:16] kwesterfeld commented on #417
Correct.   Before the datasource is given to the pool, we call
getConnection() on it

On Thu, Oct 31, 2019 at 4:58 PM Robert Warner <notifications@github.com>
wrote:

[2019-10-31 21:33] robertfw commented on #417
@kwesterfeld Thanks! I'll set about implementing something similar here

[2019-11-03 11:41] davecramer commented on #453
The better question is why do you want to use a stored procedure ?
They kinda suck at the moment

[2019-11-05 07:52] aleks-oracle commented on #453
I am a test automation engineer, and have to call stored procedures since our developers use them in application.
I cannot forbid our devs from using them.

The question is still actual.

[2019-11-06 12:24] andreak opened #458 "Unhandled message: C @ com.impossibl.postgres.protocol.v30.PrepareRequest$Handler java.lang.IllegalStateException: Unhandled message: C"
I'm now getting this:

[code]

How shall I proceed with debugging this?

[2019-11-06 14:08] #446 closed, assigned to nobody

[2019-11-06 14:10] #455 closed, assigned to nobody

[2019-11-06 14:21] kdubb commented on #451
@jamesasefa While this is an interesting suggestion it would bring on a couple of things...

1. Tracking closely the mainline driver's URL syntax, because without parity sharing a prefix is useless.
2. It could only be done by an environmental flag otherwise targeting a specific driver would be difficult and have to be done by managing dependencies.
3. It implies a level of parity between the driv

[2019-11-06 14:21] #451 closed, assigned to nobody

[2019-11-06 14:28] kdubb commented on #456
Honestly I'm not quite sure why this isn't already the case.  It may just be an oversight but there's an outside chance it involves a technical issue because it does take a separate path.

[2019-11-06 14:29] kdubb commented on #456
@kwesterfeld As you know PR's are welcome 😁

[2019-11-06 14:33] kdubb commented on #457
This implies the message dispatching engine is "out of sync" with the stream of messages (PostgreSQL is essentially an asynchronous FIFO queue).

More information is needed before I can help.  What versions (driver, server, etc) and platform? Any idea on the workload (query types, statement types [prepared or not], batch, etc)?

[2019-11-06 14:33] kdubb commented on #458
Closing as a duplicate of #457 Please attach this information on that issue.

[2019-11-06 14:33] #458 closed, assigned to nobody

[2019-11-06 14:35] kwesterfeld commented on #456
Thanks!

On Wed, Nov 6, 2019 at 9:29 AM Kevin Wooten <notifications@github.com>
wrote:

[2019-11-06 14:42] kdubb commented on #454
Adding in an allowance for an asterisk is easy but I'm not really understanding the extended format yet. Do you know what exactly the the asterisk means? Is it just "has with grant option"?

[2019-11-06 14:46] kwesterfeld commented on #454
The asterisk means "WITH GRANT OPTION".

If you do something like:

[code]

it will show up.

Note: our ybsql is a psql derivative for our product here at Yellowbrick
Data (which is derivative of Postgres)   In this example there is no
difference with stock PG.

On Wed, Nov 6, 2019 at 9:42 AM Kevin Wooten <notifications@github.com>
wrote:

[2019-11-06 14:53] kdubb commented on #452
From the user guide (note the version reference):

I've not attempted to work with Wildly 17.0.1 or verify the user-guide's instructions against it but it appears you have 😉.  If that's working then I would say you are correct.

##### User-guide Update

If the format has changed, I am happy to update the documentation with this difference.  In support of that, can you find any Wildfly documentatio

[2019-11-06 14:54] andreak commented on #457
PG: 12.0
OS: Ubuntu Linux eoan
JDK: 13.0.1
Driver: 0.8.3
I see (in debugger) that `parseAndDispatch` returns null (action == null) on line 210 in `MessageDispatchHandler`

The thread running is "PG-JDBC I/O" which seems to be in a separate thread from the thread issuing the query.

If I stop at breakpoint at MessageDispatchHandler:214, the last queries in the PG-logs are:
[code]

But grepping does

[2019-11-06 14:55] andreak commented on #457
FWIW; I dumped the database from production to my laptop to reproduce and the same happens locally on my laptop, so it's 100% reproducable.

[2019-11-06 14:58] kdubb commented on #454
So would you suggest we surface it in `ACLItem` as something like `hasWithGrantOption`?

Forgive my naivete on all things role/grant related in PostgreSQL they are probably the features I've had least interaction with.

[2019-11-06 14:59] andreak commented on #457
From the application-log:
[code]

[2019-11-06 15:19] kdubb commented on #454
When all else fails, read the source (https://github.com/postgres/postgres/blob/d40abd5fcfb25d764419f8e9bffa5cdbdb247c1b/src/backend/utils/adt/acl.c#L239).

~The `*` appears to mean all privileges preceding it are granted by the grant option and any following it are not~.

Upon further examination, the `*` signifies that the privilege preceding the star has the grant option; each privilege can hav

[2019-11-06 15:44] kdubb commented on #457
I think we have two different issues...

First is the root cause which appears to be a cache collision; it's trying to prepare a statement that the server believes is already prepared which automatically terminates the current transaction.

Second, the driver is _not prepared for this scenario_.  The scenario I refer to is actually that the transaction has terminated at the point at which it does.

[2019-11-06 15:57] kdubb commented on #457
@andreak Seeing the the line beginning `execute cached-65948c5b`... Is the application attempting to open a blob after this?

Another thing that would be good is an SQL trace from the driver leading up to and following the error. http://impossibl.github.io/pgjdbc-ng/docs/0.8.3/user-guide/#tracing-sql

[2019-11-06 16:01] kwesterfeld commented on #454
Actually that makes a lot of sense.   In our immediate usecase I “didn’t
care” and was just looking for the grant connect but this decorator may
help in the future build a better ux for our tools.

To do the workaround I casted to varchar, replace the *, and cast back to
acl[].

On Wed, Nov 6, 2019 at 9:58 AM Kevin Wooten <notifications@github.com>
wrote:

[2019-11-06 16:05] andreak commented on #457
The application-thread starts with reading a SQL-Blob (using PG's OID, ie. LargeObject), from a custom queue-impl, and parses it to an rfc-822 email-object and stores it using JPA.

[2019-11-06 16:09] andreak commented on #457
...the strange thing is that the application does this all the time, without error. This email-blob it's trying to parse in this case is larger than normal, 38MB, maybe that affects stuff....

[2019-11-06 16:10] andreak commented on #457
I'll turn on some tracing and provide the logs

[2019-11-06 18:00] kdubb commented on #454
#460 Fixes the parsing and adds new API for accessing the full scope of options for ACL items while keeping the old privileges string API for compatibility.

[2019-11-06 18:06] kdubb commented on #417
@kwesterfeld This sounds like a race condition for sure. I assumed disabling registry sharing would have taken that out of the equation (@robertfw tried disabling it earlier in the thread). I'll have a look at it again with the new evidence.

[2019-11-06 18:30] kdubb commented on #417
@kwesterfeld, @ccleve, @robertfw

It turns out that even in `SharedRegistry` there was another level of "sharing" specifically for `Proc` instances.  #417 removes that sharing altogether (I'm actually questioning the need for it at all).

I am attempting to build a repro case for this but as of yet cannot do it.  Can you all attempt use a build of the driver from #417 and see if it changes anythin

[2019-11-06 22:43] kwesterfeld commented on #417
It is very hard for me to reproduce here outside of our core dev cycle
unfortunately.  It certainly happened with enough regularity that I am
certain doing a single connect per database fixed the issue.  After making
this change it has been rock solid and we shipped an upgrade from 0.5
version of the driver to 0.8.1.   Very happy with the progress especially
the domain socket support.   Our produc

[2019-11-07 08:38] bartkaptur commented on #452
Hi again. Thank you for the answer.
I've tried to do this thing on Wildfly 15.0.1.Final - the result I'm getting is exactly the same.

The scenario for a running wildfly with a datasource configured in an xml file in standalone/deployments (database address provided with connection-url), and a web service provided by a jar in the same location:
-I call the web service - it works.
-I then force pos

[2019-11-07 09:03] andreak commented on #457
...I'm swamped with "customer-work" and won't have time for this until this weekend...

[2019-11-07 13:40] andreak commented on #457
Here are pg's log and sql.trace
[postgresql.log](https://github.com/impossibl/pgjdbc-ng/files/3819845/postgresql.log)
[sql-trace.log](https://github.com/impossibl/pgjdbc-ng/files/3819846/sql-trace.log)

[2019-11-07 15:26] kdubb commented on #452
@bartkaptur Thanks for all these additional details. This gives me some concrete scenarios to investigate. I will try some things on my end and report back.

WRT the default host, connecting via Datasource users are allowed to provide individual properties and when using that method it assumes a defaults for most all of the properties except for (some of that is dictated by JDBC).

Edit: (the URL

[2019-11-07 15:32] andreak commented on #457
It seems EclipseLink is sending a `SELECT 1` as "pingSQL" when trying to cope with the original exception. Then the `ERROR:  prepared statement "cached-3fcfe755" already exists` is thrown, maskin the original-exception, which is:

[code]
The `string_content` in this case is:
[code]
28964957 bytes, which is to be mapped to a JAVA-String, I suspect this is the problem, causing `TooLongFrameException

[2019-11-07 15:45] kdubb commented on #457
Yeah I missed that, it was in the original app log you posted as well... your loading blobs that are _large_. The default for maximum message size is 20mb so it's kicking back this frame.

Set the max message parameter to whatever you want in your connection properties.

See [protocol.message.size.max](http://impossibl.github.io/pgjdbc-ng/docs/0.8.3/user-guide/#_protocol_settings)

[2019-11-07 15:53] #454 closed, assigned to nobody

[2019-11-07 15:53] andreak commented on #457
The thing is not the blob actually but I'm storing the contents of "text type mime-parts in email" in a varchar-field in the DB, and in this case it's an part with mime-type text/html which is that large. Yes - someone sent a large (28964957 bytes) report, saved as HTML from MS Word, in email.
I'll adjust the `protocol.message.size.max` and see if I'm able to handle such large parts better.

[2019-11-07 15:53] #457 closed, assigned to nobody

[2019-11-07 16:54] andreak commented on #457
Would be cool if the Exception mentioned that raising `protocol.message.size.max` is an option.

[2019-11-07 17:06] andreak commented on #458
Actually, this issue comes from the fact that EclipseLink sends a "pingSQL", defined in `PostgreSQLPlatform.pingSQL`, after the `TooLongFrameException` has occured.
This are the last log-lines on the server (PG-log)
[code]
The last `SELECT 1` is from when EclipseLink calls `DatabasePlatform.wasFailureCommunicationBased` to check of the connection is still valid after the `TooLongFrameException: Ad

[2019-11-07 19:22] kdubb commented on #458
Keep this database handy, if you can. I agree that a more "graceful" failure here is wanted.

TooLongFrameException generating a much better error message (easy to do) and resetting the message dispatch state so as not to be "confused" (much harder to do) would be really helpful here.

[2019-11-07 20:03] andreak commented on #458
It's no problem keeping this database around.

[2019-11-12 22:14] kwesterfeld opened #462 "DataSource.getConnection(user,password) clobbers settings"
We have a DataSource configured with a specific set of user settings and it is attached to a pool.  This pool, for all intents, is used to operate the application after login, with RBAC layered on top at the application level.   For login, this DataSource is also used to programmatically authenticate a user using the getConnection(user, password) entrypoint.  In previous versions of this driver, t

[2019-11-12 22:38] kdubb commented on #462
To be clear, you are saying that every call to `DataSource.getConnection` sets the current value of the DataSource's user/password to whatever values was passed in?  If so, then yes that's a bug in the driver and not in the spec. (as far as I know).

[2019-11-12 23:07] kdubb commented on #462
Verified via test. #463 fixes it.

This is a __big__ one. Good catch and thanks for reporting it. 👍

[2019-11-13 01:22] #462 closed, assigned to nobody

[2019-11-13 17:19] rocketraman commented on #78
@kdubb I didn't see any new issue for ADBA. Is this still something being pursued?

[2019-11-13 17:22] kdubb commented on #78
Yes... _but_ ADBA is dead [see here](https://mail.openjdk.java.net/pipermail/jdbc-spec-discuss/2019-September/000529.html)

My current thought is to use their exploration as a base... it is quite polished. I've implemented a bit of it in a local branch but nothing usable yet.

[2019-11-13 18:02] davecramer commented on #78
It's pretty much dead and there are a number of other competing options. Seems like a useless distraction to me

[2019-11-13 18:11] kdubb commented on #78
@davecramer I agree a bit and the downside of ADBA is it abandons all of JDBC

What I find myself usually wanting is an asynchronous row processor but keep the JDBC API (because other code is written for it).  A `ResultSet` representing a single row or a small batch of rows would probably do it. It's a bit of an overload but again I can pass a ResultSet around and not have to rewrite anything.

Fo

[2019-11-13 18:46] davecramer commented on #78
@kdubb Agreed.

The sad thing is that there are probably a dozen async protocol implementations now that work 80% of the time but fail 20% of the time and aren't getting the exposure they need to fix the corner cases.  Anyways, I'm not going down this rabbit hole.

[2019-11-13 20:28] cretz commented on #78
@kdubb - I had similar needs, i.e. jdbc worked for most of my things, but I needed to do more such as async row processing. I came to the conclusion that you just can't finagle JDBC for async use cases or wait on a vendor-agnostic interfaces. At the moment you either choose JDBC or choose an async lib (I ended up writing my own impl of the latter because I needed much more control).

[2019-11-13 20:36] mkurz commented on #78
Checkout https://r2dbc.io/

[2019-11-13 21:11] cretz commented on #78
Wasn't there when I was looking, but w/out support for some copy things, multidimensional arrays, some data types, and in general just really low level pg protocol stuff (like needing to end queries early, reuse them in different ways, choosing when to "describe" and when not, etc) it wouldn't work for my needs (https://github.com/cretz/pgnio was my solution, but may be too low level and too pg-sp

[2019-11-13 21:15] davecramer commented on #78
@cretz cool, thanks for sharing

[2019-11-14 03:17] rocketraman commented on #78
Thanks for the references. Looks like ADBA is being abandoned in favor of the same synchronous JDBC API, but made non-blocking and scaled via fibers. Somewhat ironically, the reason I wanted an async API in the first place was to use with Kotlin coroutines (which are very similar conceptually to fibers, and may actually take advantage of fibers in the future, at least on the JVM). A non-blocking,

[2019-11-28 16:47] kwesterfeld commented on #455
@kdubb is there a roadmap for when 0.8.4 with this fix will be released?

[2019-11-30 17:22] lanthale opened #464 "pgjdbc-ng missing module-info"
First thank you for all the effort regarding this driver. It is so much better than the standard jdbc driver and the speed and stability is much better.

The only thing which is missing is a multi-release jar with all dependencies included so that desktop/mobile applications which must to use jlink for distribution can use the driver as well.

I had the following situation where a module-info insi

[2019-12-02 17:41] kdubb commented on #464
This is Java 9+ related and should be easy to add unless it creates issues with Java 8.

[2019-12-02 17:43] kdubb commented on #455
No roadmap... but it will be end of this week unless some catastrophe interrupts me

[2019-12-05 14:04] kwesterfeld opened #465 "SQL containing identifier that begins and ends with double quotes fails with "unterminated string literal""
An identifier with double quotes issue has been raised with our database
which uses the pgjdbc-ng driver.  A table can be created that contains double
quotes at the beginning and and of the identifier, and pgdjbc-ng either throws
an ArrayIndexOutOfBoundsException, or throws "Unterminated string literal",
depending on the SQL also adding double quotes around the identifier or not.

I have modified

[2019-12-11 00:07] robertfw commented on #417
I haven't been able to test the build from #417, however we have implemented the mitigation described by @kwesterfeld and that appears to have fixed the issue. I will check back in if we see any changes.

[2019-12-17 18:49] dfsilva opened #466 "Add SCRAM-SHA-256 support"
Hey Guys,

Can you add support for SCRAM-SHA-256?

thanks

[2019-12-18 13:44] skunkiferous opened #467 "Exception using "SELECT array_agg()""
Hi. I (accidentally) found out about pgjdbc-ng while researching how to replace an OODBMS with PostgreSQL. We would like to do something like the following, as our standard "load all data of customer":

[code]
In short, read many rows from many tables, which have totally different structure, and so cannot be "unioned", into a single SELECT.

Our problem with this in the default PG JDBC driver, is

[2019-12-25 03:01] tlf30 opened #468 "Enum UDT types not working from generator"
Hello @kdubb
I am working with some enums, and cannot get the UDT generator to build a working java object for either reading or writing.

Here is my stacktrace:
[code]

This is from my test case 3 which I uploaded here: https://github.com/tlf30/pgjdbc-ng-test3

The issue looks to be that perhaps the encoder and decoder are case insensitive, where postgres seems to be case sensitive on enum values

[2020-01-08 00:47] arbiter34 commented on #413
@kdubb Wanted to check in with you in regards to your comment:

We use HikariCP which uses the `java.sql.Connection.setSchema(String schema)` in order to set search_path on pooled connections when it's specified.  That code can be found here: https://github.com/brettwooldridge/HikariCP/blob/dev/src/main/java/com/zaxxer/hikari/pool/PoolBase.java#L412

I'm basically checking to see if you guys have

[2020-01-17 18:29] tlf30 commented on #467
@skunkiferous I believe (without digging to far into this) that what is returned is an array, not an object.
[code]

[2020-01-20 19:46] tlf30 commented on #468
@kdubb have you had a chance to look at this? I would really appreciate some help of getting this fixed. Currently I have had to stop using enums in my database

[2020-01-20 19:55] kdubb commented on #468
Your referenced test appears to not be valid JDBC...
[code]
 Specifically reading enums directly isn't supported by JDBC. You need to read a string and call `Condition.valueOf`.

If UDT generated code is doing something similar then its also incorrect. Do you have an example of that happening?

[2020-01-22 18:49] tlf30 commented on #468
Ah sorry, I got a bit to hasty when writing my test. (I was trying to catch a plane!).
I did mess up the read/write statements, that is what happens when I copy paste too fast :(

I have corrected the test to use an actual UDT generated read/write, which now makes a lot more sense as to what error I am seeing in my application.
The UDT Generator is creating the following read (which works correctl

[2020-01-23 10:41] poser55 commented on #411
I assume they mean:
https://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#tracing-protocol

---
We have potentially a related issue: the notification works fine for some time (for weeks) and then it stops until a restart of the process (we have 2 same processes). What is strange: the issue occurs typically on all (same) processes that should get the notification at the same time - so eith

[2020-01-24 13:05] skunkiferous commented on #467
@tlf30 Hi. I just tried it; if I call getArray() instead, I just get the same exception:

[code]

Also note, getArray() returns a java.sql.Array, not a Object[].

I _thought_, since java.sql.Array (as well as Object[]) are effectively Objects anyway in Java, getObject() should be able to return anything. I _believe_ it also does with the standard PostgreSQL JDBC Driver. But I have no clue if this

[2020-01-24 16:36] tlf30 commented on #467
Hello @skunkiferous you use the java.sql.Array to get your Object[].
This is an example of using the array_agg function with jdbc: https://stackoverflow.com/questions/32016829/postgresql-array-agg-of-multiple-columns-with-jdbc
(Although the stackoverflow question has nothing to do with yours, the answer is an example of how to do what you are doing)
As for the type issue, I am not sure what pgjdbc

[2020-01-24 18:38] kdubb commented on #467
First things first...

This is a deficiency in the type system of the driver as it doesn't properly recognize the `record` pseudo type or its array type.

I've created PR #469 that implements support for them and supports your use case (which has been added as a test case).

About arrays...

In reality pretty much everybody's examples should have worked (after all an array _is_ an `Object`). The t

[2020-01-24 18:45] kdubb commented on #465
You can make a table name wrapped in double quotes?! 🤯... but _why?_

[2020-01-24 19:05] kdubb commented on #468
@tlf30 Can you try PR #470?  It writes the enum with its type specified I didn't have a chance to test it or add a test case yet.

**edit**
I know it generates compilable code as that is already covered in a test case but I haven't tried running it on a database with the correct schema.  If you are so inclined adding a PR for a test case in the `udt-gen` subproject that actually exercises the gene

[2020-01-24 19:15] kwesterfeld commented on #465
It's an edge case our QA folks found. :(

On Fri, Jan 24, 2020 at 1:45 PM Kevin Wooten <notifications@github.com>
wrote:

[2020-01-24 19:16] tlf30 commented on #468
I will build #470 and test it out. I'll try to write a test case today. I fly to work tomorrow and will be gone for two weeks. If I do not get one written today, I will write one when I get back.

[2020-01-24 21:30] tlf30 commented on #468
@kdubb I tried the PR, it took me a while to get working, for some reason this project never wants to publish to my ~/.m2 folder.

This is the result of the run, looks the same to me:
[code]

I have updated the test repo to include the binaries I built from the PR to be copied into your ~/.m2 to test with.

[2020-01-24 21:32] kdubb commented on #468
Does you write method look like the below?

[code]

[2020-01-24 21:36] tlf30 commented on #468
No, this is what was generated:
[code]

[2020-01-24 21:39] kdubb commented on #468
It looks like you aren't using the code from the PR... it will generate it similar to what I posted and is doing so in the unit tests.

[2020-01-24 21:39] tlf30 commented on #468
Ah, even with changing the pom and running a clean install, IDEA was still caching the old dependencies on the classpath for running a single class. I will have to remember that one, I have never seen it do that before, I had to delete IDEA's project file and reimport.

Anyways, the binaries I built are not working. It seems like they are not linking in the dependencies. Probably related to why th

[2020-01-25 06:38] kdubb commented on #456
#471 adds this and others.

[2020-01-28 00:17] axsy opened #472 "NumberFormatException on getting the connection"
While trying to connect to my database I'm getting `NumberFormatException` with the following stacktrace:

[code]

It happened because `pg_catalog.pg_type` returned the type with `oid` 2222793757 which is treated by driver as signed 32-bit integer being an unsigned 32-bit integer instead (https://www.postgresql.org/docs/9.6/datatype-oid.html).

An issue is reproducible with the `0.8.3` and latest

[2020-01-28 12:57] skunkiferous commented on #467
@kdubb This is good news; we have a dev here (not me), that might have spent by now a month writing code to parse the standard PG driver "text format" back into actual data. With this bug fixed, if we can also combine it with UDTs, we might be able to completely eliminate the "text-parsing" required by the standard driver.

[2020-01-29 05:10] #467 closed, assigned to kdubb

[2020-01-29 17:04] kdubb commented on #472
@axsy Can you verify #473 works for you?

[2020-01-29 17:47] #456 closed, assigned to kdubb

[2020-01-29 19:42] kdubb commented on #472
This is now available in `0.8.4-SNAPSHOT` and will be released with `0.8.4`. If the PR has not fixed your issue please re-open.

[2020-01-29 19:42] #472 closed, assigned to kdubb

[2020-01-29 19:46] kdubb commented on #468
I merged the PR so this will be available in `0.8.4-SNAPSHOT`. Reopen if you experience issues with that version.

[2020-01-29 19:46] #468 closed, assigned to kdubb

[2020-02-07 08:50] moio opened #475 "docker-compose tests: postgres service remains unhealthy"
I see the following when running `./gradlew clean build`:

[code]

After a long time it times out with the error:
[code]

I checked the key permissions and they are correct (0600, user invoking gradle).

What else can I check?

[2020-02-07 15:24] kdubb commented on #475
Try using a different server version via the `postgresVersions` project property.  It accepts list of versions, so providing it a single version will only test that version. E.g. `./gradlew -PpostgresVersions=11 clean build`

[2020-02-07 15:32] kdubb commented on #475
Also, PostgreSQL's SSL support is very pedantic about key file permissions and it want's the file to be owned by the `postgres` user _in docker_.

These are the permissions required...
[code]

Note: This is regardless of what user uid 70 is on your host, uid 70 in the docker container is `postgres`, which is what it wants.

[2020-02-11 23:48] #465 closed, assigned to kdubb

[2020-02-13 16:02] tlf30 commented on #468
Just flew home last night. I just tested it this morning and that works great. Thank you!

[2020-02-14 20:18] leeduan opened #478 "Memory leak with BYTEA column types with Exposed DSL"
Using `0.8.3` of `pgjdbc-ng` with `org.jetbrains.exposed:exposed:0.17.7` when querying for rows with a BYTEA column type with a custom exposed `ColumnType` results in a memory leak that is not released. Using `org.postgresql:postgresql:42.2.5` driver does not result in the same issue, since it never seems to map from db as `ByteBufInputStream`.

Also, using a `BlobColumnType` by wrapping `ByteArra

[2020-02-14 20:30] kdubb commented on #478
Can you run with `-Dio.netty.leakDetectionLevel=advanced` & `io.netty.leakDetection.targetRecords=10` to amp up the leak detection.

[2020-02-14 21:27] leeduan commented on #478
I'll do some more testing with ^^ early next week.

It could also just be using so much memory per query that it never levels off by the time it OOM's.  Switching over to `blob` columns seems to climb a lot slower e.g. starts app at 2.5gb and climbs to 3.9gb but then levels off.

I could get the pod to crash with a max memory allocation of 12gb within 20-30 SQL select statements by uuids in list w

[2020-02-17 15:25] moio commented on #475
That's exactly what I needed. May I suggest to add that to the README, or even emit a warning from the build system when this condition is not met?

[2020-02-17 15:28] kdubb commented on #475
Currently the build tries hard to detect this problem and emit a warning...

https://github.com/impossibl/pgjdbc-ng/blob/02a9982950d431cd968bf8bd112ab631cfa039e6/driver/src/build/testing.gradle.kts#L145

[2020-02-17 15:29] kdubb commented on #475
If you can determine why if, and why, it is not warning you we can update the check to detect your case as well.

[2020-02-18 06:38] moio commented on #475
@kdubb I think the problem in my case was just the warning sentence:

https://github.com/impossibl/pgjdbc-ng/blob/02a9982950d431cd968bf8bd112ab631cfa039e6/driver/src/build/testing.gradle.kts#L156

In my case, the user running Gradle is `silvio`, UID 1000, while actually what we want is the file to be owned by UID 70, regardless what user is that (in fact, it might not be a valid user at all).

The

[2020-02-18 14:13] leeduan commented on #478
Some logs:

[code]

[code]

[code]

Specific request that I'm polling is `com.orgpackage.grpc.v1.IndexGrpc.query`

[2020-02-19 09:11] jsd64 opened #479 "NullPointerException when reading Composite Types with null values"
I use pgjdbc-ng 0.8.3 to access a PostgreSQL database which contains composite types. When trying to read a record which contains a composite type a NullPointerException is thrown when the composite type contains null values.

The exception occurs when calling the method getAttributes() of the class PGStruct.

Depending on the value type, the exception is thrown in different places:

Binary: BaseD

[2020-02-19 22:06] kwesterfeld2 opened #480 "SSL hostname verification does not support Subject Alternative Names in cert"
The driver hostname verifier supports CN check when using sslmode "verify-full", and supports wildcards.  However, Subject Alternative Names (SAN) in the certificate are not checked, which means that some endpoints will not be trusted with this sslmode.

The stock pgjdbc driver does support SAN verification and has a decent model for doing so.

Alternately, it would be nice to allow the caller to

[2020-03-16 06:26] craftmaster2190 commented on #478
+1

[2020-03-16 06:27] craftmaster2190 commented on #230
+1

[2020-03-16 06:37] craftmaster2190 commented on #413
If it helps anyone else or with some documentation;
I've successfully integrated PGJDBC-NG using Spring Boot with the following:

[code]

[code]

[code]

[2020-03-16 07:08] craftmaster2190 commented on #478
I have this:
[code]

[2020-03-28 19:20] ccleve opened #481 "How to handle JSON and JSONB data types?"
After much googling, I haven't found the correct way to convert Postgres JSON and JSONB datatypes into Java objects. The official Postgres jdbc driver has PGobject, but I can't find the equivalent in pgjdbc-ng.

I'm using an ORM, so I'd really like to find a Java class that I can use in my pojos directly that will allow me to do selects and inserts without having to explicitly convert the json to

[2020-04-02 18:46] kwesterfeld2 opened #482 "SSL wildcard certificates only work if hostname contains a '.' char"
We are unable to connect to a database with SSLMode verify-full if the target database is configured using a wildcard certificate.

The offending code looks to be a stray ! in `driver/src/main/java/com/impossibl/postgres/protocol/v30/ServerConnectionFactory.java`:

[code]

By my read, if my target CN has *.company.com, and I am connecting to myhost.company.com, this throws "could not be verified".

[2020-04-04 02:14] taojoe opened #483 "composite type (user defined type)'s attribute should use typeid from database, not from value type"
hi impossibl team,

composite type attribute type id, should use the type id defined from database, not resolved by java value type. it should be the typeid defined in 'pg_attribute' table, not resolved by java type to database mapping.

when construct java.sql.struct(com.impossibl.postgres.jdbc.PGBuffersStruct), the attribute is resolved by attribute value, it should use type from database define

[2020-04-06 23:18] tlf30 commented on #483
I ran into this same issue.

[2020-04-06 23:19] tlf30 commented on #479
Have you tried using the 0.9 snapshots? Many fixes to UDTs are in 0.9

[2020-04-08 19:19] kdubb commented on #481
JDBC currently has no support for a special "JSON" type.  So, JSON is handled as strings and should be received as such.

Just retrieve a string & parse it
[code]

`PGObject` from the mainstream driver is used to allow support for UDTs and other unsupported driver types by manually parsing the server response text. This driver instead supports complex UDTs and other types natively through JDBC's `

[2020-04-09 23:10] #482 closed, assigned to nobody

[2020-04-10 02:28] kdubb commented on #478
Exposed has a leak problem... this isn't related to the driver just that this driver requires the JDBC be followed properly 😐

I've logged an issue here in exposed... JetBrains/Exposed/issues/871

[2020-04-10 02:29] #478 closed, assigned to kdubb

[2020-04-10 02:31] kdubb commented on #479
@jsd64 I need more information. Can you provide a small repro test case so I can debug it?

[2020-04-11 15:30] kdubb commented on #483
The limited JDBC interface means that when using `Connection.createStruct` you are unable to provide explicit types.  Due to the fact that PostgreSQL allows type attributes to change at any time (e.g. using `ALTER TYPE`) caching the attribute information causes problems (actually the driver used to do this and it had to be removed).

Altogether this means that the only way to make `Connection.crea

[2020-04-13 19:01] andreak opened #485 "Expose DETAIL-message in PGSQLIntegrityConstraintViolationException"
Hi, the following in log:
[code]
The `DETAIL`-message is not available in `PGSQLIntegrityConstraintViolationException`, it would be great if it would.
Any chance this DETAIL-message could be included?

[2020-04-14 12:00] jsd64 commented on #479
Sorry, it is difficult for me to provide a test case. My code is written in clojure and uses luminus for database integration. I identified two locations which throw an exception due to missing null-pointer checks, depending on the value type (binary or string).

If the value type is binary, the crash is in BaseDecoders.decode() (BaseDecoders.java:74):

      checkArgument(buffer.readableBytes() =

[2020-04-20 20:42] ben-manes opened #486 "Support timestamps with UTC offset defined by hours"
In jOOQ the OffsetDateTime of
`2020-04-20T20:31:40.032Z`
is rewritten as
`2020-04-20 20:31:40.032+00:00`.

The [code comment](https://github.com/jOOQ/jOOQ/blob/c8292cf9c4dd050415129e2fd3d7c6a483c32967/jOOQ/src/main/java/org/jooq/impl/DefaultBinding.java#L2923-L2937) explains that this is for greater compatibility across vendors.

The official Postgres drivers are fine here, but this driver fails t

[2020-05-01 04:08] tlf30 opened #487 "Stop PG-JDBC threads"
Hello @kdubb ,
I am probably missing something here, but how do I 'stop' ng-pgjdbc? I do not have any connectrions open to the database, but I have several PG-JDBC I/O threads running. Is there a way to stop them, in the sense of shutting down jdbc, or disconnecting it from the database?

[code]

Thanks,
Trevor

[2020-05-03 22:02] kdubb commented on #487
After closing all the connections you can use
[code]
to shut down the Netty I/O

[2020-05-04 15:04] tlf30 commented on #487
Perfect, thank you @kdubb.
Can this be added to the documentation?

[2020-05-04 15:27] tlf30 commented on #487
I am getting a NPE when attempting to use this:
[code]

[2020-05-04 15:42] kdubb commented on #487
It seems as if shutdown is being called twice and, after looking at the code, I can see that it's not guarded against.

I can work on a fix for double shutdown but it would be great if you could verify that is the case by guarding against it yourself.

[2020-05-04 15:58] tlf30 commented on #487
I just verified by using two approaches, first using the classic system.out.println to say how many times I am unloading. Then to be safe I moved it to the last line in my program (just before the quit command terminates the jvm, so it is not possible to run more than once).

[code]
The only usage of `cleanup()` is once in my program, and once in ng-jdbc:
![image](https://user-images.githubusercon

[2020-05-04 16:01] kdubb commented on #487
That seems odd. The only way for `eventLoopGroup` to become `null` is by calling `shutdown`.

You can also try patching `ServerConnectionShared.java` by replacing `shutdown` with the following:

[code]

[2020-05-04 16:10] tlf30 commented on #487
I was able to recreate the issue in a standalone test:
https://github.com/tlf30/pgjdbc-ng-test4

[2020-05-04 16:48] tlf30 commented on #487
OK, I have made some progress on this. It only fails if there are no open connections to the database.
If I open a connection, then call `PGDriver.cleanup();` everything works as expected. This can be done in the test case by commenting out the `con.close();` at the end before the `cleanup`

I have updated the test to print the running threads at the end.

[2020-05-04 17:37] kdubb commented on #487
Yeah that makes sense... it's essentially the same as a double close (i.e. `eventLoopGroup` is null).

I made a bit of a mistake in my hectic Monday morning and I meant to create a PR with the fix but I accidentally pushed it to develop 🤷‍♂️... so, _if_ that commit passes CI checks it will be pushed to `0.9-SNAPSHOT`. It's essentially the code I posted above.

[2020-05-04 18:42] kdubb commented on #487
@tlf30 This is fixed in the latest `0.9-SNAPSHOT`. Verified with your test case. Thanks!

[2020-05-04 18:42] #487 closed, assigned to kdubb

[2020-05-04 19:43] tlf30 commented on #487
Awesome, thank you @kdubb!
I really appreciate your time on fixing this issues.

[2020-05-05 04:50] kdubb commented on #445
@bartkaptur Apologies that this got lost in my list.  Your usage is valid and it seems like we should be providing a `getConnection` method in `PGSQLOutput`.

[2020-05-06 14:12] andreak commented on #485
I have code implementing this but unable to push a PR to this repo, how do I proceed?

[2020-05-06 14:55] kdubb commented on #485
@andreak Github isn't letting you create a PR?

[2020-05-06 15:22] #481 closed, assigned to nobody

[2020-05-06 16:42] andreak commented on #485
I try to create a PR from IDEA and when pushing I get:
Push failed Remote: Permission to impossibl/pgjdbc-ng.git denied to andreak. unable to access 'https://github.com/impossibl/pgjdbc-ng.git/': The requested URL returned error: 403

Do I have to fork the repo?

[2020-05-06 16:47] andreak commented on #485
Here's a patch: https://visena.com/public/Implement_485.patch

[2020-05-06 20:56] kdubb commented on #485
Yes you need to fork the repo into your private account and push to that; GitHub then offers to make a PR for you.

[2020-05-08 02:51] levonkorganyan opened #488 "Driver hangs on COPY of wide rows"
Hello,
I've been benchmarking the performance of `COPY TO` between various drivers and psql when I came across what I believe to be a bug with the ng driver. Rows >100MB seem to result in the driver hanging indefinitely.

I used a Postgres test database in the AWS Oregon region with instance sizes t2.medium and m4-xlarge (which has higher bandwidth), and the results were the same.

Here are some r

[2020-05-28 20:54] ak-coram opened #489 "Issue reading large text values"
I've encountered a `TooLongFrameException` when reading larger (dozens
of MBs) text values and came up with a small Clojure example to
reproduce:

[code]

[code]

Running the above prints the following on my system:

[code]

When switching to the `org.postgresql/postgresql` driver the same code
also fails, but only when trying to allocate a whole gigabyte:

[code]

Is there something that could be

[2020-05-28 20:57] kdubb commented on #489
See the "Field Length Max" setting in the user guide.

http://impossibl.github.io/pgjdbc-ng/docs/0.8.4/user-guide/#_system_settings

[2020-05-28 20:58] kdubb commented on #489
FYI the default is 20mb as you've experienced

[2020-05-28 21:02] kdubb commented on #488
@levonkorganyan This may be the same issue as #489. The `protocol.message.size.max` is set to 20mb as the default.  Can you verify?

[2020-05-28 21:43] ak-coram commented on #489
Thank you for your quick reply, I definitely should have found that.

I'm still having some trouble using it though. Should this be in bytes? Whatever I try setting it to, I always get the following exception `(System/setProperty "pgjdbc.field.length.max" "123")`.

[code]

[2020-05-28 22:30] kdubb commented on #489
How are you setting the value exactly?

Also you can also try using `Statement.setMaxFieldSize` sets the same value via the JDBC interface and isn't a system wide change.

[2020-05-28 22:43] ak-coram commented on #489
I've used `java.lang.System.setProperty` to set the value. I've now also tried setting it only on the affected statement:

[code]

The result is a similar error:

[code]

[2020-05-28 22:44] kdubb commented on #489
@ak-coram There is a bug when setting it explicitly.  I'm building a PR right now. ☹️

[2020-05-28 22:47] ak-coram commented on #489
@kdubb: I'm glad that at least creating this issue wasn't completely useless in the end :)

Thanks again for your help! I'll test the changes as soon as they're up.

[2020-05-28 22:50] kdubb commented on #489
In my haste I accidentally pushed directly to `develop`.  So, providing the CI completes successfully it'll be in `0.9-SNAPSHOT`

[2020-05-28 23:39] kdubb commented on #489
@ak-coram The CI is passed and fix should be in `0.9-SNAPSHOT`!

[2020-05-29 08:05] ak-coram commented on #489
I can now set the maximum field size successfully (via both `System.setProperty` and directly on the statement with `.setMaxFieldSize`). When I use small values for the field size, the results get truncated to that length. However it still fails with the same exception when the field is larger than 20MB:

[code]

Increasing the maximum field size above the default seems to have no effect either.

[2020-05-29 15:18] kdubb commented on #489
@ak-coram Apologies, I actually sent you to the incorrect setting.  There is a protocol specific hard limit:

`Protocol Message Size Max` in
http://impossibl.github.io/pgjdbc-ng/docs/0.8.4/user-guide/#_protocol_settings

You'll notice it even has the default listed of 20mb 🤦‍♂️

The reason there are essentially two settings is because field `field.length.max` can be set in multiple ways (e.g. syst

[2020-05-29 21:38] ak-coram commented on #489
@kdubb: I've tested `pgjdbc.protocol.message.size.max` it and it works great even in version 0.8.4. Thanks again for your immediate help. At least we've discovered this other bug which got resolved in the end :)

Not sure how often this comes up, but perhaps the docs could mention the kind of exception that is thrown when the field size exceeds the hard limit (or the exception could be wrapped int

[2020-05-29 21:38] #489 closed, assigned to nobody

[2020-05-29 21:40] kdubb commented on #489
Yes. Thanks for reporting and helping make the driver better.

This is a good idea!

[2020-06-02 14:59] lightbody opened #490 "Too many files error"
I'm finding that our JVMs are hitting the (u)limits put in place and, when I dig into it with lsof, the vast majority of the records seem to be tied back to the epoll that pgjdbc puts in place, though I could be wrong. Perhaps I'm calling the API incorrectly, but I'm wondering if you've seen any reports of leaks caused by use of addNotificationListener()?

My usage is below. We're not seeing any e

[2020-06-02 16:02] lightbody commented on #490
And of course, right after I put this out here I trace back the root of it. It was related to a bad API client library we're using and not anything with the listen/notify construct in our product. Closing it out.

[2020-06-02 16:02] #490 closed, assigned to nobody

[2020-06-04 01:21] levonkorganyan commented on #488
@kdubb Just verified that the query is still hanging even after adding the following, unfortunately.
[code]

[2020-06-10 07:00] vazquesaid opened #491 "pgjdbc-ng driver and cluster failover - targetServerType=master"
i have a postgresql cluster with a master and 2 standby nodes, i need the failover to be managed by the impossibl drive the same as the standard postgresql driver using the targetServerType=master.
will the impossibl driver implement a such feature ?

Thanks for your answer.

[2020-06-12 15:58] dannyboyer commented on #411
I am very interested in having an answer on that as I am also not sure if I should close the Statement or not. Thanks!

[2020-06-12 17:19] kdubb commented on #411
The listening statement does not need to remain open. I modified the unit test to show that it works...
[code]

[2020-06-25 08:24] andreak opened #493 ""null" in varchar-field is wrongly interpreted as null"
This test fails
[code]

The driver should interpret 'null' in varchar-field as `"null"`, not `null`

[2020-06-25 08:40] andreak commented on #493
To my surprise this is done on purpose here:
https://github.com/impossibl/pgjdbc-ng/blob/15cbf31602fd6ec080a25b51f5f3ad10a9de28f1/driver/src/main/java/com/impossibl/postgres/system/procs/BaseDecoders.java#L213-L215

Why? We actually have "null" as legitimate values comming from data-sources out of our control.

[2020-06-25 11:58] #485 closed, assigned to kdubb

[2020-06-25 12:03] kdubb commented on #493
Obviously this is a bug 😞.  I believe this stems from text protocol record parsing (where unquoted null means `null`) and not just a completely boneheaded mistake (hopefully).

[2020-06-25 12:13] andreak commented on #493
Keep rocking!

[2020-06-25 13:44] kdubb commented on #493
Please check #494 for sanity

[2020-06-25 14:07] andreak commented on #493
My test-case passes, LGTM.

[2020-06-25 14:08] kdubb commented on #493
I knew I was forgetting something, I meant to add your test case.

[2020-06-25 14:27] andreak commented on #493
Btw; I'm not setting field.format - which, I think, implies using binary format. But it seems your fixes are for text-format, what's going on?

[2020-06-25 14:31] kdubb commented on #493
It depends on your SQL query. For example,

[code]

will always execute in text mode due to the backend protocol.  There are a number of other reasons it might return values in text format as well.

[2020-06-25 14:36] andreak commented on #493
Ok

[2020-06-25 20:43] #493 closed, assigned to kdubb

[2020-06-29 19:20] pkolaric opened #495 "Unhandled message: 2 @ com.impossibl.postgres.protocol.v30.PrepareRequest$Handler"
Any idea  what causes this exception?

`
java.lang.IllegalStateException: Unhandled message: 2 @ com.impossibl.postgres.protocol.v30.PrepareRequest$Handler 	at com.impossibl.postgres.protocol.v30.MessageDispatchHandler.dispatch(MessageDispatchHandler.java:214) 	at com.impossibl.postgres.protocol.v30.MessageDispatchHandler.channelRead(MessageDispatchHandler.java:149) 	at io.netty.channel.AbstractCh

[2020-07-06 06:08] chaluvadi286 opened #496 "REF Cursor not working"
Getting an exception when trying to use REF Cursor

java.lang.ClassCastException: java.lang.String cannot be cast to java.sql.ResultSet
	at FunctionReturnRefCursor.main(FunctionReturnRefCursor.java:42)

Source:

import java.sql.CallableStatement;
import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.Statement;
import jav

[2020-07-06 08:33] andreak opened #497 "Release 0.8.5?"
With the recent (important) fixes in #494, are there any plans to spin a release?

[2020-08-04 11:06] vazquesaid opened #498 "Critical Vulnerabilities using io.netty 4.1.42 by both pgjdbc-ng 0.8.3 and 0.8.4"
Describe the issue
Dependency check generated a critical and high vulnerability on the driver pgjdbc-ng-0.8.3/4-all, because it uses the io.netty librairies version 4.1.42 which has at least 3 critical violation according to the NVD:
https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Anetty&cpe_product=cpe%3A%2F%3Anetty%3Anetty&c

[2020-09-01 13:20] bhemar commented on #466
Hi, do you have any plans to implement this?

We want to use SCRAM-SHA-256 in our application, but the only solution is not to use pgjdbc-ng lib :(

[2020-09-08 18:57] mjhamm75 opened #499 "What does the NG stand for in the name?"

[2020-09-21 19:38] andreak opened #500 "How do I build pgjdbc-ng-all?"
I'm not able to produce the pgjdbc-ng-all artifact.

I'm issuing:
[code]

But I only get the `pgjdbc-ng-<version>.jar`

Any hints?

[2020-09-21 20:14] kdubb commented on #500
One way is to `./gradlew publishToMavenLocal` and grab it from your local repository. Alternatively, you can use
`./gradlew clean uberJar`, in this method the file will still be named without `-all` because that happens during publishing.

[2020-09-21 20:16] kdubb commented on #499
Nothing. It differentiated between mainline and this one when we used to use both.

[2020-09-21 20:16] #499 closed, assigned to nobody

[2020-09-21 20:17] kdubb commented on #497
Going to try and tackle this in the coming week. I'm way behind 😔

[2020-09-21 20:19] andreak commented on #500
One step closer, but still failing:

[code]

Any hints on how to disable signing?

[2020-09-21 20:25] andreak commented on #500
Got it, in `publishing.gradle.kts`
- Set isRelease=true
- Commented out the `configure<SigningExtension>` section

[2020-09-21 20:29] kdubb commented on #500
Should be easier than that...

[code]

[2020-09-21 20:31] andreak commented on #500
Ok, thanks!

[2020-09-21 20:31] #500 closed, assigned to kdubb

[2020-09-21 20:31] andreak commented on #497
:+1:

[2020-09-21 22:09] kdubb commented on #491
https://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#connection-fallback

[2020-09-21 22:10] kdubb commented on #491
☝️That is all that is supported with regard to "multiple" servers.

[2020-10-14 11:02] andreak commented on #497
Ping:-)

[2020-10-15 00:13] allllan commented on #495
I'm facing this issue as well... very cryptic error message. Not sure where to start to troubleshoot it.

[2020-10-17 23:47] kdubb commented on #495
@pkolaric @allllan In the past this has been because the `protocol.message.size.max` has been reached (e.g. #457). The default size is 20MB.  Would that apply to either of your scenarios?

And yes, this is a very cryptic message 😞

[2020-10-18 23:03] #498 closed, assigned to nobody

[2020-10-22 16:09] kdubb commented on #497
Done 🎉

[2020-10-22 16:09] #497 closed, assigned to nobody

[2020-10-22 16:12] andreak commented on #497
Rock!

[2020-10-22 19:57] kdubb commented on #496
@chaluvadi286 #503 adds support for refcursor values. It would be great if you could test it in your environment

[2020-10-22 21:34] kdubb commented on #488
@levonkorganyan Can you validate this with the latest driver?  Changing the `source()` method to the version below allows it to succeed, and you seem to be getting a different result.

[code]

**Note** The _hang_, caused by an error during a copy command, has been fixed in #504

[2020-10-23 16:38] #496 closed, assigned to kdubb

[2020-10-23 21:53] kdubb commented on #488
@levonkorganyan I am closing as fixed... feel free to report your finding and re-open if necessary.

[2020-10-23 21:53] #488 closed, assigned to kdubb

[2020-10-23 22:11] kdubb commented on #466
@bhemar #505 😉

[2020-10-23 22:26] kdubb commented on #482
@kwesterfeld2 It's probably worth looking at #506, which alters this behavior _again_ to address SANs and proper wildcard matching. I'm in the process of adding tests to ensure it's correctness but it would be nice to know it still works in the wild.

[2020-10-24 07:56] bhemar commented on #466
That's great news! Thnx for info

[2020-10-26 18:57] #480 closed, assigned to nobody

[2020-10-26 20:43] #466 closed, assigned to nobody

[2020-10-27 20:30] #417 closed, assigned to nobody

[2020-10-27 21:00] kdubb commented on #417
I have still never actually seen the exact error(s) reported here but I've see something I believe to be of the same cause. Fixes related to that are reflected in #509 and will be available in `0.9-SNAPSHOT` and `0.8.6` snapshots & release.

It'd be great to know if these changes truly do fix the issues raised in here without your said workarounds.  As always, If they do not please re-open this is

[2020-10-28 00:51] #410 closed, assigned to nobody

[2020-10-28 01:47] kdubb commented on #475
Update message in bcd081b8ff20233af41bced3473f81a8cda582d7

[2020-10-28 01:47] #475 closed, assigned to nobody

[2020-10-28 01:55] #423 closed, assigned to nobody

[2020-10-28 06:21] kdubb commented on #445
Added in 45b16e665413820c973a30ee3143ede627e5e3bd

[2020-10-28 06:21] #445 closed, assigned to nobody

[2020-10-28 06:58] #392 closed, assigned to nobody

[2020-10-28 12:23] bartkaptur commented on #445
Great. Thank you.

[2020-11-02 16:47] HadyDab opened #513 "invalid authentication type when connecting to a remote server using md5 or scram-sha-256"
There seems to be a problem whenever I tried to connect to a remote server.  Though if I use the Postgres JDBC Driver no issue or Exception is thrown.

Exception

[code]

[2020-11-03 02:22] kdubb commented on #513
The server must be  requesting `scram-sha-256` otherwise you wouldn't be encountering the exception. This stack trace is not from the latest driver version (`0.8.6`) which is required when using `scram-sha-256`.

[2020-11-03 08:25] HadyDab commented on #513
I tried md5 and it was the same issue and by tried I mean I set the server to request for md5.

Yes, you are right about the version I am using version 0.8.4

After changing the version to 0.8.6 the issue has been resolved.   Can you please close this issue ?.

[2020-11-03 16:42] #513 closed, assigned to nobody

[2020-11-13 14:17] stodge commented on #411
Interesting, I'm having the same problem. I haven't worked out whether the DB is not sending notifications or if there's a problem in the Java code. I'm using 0.8.2 but I'll have to try 0.8.6 to see if that makes a difference.

[2020-11-17 18:32] rockwotj opened #514 "Unable to force SSL connections"
Postgres has a feature that forces clients to use SSL connections.

`pgjdbc-ng` doesn't work with that feature due to the query for SSL before creating the SSL factory.

See here: https://github.com/impossibl/pgjdbc-ng/blob/b01be976d422dcb48e69d0243f9e6cf5f1d0dc63/driver/src/main/java/com/impossibl/postgres/protocol/v30/ServerConnectionFactory.java#L155-L164

I think that either this check should

[2020-11-17 18:34] rockwotj commented on #514
See this StackOverflow post for how to require SSL on all connections: https://dba.stackexchange.com/a/8622

[2020-11-17 21:46] #514 closed, assigned to nobody

[2020-11-25 10:09] allllan commented on #495
I’ve switched over to the official postgres driver.  It does not experience this issue.

[2020-11-26 19:55] dannyboyer opened #517 "Cleaning up leaked connection question"
Hi! I am implementing a spring-boot application that needs to LISTEN/NOTIFY forever to a postgres(12) db with pgjdbc-ng 0.8.6. After some time, I always stop receiving notifications once I get:

`[WARN 22897 --- [PG-JDBC Housekeeper] c.i.postgres.jdbc.ThreadedHousekeeper    : Cleaning up leaked connection]`

I read the user guide and did not find something to prevent my connection from closing.
Is