[2020-11-26 20:26] miguelrvs commented on #517
Look for stale objects after GC runs.
Your Listener must be an object's field as your connection; if you are
creating your PGConnection or your NotificationListener as local variables,
when the GC passes they will gone because they were garbage collected.

Si quieres ser más positivo, pierde un electrón
Miguel Ruiz Velasco Sobrino

On Thu, 26 Nov 2020 at 13:55, Danny <notifications@github.com> wro

[2020-11-26 20:36] kdubb commented on #517
FYI, the housekeeper only exists to "clean up" objects that weren't properly closed. This will only affect errant applications that do not follow the JDBC specification; which requires all connections, statements, result-sets, etc. to be explicitly closed.

So, if your program is 100% compliant you do not need the housekeeper but at the same time it doesn't affect much leaving it enabled as it onl

[2020-11-26 21:20] dannyboyer commented on #517
@kdubb I don't understand how I could be 100% compliant as I need to keep my PGConnection open in order to receive notifications? Maybe I am missing something.

@miguelrvs I replaced my anonymous PGNotificationListener by a spring managed Bean that now hold the listener. Hopefully it won't get GCed.

[2020-11-26 21:23] kdubb commented on #517
@dannyboyer Well if you _need_ to leave it open (as you do) then it's fine as long as you keep a reference to it.  The housekeeper only kicks in when you leak an object (i.e. you keep no more references to it but you didn't close it).

[2020-11-26 21:38] dannyboyer commented on #517
In case anyone would be interested here is the resulting code

[code]

[2020-12-03 15:08] tlewowski opened #518 "Deadlock in ThreadedHousekeeper when closing connection"
My analysis (I don't know the codebase very well though, so I may be wrong somewhere):

When a connection is closed, `PGDirectConnection` closes `ThreadedHousekeeper`. In doing that, it locks `ThreadedHousekeeper` instance (`close` is `synchronized`) and waits for `cleanupThread` to complete (sending an interrupt earlier). This interrupt is usually dropped (`ThreadedHousekeeper.java:189-191`), and

[2020-12-03 16:10] kdubb commented on #518
Good catch! 👏 And yes always interested... the *fix* _might_ be pretty obvious...

The `cleanupThreadEnabled` is already an atomic boolean & `Thread.join()` is appears to not need the monitor (which wouldn't make much sense). So... just removing the `synchronized` from the  close method should stop the deadlock.

The larger question is that of ignoring `InterruptedException` in the housekeeper's t

[2020-12-03 16:24] kdubb commented on #518
We can honor the `Thread.interrupt()` request and still empty queue of immediately available references...
[code]

[2020-12-03 21:21] tlewowski commented on #518
I think that it wasn't exactly ignoring the interrupt - after one more read I think the point of the interrupt was to jump out of `cleanupQueue.remove()`, which I think is a blocking queue - so if we went with your proposal, we would also drop `ref.clear()`, `ref.cleanup()` and `cleanupReferences.remove(ref)` calls.

But the same should happen now with `continue`. **Unless** the interrupt comes wh

[2020-12-03 21:29] kdubb commented on #518
An "obsolete" ref isn't a thing... it'd be `null`, so there's nothing to do which is why I propose `break`ing out of the main loop.

This is why I added a final (and un-interruptable) emptying of the queue via `emptyQueue`.

`emptyQueue` should be calling `ref.clear()` as well 😉

[2020-12-03 21:36] tlewowski commented on #518
right, because its scope is inside the loop, my bad.

I'll post a PR for that soon

[2020-12-03 21:40] kdubb commented on #518
Also, note that the Java spec. says an "interrupt" can happen for a number of reasons, not just our call to `Thread.interrupt()`.  This means the original method of calling `continue` is actually correct and the `cleanupThreadEnabled` field is still required.

Just need to un-syncrhonize the `close` method and add the `emptyQueue()` call after the thread has been disabled.

[2020-12-03 21:41] tlewowski commented on #518
right, my bad. Probably I should read the spec more carefully 😉

[2020-12-03 21:56] tlewowski commented on #518
and by the way, many thanks for immediate response!

[2020-12-06 15:28] #518 closed, assigned to nobody

[2020-12-09 22:21] dannyboyer commented on #517
Thanks to @kdubb  and @miguelrvs the updated code works just fine without any leak!

[2020-12-09 22:21] #517 closed, assigned to nobody

[2020-12-15 14:48] butlnor commented on #175
Can this BasicContext.loadTypes be configured somehow, so that it's skipped?

We have many problems with it, as we have a large DB with ten thousands of tables, and it takes a lot of time, and half of the times it even hangs, so that there is a network timeout. And most of the heap is filled by this metadata.

As I read, this DB metadata is loaded in advance, because then some binary mode can be u

[2020-12-15 15:29] kdubb commented on #175
@butlnor
pgjdbc-ng version ?
PostgreSQL version ?
Access with psql works ?

The latest version of the driver loads an extremely small set of information and any "timeout" would be very puzzling as loading a large number of rows isn't really a known problem.

[2020-12-15 17:31] butlnor commented on #175
pgjdbc-ng is 0.7.1. It's a production service, it's not that easy to upgrade it, as it's not compatible (for example, method setDatabase was changed in 0.8.6).
PG version 9.3.1.
Didn't try psql, but when using dBeaver, there are never any problems.

[2020-12-15 17:38] kdubb commented on #175
Well switching to the latest version will likely solve your specific issue(s). I would highly recommend moving off of the 0.7 series driver.

[2020-12-15 17:55] butlnor commented on #175
But still, the question is: if I am using solely textual SQL statements, do I need this catalog/metadata (however it's called)? Could I comment out the loading of the types completely? What could be the problems for me?

[2020-12-15 17:59] kdubb commented on #175
The 0.8 series driver already does essentially this. It only loads a small set of types and, if necessary, it loads other types on demand.

[2020-12-28 17:03] tinselspoon opened #523 "Struct#getAttributes seems to ignore any provided type map"
When the overload of `getAttributes` that takes a type map on a `Struct` is called, the mappings do not appear to have any effect. For example:
[code]
produces:
[code]

This _does_ seem to work as expected when dealing with an array, i.e.:
[code]
produces:
[code]

Looking at the code, it seems there is some special handling in the `PGBuffersArray` which calls `lookupCustomType`. However, in the `P

[2020-12-28 18:30] kdubb commented on #523
Your assessment seems to be correct. I would expect the type map to be applied as you've suggested.

Note that both the `getArray()` and `getAttributes()` (the methods without a type map argument) should be defaulting to the connection's type map as well.

[2020-12-28 18:34] kdubb commented on #523
E.g. the following...

[code]

should produce:

    class java.time.OffsetDateTime
    class java.time.OffsetDateTime

[2020-12-28 18:59] tinselspoon commented on #523
Thanks for the pointers - that makes sense. I'll see if I can put a fix together.

[2020-12-28 22:32] #479 closed, assigned to kdubb

[2020-12-28 23:45] #523 closed, assigned to nobody

[2021-01-26 21:44] yeroc commented on #98
Does anyone know whether a ticket was ever opened against the PostGIS project to remove the dependency on the official JDBC driver or is that no longer the blocker to getting this supported?

[2021-01-28 13:50] butlnor opened #525 "PGCallableStatement problem with 0.8.6 version"
When executing something like:

 - select abc from abc(($1)::bigint)

with version 0.8.6, I get an error, while the same statement otherwise is normally working when executing like in dBeaver and similar tools, and it was properly working with pgjdbc-ng versions 0.5 and 0.7.1.

The error reported is "NO_RESULT_SET_AVAILABLE".

[2021-01-28 14:11] butlnor commented on #525
This is a minimal source code that exposes the problem:

[code]

[2021-01-28 14:52] butlnor commented on #525
The problem is, that inside PGCallableStatement.execute() method, the return value of "super.execute()" is not used anymore, like it was in previous versions, and that "return false" is hardcoded, instead of using the result of super.execute().

Please fix this back, this is urgent and critical to our project, which now cannot be deployed with the new PGJDBC-NG version.

[2021-02-01 04:59] davidwheeler123 opened #527 "ArrayIndexOutOfBounds when setting enum with very high oid"
We've encountered an unusual error on one of our dev environments, where it seems the oid for "enum" is > 2^31 (and therefore negative for signed int), and this is causing pgjdbc-ng to throw an ArrayIndexOutOfBounds exception

[code]

This is triggered by executing a query with an enum parameter.

If we take a look at the OID in question

[code]

can see that the oid is high enough to be treated a

[2021-02-01 09:32] butlnor commented on #321
Better to rename "spy" into something less generic, like "pgjdbc-ng-spy". There can be a million other libraries named "spy", and the word "spy" doesn't really tell from the name, what this library is doing.

[2021-02-02 22:27] davidwheeler123 commented on #527
Fixed this issue and another in #528

[2021-02-05 11:45] butlnor opened #530 "ResultSetMetadata problem with 0.8.6"
This code is catastrophically slow with 0.8.6, but was fast with 0.7.1 and older:

[code]

The problem is in getColumnName, which does an additional query each time for the metadata attributes, although this should already be cached, because I am iterating through the same result set. And because of unknown reasons, this metadata query is impossibly slower than the original data query, which produ

[2021-02-06 11:28] hoebat opened #531 "getting the raw underlying data of a resultset"
Is there anyway to get the underlying string that is sent back from Postgres for the execution of a given prepared statement?

[2021-03-15 10:06] vp-mazekine commented on #129
Hey guys, sorry for a noob question here, but I face this issue, too.
How does the app know that the connection has closed?
Any advice on how to monitor it or process correctly?

[2021-03-18 05:58] crinklywrappr commented on #352
What is the status of this issue?  It looks like a potential solution was presented in the netty issue but nobody followed up.

[2021-03-18 06:06] kdubb commented on #352
@crinklywrappr I've updated the Netty issue, there is no answer as to why blocking sockets are inherently slower than non-blocking Netty.

[2021-03-18 09:28] davecramer commented on #352
@kdubb are they really? I thought that was only the case over very low latency connections. Once their was significant latency the differences become moot ?

[2021-03-18 13:54] kdubb commented on #352
@davecramer You are correct.  My testing showed that this issue nearly disappears once operating over any remote link (i.e. not a localhost connection).

My hypothesis is that this is a thread context switching issue, which seems to explain the data I've seen.

[2021-03-18 13:57] kdubb commented on #352
FYI, this issue is still open mostly because I want to explore removing Netty once loom is ready.

[2021-03-18 13:57] davecramer commented on #352
haha, that might be a while :)

[2021-03-26 19:25] kdubb commented on #530
@butlnor Each call to `ResultSet.getMetaData()` returns a new `ResultSetMetaData` that caches lookups.  So simply pulling the `rs.getMetaData()` out of the loop solves your problem.

[2021-03-26 19:27] kdubb commented on #530
For example:
[code]

[2021-03-26 20:08] kdubb commented on #530
I think we can safely cache the result set for successive calls in most scenarios (certainly the one you've presented) and I'm going to do that so it is more compatible with previous versions.

[2021-03-26 20:58] #530 closed, assigned to kdubb

[2021-03-31 23:05] #527 closed, assigned to nobody

[2021-04-01 00:44] kdubb commented on #531
Postgres returns a binary structure that _may_ contain string or binary data for each individual field. As such this essentially means "no" you can't because it isn't really a string.

If you want the raw underlying data sent back for a specific column of a result set, you can use `ResultSet.getBytes`.

[2021-04-01 00:44] #531 closed, assigned to nobody

[2021-04-01 00:46] kdubb commented on #525
@butlnor Why are you using `CallableStatement` and not `PreparedStatement` (or `Statement`)?

[2021-04-06 13:06] butlnor commented on #525
Because I didn't write that source code initially, I only inherited it. And because CallableStatement, regarding to the specifications, should work, and it was working in the previous versions of pgjdbc-ng. Also, the solution I mentioned, to return the return value from super.execute(), should be working.

However, since this was a critical issue for our project, I couldn't wait for your fix, so I

[2021-04-06 13:14] butlnor commented on #530
Thanks for taking care of this issue. Just a disclaimer, why I called getMetaData() in every iteration: because the code in our project is much more complex and convoluted and broken into many methods. In this ticket, I just wrote the minimal working code, to demonstrate the same effect. The reason is that we call some factory methods, that accept the ResultSet, but the main iteration is done else

[2021-04-06 14:29] kdubb commented on #530
Got it... 0.8.7 caches them when possible and should work for you.

[2021-04-07 04:24] kdubb commented on #525
@butlnor Even though you called `prepareCall` you really just did a select from a function. I've made a PR with a change that should better detect and handle these situations.

[2021-04-07 04:36] #525 closed, assigned to nobody

[2021-04-08 08:01] hoxu commented on #495
Any updates regarding this issue? We are seeing this randomly in integration tests running on Google Cloud Build.

[2021-04-08 16:05] kdubb commented on #495
@hoxu Please add all the information you have. Driver & server versions, stack traces, query causing the issue. I am eager to fix this issue but finding a reproducible case has been a dead end.

[2021-04-15 16:31] jouroff commented on #491
I have the same issue, does targetServerType parameter supported by pgjdbc-ng ? thanks for feedback

[2021-04-22 12:54] vazquesaid commented on #491
The pgjdbc-ng does not support the targetServerType. i have to create a proxy driver witch encapsulate the pgjdbc and added the targetType=master as URL property and ping for each connection the server using the (**select pg_is_in_recovery()**) to elect the master.
if you use tomcat or hikari connection pool you can add the validationQuery to help you validate the master connection :
**select case

[2021-04-27 07:02] hoxu commented on #495
@kdubb it seems I have hard time finding time to debug this issue. I think the best way to proceed would be to enable some more logging on our GCB, and wait until we see the issue pop up once more.

If you have any suggestions what traces to enable (pgjdbc-ng side or PostgreSQL), let me know.

[2021-04-29 10:33] mbalmeida opened #538 "Rolling back a transaction to a savepoint can hang if setFetchCount has been used"
Hi,

I'm facing a few issues when rolling back a transaction if setFetchCount has been used (attached two test cases that demonstrate the main issues). More details on how to run the test cases is below.

I tested against stock PG 9.5 (using pgjdbc-ng 0.8.7). I have the impression the same happens with later PG releases but haven't confirmed yet.

Problem 1) rollback(savepoint) hangs if setFetchCo

[2021-05-04 07:16] bhemar commented on #491
I also have issues with failover when multiple addresses are specified in connection URL. If the first host is secondary (replica), then my service will successfully connect to it, but it will throw an error when LISTEN command is executed on replica.

Do you have any plans to support proper automatic failover within this driver, something similar like on official Postgres JDBC driver?

[2021-05-11 10:20] vazquesaid commented on #491
To fix this failover issue, you need to write a small driver delegate, by writing or overloading the getConnection() method.
The new getConnection method will test each native getConnection (from the url lists) against the (if(select pg_is_in_recovery() = false) then return connection; else go to the next url; and so until you find a master node).
the target is to return the connection on the pool

[2021-05-11 10:54] bhemar commented on #491
I can try something like this. thanks!

[2021-05-19 10:15] kwesterfeld2 opened #539 "Hang connecting to database after database restart"
Our database is built with a postgresql frontend, and our query manager uses pjdbc-ng to talk to PG.  If PG goes down for any reason, we have encountered a rare occurrence where JDBC connections can no longer be made to the database once restarted.

We tracked down this issue to a thread that is spinning out of control in a recursive cleanup pattern.  The thread is one of the pgjdbc-ng netty I/O s

[2021-05-19 10:53] kwesterfeld2 commented on #539
An attempt to "fix" this in our use-case ended up moving the problem a bit, but it is interesting all the same that I was also able to induce a similar stacktrace that ends with ConcurrentModificationException:
[code]

[2021-05-19 13:13] kdubb commented on #539
@kwesterfeld2 Awesome find.

I'm thinking there should be a check against "double close". For example maybe we have a `closing` flag or status enum that is set and `PGDirectConnection.internalClose` can check and set it. This would prevent other similar issues from occurring.

I'll be looking at this today and cutting a release with this important fix.

[2021-05-19 13:38] kwesterfeld2 commented on #539
@kdubb  there is a cleanup similar pattern in PGStatement.java, and I thought maybe I should tidy that up, but then the semantics seemed different.  In that use case, the cleanup happens but the list is not cleared.  I decided that making the change there would be over-reaching because I did not encounter a problem with it, but you may want to look there as well.

[2021-05-22 11:02] kwesterfeld2 commented on #539
@kdubb ...ping.   Will there be a 0.8.8 release imminent with this fix?

[2021-05-22 13:38] kdubb commented on #539
Yessir, actively being worked on 👍

[2021-05-22 13:42] kdubb commented on #495
@hoxu https://impossibl.github.io/pgjdbc-ng/docs/0.8.7/user-guide/#logging-tracing Covers all the tracing that can be enabled.

[2021-05-22 16:44] kwesterfeld2 commented on #539
Thank YOU, much appreciated

[2021-05-23 18:24] kdubb commented on #539
@kwesterfeld2 What version of the driver are you using? I'm having trouble reproducing this with the current HEAD of develop.

[2021-05-23 18:36] kdubb commented on #539
Also, debugging in the current code has large differences for the line #'s and the stack trace line #'s.

[2021-05-23 20:32] kdubb commented on #539
@kwesterfeld2 I've made a reproducer test and managed to opened #541 to address all the double close issues I can currently see.

[2021-05-23 20:42] #539 closed, assigned to kdubb

[2021-05-23 20:44] kdubb commented on #539
@kwesterfeld2  Please confirm using latest `0.9-SNAPSHOT` and report back. I will release a `0.8.8` once we are agreed this is a stable fix in a live environment.

[2021-05-23 22:35] #538 closed, assigned to kdubb

[2021-05-23 22:39] kdubb commented on #538
@mbalmeida Thank you for your help👍

The simple reproducers helped immensely.  I've fixed the issue and added the reproducers to the test suite. It will be included in the next release, which will be `0.8.8`.

[2021-05-23 22:40] kdubb commented on #538
FYI, the fixed version is currently available in `0.9-SNAPSHOT`.

[2021-05-24 16:22] kwesterfeld2 commented on #539
I'm not sure how to test with 0.9-SNAPSHOT; our builds require pulling from maven central at this time, or at least a known repository.

Also, the issue we found once weeks ago and then had an engineer build tests to reproduce it, ran those tests in repetition and it didn't repro for 7 days or so.  We were able to then capture the stacktraces and diagnostics to figure out what was going on.

Confi

[2021-05-24 16:29] kdubb commented on #539
Ok. I think this is the fix.  I was able to produce a nearly identical call chain and without these changes it indeed recurses.

FYI, all merged PR's automatically update the next snapshot. And the snapshots are pulled from Maven Central Snapshot repo. See here `https://central.sonatype.org/publish/publish-guide/#ossrh-usage-notes`.

[2021-05-25 08:57] andreak opened #543 "java.lang.NoClassDefFoundError: com/impossibl/shadow/io/netty/channel/unix/DomainSocketAddress"
Upgrading to 0.8.8 with this artifact:
[code]

I get:
[code]

[2021-05-25 15:18] kdubb commented on #543
This was a bum release due to changes in build that weren't properly tested. Releasing `0.8.9` to replace it.

[2021-05-25 15:38] andreak commented on #543
Great!

[2021-05-25 20:36] kdubb commented on #543
@andreak `0.8.9` has been released.

I've added some verification steps to the release to find more of these issues prior to finalizing releases in the future.

[2021-05-25 20:36] #543 closed, assigned to kdubb

[2021-05-25 20:40] andreak commented on #543
Rock!

[2021-05-26 17:18] Arthurm1 opened #544 "Unable to convert from java.time.LocalDate to timestamp"
Passing a `LocalDate` as a param into a `PreparedStatement` that expects a Postgres `Timestamp` param results in an Exception:
[code]

Passing a `LocalDateTime` works fine.

The exception is raised in `com.impossibl.postgres.system.procs.TimestampsWithoutTZ#convertInput`

Its opposite method  `com.impossibl.postgres.system.procs.TimestampsWithoutTZ#convertOutput` seems to handle this situation.  O

[2021-05-26 17:35] kdubb commented on #544
Probably not.  These type of conversions are explicitly _not_ specified in JDBC 4.2. As previous JDBC versions can attest to, "convenience conversions" for date time types cause nothing but problems. It's why `java.sql.Date`, `java.sql.Time` and `java.sql.Timestamp` have been deprecated; all the conversions without a timezone/calendar specified are ambiguous.

For example, a `LocalDate` explicitly

[2021-05-26 17:43] kdubb commented on #544
Btw, what's wrong with calling `myLocalDate.atStartOfDay().atZone(myTZ)` in your calls to `PreparedStatement`? It ensures you get it converted consistently because you're doing the conversion.

[2021-05-26 21:20] Arthurm1 commented on #544
I was migrating from the other Postgres driver and noticed this difference.  I can understand the need to stick to the spec though every driver seems to implement the JDBC 'standard' in a slightly different way :-)

I can change my code - I just thought this was an oversight after seeing the `convertOutput` implementation

When I was referring to `timestamp` above I meant the Postgres data type, n

[2021-05-26 21:29] kdubb commented on #544
You are correct. When you are not using a PostgreSQL "tz" type, you should should "local" types in Java. When you _are_ using a "tz" type in PostgreSQL you should be using an "Offset" type.

I should never have suggested `atZone`.. JDBC 4.2 also doesn't supported any of the "Zone" types from `java.time`. I should have said `atOffset`.

[2021-05-26 21:30] #544 closed, assigned to nobody

[2021-05-27 10:51] JajaComp opened #545 "IndexOutOfBoundsException: Index: 0, Size: 0"
Hi! I use exposed kotlin version 0.31.1
com.impossibl.pgjdbc-ng:pgjdbc-ng:0.8.9
After code:
[code]
exposed function arguments:
[code]

i got error:

[code]
I think problem do add exist item and after ignore returning empty result

[2021-05-29 19:39] tlf30 opened #546 "v0.8.9 of the udt-gen maven artifact now requires java14"
Just went to update an application with the latest version of `com.impossibl.pgjdbc-ng.tools:udt-gen` and discovered that the artifact is only compatible with java14.

Gradle build log:
[code]

Version 0.8.8 works fine, so it must be something that happened with the v0.8.9 repackaging. The main `com.impossibl.pgjdbc-ng:pgjdbc-ng` version 0.8.9 seems to work fine on jdk 11 still.

[2021-05-30 02:09] kdubb commented on #545
@JajaComp Can you make a simple reproducing project?

[2021-06-01 08:16] sandyrhg opened #548 "Wildfly 10"
I'm trying to set up a datasource on a Wildfly 10 (on jdk-8) by following the User guide but the connection test returns the error below :

`Caused by: java.lang.IllegalArgumentException: Unsupported event loop group type: NioEventLoopGroup
        at com.impossibl.postgres.protocol.v30.ServerConnectionShared.getEventLoopGroup(ServerConnectionShared.java:89)
        at com.impossibl.postgres.proto

[2021-06-01 22:52] #548 closed, assigned to nobody

[2021-06-01 22:53] kdubb commented on #548
@sandyrhg Did you solve this or discover why it wasn't working?

[2021-06-01 23:01] sandyrhg commented on #548
The problem was caused by a stackoverflow buried under a few exceptions (starting with a TargetInvocationException) so increasing my app server's stack solved the problem.

[2021-06-02 15:36] #546 closed, assigned to kdubb

[2021-06-09 18:31] FrostbittenKing opened #550 "pgjdbc-ng + Hibernate / JPA"
Hi, we discovered a problem persisting byte data into a postgresql text column after switching to pgjdbc-ng from the classical postgres jdbc driver.
I located the issue in the JavaTypeMapping class which tries to resolve a Blob via the loid type (which doesn't exist in postgresql).
I found an old bug report regarding lobs, which seems to have been resolved somehow (https://github.com/impossibl/pgj

[2021-06-09 18:36] kdubb commented on #550
Hi @FrostbittenKing thanks for reporting, the issues you reference are probably woefully out of date with regard to documentation (we don't even use the wiki any longer).

Can you provide a small reproducer project using Maven or Gradle that I can run and debug?  Clearly this should work and needs to be fixed.

[2021-06-09 18:47] FrostbittenKing commented on #550
Holy cow your response was fast :).
Yeah, I will try to cook something up at the weekend.
I Understand the github wiki is not used, I found the documentation (which I thought to be in a more or less recent state)
https://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/ - this doesn't mention anything about the oid/loid stuff.
But TLDR:
Jpa Entity with following property;
`@javax.persistence.

[2021-06-10 03:46] tlf30 opened #551 "Correct way to insert into TEXT?"
Hello,
I am feeling a little stumped (and I feel like I have done this before). I am attempting to use a prepared statement to insert into a table that has two TEXT datatype fields, and am running into issues.

[code]

I get:
[code]
I originally tried to do just a normal `setString` and it has the same error. Is it possible to insert into a TEXT datatype?

Using pgjdbc-ng version `0.8.8` with post

[2021-06-10 03:57] kdubb commented on #551
`text` is old `25` and `varchar` is `1043`...  `1015` and `1009` are arrays of them (e.g. `text[]` and `varchar[]`).

[2021-06-10 04:10] tlf30 commented on #551
Ah, I had made the assumption that it was my `TEXT` fields because I just changed those, but the other field I changed was a VARCHAR array to a text array as well. It just so happens the third object in that insert, several layers down is in fact that array.
This is looking like the UDT generation issue.

[code]

Gets generated as:
[code]

Take note the `actions` field. I just removed it from the

[2021-06-10 21:05] FrostbittenKing commented on #550
https://github.com/FrostbittenKing/pgjdbc-demo-bug Here is the requested sample project. Details are listed in the readme.

There is an Integration test using a postgresql testcontainer which asserts that no exception is thrown, which obviously failed in this case.

[2021-06-13 12:34] kwesterfeld2 opened #552 "Driver throws java.time.format.DateTimeParseException"
Our application is doing a "setString()" on a PreparedStatement, whose parameter is a SQL interval.  In prior versions of the driver, this string would be passed on to PG, but recent versions now try to convert the value to a java.time entity.  The problem is, we are passing a legal interval value into setString(), which PG can parse, but the java.time.Period cannot.  The simplest of these is simp

[2021-06-13 16:41] tlf30 commented on #551
@kdubb I built a simple test case for this one: https://github.com/tlf30/pgjdbc-ng-test5
I noticed 3 things:
1. Cannot insert with null value into TEXT[] with UDT gen mapping
2. Cannot insert string[] value into TEXT[] with UDT gen mapping
3. The kotlin std for the UDT gen is not coming across as a dependency and must be specified manually in the pom in order to run the UDT generator.

Let me know

[2021-06-14 13:10] FrostbittenKing commented on #550
Any news? Does this example help?

[2021-06-30 01:16] A248 commented on #464
@kdubb Is this something you would be willing to accept contributors for?

[2021-06-30 01:17] kdubb commented on #464
Absolutely!

[2021-07-01 10:33] lanthale commented on #464
Perfect. I am looking forward to see the changes in 0.9 to get a good JDK 9+ developer experience.

[2021-07-01 10:33] #464 closed, assigned to kdubb

[2021-07-07 19:10] A248 commented on #464
@kdubb I've some questions for you regarding implementing this. Normally, a module only exposes the packages which are part of its public API. I've inferred that you likely don't consider the entirety of the driver public API, as I've seen a few breaking changes in public interfaces, interfaces which surely seem specific to the implementation.

The api.data, api.jdbc, jdbc, and jdbc.xa packages se

[2021-07-15 11:08] hfazai opened #554 "Migration from v7.0 to 0.8.9: Issue with formatting binary data"
I'm doing migration from pgjdbc-ng 7.0 to 0.8.9.

I'm storing a document as `bytea` and then I use jdom to parse it.

[code]

In 7.0 it works fine but in 0.8.9 it throws this exception in the line `document = sxb.build(in)` :
[code]

I tried to read and print the same data using the two versions. Here is the different part:
- v7.0:
[code]
- v0.8.9:
[code]

It seems that it has a problem with forma

[2021-08-04 21:38] tlf30 commented on #551
A fix is to modify the UDT generator to create a `TEXT` array type.
[code]

Then it will correctly write the string array into a text array in the UDT.

Perhaps this type needs to be added to PGType as `TEXT_ARRAY`, as that would make it even simpler for others to use.

[2021-08-14 19:15] kdubb commented on #554
@hfazai Can you make a reproducer for this? It's hard to believe that the driver is doing anything with newlines as that code doesn't exist anywhere I know of.

[2021-08-14 19:23] kdubb commented on #552
@kwesterfeld2 The decision was made to use "Java" time classes (which are usable in Java) in the driver and that is what you are seeing here.  This change happened at the beginning of the 0.8.x series.

I think the only real solution (without rewriting driver internals) is to cast the value in the SQL query; using something like `the_interval::interval::varchar`.  This would ensure the driver trea

[2021-08-14 21:10] kwesterfeld2 commented on #552
We aren't having a problem selecting intervals, we are having a problem sending a parameter to a query as an interval.  I am not sure how your workaround helps.

I think what is suitable here is to send the value as a string to pg (as the driver did befor) since the setString() api is used.  Converting the value to an interval when PG can do this better simply makes the driver less compatible.

[2021-08-14 21:13] kdubb commented on #552
Sorry, for parameters cast the parameter placeholder. `?::interval::varchar` (actually with PostgreSQL the server might just accept `?::varchar`).  It will send it to the server as text.

[2021-08-14 22:40] kwesterfeld2 commented on #552
good idea—worth a shot!

KURT WESTERFELD // Yellowbrick Data
________________________________
From: Kevin Wooten ***@***.***>
Sent: Saturday, August 14, 2021 5:14:02 PM
To: impossibl/pgjdbc-ng ***@***.***>
Cc: Kurt Westerfeld ***@***.***>; Mention ***@***.***>
Subject: Re: [impossibl/pgjdbc-ng] Driver throws java.time.format.DateTimeParseException (#552)

Sorry, for parameters cast the parameter p

[2021-08-15 02:14] hfazai commented on #554
I quickly created a minimal example. Here is the code (in Kotlin):

[code]

### Output in V-0.7:
`a�\�\b`
### Output in V-0.8.9:
[code]

[2021-08-15 02:17] kdubb commented on #554
Isn't the output of 0.8.9 what we want? You're calling `println` with a string containing a carriage-return and line-feed.

[2021-08-15 02:18] kdubb commented on #554
[code]

[2021-08-15 02:26] hfazai commented on #554
In fact the problem is that using the same database and the same code, I read the value differently.

We also store images that they changed after using the new version because the bytes are not the same.

[2021-08-15 02:29] kdubb commented on #554
Can you try using a `PreparedStatement` with a string parameter?

[2021-08-15 02:47] hfazai commented on #554
You mean to set column with bytes parameter?
[code]

Even with `PreparedStatement` When I read the inserted value I get `a�\�\b`

I think there is an issue with escape/hex format (https://www.postgresql.org/docs/9.5/datatype-binary.html)

[2021-08-15 10:12] hfazai commented on #554
@kdubb I dont know if I made everything clear about this issue?

To make things more simple, If you store this bytearray `[97, 13, 10, 98]` and then try to read it you will get `[97, -67, 92, -70, 92, 98]`. you can repreduce it very easily using the code snippet above.

In my previous comments I gave the example with the string representation (`a\r\nb`) to help understanding and analysing the prob

[2021-08-15 11:27] hfazai commented on #554
I think I misunderstood your suggestion! After using `PreparedStatement` to read the bytes I can get the same inserted value:

[code]

I didn't go very deep in inverstigation. But could you explain why should I use `PreparedStatement` in this case? Thanks in advance!

[2021-08-23 15:39] DzmitrySudnik opened #556 "Housekeeper logs passwords"
Hi, I've noticed that the Housekeeper logs entire connection string including the password which is pretty bad from a security perspective. Example of the log message with fake data:
[code]
I know that the housekeeper should do nothing if the app is designed and created properly (so no leaks), however the fact that some bug on the app side can cause the library to log a password raises a huge secu

[2021-08-28 18:38] kirillsalykin opened #557 "[request] example on how to use SQLData with connection pool (and clojure.java.jdbc)"
Hi,

I am user of clojure and clojure.java.jdbc.
I'd like to take advantage of using SQLData, I am following your user guide https://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#_java_sql_sqldata and one from psql https://www.postgresql.org/docs/current/rowtypes.html and trying to make SQLData for `inventory_item`.
I assume the SQLData should be attached to the connection (as they do her

[2021-08-30 11:28] kirillsalykin opened #558 "TEXT and VARCHAR types seems to be not compatible from `writeString` pov (used from UDT java.sql.SQLData)"
There seems to be incompability between `VARCHAR` and `TEXT` (at least for custom composite type).
when one uses `writeString` into field which declared as `TEXT` exception is thrown:

[code]
[code]

But everything works fine if `VARCHAR` is used.

SQL taken from https://www.postgresql.org/docs/current/rowtypes.html
[code]

[2021-09-03 14:06] hfazai commented on #554
@kdubb is this a bug or should I use `PreparedStatement` ? An explanation would be very appreciated.

[2021-09-07 18:03] asad-awadia opened #560 "[Question] Can I use this library to read postgres' WAL i.e. read logical replication stream?"
https://jdbc.postgresql.org/documentation/head/replication.html

Can I use this to get a stream of changes easily?

[2021-09-08 23:11] davecramer commented on #560
You can use the pgjdbc library which the link above refers to. Not sure about this one.

[2021-09-09 00:17] asad-awadia commented on #560
@davecramer right.. but then I will have two libraries to interact with PG..

[2021-09-09 00:20] davecramer commented on #560
can't help ya, I only work on one of them

[2021-09-09 13:34] asad-awadia commented on #560
@kdubb

[2021-09-16 20:45] JTEgan opened #562 "Second and subsequent calls to free() on PGBuffersArray throw NPE rather than being no-op"
The PGBuffersArray class implements java.sql.Array, and the doc for the free() method in that interface states:

In the pgjdbc-ng implementation, the second call results in a NullPointerException:

I have a small change to address the issue, will submit a PR shortly.

[2021-09-23 08:18] FrostbittenKing commented on #550
Bump. Don't know what I should do else here.

[2021-10-04 08:00] hoxu opened #564 "Add support for ~/.pgpass"
It would be nice if the driver defaulted to reading [the password file](https://www.postgresql.org/docs/current/libpq-pgpass.html) as fallback.

This way when deploying to an environment, it would be enough to write just `~/.pgpass`, that would allow both `psql` and applications using the JDBC driver to access the database.

[2021-10-04 22:26] Black-millenium opened #565 "Possibility change default schema"
Good morning.

Please, tell me, how I can set default schema? In default postgres driver, i can add `?currentSchema=schema_name` parameter to jdbcUrl

---------------------
With best regrads...

[2021-10-26 13:25] BeateSchatzmann opened #566 "ResultSetDelegator for PGStatementDelegator"
I use Apache's connection pool implementation "Apache Commons DBCP" (commons-dbcp2). In their connection pool (SharedPoolDataSource) I have to set a **_ConnectionPoolDataSource_** and I want to use **_com.impossibl.postgres.jdbc.PGConnectionPoolDataSource_** - because I really like that **_PGPooledConnection_** removes connections from the pool after a fatal SQLException.
Now I use a lot of code t

[2021-10-26 14:06] davecramer commented on #566
Love it... see https://github.com/pgjdbc/pgjdbc/issues/2316

[2021-12-01 16:59] FrostbittenKing opened #567 "CryptoUtil.nounce(nounceLength,secureRandom) is too slow in Openshift 4"
Hi, we discovered a problem with this driver when running applications in Openshift 4.
In openshift 4 /dev/random takes too long to generate the 24 random bytes with the CryptoUtil.nounce(nounceLength,secureRandom) call in the ScramSessionFactory.
It would be really great, if you could update the driver with a parameter, to expose the secureRandomAlgorithmProvider method in the Builder in ScramSes

[2022-01-09 15:59] AaaBin opened #568 "Connect timeout with pgjdbc-ng but PostgreSQL JDBC Driver work"
I have an application with one connection from pgjdbc-ng(0.8.9) for asynchronous notification and others from PostgreSQL JDBC Driver(Spring Data JPA) for other tasks.
Everything was fine in developing, but the connection from pgjdbc-ng got connect timeout when in SIT environment.
It confused me because other connections work totally fine.
I've tried two different code:
[code]
and
[code]
All these

[2022-01-10 04:45] shrik-dr commented on #169
This question might not be completely related to this topic. But still , can unixdomainsockets be used with org.apache.commons.dbcp.BasicDataSourceFactory ??

[2022-02-07 01:09] #568 closed, assigned to nobody

[2022-02-10 09:43] powczarek22 opened #569 "Endlessly recursive error handling (0.8.9)"
https://github.com/impossibl/pgjdbc-ng/blob/develop/driver/src/main/java/com/impossibl/postgres/jdbc/ErrorUtils.java

Pass an instance of NoticeException and it loops until stack overflow

[code]

[2022-02-11 18:21] jaroslawr opened #570 "Support TCP keepalive and user timeout settings"
Postgres C client libpq supports several options for setting up TCP keepalive:

keepalives_idle
keepalives_interval
keepalives_count
tcp_user_timeout

[https://www.postgresql.org/docs/13/libpq-connect.html](https://www.postgresql.org/docs/13/libpq-connect.html)

Postgres traditional pgjdbc Java client cannot support equivalent options, because it uses traditional Java sockets which do not support

[2022-02-11 18:23] jaroslawr commented on #570
(This functionality makes client-side load balancing between PG connections possible with reliable failover and no global query timeout)

[2022-03-11 11:32] andreak opened #572 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
Hi all, I'm saving an JPA @Entity using EclipseLink and pgjdbc-ng-0.8.9 against PG-14.2, and I get this stacktrace:

[code]

Other places where we extract data from SQLArray we've wrapped them in this method (in Scala, but you get the idea):
[code]

Can this LEAK be caused by EclipseLink not calling `sqlArray.free()` or is it an actual leak in the driver, or something else?

[2022-03-11 12:30] andreak commented on #572
It seems it's EclipseLink not `free()`-ing the `Array` after creation.
According to https://docs.oracle.com/javase/tutorial/jdbc/basics/array.html the Array returned should be freed after use.
The offending code is in EL's `AbstractCompositeDirectCollectionMapping.writeFromObjectIntoRow` where the result-value of `this.getDescriptor().buildFieldValueFromDirectValues` is never freed:

[code]

[2022-03-11 13:13] #572 closed, assigned to nobody

[2022-03-27 14:18] rutchkiwi opened #573 "Support for stringtype=unspecified?"
Hi!

Is there any support for [stringtype = unspecified ](https://jdbc.postgresql.org/documentation/83/connect.html) or something else which corresponds to this feature as it works in the postgres.org jdbc driver?

Thanks!

[2022-04-29 21:14] #554 closed, assigned to kdubb

[2022-05-03 11:10] mattiasflodin opened #574 "Avoid use of prepared statement and still use placeholders"
While I generally approve of the ability to use actual PostgreSQL prepared statements when calling prepareStatement(), this comes with limitations that can make prepared statements impractical:

1. For use cases where it is not possible to reuse statements, prepared statements come with a performance penalty that grows with latency (see also #59). We have users with network latency in the 1-10 ms

[2022-05-20 09:25] OlgaZittau opened #575 "Allow underscore _ in the host name of a postgres database"
Class com.impossibl.postgres.jdbc.ConnectionUtil parses the URLs to connect to a Postgres database. The URL_PATTERN does not allow an unserscore '_' in the host name - although the underscore is a valid character in host names.
Could you fix this?
Thank you very much
Olga

[2022-05-26 19:10] moaxcp commented on #332
I just ran into this with upgrading amazon-kinesis-client. Thanks @yurique for pointing me in the right direction!

[2022-06-10 08:02] anmoln4 opened #576 "Issue with RDS IAM Role Authentication"
Instead of password authentication, we are using token generated by RDS IAM Role Service. For 0.6 version of impossible/pgjdbc- ng driver and java 8,hikari cp  it gives error. It is intermittent issue, sometimes it makes connection and sometime gives error :

com.zaxxer.hikari.pool.HikariPool$PoolInitializationException: Failed to initialize pool: Connection Error: java.lang.IllegalStateException

[2022-06-10 18:12] stodge commented on #411
Is there anyway the listen "connection" could be closed due to inactivity? My app is listening to a table that doesn't get updated that often. Do I need to perform some kind of SQL query to keep it alive?

[2022-06-10 19:28] kdubb commented on #411
If it was being closed due to a timeout or some network issue, you would get a `PNotificationListener.closed()` call.

[2022-06-10 19:28] kdubb commented on #411
At that point you can establish a new connection or whatever you need to do.

[2022-07-20 11:44] rajatgoyal247341 opened #577 "update protocol properties at the time of connection creation"
I want to change protocol setting ( mentioned [at ](https://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/))  ( protocol.io.threads ) for a given connection. I have set "protocol.io.threads" in java.util.properties() and passed that to java.sql.DriverManager.getConnection(dbUrl,properties) to create the connection. But looks like it is still working on default size ( 3) only.

I used the s

[2022-08-12 18:11] raphw opened #579 "What's the status and direction of the project?"
Hello,
thanks for the work on this driver and leveraging asynchronous notify/listen. Unfortunately, the library relies on several outdated dependencies. Is it that nobody maintains this code anymore?
Thanks.

[2022-08-16 07:32] #452 closed, assigned to nobody

[2022-08-16 07:35] kdubb commented on #579
Not abandoned but we have migrated all of our usage away from JDBC and therefore my main maintenance motivation has gone away.

I will try to get things updated in the coming week.

[2022-08-16 09:14] raphw commented on #579
Thanks for the answer. What are you using now? Vertx?

[2022-08-16 16:40] xzilla commented on #579
Perhaps you would consider re-licensing this project under the Postgres license, which would allow others to more easily continue the (very nice) work you have started?

[2022-08-16 16:50] kdubb commented on #579
@xzilla I'm definitely open. It's currently the 3 clause BSD so I'm not sure how that's limiting anything. That being said, I've wanted to move it of this defunct organization for a while now.

[2022-08-16 16:51] kdubb commented on #579
@raphw We've moved entirely to Quarkus. So yes we're using the reactive PG driver from  the Vert.x platform (which Quarkus is built upon).

[2022-08-16 16:53] davecramer commented on #579
@kdubb I have no issue moving it into org.postgresql.<something> and housing it inside our github repo if that's something that appeals to you.

[2022-08-16 16:55] kdubb commented on #579
@davecramer That would be a great move. I'll chat with you in the next week or so to get things going. I've got a lot going currently.

[2022-08-16 17:03] kdubb commented on #579
FYI, I'm happy to continue maintaining the project as much as I can. It has involved a large amount of effort to start and continue the project from myself and others. I don't want to walk away but as I said I've got lots of time constraints.

Also, the pluggable type engine this driver is built on to support advanced, composite, and custom types might live on; either as an add-on or integrated wi

[2022-08-16 17:07] jesperpedersen commented on #579
@davecramer We have talked about this in the past - at least in person :smiley: The question is who will maintain the code in the new repository if @kdubb doesn't have time for it. I'm only working with C and Rust now, so I don't have time to do bigger contributions.

I'm happy to sign over my contributions to a new license if necessary.

[2022-08-16 17:13] davecramer commented on #579
@jesperpedersen well that's an excellent question. One possibility is that inside the PostgreSQL org it might get more love. I don't have an answer.

[2022-08-16 17:17] kdubb commented on #579
Regardless of maintenance capacity, moving the copyright to a proper organization and possibly relicensing is something that should be done; the obvious first choice would be the PostgreSQL org.

[2022-08-16 17:18] jesperpedersen commented on #579
@davecramer The new package name could reflect it in some way. The pluggable type engine is the key part -- ideally it should be ported over

[2022-08-16 17:18] jesperpedersen commented on #579
PostgreSQL Org + 3-BSD works for me

[2022-08-16 17:22] kdubb commented on #579
@raphw Used a bit less pessimistic title. You spurred on a good conversation that we needed to start. 😉

[2022-08-16 18:02] raphw commented on #579
Of course, thanks for taking up the question so quickly and actively!

[2022-08-31 03:25] fantasy0v0 opened #580 "Does it support MATCH_RECOGNIZE?"
https://docs.oracle.com/database/121/JJDBC/apxref.htm#CHECHCJH

I often use the following code
[code]

This will give an error in PreparedStatement.

[2022-08-31 03:30] kdubb commented on #580
PostgreSQL doesn't support it. This is a driver for PostgreSQL.

[2022-08-31 04:07] fantasy0v0 commented on #580
https://jdbc.postgresql.org/documentation/head/statement.html

[2022-08-31 04:07] #580 closed, assigned to nobody

[2022-08-31 04:14] kdubb commented on #580
I'm not sure what you're referencing with that link? You asked about MATCH_RECOGNIZE which is an Oracle operator not supported by PostgreSQL. If you were asking using a `?`, then yes you can escape them with `??`.

[2022-08-31 09:04] fantasy0v0 commented on #580
sorry, I was looking for how to use ? in PreparedStatement before this.
when I looked at this link, I found that I asked a stupid question.
I'm just documenting how I solved it.

[2022-11-12 11:01] duncte123 opened #582 "SCRAM channel binding check failed"
# Workaround
For the people looking for a workaround: use this lib instead https://mvnrepository.com/artifact/org.postgresql/postgresql

# Original issue
When setting `ssl.mode` to `require` on a hosted server (psql version 15.1) I get the following exception, it does work if I disable SSL in my settings somehow

jdbc uri:
[code]

Exception
[code]